trunk/ieee.odm_pss/schema/dynamic/GovernorModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:pss="http://www.ieee.org/odm/Schema/2008" elementFormDefault="qualified" targetNamespace="http://www.ieee.org/odm/Schema/2008">

	<include schemaLocation="../common/DataType.xsd"/>

	<annotation>
		<documentation>Copyright www.interpss.org 2008-2010</documentation>
	</annotation>
	
	<element name="turbine" type="pss:TurbineModelXmlType"/>
	<element name="turbineSteam" type="pss:SteamTurbineXmlType"/>
	<element name="turbineHydraulic" type="pss:HydraulicTurbineXmlType"/>
	<element name="govStreamSRBPATB" substitutionGroup="pss:turbine" type="pss:SteamTurbineBPATBModelXmlType"/>

	<element name="governor" type="pss:GovernorModelXmlType"/>
	<element name="govSimpleType" substitutionGroup="pss:governor" type="pss:GovSimpleTypeXmlType"/>
	<element name="govIEEE1981Type1" substitutionGroup="pss:governor" type="pss:GovIEEE1981Type1XmlType"/>
	<element name="govIEEE1981Type2" substitutionGroup="pss:governor" type="pss:GovIEEE1981Type2XmlType"/>
	<element name="govIEEE1981Type3" substitutionGroup="pss:governor" type="pss:GovIEEE1981Type3XmlType"/>
	<element name="govHydro" substitutionGroup="pss:governor" type="pss:GovHydroXmlType"/>
	<element name="govHydroTurbine" substitutionGroup="pss:governor" type="pss:GovHydroTurbineXmlType"/>
	<element name="govHydroSteamGeneralModel" substitutionGroup="pss:governor" type="pss:GovHydroSteamGeneralModelXmlType"/>
	
	<element name="govSteamNR" substitutionGroup="pss:governor" type="pss:GovSteamNRXmlType"/>
	<element name="govSteamTCSR" substitutionGroup="pss:governor" type="pss:GovSteamTCSRXmlType"/>
	<element name="govSteamTDSR" substitutionGroup="pss:governor" type="pss:GovSteamTDSRXmlType"/>
	
	<element name="govHydroTurbinBPAGH" substitutionGroup="pss:governor" type="pss:GovHydroTurbineBPAGHXmlType"/>
	<element name="govBPAGSModel" substitutionGroup="pss:governor" type="pss:GOVBPAGSModelXmlType"/>
	<element name="govBPAReguGIModel" substitutionGroup="pss:governor" type="pss:GOVBPARegGIModelXmlType"/>
	<element name="govBPAServoGAModel" substitutionGroup="pss:governor" type="pss:GOVBPAServoGAModelXmlType"/>
	
	
	


	<complexType abstract="true" name="GovernorModelXmlType">
		<sequence>
			<element maxOccurs="1" minOccurs="1" name="name" type="string"/>
			<element maxOccurs="1" minOccurs="0" name="desc" type="string"/>
			<element maxOccurs="1" minOccurs="0" name="basePower" type="pss:ApparentPowerXmlType">	</element>
			<element maxOccurs="1" minOccurs="0" ref="pss:turbine"/>
		</sequence>
	</complexType>

	<complexType name="GovSimpleTypeXmlType">
		<complexContent>
		<extension base="pss:GovernorModelXmlType">
		<sequence>
			<element maxOccurs="1" minOccurs="1" name="K" type="double"/>
			<element maxOccurs="1" minOccurs="1" name="T1" type="pss:TimePeriodXmlType"/>
			<element maxOccurs="1" minOccurs="1" name="Pmax" type="double"/>
			<element maxOccurs="1" minOccurs="1" name="Pmin" type="double"/>
		</sequence>
		</extension>
		</complexContent>		
	</complexType>
	
	<complexType name="GovSteamNRXmlType">
		<complexContent>
		<extension base="pss:GovernorModelXmlType">
		<sequence>
			<element maxOccurs="1" minOccurs="1" name="K" type="double"/>
			<element maxOccurs="1" minOccurs="1" name="T1" type="pss:TimePeriodXmlType"/>
			<element maxOccurs="1" minOccurs="1" name="T2" type="pss:TimePeriodXmlType"/>
			<element maxOccurs="1" minOccurs="1" name="T3" type="pss:TimePeriodXmlType"/>			
			<element maxOccurs="1" minOccurs="1" name="PMAX" type="double"/>
			<element maxOccurs="1" minOccurs="1" name="PMIN" type="double"/>
			<element maxOccurs="1" minOccurs="1" name="Pup" type="double"/>
			<element maxOccurs="1" minOccurs="1" name="Pdown" type="double"/>
			<element maxOccurs="1" minOccurs="1" name="TCH" type="pss:TimePeriodXmlType"/>			
		</sequence>
		</extension>
		</complexContent>		
	</complexType>
	
	<complexType name="GovSteamTCSRXmlType">
		<complexContent>
		<extension base="pss:GovSteamNRXmlType">
		<sequence>			
			<element maxOccurs="1" minOccurs="1" name="TRH" type="pss:TimePeriodXmlType"/>
			<element maxOccurs="1" minOccurs="1" name="TCO" type="pss:TimePeriodXmlType"/>						
			<element maxOccurs="1" minOccurs="1" name="FCH" type="double"/>
			<element maxOccurs="1" minOccurs="1" name="FIP" type="double"/>
			<element maxOccurs="1" minOccurs="1" name="FLP" type="double"/>						
		</sequence>
		</extension>
		</complexContent>		
	</complexType>
	
	<complexType name="GovSteamTDSRXmlType">
		<complexContent>
		<extension base="pss:GovSteamNRXmlType">
		<sequence>			
			<element maxOccurs="1" minOccurs="1" name="TRH1" type="pss:TimePeriodXmlType"/>
			<element maxOccurs="1" minOccurs="1" name="TRH2" type="pss:TimePeriodXmlType"/>
			<element maxOccurs="1" minOccurs="1" name="TCO" type="pss:TimePeriodXmlType"/>	
			<element maxOccurs="1" minOccurs="1" name="FVHP" type="double"/>					
			<element maxOccurs="1" minOccurs="1" name="FHP" type="double"/>
			<element maxOccurs="1" minOccurs="1" name="FIP" type="double"/>
			<element maxOccurs="1" minOccurs="1" name="FLP" type="double"/>						
		</sequence>
		</extension>
		</complexContent>		
	</complexType>

	<complexType name="GovIEEE1981Type1XmlType">
		<complexContent>
		<extension base="pss:GovernorModelXmlType">
		<sequence>
			<element maxOccurs="1" minOccurs="1" name="K" type="double"/>
			<element maxOccurs="1" minOccurs="1" name="T1" type="pss:TimePeriodXmlType"/>
			<element maxOccurs="1" minOccurs="1" name="T2" type="pss:TimePeriodXmlType"/>
			<element maxOccurs="1" minOccurs="1" name="T3" type="pss:TimePeriodXmlType"/>
			<element maxOccurs="1" minOccurs="1" name="U0" type="double"/>
			<element maxOccurs="1" minOccurs="1" name="UC" type="double"/>
			<element maxOccurs="1" minOccurs="1" name="PMAX" type="double"/>
			<element maxOccurs="1" minOccurs="1" name="PMIN" type="double"/>
			<element maxOccurs="1" minOccurs="1" name="T4" type="pss:TimePeriodXmlType"/>
			<element maxOccurs="1" minOccurs="1" name="K1" type="double"/>
			<element maxOccurs="1" minOccurs="1" name="K2" type="double"/>
			<element maxOccurs="1" minOccurs="1" name="T5" type="pss:TimePeriodXmlType"/>
			<element maxOccurs="1" minOccurs="1" name="K3" type="double"/>
			<element maxOccurs="1" minOccurs="1" name="K4" type="double"/>
			<element maxOccurs="1" minOccurs="1" name="T6" type="pss:TimePeriodXmlType"/>
			<element maxOccurs="1" minOccurs="1" name="K5" type="double"/>
			<element maxOccurs="1" minOccurs="1" name="K6" type="double"/>
			<element maxOccurs="1" minOccurs="1" name="T7" type="pss:TimePeriodXmlType"/>
			<element maxOccurs="1" minOccurs="1" name="K7" type="double"/>
			<element maxOccurs="1" minOccurs="1" name="K8" type="double"/>
		</sequence>
		</extension>
		</complexContent>		
	</complexType>

	<complexType name="GovIEEE1981Type2XmlType">
		<complexContent>
		<extension base="pss:GovernorModelXmlType">
		<sequence>
			<element maxOccurs="1" minOccurs="1" name="K" type="double"/>
			<element maxOccurs="1" minOccurs="1" name="T1" type="pss:TimePeriodXmlType"/>
			<element maxOccurs="1" minOccurs="1" name="T2" type="pss:TimePeriodXmlType"/>
			<element maxOccurs="1" minOccurs="1" name="T3" type="pss:TimePeriodXmlType"/>
			<element maxOccurs="1" minOccurs="1" name="PMAX" type="string"/>
			<element maxOccurs="1" minOccurs="1" name="PMIN" type="string"/>
			<element maxOccurs="1" minOccurs="1" name="T4" type="pss:TimePeriodXmlType"/>
		</sequence>
		</extension>
		</complexContent>		
	</complexType>

	<complexType name="GovIEEE1981Type3XmlType">
		<complexContent>
		<extension base="pss:GovernorModelXmlType">
		<sequence>
			<element maxOccurs="1" minOccurs="1" name="TG" type="pss:TimePeriodXmlType"/>
			<element maxOccurs="1" minOccurs="1" name="TP" type="pss:TimePeriodXmlType"/>
			<element maxOccurs="1" minOccurs="1" name="U0" type="pss:TimePeriodUnitType"/>
			<element maxOccurs="1" minOccurs="1" name="UC" type="pss:TimePeriodUnitType"/>
			<element maxOccurs="1" minOccurs="1" name="PMAX" type="string"/>
			<element maxOccurs="1" minOccurs="1" name="PMIN" type="string"/>
			<element maxOccurs="1" minOccurs="1" name="SIGMA" type="double"/>
			<element maxOccurs="1" minOccurs="1" name="DELTA" type="double"/>
			<element maxOccurs="1" minOccurs="1" name="TR" type="pss:TimePeriodXmlType"/>
			<element maxOccurs="1" minOccurs="1" name="TW" type="pss:TimePeriodXmlType"/>
			<element maxOccurs="1" minOccurs="1" name="a11" type="double"/>
			<element maxOccurs="1" minOccurs="1" name="a13" type="double"/>
			<element maxOccurs="1" minOccurs="1" name="a21" type="double"/>
			<element maxOccurs="1" minOccurs="1" name="a23" type="double"/>
		</sequence>
		</extension>
		</complexContent>		
	</complexType>

	<complexType name="GovHydroSteamGeneralModelXmlType">
		<complexContent>
		<extension base="pss:GovernorModelXmlType">
		<sequence>
			<element maxOccurs="1" minOccurs="1" name="R" type="double"/>
			<element maxOccurs="1" minOccurs="1" name="KV" type="double"/>
			<element maxOccurs="1" minOccurs="1" name="T1" type="pss:TimePeriodXmlType"/>
			<element maxOccurs="1" minOccurs="1" name="T2" type="pss:TimePeriodXmlType"/>
			<element maxOccurs="1" minOccurs="1" name="T3" type="pss:TimePeriodXmlType"/>
			<element maxOccurs="1" minOccurs="1" name="T4" type="pss:TimePeriodXmlType"/>
			<element maxOccurs="1" minOccurs="1" name="T5" type="pss:TimePeriodXmlType"/>
			<element maxOccurs="1" minOccurs="1" name="PMAX" type="double"/>
			<element maxOccurs="1" minOccurs="1" name="F" type="double"/>
		</sequence>
		</extension>
		</complexContent>		
	</complexType>

	<complexType name="GovHydroTurbineXmlType">
		<complexContent>
		<extension base="pss:GovernorModelXmlType">
		<sequence>
			<element maxOccurs="1" minOccurs="1" name="K" type="double"/>
			<element maxOccurs="1" minOccurs="1" name="T1" type="pss:TimePeriodXmlType"/>
			<element maxOccurs="1" minOccurs="1" name="T2" type="pss:TimePeriodXmlType"/>
			<element maxOccurs="1" minOccurs="1" name="T3" type="pss:TimePeriodXmlType"/>
			<element maxOccurs="1" minOccurs="1" name="PMAX" type="double"/>
			<element maxOccurs="1" minOccurs="1" name="PMIN" type="double"/>
			<element maxOccurs="1" minOccurs="1" name="TWhalf" type="pss:TimePeriodXmlType"/>
			
		</sequence>
		</extension>
		</complexContent>		
	</complexType>

	<complexType name="GovHydroXmlType">
		<complexContent>
		<extension base="pss:GovernorModelXmlType">
		<sequence>
			<element maxOccurs="1" minOccurs="1" name="PMAX" type="double"/>
			<element maxOccurs="1" minOccurs="1" name="PMIN" type="double"/>
			<element maxOccurs="1" minOccurs="1" name="R" type="double"/>
			<element maxOccurs="1" minOccurs="1" name="T1" type="pss:TimePeriodXmlType"/>
			<element maxOccurs="1" minOccurs="1" name="T2" type="pss:TimePeriodXmlType"/>
			<element maxOccurs="1" minOccurs="1" name="T3" type="pss:TimePeriodXmlType"/>
			<element maxOccurs="1" minOccurs="1" name="U0" type="double"/>
			<element maxOccurs="1" minOccurs="1" name="UC" type="double"/>
		</sequence>
		</extension>
		</complexContent>		
	</complexType>
	
	<!--BPA GOV and Hydro turbine type -->
	
	<complexType name="GovHydroTurbineBPAGHXmlType">
		<complexContent>
		<extension base="pss:GovIEEE1981Type3XmlType">
		<sequence>
			<element maxOccurs="1" minOccurs="1" name="Epsilon" type="double"/>
		</sequence>
		</extension>
		</complexContent>		
	</complexType>

<!-- 
	Turbine Model
	=============
 -->
	<complexType abstract="true" name="TurbineModelXmlType">
		<sequence>
			<element maxOccurs="1" minOccurs="0" name="name" type="string"/>
			<element maxOccurs="1" minOccurs="0" name="desc" type="string"/>
		</sequence>
	</complexType>

	<complexType name="SteamTurbineXmlType">
		<complexContent>
		<extension base="pss:TurbineModelXmlType">
		<sequence>
			<element maxOccurs="1" minOccurs="0" name="K" type="double"/>
			<element maxOccurs="1" minOccurs="0" name="TCH" type="pss:TimePeriodXmlType"/>
			<element maxOccurs="1" minOccurs="0" name="FHP" type="double"/>
			<element maxOccurs="1" minOccurs="0" name="TRH" type="pss:TimePeriodXmlType"/>
			<element maxOccurs="1" minOccurs="0" name="FIP" type="double"/>
			<element maxOccurs="1" minOccurs="0" name="TCO" type="pss:TimePeriodXmlType"/>
			<element maxOccurs="1" minOccurs="0" name="FLP" type="double"/>
		</sequence>
		</extension>
		</complexContent>		
	</complexType>

	<complexType name="HydraulicTurbineXmlType">
		<complexContent>
		<extension base="pss:TurbineModelXmlType">
		<sequence>
			<element maxOccurs="1" minOccurs="0" name="TW" type="double"/>
		</sequence>
		</extension>
		</complexContent>		
	</complexType>
	
	<!-- BPA turbine model -->
	
	<complexType name="SteamTurbineBPATBModelXmlType">
		<complexContent>
		<extension base="pss:SteamTurbineXmlType">
		<sequence>
			<element maxOccurs="1" minOccurs="1" name="Lambda" type="double"/>
		</sequence>
		</extension>
		</complexContent>		
	</complexType>

<!-- below not used -->
	<complexType name="TurbineGovernorXmlType">
		<sequence>
			<element maxOccurs="1" minOccurs="1" name="locatedBus" type="pss:IDRefRecordXmlType"/>
			<element maxOccurs="1" minOccurs="0" name="busRatedVoltage" type="pss:VoltageXmlType"/>
			<element maxOccurs="1" minOccurs="1" name="turbineGovernorType" type="pss:TurbineGovernorEnumType">
			</element>
			<element maxOccurs="1" minOccurs="1" name="turbineGovernorModel" type="pss:GovernorModelXmlType"/>
			<element maxOccurs="1" minOccurs="0" name="tgId" type="pss:IDRefRecordXmlType"/>
		</sequence>
	</complexType>

	<simpleType name="TurbineGovernorEnumType">
		<restriction base="string">
			<enumeration value="IEEE1981Type1"/>
			<enumeration value="IEEE1981Type2"/>
			<enumeration value="IEEE1981Type3"/>
			<enumeration value="HydroStreamGeneralModel"/>
			<enumeration value="HydroGovernerAndTurbine"/>
			<enumeration value="HydroGoverner"/>
		</restriction>
	</simpleType>

	<complexType name="TurbineGovernorModelListXmlType">
		<sequence>
			<element maxOccurs="1" minOccurs="0" name="IEEE1981Type1" type="pss:GovIEEE1981Type1XmlType">
			</element>
			<element maxOccurs="1" minOccurs="0" name="IEEE1981Type2" type="pss:GovIEEE1981Type2XmlType">
			</element>
			<element maxOccurs="1" minOccurs="0" name="IEEE1981Type3" type="pss:GovIEEE1981Type3XmlType">
			</element>
			<element maxOccurs="1" minOccurs="0" name="hydroStreamGeneralModel" type="pss:GovHydroSteamGeneralModelXmlType">
			</element>
			<element maxOccurs="1" minOccurs="0" name="hydroGovernerAndTurbine" type="pss:GovHydroTurbineXmlType">
			</element>
			<element maxOccurs="1" minOccurs="0" name="hydroGoverner" type="pss:GovHydroXmlType">
			</element>
			<element maxOccurs="1" minOccurs="0" name="SteamNRModel" type="pss:GovSteamNRXmlType">
			</element>
			<element maxOccurs="1" minOccurs="0" name="SteamTDSRModel" type="pss:GovSteamTDSRXmlType">
			</element>
			<element maxOccurs="1" minOccurs="0" name="SteamTCSRModel" type="pss:GovSteamTCSRXmlType">
			</element>
			
		</sequence>
	</complexType>

	<complexType name="TurbineXmlType">
		<sequence>
			<element maxOccurs="1" minOccurs="0" name="steamTurbine " type="pss:SteamTurbineXmlType">
			</element>
			<element maxOccurs="1" minOccurs="0" name="hydraulicTurbine " type="pss:HydraulicTurbineXmlType">
			</element>
		</sequence>
	</complexType>

	<complexType name="TurbineGovernorModelSelectionXmlType">
		<choice>
			<element maxOccurs="1" minOccurs="0" name="IEEE1981Type1" type="pss:GovIEEE1981Type1XmlType">
			</element>
			<element maxOccurs="1" minOccurs="0" name="IEEE1981Type2" type="pss:GovIEEE1981Type2XmlType">
			</element>
			<element maxOccurs="1" minOccurs="0" name="IEEE1981Type3" type="pss:GovIEEE1981Type3XmlType">
			</element>
			<element maxOccurs="1" minOccurs="0" name="hydroStreamGeneralModel" type="pss:GovHydroSteamGeneralModelXmlType">
			</element>
			<element maxOccurs="1" minOccurs="0" name="hydroGovernerAndTurbine" type="pss:GovHydroTurbineXmlType">
			</element>
			<element maxOccurs="1" minOccurs="0" name="hydroGoverner" type="pss:GovHydroXmlType">
			</element>
			<element maxOccurs="1" minOccurs="0" name="SteamNRModel" type="pss:GovSteamNRXmlType">
			</element>
			<element maxOccurs="1" minOccurs="0" name="SteamTDSRModel" type="pss:GovSteamTDSRXmlType">
			</element>
			<element maxOccurs="1" minOccurs="0" name="SteamTCSRModel" type="pss:GovSteamTCSRXmlType">
			</element>
		</choice>
	</complexType>
	
	<!-- BPA GOV  model sets
	-->

	
	<complexType name="GOVBPAGSModelXmlType">
		<complexContent>
		<extension base="pss:GovernorModelXmlType">
		<sequence>
		    <element maxOccurs="1" minOccurs="0" name="Pmax" type="double"/>
		    <element maxOccurs="1" minOccurs="0" name="Pmin" type="double"/>
			<element maxOccurs="1" minOccurs="0" name="T1" type="pss:TimePeriodXmlType"/>
			<element maxOccurs="1" minOccurs="0" name="T2" type="pss:TimePeriodXmlType"/>
			<element maxOccurs="1" minOccurs="0" name="T3" type="pss:TimePeriodXmlType"/>
			<element maxOccurs="1" minOccurs="0" name="R" type="double"/>
			<element maxOccurs="1" minOccurs="0" name="VELOPEN" type="double"/>
			<element maxOccurs="1" minOccurs="0" name="VELCLOSE" type="double"/>
			<element maxOccurs="1" minOccurs="0" name="Epsilon" type="double"/>
		</sequence>
		</extension>
		</complexContent>		
	</complexType>
	
	<!-- BPA GOV Regulator part model
	-->
	
	<complexType name="GOVBPARegGIModelXmlType">
		<complexContent>
		<extension base="pss:GovernorModelXmlType">
		<sequence>
		    <element maxOccurs="1" minOccurs="0" name="T1" type="pss:TimePeriodXmlType"/>
		    <element maxOccurs="1" minOccurs="0" name="Epsilon" type="double"/>
		    <element maxOccurs="1" minOccurs="0" name="K" type="double"/>
		    <element maxOccurs="1" minOccurs="0" name="loadSwichOff" type="boolean"/>
		    <element maxOccurs="1" minOccurs="0" name="Kp1" type="double"/>
		    <element maxOccurs="1" minOccurs="0" name="Kd1" type="double"/>
		    <element maxOccurs="1" minOccurs="0" name="Ki1" type="double"/>
		    <element maxOccurs="1" minOccurs="0" name="INTG_MAX1" type="double"/>
            <element maxOccurs="1" minOccurs="0" name="INTG_MIN1" type="double"/>
            <element maxOccurs="1" minOccurs="0" name="PID_MAX1" type="double"/>
            <element maxOccurs="1" minOccurs="0" name="PID_MIN1" type="double"/>
		    <element maxOccurs="1" minOccurs="0" name="loadForwardSwitchOff" type="boolean"/>
		    <element maxOccurs="1" minOccurs="0" name="presserSwitchOff" type="boolean"/>
		    <element maxOccurs="1" minOccurs="0" name="Kp2" type="double"/>
		    <element maxOccurs="1" minOccurs="0" name="Kd2" type="double"/>
		    <element maxOccurs="1" minOccurs="0" name="Ki2" type="double"/>
		    <element maxOccurs="1" minOccurs="0" name="INTG_MAX2" type="double"/>
            <element maxOccurs="1" minOccurs="0" name="INTG_MIN2" type="double"/>
            <element maxOccurs="1" minOccurs="0" name="PID_MAX2" type="double"/>
            <element maxOccurs="1" minOccurs="0" name="PID_MIN2" type="double"/>		    
			<element maxOccurs="1" minOccurs="0" name="Con_Max" type="double"/>
			<element maxOccurs="1" minOccurs="0" name="Con_Min" type="double"/>
		</sequence>
		</extension>
		</complexContent>		
	</complexType>
	
	
	<!-- BPA GOV servo part model
	-->
	<complexType name="GOVBPAServoGAModelXmlType">
		<complexContent>
		<extension base="pss:GovernorModelXmlType">
		<sequence>
		    <element maxOccurs="1" minOccurs="0" name="Pe" type="double"/>   
			<element maxOccurs="1" minOccurs="0" name="Tc" type="pss:TimePeriodXmlType"/>
			<element maxOccurs="1" minOccurs="0" name="To" type="pss:TimePeriodXmlType"/>
			<element maxOccurs="1" minOccurs="0" name="VELOPEN" type="double"/>
			<element maxOccurs="1" minOccurs="0" name="VELCLOSE" type="double"/>
			<element maxOccurs="1" minOccurs="0" name="Pmax" type="double"/>
			<element maxOccurs="1" minOccurs="0" name="Pmin" type="double"/>			
			<element maxOccurs="1" minOccurs="0" name="T1" type="pss:TimePeriodXmlType"/>
			<element maxOccurs="1" minOccurs="0" name="Kp" type="double"/>
            <element maxOccurs="1" minOccurs="0" name="Kd" type="double"/>
            <element maxOccurs="1" minOccurs="0" name="Ki" type="double"/>
            <element maxOccurs="1" minOccurs="0" name="INTG_MAX" type="double"/>
            <element maxOccurs="1" minOccurs="0" name="INTG_MIN" type="double"/>
            <element maxOccurs="1" minOccurs="0" name="PID_MAX" type="double"/>
            <element maxOccurs="1" minOccurs="0" name="PID_MIN" type="double"/>
			<element maxOccurs="1" minOccurs="0" name="PGV_RELAY" type="pss:TimePeriodXmlType"/>
		</sequence>
		</extension>
		</complexContent>		
	</complexType>
	

</schema>
