trunk/ieee.odm_pss/schema/dynamic/ODM_StabilizerModel.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.ieee.org/odm/Schema" xmlns:pss="http://www.ieee.org/odm/Schema" elementFormDefault="qualified">

	<include schemaLocation="../ODM_DataType.xsd"></include>

	<complexType name="StabilizerXmlType">
		<sequence>
			<element name="locatedBus" type="pss:IDRefRecordXmlType" maxOccurs="1" minOccurs="1"></element>
			<element name="busRatedVoltage" type="pss:VoltageXmlType" maxOccurs="1" minOccurs="0"></element>
			<element name="stabilizerType" maxOccurs="1" minOccurs="1" type="pss:StabilizerEnumType"></element>
			<element name="stabilizerModel" type="pss:StabilizerModelListXmlType" maxOccurs="1" minOccurs="1"></element>
			<element name="macId" type="pss:IDRefRecordXmlType" maxOccurs="1" minOccurs="0"></element>
		</sequence>
	</complexType>

	<simpleType name="StabilizerEnumType">
		<restriction base="string">
			<enumeration value="IEEE1981Type"></enumeration>
			<enumeration value="IEEE1982Type2A"></enumeration>
			<enumeration value="IEE2ST"></enumeration>
			<enumeration value="IEEEDualInput"></enumeration>
		</restriction>
	</simpleType>


	<complexType name="StabilizerModelListXmlType">
		<sequence>
			<element name="IEEE1981Type" maxOccurs="1" minOccurs="0" type="pss:PssIEEE1981TypeXmlType">
			</element>
			<element name="IEEE1982Type2A" maxOccurs="1" minOccurs="0" type="pss:PssIEEE1982Type2AXmlType">
			</element>
			<element name="IEE2ST" maxOccurs="1" minOccurs="0" type="pss:PssIEE2STXmlType">
			</element>
			<element name="IEEEDualInput" maxOccurs="1" minOccurs="0" type="pss:PssIEEEDualInputXmlType">
			</element>
		</sequence>
	</complexType>

	<complexType name="PssIEEE1981TypeXmlType">
		<sequence>
			<element name="stabilizerName" type="string" maxOccurs="1" minOccurs="0"></element>
			<element name="desc" type="string" maxOccurs="1" minOccurs="0"></element>
			<element name="inputSignal" maxOccurs="1" minOccurs="1" type="pss:StabilizerInputSignalEnumType">
			</element>
			<element name="remoteBusId" type="pss:IDRefRecordXmlType" maxOccurs="1" minOccurs="0"></element>
			<element name="A1" type="double" maxOccurs="1" minOccurs="1"></element>
			<element name="A2" type="double" maxOccurs="1" minOccurs="1"></element>
			<element name="A3" type="double" maxOccurs="1" minOccurs="1"></element>
			<element name="A4" type="double" maxOccurs="1" minOccurs="1"></element>
			<element name="A5" type="double" maxOccurs="1" minOccurs="1"></element>
			<element name="A6" type="double" maxOccurs="1" minOccurs="1"></element>
			<element name="T1" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
			<element name="T2" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
			<element name="T3" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
			<element name="T4" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
			<element name="T5" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
			<element name="T6" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
			<element name="KS" type="double" maxOccurs="1" minOccurs="1"></element>
			<element name="LSMAX" type="double" maxOccurs="1" minOccurs="1"></element>
			<element name="LSMIN" type="double" maxOccurs="1" minOccurs="1"></element>
			<element name="VCU" type="string" maxOccurs="1" minOccurs="1"></element>
			<element name="VCL" type="string" maxOccurs="1" minOccurs="1"></element>
		</sequence>
	</complexType>

	<simpleType name="StabilizerInputSignalEnumType">
		<restriction base="string">
			<enumeration value="rotor_speed_deviation"></enumeration>
			<enumeration value="bus_frequency_deviation"></enumeration>
			<enumeration value="generator_electrical_power"></enumeration>
			<enumeration value="generator_accelerating_power"></enumeration>
			<enumeration value="bus_voltage"></enumeration>
			<enumeration value="deriavative_of_bus_voltage"></enumeration>
		</restriction>
	</simpleType>

	<complexType name="PssIEEE1982Type2AXmlType">
		<sequence>
			<element name="stabilizerName" type="string" maxOccurs="1" minOccurs="0"></element>
			<element name="desc" type="string" maxOccurs="1" minOccurs="0"></element>
			<element name="firstInputSignal" maxOccurs="1" minOccurs="1" type="pss:StabilizerInputSignalEnumType">
			</element>
			<element name="firstRemoteBusId" type="pss:IDRefRecordXmlType" maxOccurs="1" minOccurs="1"></element>
			<element name="secondInputSignal" maxOccurs="1" minOccurs="1" type="pss:StabilizerInputSignalEnumType">
			</element>
			<element name="secondRemoteBusId" type="pss:IDRefRecordXmlType" maxOccurs="1" minOccurs="1"></element>
			<element name="M" type="double" maxOccurs="1" minOccurs="1"></element>
			<element name="N" type="double" maxOccurs="1" minOccurs="1"></element>
			<element name="TW1" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
			<element name="TW2" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
			<element name="T6" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
			<element name="TW3" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
			<element name="TW4" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
			<element name="T7" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
			<element name="KS2" type="double" maxOccurs="1" minOccurs="1"></element>
			<element name="KS3" type="double" maxOccurs="1" minOccurs="1"></element>
			<element name="T8" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
			<element name="T9" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
			<element name="KS1" type="double" maxOccurs="1" minOccurs="1"></element>
			<element name="T1" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
			<element name="T2" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
			<element name="T3" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
			<element name="T4" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
			<element name="VSTMAX" type="string" maxOccurs="1" minOccurs="1"></element>
			<element name="VSTMIN" type="string" maxOccurs="1" minOccurs="1"></element>
		</sequence>
	</complexType>

	<complexType name="PssIEE2STXmlType">
		<sequence>
			<element name="stabilizerName" type="string" maxOccurs="1" minOccurs="0"></element>
			<element name="desc" type="string" maxOccurs="1" minOccurs="0"></element>
			<element name="firstInputSignal" maxOccurs="1" minOccurs="1" type="pss:StabilizerInputSignalEnumType">
			</element>
			<element name="firstRemoteBusId" type="string" maxOccurs="1" minOccurs="1"></element>
			<element name="secondInputSignal" maxOccurs="1" minOccurs="0" type="pss:StabilizerInputSignalEnumType">
			</element>
			<element name="secondRemoteBusId" type="string" maxOccurs="1" minOccurs="0"></element>
			<element name="K1" type="double" maxOccurs="1" minOccurs="1"></element>
			<element name="K2" type="double" maxOccurs="1" minOccurs="1"></element>
			<element name="T1" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
			<element name="T2" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
			<element name="T3" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
			<element name="T4" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
			<element name="T5" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
			<element name="T6" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
			<element name="T7" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
			<element name="T8" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
			<element name="T9" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
			<element name="T10" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
			<element name="VSMAX" type="double" maxOccurs="1" minOccurs="1"></element>
			<element name="VSMIN" type="double" maxOccurs="1" minOccurs="1"></element>
			<element name="VCU" type="double" maxOccurs="1" minOccurs="0"></element>
			<element name="VCL" type="double" maxOccurs="1" minOccurs="0"></element>
			<element name="VCUTOFF" type="double" maxOccurs="1" minOccurs="0"></element>
		</sequence>
	</complexType>

	<complexType name="PssIEEEDualInputXmlType">
		<sequence>
			<element name="stabilizerName" type="string" maxOccurs="1" minOccurs="0"></element>
			<element name="desc" type="string" maxOccurs="1" minOccurs="0"></element>
			<element name="firstInputSignal" maxOccurs="1" minOccurs="1" type="pss:StabilizerInputSignalEnumType">
			</element>
			<element name="firstRemoteBusId" type="pss:IDRefRecordXmlType" maxOccurs="1" minOccurs="1"></element>
			<element name="secondInputSignal" maxOccurs="1" minOccurs="0" type="pss:StabilizerInputSignalEnumType">
			</element>
			<element name="secondRemoteBusId" type="pss:IDRefRecordXmlType" maxOccurs="1" minOccurs="0"></element>
			<element name="Trw" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
			<element name="T5" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
			<element name="T6" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
			<element name="T7" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
			<element name="Kr" type="double" maxOccurs="1" minOccurs="1"></element>
			<element name="Trp" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
			<element name="TW" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
			<element name="TW1" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
			<element name="TW2" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
			<element name="KS" type="double" maxOccurs="1" minOccurs="1"></element>
			<element name="T9" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
			<element name="T10" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
			<element name="T12" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
			<element name="Kp" type="double" maxOccurs="1" minOccurs="1"></element>
			<element name="T1" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
			<element name="T2" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
			<element name="T13" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
			<element name="T14" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
			<element name="T3" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
			<element name="T4" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
			<element name="VSMAX" type="double" maxOccurs="1" minOccurs="1"></element>
			<element name="VSMIN" type="double" maxOccurs="1" minOccurs="1"></element>
		</sequence>
	</complexType>

</schema>