trunk/ieee.odm_pss/schema/dynamic/ODM_GovernorModel.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.ieee.org/odm/Schema" xmlns:pss="http://www.ieee.org/odm/Schema" elementFormDefault="qualified">

	<include schemaLocation="../ODM_DataType.xsd"></include>

	<complexType name="TurbineGovernorXmlType">
		<sequence>
			<element name="locatedBus" type="pss:IDRefRecordXmlType" maxOccurs="1" minOccurs="1"></element>
			<element name="busRatedVoltage" type="pss:VoltageXmlType" maxOccurs="1" minOccurs="0"></element>
			<element name="turbineGovernorType" maxOccurs="1" minOccurs="1" type="pss:TurbineGovernorEnumType">
			</element>
			<element name="turbineGovernorModel" type="pss:TurbineGovernorModelListXmlType" maxOccurs="1" minOccurs="1"></element>
			<element name="tgId" type="pss:IDRefRecordXmlType" maxOccurs="1" minOccurs="0"></element>
		</sequence>
	</complexType>

	<simpleType name="TurbineGovernorEnumType">
		<restriction base="string">
			<enumeration value="IEEE1981Type1"></enumeration>
			<enumeration value="IEEE1981Type2"></enumeration>
			<enumeration value="IEEE1981Type3"></enumeration>
			<enumeration value="hydroStreamGeneralModel"></enumeration>
			<enumeration value="hydroGovernerAndTurbine"></enumeration>
			<enumeration value="hydroGoverner"></enumeration>
		</restriction>
	</simpleType>

	<complexType name="TurbineGovernorModelListXmlType">
		<sequence>
			<element name="IEEE1981Type1" maxOccurs="1" minOccurs="0" type="pss:GovIEEE1981Type1XmlTypeXmlType">
			</element>
			<element name="IEEE1981Type2" maxOccurs="1" minOccurs="0" type="pss:GovIEEE1981Type2XmlType">
			</element>
			<element name="IEEE1981Type3" maxOccurs="1" minOccurs="0" type="pss:GovIEEE1981Type3XmlType">
			</element>
			<element name="hydroStreamGeneralModel" maxOccurs="1" minOccurs="0" type="pss:GovHydroSteamGeneralModelXmlType">
			</element>
			<element name="hydroGovernerAndTurbine" maxOccurs="1" minOccurs="0" type="pss:GovHydroTurbineXmlType">
			</element>
			<element name="hydroGoverner" maxOccurs="1" minOccurs="0" type="pss:GovHydroXmlType">
			</element>
		</sequence>
	</complexType>

	<complexType name="GovIEEE1981Type1XmlTypeXmlType">
		<sequence>
			<element name="name" type="string" maxOccurs="1" minOccurs="1"></element>
			<element name="desc" type="string" maxOccurs="1" minOccurs="0"></element>
			<element name="basePower" type="string" maxOccurs="1" minOccurs="1"></element>
			<element name="basePowerUnit" minOccurs="1" maxOccurs="1" type="pss:ApparentPowerUnitType">
			</element>
			<element name="K" type="double" maxOccurs="1" minOccurs="1"></element>
			<element name="T1" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
			<element name="T2" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
			<element name="T3" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
			<element name="U0" maxOccurs="1" minOccurs="1" type="double"></element>
			<element name="UC" maxOccurs="1" minOccurs="1" type="double"></element>
			<element name="PMAX" type="double" maxOccurs="1" minOccurs="1"></element>
			<element name="PMIN" type="double" maxOccurs="1" minOccurs="1"></element>
			<element name="T4" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
			<element name="K1" type="double" maxOccurs="1" minOccurs="1"></element>
			<element name="K2" type="double" maxOccurs="1" minOccurs="1"></element>
			<element name="T5" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
			<element name="K3" type="double" maxOccurs="1" minOccurs="1"></element>
			<element name="K4" type="double" maxOccurs="1" minOccurs="1"></element>
			<element name="T6" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
			<element name="K5" type="double" maxOccurs="1" minOccurs="1"></element>
			<element name="K6" type="double" maxOccurs="1" minOccurs="1"></element>
			<element name="T7" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
			<element name="K7" type="double" maxOccurs="1" minOccurs="1"></element>
			<element name="K8" type="double" maxOccurs="1" minOccurs="1"></element>
		</sequence>
	</complexType>

	<complexType name="GovIEEE1981Type2XmlType">
		<sequence>
			<element name="name" type="string" maxOccurs="1" minOccurs="1"></element>
			<element name="desc" type="string" maxOccurs="1" minOccurs="0"></element>
			<element name="basePower" type="string" maxOccurs="1" minOccurs="1"></element>
			<element name="basePowerUnit" minOccurs="1" maxOccurs="1" type="pss:ApparentPowerUnitType">
			</element>
			<element name="K" type="double" maxOccurs="1" minOccurs="1"></element>
			<element name="T1" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
			<element name="T2" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
			<element name="T3" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
			<element name="PMAX" type="string" maxOccurs="1" minOccurs="1"></element>
			<element name="PMIN" type="string" maxOccurs="1" minOccurs="1"></element>
			<element name="T4" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
		</sequence>
	</complexType>

	<complexType name="GovIEEE1981Type3XmlType">
		<sequence>
			<element name="name" type="string" maxOccurs="1" minOccurs="1"></element>
			<element name="desc" type="string" maxOccurs="1" minOccurs="0"></element>
			<element name="basePower" type="string" maxOccurs="1" minOccurs="1"></element>
			<element name="basePowerUnit" minOccurs="1" maxOccurs="1" type="pss:ApparentPowerUnitType">
			</element>
			<element name="TG" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
			<element name="TP" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
			<element name="U0" maxOccurs="1" minOccurs="1" type="pss:TimePeriodUnitType">
			</element>
			<element name="UC" maxOccurs="1" minOccurs="1" type="pss:TimePeriodUnitType">
			</element>
			<element name="PMAX" type="string" maxOccurs="1" minOccurs="1"></element>
			<element name="PMIN" type="string" maxOccurs="1" minOccurs="1"></element>
			<element name="SIGMA" type="double" maxOccurs="1" minOccurs="1"></element>
			<element name="DELTA" type="double" maxOccurs="1" minOccurs="1"></element>
			<element name="TR" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
			<element name="TW" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
			<element name="a11" type="double" maxOccurs="1" minOccurs="1"></element>
			<element name="a13" type="double" maxOccurs="1" minOccurs="1"></element>
			<element name="a21" type="double" maxOccurs="1" minOccurs="1"></element>
			<element name="a23" type="double" maxOccurs="1" minOccurs="1"></element>
		</sequence>
	</complexType>

	<complexType name="GovHydroSteamGeneralModelXmlType">
		<sequence>
			<element name="name" type="string" maxOccurs="1" minOccurs="1"></element>
			<element name="desc" type="string" maxOccurs="1" minOccurs="0"></element>
			<element name="basePower" type="string" maxOccurs="1" minOccurs="1"></element>
			<element name="basePowerUnit" minOccurs="1" maxOccurs="1" type="pss:ApparentPowerUnitType">
			</element>
			<element name="R" type="double" maxOccurs="1" minOccurs="1"></element>
			<element name="KV" type="double" maxOccurs="1" minOccurs="1"></element>
			<element name="T1" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
			<element name="T2" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
			<element name="T3" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
			<element name="T4" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
			<element name="T5" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
			<element name="PMAX" type="double" maxOccurs="1" minOccurs="1"></element>
			<element name="F" type="double" maxOccurs="1" minOccurs="1"></element>
			<element name="turbine" type="pss:TurbineXmlType" maxOccurs="1" minOccurs="0"></element>
		</sequence>
	</complexType>

	<complexType name="GovHydroTurbineXmlType">
		<sequence>
			<element name="name" type="string" maxOccurs="1" minOccurs="1"></element>
			<element name="desc" type="string" maxOccurs="1" minOccurs="0"></element>
			<element name="basePower" type="string" maxOccurs="1" minOccurs="1"></element>
			<element name="basePowerUnit" minOccurs="1" maxOccurs="1" type="pss:ApparentPowerUnitType">
			</element>
			<element name="R" type="double" maxOccurs="1" minOccurs="1"></element>
			<element name="TG" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
			<element name="TP" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
			<element name="TD" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
			<element name="PMAX" type="double" maxOccurs="1" minOccurs="1"></element>
			<element name="TWhalf" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
			<element name="Uo" type="double" maxOccurs="1" minOccurs="1"></element>
			<element name="Uc" type="double" maxOccurs="1" minOccurs="1"></element>
			<element name="D4" type="double" maxOccurs="1" minOccurs="1"></element>
			<element name="turbine" type="pss:TurbineXmlType" maxOccurs="1" minOccurs="0"></element>
		</sequence>
	</complexType>

	<complexType name="GovHydroXmlType">
		<sequence>
			<element name="name" type="string" maxOccurs="1" minOccurs="1"></element>
			<element name="desc" type="string" maxOccurs="1" minOccurs="0"></element>
			<element name="basePower" type="string" maxOccurs="1" minOccurs="1"></element>
			<element name="basePowerUnit" minOccurs="1" maxOccurs="1" type="pss:ApparentPowerUnitType">
			</element>
			<element name="PMAX" type="double" maxOccurs="1" minOccurs="1"></element>
			<element name="PMIN" type="double" maxOccurs="1" minOccurs="1"></element>
			<element name="R" type="double" maxOccurs="1" minOccurs="1"></element>
			<element name="T1" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
			<element name="T2" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
			<element name="T3" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
			<element name="U0" maxOccurs="1" minOccurs="1" type="double"></element>
			<element name="UC" maxOccurs="1" minOccurs="1" type="double"></element>
			<element name="turbine" type="pss:TurbineXmlType" maxOccurs="1" minOccurs="0"></element>
		</sequence>
	</complexType>

<!-- 
	Turbine Model
	=============
 -->
	<complexType name="TurbineXmlType">
		<sequence>
			<element name="steamTurbine " maxOccurs="1" minOccurs="0" type="pss:SteamTurbineXmlType">
			</element>
			<element name="hydraulicTurbine " maxOccurs="1" minOccurs="0" type="pss:HydraulicTurbineXmlType">
			</element>
		</sequence>
	</complexType>

	<complexType name="SteamTurbineXmlType">
		<sequence>
			<element name="K" type="double" maxOccurs="1" minOccurs="0"></element>
			<element name="TCH" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="0"></element>
			<element name="FHP" type="double" maxOccurs="1" minOccurs="0"></element>
			<element name="TRH" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="0"></element>
			<element name="FIP" type="double" maxOccurs="1" minOccurs="0"></element>
			<element name="TCO" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="0"></element>
			<element name="FLP" type="double" maxOccurs="1" minOccurs="0"></element>
		</sequence>
	</complexType>

	<complexType name="HydraulicTurbineXmlType">
	</complexType>

</schema>