ieee.odm_pss/schema/dynamic/pss/IEEEStabilizerModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:pss="http://www.ieee.org/odm/Schema/2008" elementFormDefault="qualified" targetNamespace="http://www.ieee.org/odm/Schema/2008">

	<include schemaLocation="../../common/DataType.xsd"/>
	<include schemaLocation="StabilizerModel.xsd"/>

	<annotation>
		<documentation>Copyright www.interpss.org 2008-2010</documentation>
	</annotation>
	
	<!-- 
		define models for those found in IEEE std
			Naming convention
			    pssIEEE*, PssIEEE* : for IEEE types  
	 -->	
	 	
	<element name="pssIEEE1981Type" substitutionGroup="pss:stabilizer" type="pss:PssIEEE1981TypeXmlType"/>
	<element name="pssIEEE1992Type2A" substitutionGroup="pss:stabilizer" type="pss:PssIEEE1992Type2AXmlType"/>
	<element name="pssIEEEType1A" substitutionGroup="pss:stabilizer" type="pss:PssIEEE1AXmlType"/>
	<element name="pssIEE2ST" substitutionGroup="pss:stabilizer" type="pss:PssIEE2STXmlType"/>
	<element name="pssIEEEDualInput" substitutionGroup="pss:stabilizer" type="pss:PssIEEEDualInputXmlType"/>


	<complexType name="PssIEEE1981TypeXmlType">
		<complexContent>
		<extension base="pss:StabilizerModelXmlType">
		<sequence>
			<element maxOccurs="1" minOccurs="1" name="inputSignal" type="pss:StabilizerInputSignalEnumType"/>
			<element maxOccurs="1" minOccurs="0" name="remoteBusId" type="pss:IDRefRecordXmlType"/>
			<element maxOccurs="1" minOccurs="1" name="A1" type="double"/>
			<element maxOccurs="1" minOccurs="1" name="A2" type="double"/>
			<element maxOccurs="1" minOccurs="1" name="A3" type="double"/>
			<element maxOccurs="1" minOccurs="1" name="A4" type="double"/>
			<element maxOccurs="1" minOccurs="1" name="A5" type="double"/>
			<element maxOccurs="1" minOccurs="1" name="A6" type="double"/>
			<element maxOccurs="1" minOccurs="1" name="T1" type="pss:TimePeriodXmlType"/>
			<element maxOccurs="1" minOccurs="1" name="T2" type="pss:TimePeriodXmlType"/>
			<element maxOccurs="1" minOccurs="1" name="T3" type="pss:TimePeriodXmlType"/>
			<element maxOccurs="1" minOccurs="1" name="T4" type="pss:TimePeriodXmlType"/>
			<element maxOccurs="1" minOccurs="1" name="T5" type="pss:TimePeriodXmlType"/>
			<element maxOccurs="1" minOccurs="1" name="T6" type="pss:TimePeriodXmlType"/>
			<element maxOccurs="1" minOccurs="1" name="KS" type="double"/>
			<element maxOccurs="1" minOccurs="1" name="LSMAX" type="double"/>
			<element maxOccurs="1" minOccurs="1" name="LSMIN" type="double"/>
			<element maxOccurs="1" minOccurs="1" name="VCU" type="double"/>
			<element maxOccurs="1" minOccurs="1" name="VCL" type="double"/>
		</sequence>
		</extension>
		</complexContent>	
	</complexType>

	<simpleType name="StabilizerInputSignalEnumType">
		<restriction base="string">
			<enumeration value="rotor_speed_deviation"/>
			<enumeration value="bus_frequency_deviation"/>
			<enumeration value="generator_electrical_power"/>
			<enumeration value="generator_accelerating_power"/>
			<enumeration value="bus_voltage"/>
			<enumeration value="deriavative_of_bus_voltage"/>
		</restriction>
	</simpleType>

	<complexType name="PssIEEE1992Type2AXmlType">
		<complexContent>
		<extension base="pss:StabilizerModelXmlType">
		<sequence>
			<element maxOccurs="1" minOccurs="1" name="firstInputSignal" type="pss:StabilizerInputSignalEnumType"/>
			<element maxOccurs="1" minOccurs="1" name="firstRemoteBusId" type="pss:IDRefRecordXmlType"/>
			<element maxOccurs="1" minOccurs="1" name="secondInputSignal" type="pss:StabilizerInputSignalEnumType">	</element>
			<element maxOccurs="1" minOccurs="1" name="secondRemoteBusId" type="pss:IDRefRecordXmlType"/>
			<element maxOccurs="1" minOccurs="1" name="M" type="int"/>
			<element maxOccurs="1" minOccurs="1" name="N" type="int"/>
			<element maxOccurs="1" minOccurs="1" name="TW1" type="pss:TimePeriodXmlType"/>
			<element maxOccurs="1" minOccurs="1" name="TW2" type="pss:TimePeriodXmlType"/>
			<element maxOccurs="1" minOccurs="1" name="T6" type="pss:TimePeriodXmlType"/>
			<element maxOccurs="1" minOccurs="1" name="TW3" type="pss:TimePeriodXmlType"/>
			<element maxOccurs="1" minOccurs="1" name="TW4" type="pss:TimePeriodXmlType"/>
			<element maxOccurs="1" minOccurs="1" name="T7" type="pss:TimePeriodXmlType"/>
			<element maxOccurs="1" minOccurs="1" name="KS2" type="double"/>
			<element maxOccurs="1" minOccurs="1" name="KS3" type="double"/>
			<element maxOccurs="1" minOccurs="1" name="T8" type="pss:TimePeriodXmlType"/>
			<element maxOccurs="1" minOccurs="1" name="T9" type="pss:TimePeriodXmlType"/>
			<element maxOccurs="1" minOccurs="1" name="KS1" type="double"/>
			<element maxOccurs="1" minOccurs="1" name="T1" type="pss:TimePeriodXmlType"/>
			<element maxOccurs="1" minOccurs="1" name="T2" type="pss:TimePeriodXmlType"/>
			<element maxOccurs="1" minOccurs="1" name="T3" type="pss:TimePeriodXmlType"/>
			<element maxOccurs="1" minOccurs="1" name="T4" type="pss:TimePeriodXmlType"/>
			<element maxOccurs="1" minOccurs="1" name="VSTMAX" type="double"/>
			<element maxOccurs="1" minOccurs="1" name="VSTMIN" type="double"/>
		</sequence>
		</extension>
		</complexContent>
	</complexType>

	<complexType name="PssIEE2STXmlType">
		<complexContent>
		<extension base="pss:StabilizerModelXmlType">
		<sequence>
			<element maxOccurs="1" minOccurs="1" name="firstInputSignal" type="pss:StabilizerInputSignalEnumType">
			</element>
			<element maxOccurs="1" minOccurs="1" name="firstRemoteBusId" type="string"/>
			<element maxOccurs="1" minOccurs="0" name="secondInputSignal" type="pss:StabilizerInputSignalEnumType">
			</element>
			<element maxOccurs="1" minOccurs="0" name="secondRemoteBusId" type="string"/>
			<element maxOccurs="1" minOccurs="1" name="K1" type="double"/>
			<element maxOccurs="1" minOccurs="1" name="K2" type="double"/>
			<element maxOccurs="1" minOccurs="1" name="T1" type="pss:TimePeriodXmlType"/>
			<element maxOccurs="1" minOccurs="1" name="T2" type="pss:TimePeriodXmlType"/>
			<element maxOccurs="1" minOccurs="1" name="T3" type="pss:TimePeriodXmlType"/>
			<element maxOccurs="1" minOccurs="1" name="T4" type="pss:TimePeriodXmlType"/>
			<element maxOccurs="1" minOccurs="1" name="T5" type="pss:TimePeriodXmlType"/>
			<element maxOccurs="1" minOccurs="1" name="T6" type="pss:TimePeriodXmlType"/>
			<element maxOccurs="1" minOccurs="1" name="T7" type="pss:TimePeriodXmlType"/>
			<element maxOccurs="1" minOccurs="1" name="T8" type="pss:TimePeriodXmlType"/>
			<element maxOccurs="1" minOccurs="1" name="T9" type="pss:TimePeriodXmlType"/>
			<element maxOccurs="1" minOccurs="1" name="T10" type="pss:TimePeriodXmlType"/>
			<element maxOccurs="1" minOccurs="1" name="VSMAX" type="double"/>
			<element maxOccurs="1" minOccurs="1" name="VSMIN" type="double"/>
			<element maxOccurs="1" minOccurs="0" name="VCU" type="double"/>
			<element maxOccurs="1" minOccurs="0" name="VCL" type="double"/>
			<element maxOccurs="1" minOccurs="0" name="VCUTOFF" type="double"/>
		</sequence>
		</extension>
		</complexContent>		
	</complexType>
	
	<complexType name="PssIEEE1AXmlType">
		<complexContent>
		<extension base="pss:StabilizerModelXmlType">
		<sequence>			
			<element maxOccurs="1" minOccurs="1" name="KS" type="double"/>			
			<element maxOccurs="1" minOccurs="1" name="T1" type="pss:TimePeriodXmlType"/>
			<element maxOccurs="1" minOccurs="1" name="T2" type="pss:TimePeriodXmlType"/>
			<element maxOccurs="1" minOccurs="1" name="T3" type="pss:TimePeriodXmlType"/>
			<element maxOccurs="1" minOccurs="1" name="T4" type="pss:TimePeriodXmlType"/>
			<element maxOccurs="1" minOccurs="1" name="T5" type="pss:TimePeriodXmlType"/>
			<element maxOccurs="1" minOccurs="1" name="T6" type="pss:TimePeriodXmlType"/>			
			<element maxOccurs="1" minOccurs="1" name="VSTMAX" type="double"/>
			<element maxOccurs="1" minOccurs="1" name="VSTMIN" type="double"/>
			<element maxOccurs="1" minOccurs="0" name="A1" type="double"/>
			<element maxOccurs="1" minOccurs="0" name="A2" type="double"/>	
		</sequence>
		</extension>
		</complexContent>		
	</complexType>

	<complexType name="PssIEEEDualInputXmlType">
		<complexContent>
		<extension base="pss:StabilizerModelXmlType">
		<sequence>
			<element maxOccurs="1" minOccurs="1" name="firstInputSignal" type="pss:StabilizerInputSignalEnumType">
			</element>
			<element maxOccurs="1" minOccurs="1" name="firstRemoteBusId" type="pss:IDRefRecordXmlType"/>
			<element maxOccurs="1" minOccurs="0" name="secondInputSignal" type="pss:StabilizerInputSignalEnumType">
			</element>
			<element maxOccurs="1" minOccurs="0" name="secondRemoteBusId" type="pss:IDRefRecordXmlType"/>
			<element maxOccurs="1" minOccurs="1" name="Trw" type="pss:TimePeriodXmlType"/>
			<element maxOccurs="1" minOccurs="1" name="T5" type="pss:TimePeriodXmlType"/>
			<element maxOccurs="1" minOccurs="1" name="T6" type="pss:TimePeriodXmlType"/>
			<element maxOccurs="1" minOccurs="1" name="T7" type="pss:TimePeriodXmlType"/>
			<element maxOccurs="1" minOccurs="1" name="Kr" type="double"/>
			<element maxOccurs="1" minOccurs="1" name="Trp" type="pss:TimePeriodXmlType"/>
			<element maxOccurs="1" minOccurs="1" name="TW" type="pss:TimePeriodXmlType"/>
			<element maxOccurs="1" minOccurs="1" name="TW1" type="pss:TimePeriodXmlType"/>
			<element maxOccurs="1" minOccurs="1" name="TW2" type="pss:TimePeriodXmlType"/>
			<element maxOccurs="1" minOccurs="1" name="KS" type="double"/>
			<element maxOccurs="1" minOccurs="1" name="T9" type="pss:TimePeriodXmlType"/>
			<element maxOccurs="1" minOccurs="1" name="T10" type="pss:TimePeriodXmlType"/>
			<element maxOccurs="1" minOccurs="1" name="T12" type="pss:TimePeriodXmlType"/>
			<element maxOccurs="1" minOccurs="1" name="Kp" type="double"/>
			<element maxOccurs="1" minOccurs="1" name="T1" type="pss:TimePeriodXmlType"/>
			<element maxOccurs="1" minOccurs="1" name="T2" type="pss:TimePeriodXmlType"/>
			<element maxOccurs="1" minOccurs="1" name="T13" type="pss:TimePeriodXmlType"/>
			<element maxOccurs="1" minOccurs="1" name="T14" type="pss:TimePeriodXmlType"/>
			<element maxOccurs="1" minOccurs="1" name="T3" type="pss:TimePeriodXmlType"/>
			<element maxOccurs="1" minOccurs="1" name="T4" type="pss:TimePeriodXmlType"/>
			<element maxOccurs="1" minOccurs="1" name="VSMAX" type="double"/>
			<element maxOccurs="1" minOccurs="1" name="VSMIN" type="double"/>
		</sequence>
		</extension>
		</complexContent>		
	</complexType>
</schema>
