ieee.odm_pss/schema/dynamic/pss/IEEEStabilizerModel.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" 
    targetNamespace="http://www.ieee.org/odm/Schema/2008" 
    xmlns:pss="http://www.ieee.org/odm/Schema/2008" elementFormDefault="qualified">

	<include schemaLocation="../../common/DataType.xsd"></include>
	<include schemaLocation="StabilizerModel.xsd"></include>

	<annotation>
		<documentation>Copyright www.interpss.org 2008-2010</documentation>
	</annotation>
	
	<!-- 
		define models for those found in IEEE std
			Naming convention
			    pssIEEE*, PssIEEE* : for IEEE types  
	 -->	
	 	
	<element name="pssIEEE1981Type" type="pss:PssIEEE1981TypeXmlType" substitutionGroup="pss:stabilizer"/>
	<element name="pssIEEE1992Type2A" type="pss:PssIEEE1992Type2AXmlType" substitutionGroup="pss:stabilizer"/>
	<element name="pssIEEEType1A" type="pss:PssIEEE1AXmlType" substitutionGroup="pss:stabilizer"/>
	<element name="pssIEE2ST" type="pss:PssIEE2STXmlType" substitutionGroup="pss:stabilizer"/>
	<element name="pssIEEEDualInput" type="pss:PssIEEEDualInputXmlType" substitutionGroup="pss:stabilizer"/>


	<complexType name="PssIEEE1981TypeXmlType">
		<complexContent>
		<extension base="pss:StabilizerModelXmlType">
		<sequence>
			<element name="inputSignal" maxOccurs="1" minOccurs="1" type="pss:StabilizerInputSignalEnumType"></element>
			<element name="remoteBusId" type="pss:IDRefRecordXmlType" maxOccurs="1" minOccurs="0"></element>
			<element name="A1" type="double" maxOccurs="1" minOccurs="1"></element>
			<element name="A2" type="double" maxOccurs="1" minOccurs="1"></element>
			<element name="A3" type="double" maxOccurs="1" minOccurs="1"></element>
			<element name="A4" type="double" maxOccurs="1" minOccurs="1"></element>
			<element name="A5" type="double" maxOccurs="1" minOccurs="1"></element>
			<element name="A6" type="double" maxOccurs="1" minOccurs="1"></element>
			<element name="T1" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
			<element name="T2" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
			<element name="T3" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
			<element name="T4" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
			<element name="T5" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
			<element name="T6" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
			<element name="KS" type="double" maxOccurs="1" minOccurs="1"></element>
			<element name="LSMAX" type="double" maxOccurs="1" minOccurs="1"></element>
			<element name="LSMIN" type="double" maxOccurs="1" minOccurs="1"></element>
			<element name="VCU" type="string" maxOccurs="1" minOccurs="1"></element>
			<element name="VCL" type="string" maxOccurs="1" minOccurs="1"></element>
		</sequence>
		</extension>
		</complexContent>	
	</complexType>

	<simpleType name="StabilizerInputSignalEnumType">
		<restriction base="string">
			<enumeration value="rotor_speed_deviation"></enumeration>
			<enumeration value="bus_frequency_deviation"></enumeration>
			<enumeration value="generator_electrical_power"></enumeration>
			<enumeration value="generator_accelerating_power"></enumeration>
			<enumeration value="bus_voltage"></enumeration>
			<enumeration value="deriavative_of_bus_voltage"></enumeration>
		</restriction>
	</simpleType>

	<complexType name="PssIEEE1992Type2AXmlType">
		<complexContent>
		<extension base="pss:StabilizerModelXmlType">
		<sequence>
			<element name="firstInputSignal" maxOccurs="1" minOccurs="1" type="pss:StabilizerInputSignalEnumType"></element>
			<element name="firstRemoteBusId" type="pss:IDRefRecordXmlType" maxOccurs="1" minOccurs="1"></element>
			<element name="secondInputSignal" maxOccurs="1" minOccurs="1" type="pss:StabilizerInputSignalEnumType">	</element>
			<element name="secondRemoteBusId" type="pss:IDRefRecordXmlType" maxOccurs="1" minOccurs="1"></element>
			<element name="M" type="int" maxOccurs="1" minOccurs="1"></element>
			<element name="N" type="int" maxOccurs="1" minOccurs="1"></element>
			<element name="TW1" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
			<element name="TW2" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
			<element name="T6" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
			<element name="TW3" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
			<element name="TW4" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
			<element name="T7" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
			<element name="KS2" type="double" maxOccurs="1" minOccurs="1"></element>
			<element name="KS3" type="double" maxOccurs="1" minOccurs="1"></element>
			<element name="T8" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
			<element name="T9" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
			<element name="KS1" type="double" maxOccurs="1" minOccurs="1"></element>
			<element name="T1" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
			<element name="T2" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
			<element name="T3" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
			<element name="T4" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
			<element name="VSTMAX" type="double" maxOccurs="1" minOccurs="1"></element>
			<element name="VSTMIN" type="double" maxOccurs="1" minOccurs="1"></element>
		</sequence>
		</extension>
		</complexContent>
	</complexType>

	<complexType name="PssIEE2STXmlType">
		<complexContent>
		<extension base="pss:StabilizerModelXmlType">
		<sequence>
			<element name="firstInputSignal" maxOccurs="1" minOccurs="1" type="pss:StabilizerInputSignalEnumType">
			</element>
			<element name="firstRemoteBusId" type="string" maxOccurs="1" minOccurs="1"></element>
			<element name="secondInputSignal" maxOccurs="1" minOccurs="0" type="pss:StabilizerInputSignalEnumType">
			</element>
			<element name="secondRemoteBusId" type="string" maxOccurs="1" minOccurs="0"></element>
			<element name="K1" type="double" maxOccurs="1" minOccurs="1"></element>
			<element name="K2" type="double" maxOccurs="1" minOccurs="1"></element>
			<element name="T1" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
			<element name="T2" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
			<element name="T3" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
			<element name="T4" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
			<element name="T5" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
			<element name="T6" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
			<element name="T7" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
			<element name="T8" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
			<element name="T9" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
			<element name="T10" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
			<element name="VSMAX" type="double" maxOccurs="1" minOccurs="1"></element>
			<element name="VSMIN" type="double" maxOccurs="1" minOccurs="1"></element>
			<element name="VCU" type="double" maxOccurs="1" minOccurs="0"></element>
			<element name="VCL" type="double" maxOccurs="1" minOccurs="0"></element>
			<element name="VCUTOFF" type="double" maxOccurs="1" minOccurs="0"></element>
		</sequence>
		</extension>
		</complexContent>		
	</complexType>
	
	<complexType name="PssIEEE1AXmlType">
		<complexContent>
		<extension base="pss:StabilizerModelXmlType">
		<sequence>			
			<element name="KS" type="double" maxOccurs="1" minOccurs="1"></element>			
			<element name="T1" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
			<element name="T2" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
			<element name="T3" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
			<element name="T4" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
			<element name="T5" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
			<element name="T6" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>			
			<element name="VSTMAX" type="double" maxOccurs="1" minOccurs="1"></element>
			<element name="VSTMIN" type="double" maxOccurs="1" minOccurs="1"></element>
			<element name="A1" type="double" maxOccurs="1" minOccurs="0"></element>
			<element name="A2" type="double" maxOccurs="1" minOccurs="0"></element>	
		</sequence>
		</extension>
		</complexContent>		
	</complexType>

	<complexType name="PssIEEEDualInputXmlType">
		<complexContent>
		<extension base="pss:StabilizerModelXmlType">
		<sequence>
			<element name="firstInputSignal" maxOccurs="1" minOccurs="1" type="pss:StabilizerInputSignalEnumType">
			</element>
			<element name="firstRemoteBusId" type="pss:IDRefRecordXmlType" maxOccurs="1" minOccurs="1"></element>
			<element name="secondInputSignal" maxOccurs="1" minOccurs="0" type="pss:StabilizerInputSignalEnumType">
			</element>
			<element name="secondRemoteBusId" type="pss:IDRefRecordXmlType" maxOccurs="1" minOccurs="0"></element>
			<element name="Trw" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
			<element name="T5" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
			<element name="T6" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
			<element name="T7" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
			<element name="Kr" type="double" maxOccurs="1" minOccurs="1"></element>
			<element name="Trp" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
			<element name="TW" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
			<element name="TW1" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
			<element name="TW2" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
			<element name="KS" type="double" maxOccurs="1" minOccurs="1"></element>
			<element name="T9" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
			<element name="T10" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
			<element name="T12" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
			<element name="Kp" type="double" maxOccurs="1" minOccurs="1"></element>
			<element name="T1" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
			<element name="T2" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
			<element name="T13" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
			<element name="T14" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
			<element name="T3" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
			<element name="T4" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
			<element name="VSMAX" type="double" maxOccurs="1" minOccurs="1"></element>
			<element name="VSMIN" type="double" maxOccurs="1" minOccurs="1"></element>
		</sequence>
		</extension>
		</complexContent>		
	</complexType>
</schema>