ieee.odm_pss/schema/dcsystem/DcSystemRecordType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" 
    targetNamespace="http://www.ieee.org/odm/Schema/2008" xmlns:pss="http://www.ieee.org/odm/Schema/2008" elementFormDefault="qualified">

    <include schemaLocation="../common/RecordType.xsd"></include>

	<annotation>
		<documentation>Copyright www.interpss.org 2008-2010</documentation>
	</annotation>
	
	<element name="dcNet" type="pss:DcNetworkXmlType" substitutionGroup="pss:baseCase">
		<annotation><documentation>
		Network for Dc system analysis analysis. 
		</documentation></annotation>
	</element>

	<element name="dcBus" type="pss:DcBusXmlType" substitutionGroup="pss:bus">
		<annotation><documentation>
		Bus record for Dc system analysis
		</documentation></annotation>
	</element>
	
	<element name="dcBranch" type="pss:DcBranchXmlType" substitutionGroup="pss:branch">
		<annotation><documentation>
		Branch record for Dc system analysis
		</documentation></annotation>
	</element>

<!-- 
		PV Model definition
 -->
	<element name="pvModel" type="pss:BasePVModelXmlType">
		<annotation><documentation>
		</documentation></annotation>
	</element>	

	<element name="ivFuncPVModel" type="pss:PVModelIVFunctionXmlType" substitutionGroup="pss:pvModel">
		<annotation><documentation>
		</documentation></annotation>
	</element>

	<element name="ivPointPVModel" type="pss:PVModelIVCurveXmlType" substitutionGroup="pss:pvModel">
		<annotation><documentation>
		</documentation></annotation>
	</element>
	
<!-- 
		Network object
 -->	
	<complexType name="DcNetworkXmlType">
		<annotation><documentation>
		</documentation></annotation>
		<complexContent>
			<extension base="pss:NetworkXmlType">
				<sequence>
					<element name="ratedVoltage" type="pss:VoltageXmlType" minOccurs="1" maxOccurs="1"></element>
					<element name="pvModelList" minOccurs="0" maxOccurs="1">
						<complexType>
							<sequence>
								<element ref="pss:pvModel" maxOccurs="unbounded"></element>
							</sequence>
						</complexType></element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	
	<!--
			PV Model 
 	-->
	<complexType name="BasePVModelXmlType" abstract="true">
		<annotation>
			<documentation></documentation>
		</annotation>
		<sequence>
			<element name="dataType" type="pss:PVModuleDataEnumType" minOccurs="1"></element>
		</sequence>
		<attribute name="id" type="ID" use="required"></attribute>
		<attribute name="name" type="string" use="required"></attribute>
		<attribute name="desc" type="string" use="optional"></attribute>
	</complexType>

	<simpleType name="PVModuleDataEnumType">
		<restriction base="string">
			<enumeration value="Points"></enumeration>
			<enumeration value="Function"></enumeration>
			<enumeration value="value"></enumeration>
		</restriction>
	</simpleType>

	<complexType name="PVModelIVFunctionXmlType">
		<annotation><documentation>
		</documentation></annotation>
		<complexContent>
			<extension base="pss:BasePVModelXmlType">
				<sequence>
					<element name="a" type="double" minOccurs="1"></element>
					<element name="b" type="double" minOccurs="1"></element>
					<element name="c" type="double" minOccurs="1"></element>
					<element name="d" type="double" minOccurs="1"></element>
					<element name="e" type="double" minOccurs="1"></element>
					<element name="f" type="double" minOccurs="1"></element>
				</sequence>
				<attribute name="sign" type="int" use="required"></attribute>		
				<attribute name="shadingFactor" type="double" use="required"></attribute>
			</extension>
		</complexContent>		
	</complexType>

	<complexType name="PVModelIVCurveXmlType">
		<annotation>
			<documentation></documentation>
		</annotation>
		<complexContent>
			<extension base="pss:BasePVModelXmlType">
		<sequence>
			<element name="ivPoint" type="pss:PVModelPointXmlType" minOccurs="1" maxOccurs="unbounded">
				<annotation><documentation>
				volt in ascending order and amp in descending order, and first point vdc = 0;
				</documentation></annotation></element>
		</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="PVModelPointXmlType">
		<annotation>
			<documentation></documentation>
		</annotation>
		<attribute name="volt" type="double" use="required"></attribute>
		<attribute name="amp" type="double" use="required"></attribute>
	</complexType>

	<!--  
		Bus objects
 	-->	
	<complexType name="DcBusXmlType">
		<annotation><documentation>
		</documentation></annotation>
		<complexContent>
			<extension base="pss:BusXmlType">
				<sequence>
					<element name="voltage" type="pss:VoltageXmlType" minOccurs="0" maxOccurs="1">
						<annotation><documentation>
						For DcBusCodeEnumType.VoltageSource, it is the voltage spec. Otherwise, it
						is optional, used for bus init voltage
						</documentation></annotation></element>
					<element name="power" type="pss:ActivePowerXmlType" minOccurs="0" maxOccurs="1">
						<annotation><documentation>
						Only use for DcBusCodeEnumType.PowerSource
						</documentation></annotation></element>
					<element name="load" type="pss:ActivePowerXmlType" minOccurs="0" maxOccurs="1">
						<annotation><documentation>
						For DcBusCodeEnumType.Load. For other DcBus type, it is optional. Bus load
						can be defined for any kind of bus type
						</documentation></annotation></element>
					<element name="pvModule" minOccurs="0" maxOccurs="1" type="pss:PVModuleXmlType">
                        <annotation><documentation>
                        For DcBusCodeEnumType.PVModel bus type
                        </documentation></annotation></element>
					<element name="inverter" type="pss:DcAcInverterXmlType" minOccurs="0">
						<annotation><documentation>
						For DcBusCodeEnumType.Inverter bus type
						</documentation></annotation></element>
				</sequence>
				<attribute name="code" type="pss:DcBusCodeEnumType" use="required"></attribute>
			</extension>
		</complexContent>
	</complexType>

    <complexType name="PVModuleXmlType">
      	<sequence>
       		<element name="pvModuleItem" type="pss:PVModuleItemXmlType" minOccurs="1" maxOccurs="unbounded"></element>
       	</sequence>
       	<attribute name="dataType" type="pss:PVModuleDataEnumType" use="required"></attribute>
    </complexType>

	<simpleType name="DcBusCodeEnumType">
		<restriction base="string">
			<enumeration value="Connection"></enumeration>
			<enumeration value="Load"></enumeration>
			<enumeration value="PowerSource"></enumeration>
			<enumeration value="VoltageSource"></enumeration>
			<enumeration value="PVModule"></enumeration>
			<enumeration value="Inverter"></enumeration>
		</restriction>
	</simpleType>
	
	<complexType name="PVModuleItemXmlType">
		<annotation>
			<documentation></documentation>
		</annotation>
		<sequence>
			<element name="shadingFactor" type="double" minOccurs="0">
				<annotation>
					<documentation>shadingFactor to override the shading factor defined in pvModelRef PVModel</documentation>
				</annotation></element>
		</sequence>
		<attribute name="id" type="ID" use="required"></attribute>
		<attribute name="pvModelRef" type="IDREF" use="required"></attribute>
		<attribute name="name" type="string" use="optional"></attribute>
		<attribute name="desc" type="string" use="optional"></attribute>
	</complexType>



	<!--
			Inverter 
	 -->
	<complexType name="DcAcInverterXmlType">
		<annotation><documentation>
		</documentation></annotation>
		<sequence>
			<element name="powerRating" type="pss:ActivePowerXmlType" minOccurs="1"></element>
			<element name="vdcmax" type="double" minOccurs="0"></element>
			<element name="idcmax" type="double" minOccurs="0"></element>
			<element name="mpptHigh" type="double" minOccurs="0"></element>
			<element name="mpptLow" type="double" minOccurs="0"></element>
			<element name="vac" type="double" minOccurs="0"></element>
			<choice>
			<element name="loss" type="pss:InverterLossEqnXmlType" minOccurs="1" maxOccurs="1"></element>
			<element name="lossParamList" minOccurs="1">
				<complexType>
					<sequence>
						<element name="lossParam" type="pss:InverterLossParamXmlType" minOccurs="1" maxOccurs="unbounded"></element>
					</sequence>
				</complexType>
			</element>
			</choice>
		</sequence>
	</complexType>

	<complexType name="InverterLossParamXmlType">
		<annotation>
			<documentation></documentation>
		</annotation>
		<attribute name="vdc" type="double" use="required"></attribute>
		<attribute name="a" type="double" use="required"></attribute>
		<attribute name="b" type="double" use="required"></attribute>
		<attribute name="c" type="double" use="required"></attribute>
	</complexType>

	<complexType name="InverterLossEqnXmlType">
		<annotation>
			<documentation></documentation>
		</annotation>
		<attribute name="a1" type="double" use="required"></attribute>
		<attribute name="a2" type="double" use="required"></attribute>
		<attribute name="b1" type="double" use="required"></attribute>
		<attribute name="b2" type="double" use="required"></attribute>
		<attribute name="c1" type="double" use="required"></attribute>
		<attribute name="c2" type="double" use="required"></attribute>
	</complexType>

	<!--  
		Branch objects
 	-->	
	<complexType name="DcBranchXmlType">
		<annotation><documentation>
		</documentation></annotation>
		<complexContent>
			<extension base="pss:BaseBranchXmlType">
				<choice>
				<sequence>
					<element name="feeder" type="pss:DcFeederXmlType" minOccurs="0" maxOccurs="1">
					</element>
					<element name="homeRun" type="pss:DcFeederXmlType" minOccurs="0" maxOccurs="1">
					</element>
				</sequence>
				</choice>
			</extension>
		</complexContent>
	</complexType>
	
	<complexType name="DcFeederXmlType">
		<annotation><documentation>
		</documentation></annotation>
		<sequence>
			<element name="r" type="pss:RXmlType" minOccurs="1" maxOccurs="1">
				<annotation><documentation>
				Feeder resistance, could be in Ohm or Ohm/Ft, Ohm/M
				</documentation></annotation></element>
			<element name="length" type="pss:LengthXmlType" minOccurs="0" maxOccurs="1">
				<annotation><documentation>
				If r in Ohm/Ft or Ohm/M, the length need to be defined. unit in Ft, M, KM or Mile
				</documentation></annotation></element>
			<element name="gage" type="string" minOccurs="0" maxOccurs="1">
				<annotation><documentation>
				Feeder gage info, not used in calculation, might be used for data lookup
				</documentation></annotation></element>
		</sequence>
	</complexType>	
</schema>