ieee.odm_pss/schema/ODM_DynamicDataType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.ieee.org/cmte/psace/oss/odm/pss/Schema/v1"
	xmlns:pss="http://www.ieee.org/cmte/psace/oss/odm/pss/Schema/v1"
	elementFormDefault="qualified">
	<include schemaLocation="ODM_DataType.xsd"></include>



	<complexType name="BusDynDataListXmlType">
		<sequence>
			<element name="generatorDataList"
				type="pss:GeneratorDataListXmlType" maxOccurs="1" minOccurs="0">
			</element>
			<element name="exciterDataList"
				type="pss:ExciterDataListXmlType" maxOccurs="1" minOccurs="0">
			</element>

			<element name="governorDataList"
				type="pss:GovernorDataListXmlType" maxOccurs="1" minOccurs="0">
			</element>
			<element name="stabilizerDataList"
				type="pss:StabilizerDataListXmlType" maxOccurs="1" minOccurs="0">
			</element>
			<element name="dynLoadDataList"
				type="pss:DynLoadDataListXmlType" maxOccurs="1" minOccurs="0">
			</element>

		</sequence>
	</complexType>



	<complexType name="GeneratorDataListXmlType">
		<sequence>
			<element name="generator" type="pss:generatorXmlType" maxOccurs="1" minOccurs="0"></element>
		</sequence>
	</complexType>

	<complexType name="ExciterDataListXmlType">
		<sequence>
			<element name="exciter" type="pss:exciterXmlType" maxOccurs="1" minOccurs="0"></element>
		</sequence>
	</complexType>

	<complexType name="GovernorDataListXmlType">
		<sequence>
			<element name="governor" type="pss:governorXmlType" maxOccurs="1" minOccurs="0"></element>
		</sequence>
	</complexType>

	<complexType name="StabilizerDataListXmlType">
		<sequence>
			<element name="stabilizer" type="pss:stabilizerXmlType" maxOccurs="1" minOccurs="0"></element>
		</sequence>
	</complexType>

	<complexType name="DynLoadDataListXmlType">
		<sequence>
			<element name="dynLoad" type="pss:dynLoadXmlType" maxOccurs="1" minOccurs="0"></element>
		</sequence>
	</complexType>

	<complexType name="generatorXmlType">
		<sequence>
			<element name="locatedBus" type="pss:IDRefRecordXmlType" maxOccurs="1"
				minOccurs="1">
			</element>
			<element name="generatorType" maxOccurs="1" minOccurs="1">
				<simpleType>
					<restriction base="string">
						<enumeration value="classicalModel"></enumeration>
						<enumeration value="transientModel"></enumeration>
						<enumeration value="subtransModel"></enumeration>

					</restriction>
				</simpleType>
			</element>
			<element name="generatorModel" type="pss:generatorModelListXmlType" maxOccurs="1" minOccurs="1"></element>
		</sequence>
	</complexType>

	<complexType name="exciterXmlType">
		<sequence>
			<element name="locatedBus" type="pss:IDRefRecordXmlType" maxOccurs="1"
				minOccurs="1">
			</element>
			<element name="exciterType" maxOccurs="1" minOccurs="1">
				<simpleType>
					<restriction base="string">
					<enumeration value="AC1A"></enumeration>
					<enumeration value="AC2A"></enumeration>
					
					
					</restriction>
				</simpleType>
			</element>
			<element name="exciterModel" type="pss:exciterModelListXmlType" maxOccurs="1" minOccurs="1"></element>
		</sequence>
	</complexType>

	<complexType name="governorXmlType">
		<sequence>
			<element name="locatedBus" type="pss:IDRefRecordXmlType" maxOccurs="1"
				minOccurs="1">
			</element>
			<element name="governorType" maxOccurs="1" minOccurs="1">
				<simpleType>
					<restriction base="string">						
					<enumeration value="IEEE1981Type1"></enumeration>
					<enumeration value="IEEE1981Type2"></enumeration>
					<enumeration value="IEEE1981Type3"></enumeration>
					</restriction>
				</simpleType>
			</element>
			<element name="governorModel" type="pss:governorModelListXmlType" maxOccurs="1" minOccurs="1"></element>
		</sequence>
	</complexType>

	<complexType name="stabilizerXmlType">
		<sequence>
			<element name="locatedBus" type="pss:IDRefRecordXmlType" maxOccurs="1"
				minOccurs="1">
			</element>
			<element name="stabilizerType" maxOccurs="1" minOccurs="1">
				<simpleType>
					<restriction base="string">						
					<enumeration value="IEEE1981Type"></enumeration>
					<enumeration value="IEEE1982Type2A"></enumeration>
					
					</restriction>
				</simpleType>
			</element>
			<element name="stabilizerModel" type="pss:stabilizerModelListXmlType" maxOccurs="1" minOccurs="1"></element>
		
		</sequence>
	</complexType>

	<complexType name="dynLoadXmlType">
		<sequence>
			<element name="locatedBus" type="pss:IDRefRecordXmlType" maxOccurs="1"
				minOccurs="1">
			</element>
			<element name="dynLoadXmlType" maxOccurs="1" minOccurs="1">
				<simpleType>
					<restriction base="string">						
					<enumeration value="IEEELoad"></enumeration>
					<enumeration value="ComplexLoad"></enumeration>
					<enumeration value="InductionMotor"></enumeration>
					</restriction>
				</simpleType>
			</element>
			<element name="dynLoadModel" type="pss:dynLoadModelListXmlType" maxOccurs="1" minOccurs="1"></element>
		
		</sequence>
	</complexType>
	
    <complexType name="generatorModelListXmlType">
    	<sequence>
    		<element name="classicalModel" maxOccurs="1"
    			minOccurs="0">
    			<complexType>
    			<sequence>
    				<element name="genName" type="string" maxOccurs="1"
    					minOccurs="1">
    				</element>
                        <element name="genId" type="string" maxOccurs="1" minOccurs="0"></element>
                        <element name="desc" type="string" maxOccurs="1"
    					minOccurs="0">
    				</element>
    				<element name="basePower" type="double"
    					maxOccurs="1" minOccurs="1">
    				</element>
    				<element name="basePowerUnit" type="string"
    					maxOccurs="1" minOccurs="1">
    				</element>
    				<element name="numberofMachine" type="int"
    					maxOccurs="1" minOccurs="1">
    				</element>
    				<element name="xd1" maxOccurs="1" minOccurs="1"
    					type="pss:PerUnitXmlType">

    				</element>

    				<element name="H" maxOccurs="1" minOccurs="1"
    					type="pss:PerUnitXmlType">

    				</element>
    				<element name="D" maxOccurs="1" minOccurs="1"
    					type="pss:PerUnitXmlType">

    				</element>

    			</sequence>
    			</complexType>
    		</element>
    		<element name="transientModel" maxOccurs="1"
    			minOccurs="0">
    			<complexType>
    			<sequence>
    				<element name="genName" type="string" maxOccurs="1"
    					minOccurs="1">
    				</element>
                        <element name="genId" type="string" maxOccurs="1" minOccurs="0"></element>
                        <element name="desc" type="string" maxOccurs="1"
    					minOccurs="0">
    				</element>
    				<element name="basePower"
    					type="pss:BasePowerXmlType" maxOccurs="1" minOccurs="1">
    				</element>

                        <element name="xd" maxOccurs="1" minOccurs="1" type="pss:PerUnitXmlType">

    				</element>
                        <element name="numberofMachine" type="int"
    					maxOccurs="1" minOccurs="1">
    				</element>
    				<element name="xr" type="pss:PerUnitXmlType"
    					maxOccurs="1" minOccurs="1">
    				</element>
    				<element name="ra" maxOccurs="1" minOccurs="1"
    					type="pss:PerUnitXmlType">

    				</element>
                        <element name="xd1" maxOccurs="1" minOccurs="1"
    					type="pss:PerUnitXmlType">

    				</element>
    				<element name="xd11" type="pss:PerUnitXmlType"
    					maxOccurs="1" minOccurs="1">
    				</element>
    				<element name="Tdo1" type="pss:SecXmlType"
    					maxOccurs="1" minOccurs="1">
    				</element>
    				<element name="Td011" type="pss:SecXmlType"
    					maxOccurs="1" minOccurs="1">
    				</element>
    				<element name="xq" maxOccurs="1" minOccurs="1"
    					type="pss:PerUnitXmlType">

    				</element>
    				<element name="xq1" maxOccurs="1" minOccurs="1"
    					type="pss:PerUnitXmlType">

    				</element>
    				<element name="xq11" type="pss:PerUnitXmlType"
    					maxOccurs="1" minOccurs="1">
    				</element>
    				<element name="Tq01" maxOccurs="1" minOccurs="1"
    					type="pss:SecXmlType">
    				</element>
    				<element name="Tq011" type="pss:SecXmlType"
    					maxOccurs="1" minOccurs="1">
    				</element>
    				<element name="H" type="pss:PerUnitXmlType"
    					maxOccurs="1" minOccurs="1">
    				</element>
    				<element name="D" type="pss:PerUnitXmlType"
    					maxOccurs="1" minOccurs="1">
    				</element>

    				<element name="E1" type="double" maxOccurs="1"
    					minOccurs="1">
    				</element>
    				<element name="SE1" type="double" maxOccurs="1"
    					minOccurs="1">
    				</element>
    				<element name="E2" type="double" maxOccurs="1"
    					minOccurs="1">
    				</element>
    				<element name="SE2" type="double" maxOccurs="1"
    					minOccurs="1">
    				</element>
    				<element name="AF" type="double" maxOccurs="1"
    					minOccurs="0">
    				</element>




    			</sequence>

    			</complexType>
    		</element>
    		<element name="subtransModel" maxOccurs="1" minOccurs="0">
    			<complexType>
    				<sequence>

    					<element name="genName" type="string"
    						maxOccurs="1" minOccurs="1">
    					</element>
                        <element name="genId" type="string" maxOccurs="1" minOccurs="0"></element>
                        <element name="desc" type="string" maxOccurs="1"
    						minOccurs="0">
    					</element>
    					<element name="basePower" type="double"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="basePowerUnit" type="string"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="numberofMachine" type="int"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="ra" maxOccurs="1" minOccurs="1"
    						type="pss:PerUnitXmlType">

    					</element>
    					<element name="xd" maxOccurs="1" minOccurs="1"
    						type="pss:PerUnitXmlType">

    					</element>
    					<element name="xd1" maxOccurs="1" minOccurs="1"
    						type="pss:PerUnitXmlType">

    					</element>
    					<element name="Tdo1" type="pss:SecXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="xq" maxOccurs="1" minOccurs="1"
    						type="pss:PerUnitXmlType">

    					</element>
    					<element name="xq1" maxOccurs="1" minOccurs="1"
    						type="pss:PerUnitXmlType">

    					</element>
    					<element name="Tq01" maxOccurs="1" minOccurs="1"
    						type="pss:SecXmlType">
    					</element>
    					<element name="H" type="pss:PerUnitXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="D" type="pss:PerUnitXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>

    					<element name="E1" type="double" maxOccurs="1"
    						minOccurs="1">
    					</element>
    					<element name="SE1" type="double" maxOccurs="1"
    						minOccurs="1">
    					</element>
    					<element name="E2" type="double" maxOccurs="1"
    						minOccurs="1">
    					</element>
    					<element name="SE2" type="double" maxOccurs="1"
    						minOccurs="1">
    					</element>
    					<element name="AF" type="double" maxOccurs="1"
    						minOccurs="0">
    					</element>
    				</sequence>

    			</complexType></element>
    	</sequence>
    </complexType>

    <complexType name="exciterModelListXmlType">
    	<sequence>
    		<element name="AC1A" maxOccurs="1" minOccurs="0">
    			<complexType>
    				<sequence>
    					<element name="exciterName" type="string"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="desc" type="string" maxOccurs="1"
    						minOccurs="1">
    					</element>
    					<element name="numberofMachine" type="int"
    						maxOccurs="1" minOccurs="1">
    					</element>

    					<element name="TR" type="pss:SecXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="TB" type="pss:SecXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="TC" type="pss:SecXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="KA" type="double" maxOccurs="1"
    						minOccurs="1">
    					</element>
    					<element name="TA" type="pss:SecXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="VAMAX" type="pss:PerUnitXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="VAMIN" type="pss:PerUnitXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="TE" type="pss:SecXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="KF" type="double" maxOccurs="1"
    						minOccurs="1">
    					</element>
    					<element name="TF" type="pss:SecXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="KC" type="double" maxOccurs="1"
    						minOccurs="1">
    					</element>
    					<element name="KD" type="double" maxOccurs="1"
    						minOccurs="1">
    					</element>
    					<element name="E1" type="double" maxOccurs="1"
    						minOccurs="1">
    					</element>
    					<element name="SE1" type="double" maxOccurs="1"
    						minOccurs="1">
    					</element>
    					<element name="E2" type="double" maxOccurs="1"
    						minOccurs="1">
    					</element>
    					<element name="SE2" type="double" maxOccurs="1"
    						minOccurs="1">
    					</element>
    					<element name="VRMAX" type="pss:PerUnitXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="VRMIN" type="pss:PerUnitXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>
    				</sequence>
    			</complexType>
    		</element>
    		<element name="AC2A" maxOccurs="1" minOccurs="0">
    			<complexType>
    				<sequence>
    					<element name="exciterName" type="string"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="desc" type="string" maxOccurs="1"
    						minOccurs="1">
    					</element>
    					<element name="numberofMachine" type="int"
    						maxOccurs="1" minOccurs="1">
    					</element>

    					<element name="TR" type="pss:SecXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="TB" type="pss:SecXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="TC" type="pss:SecXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="KA" type="double" maxOccurs="1"
    						minOccurs="1">
    					</element>
    					<element name="TA" type="pss:SecXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="VAMAX" type="pss:PerUnitXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="VAMIN" type="pss:PerUnitXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="KB" type="double" maxOccurs="1"
    						minOccurs="1">
    					</element>
    					<element name="VRMAX" type="pss:PerUnitXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="VRMIN" type="pss:PerUnitXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="TE" type="pss:SecXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="VFEMAX" type="pss:PerUnitXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="KH" type="double" maxOccurs="1"
    						minOccurs="1">
    					</element>
    					<element name="KF" type="double" maxOccurs="1"
    						minOccurs="1">
    					</element>
    					<element name="TF" type="pss:SecXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="KC" type="double" maxOccurs="1"
    						minOccurs="1">
    					</element>
    					<element name="KD" type="double" maxOccurs="1"
    						minOccurs="1">
    					</element>
    					<element name="KE" type="double" maxOccurs="1"
    						minOccurs="1">
    					</element>
    					<element name="E1" type="double" maxOccurs="1"
    						minOccurs="1">
    					</element>
    					<element name="SE1" type="double" maxOccurs="1"
    						minOccurs="1">
    					</element>
    					<element name="E2" type="double" maxOccurs="1"
    						minOccurs="1">
    					</element>
    					<element name="SE2" type="double" maxOccurs="1"
    						minOccurs="1">
    					</element>



    				</sequence>
    			</complexType>
    		</element>
    		<element name="IEEE1981ST1" maxOccurs="1" minOccurs="0">
    			<complexType>
    				<sequence>
    					<element name="exciterName" type="string"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="desc" type="string" maxOccurs="1"
    						minOccurs="1">
    					</element>
    					<element name="numberofMachine" type="int"
    						maxOccurs="1" minOccurs="1">
    					</element>

    					<element name="TR" type="double" maxOccurs="1"
    						minOccurs="1">
    					</element>
    					<element name="VIMAX" type="pss:PerUnitXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="VIMIN" type="pss:PerUnitXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="TB" type="pss:SecXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="TC" type="pss:SecXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="KA" type="double" maxOccurs="1"
    						minOccurs="1">
    					</element>
    					<element name="TA" type="pss:SecXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>



    					<element name="KF" type="double" maxOccurs="1"
    						minOccurs="1">
    					</element>
    					<element name="TF" type="pss:SecXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="KC" type="double" maxOccurs="1"
    						minOccurs="1">
    					</element>





    					<element name="VRMAX" type="pss:PerUnitXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="VRMIN" type="pss:PerUnitXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>
    				</sequence>
    			</complexType>
    		</element>
    		<element name="IEEE1981ST2" maxOccurs="1" minOccurs="0">
    			<complexType>
    				<sequence>
    					<element name="exciterName" type="string"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="desc" type="string" maxOccurs="1"
    						minOccurs="1">
    					</element>
    					<element name="numberofMachine" type="int"
    						maxOccurs="1" minOccurs="1">
    					</element>

    					<element name="TR" type="double" maxOccurs="1"
    						minOccurs="1">
    					</element>
    					<element name="VIMAX" type="pss:PerUnitXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="VIMIN" type="pss:PerUnitXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="TB" type="pss:SecXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="TC" type="pss:SecXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="KA" type="double" maxOccurs="1"
    						minOccurs="1">
    					</element>
    					<element name="TA" type="pss:SecXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>



    					<element name="KF" type="double" maxOccurs="1"
    						minOccurs="1">
    					</element>
    					<element name="TF" type="pss:SecXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="KC" type="double" maxOccurs="1"
    						minOccurs="1">
    					</element>





    					<element name="VRMAX" type="pss:PerUnitXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="VRMIN" type="pss:PerUnitXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>
    				</sequence>
    			</complexType>
    		</element>
    		<element name="IEEE1968T1A" maxOccurs="1" minOccurs="0">
    			<complexType>
    				<sequence>
    					<element name="exciterName" type="string"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="desc" type="string" maxOccurs="1"
    						minOccurs="1">
    					</element>
    					<element name="numberofMachine" type="int"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="KA" type="double" maxOccurs="1"
    						minOccurs="1">
    					</element>
    					<element name="TA" type="pss:SecXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="VRMAX" type="pss:PerUnitXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="VRMIN" type="pss:PerUnitXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="KE" type="double" maxOccurs="1"
    						minOccurs="1">
    					</element>
    					<element name="TE" type="pss:SecXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="KF" type="double" maxOccurs="1"
    						minOccurs="1">
    					</element>
    					<element name="TF" type="pss:SecXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="EFDMIN" type="pss:PerUnitXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="E1" type="double" maxOccurs="1"
    						minOccurs="1">
    					</element>
    					<element name="SE1" type="double" maxOccurs="1"
    						minOccurs="1">
    					</element>
    					<element name="EFDMAX" type="double"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="SEEFDMAX" type="double"
    						maxOccurs="1" minOccurs="1">
    					</element>
    			</sequence>		
    	</complexType></element>

    	
    
    	</sequence>
    </complexType>

    <complexType name="governorModelListXmlType">
    	<sequence>
    		<element name="IEEE1981Type1" maxOccurs="1" minOccurs="0"><complexType>
    		<sequence>
    					<element name="name" type="string" maxOccurs="1"
    						minOccurs="1">
    					</element>
    					<element name="desc" type="string" maxOccurs="1"
    						minOccurs="0">
    					</element>
    					<element name="basePower" type="double"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="basePowerUnit"
    						type="string" maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="numberofMachine" type="int"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="remoteLocatedBus" type="pss:IDRefRecordXmlType"
    						maxOccurs="1" minOccurs="0">
    					</element>
    					<element name="numberofMachineAtRemoteBus"
    						type="int" maxOccurs="1" minOccurs="0">
    					</element>
    					<element name="K" type="double" maxOccurs="1"
    						minOccurs="1">
    					</element>
    					<element name="T1" type="pss:SecXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="T2" type="pss:SecXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="T3" type="pss:SecXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="U0" maxOccurs="1"
    						minOccurs="1">
    						<simpleType>
    							<restriction base="string">
    								<enumeration value="PU"></enumeration>
    								<enumeration value="sec"></enumeration>
    							</restriction>
    						</simpleType>
    					</element>
    					<element name="UC" maxOccurs="1"
    						minOccurs="1">
    						<simpleType>
    							<restriction base="string">
    								<enumeration value="PU"></enumeration>
    								<enumeration value="sec"></enumeration>
    							</restriction>
    						</simpleType>
    					</element>
    					<element name="PMAX" type="string"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="PMIN" type="string"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="T4" type="pss:SecXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="K1" type="double" maxOccurs="1"
    						minOccurs="1">
    					</element>
    					<element name="K2" type="double" maxOccurs="1"
    						minOccurs="1">
    					</element>
    					<element name="T5" type="pss:SecXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>

    					<element name="K3" type="double" maxOccurs="1"
    						minOccurs="1">
    					</element>
    					<element name="K4" type="double" maxOccurs="1"
    						minOccurs="1">
    					</element>
    					<element name="T6" type="pss:SecXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>

    					<element name="K5" type="double" maxOccurs="1"
    						minOccurs="1">
    					</element>
    					<element name="K6" type="double" maxOccurs="1"
    						minOccurs="1">
    					</element>
    					<element name="T7" type="pss:SecXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>

    					<element name="K7" type="double" maxOccurs="1"
    						minOccurs="1">
    					</element>
    					<element name="K8" type="double" maxOccurs="1"
    						minOccurs="1">
    					</element>

    				</sequence>
    		</complexType></element>
    		<element name="IEEE1981Type2" maxOccurs="1" minOccurs="0"><complexType>
    		<sequence>
    					<element name="name" type="string" maxOccurs="1"
    						minOccurs="1">
    					</element>
    					<element name="desc" type="string" maxOccurs="1"
    						minOccurs="0">
    					</element>
    					<element name="basePower" type="double"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="basePowerUnit"
    						type="string" maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="numberofMachine" type="int"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="K" type="double" maxOccurs="1"
    						minOccurs="1">
    					</element>
    					<element name="T1" type="pss:SecXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="T2" type="pss:SecXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="T3" type="pss:SecXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="PMAX" type="string"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="PMIN" type="string"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="T4" type="pss:SecXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>
    				</sequence>
    		</complexType></element>
    		<element name="IEEE1981Type3" maxOccurs="1" minOccurs="0"><complexType>
    		<sequence>
    					<element name="name" type="string" maxOccurs="1"
    						minOccurs="1">
    					</element>
    					<element name="desc" type="string" maxOccurs="1"
    						minOccurs="0">
    					</element>
    					<element name="basePower" type="double"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="basePowerUnit"
    						type="string" maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="numberofMachine" type="int"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="TG" type="pss:SecXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="TP" type="pss:SecXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="U0" maxOccurs="1"
    						minOccurs="1">
    						<simpleType>
    							<restriction base="string">
    								<enumeration value="PU"></enumeration>
    								<enumeration value="sec"></enumeration>
    							</restriction>
    						</simpleType>
    					</element>
    					<element name="UC" maxOccurs="1"
    						minOccurs="1">
    						<simpleType>
    							<restriction base="string">
    								<enumeration value="PU"></enumeration>
    								<enumeration value="sec"></enumeration>
    							</restriction>
    						</simpleType>
    					</element>
    					<element name="PMAX" type="string"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="PMIN" type="string"
    						maxOccurs="1" minOccurs="1">
    					</element>

    					<element name="SIGMA" type="double"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="DELTA" type="double"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="TR" type="pss:SecXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="TW" type="pss:SecXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>

    					<element name="a11" type="double" maxOccurs="1" minOccurs="1"></element>
    			    	<element name="a13" type="double" maxOccurs="1" minOccurs="1"></element>
    					<element name="a21" type="double" maxOccurs="1" minOccurs="1"></element>
    					<element name="a23" type="double" maxOccurs="1" minOccurs="1"></element>
   			
    				</sequence>
    		</complexType></element>

    	</sequence>
    </complexType>
    <complexType name="stabilizerModelListXmlType">
    	<sequence>
    		<element name="IEEE1981Type" maxOccurs="1" minOccurs="0">
    			<complexType>
    				<sequence>
    					<element name="stabilizerName" type="string"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="desc" type="string" maxOccurs="1"
    						minOccurs="0">
    					</element>
    					<element name="numberofMachine" type="int"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="inputSignal" maxOccurs="1"
    						minOccurs="1">
    						<simpleType>
    							<restriction base="string">
    								<enumeration
    							value="rotorspeeddeviation">
    						</enumeration>
    						<enumeration
    							value="busfrequencydeviation">
    						</enumeration>
    						<enumeration
    							value="generatorelectricalpower">
    						</enumeration>
    						<enumeration
    							value="generatoracceleratingpower">
    						</enumeration>
    						<enumeration value="busvoltage">
    						</enumeration>
    						<enumeration
    							value="deriavativeofbusvoltage">
    						</enumeration>
    							</restriction>
    						</simpleType>
    					</element>
    					<element name="remoteBusId" type="pss:IDRefRecordXmlType"
    						maxOccurs="1" minOccurs="0">
    					</element>
    					<element name="A1" type="double" maxOccurs="1"
    						minOccurs="1">
    					</element>
    					<element name="A2" type="double" maxOccurs="1"
    						minOccurs="1">
    					</element>
    					<element name="A3" type="double" maxOccurs="1"
    						minOccurs="1">
    					</element>
    					<element name="A4" type="double" maxOccurs="1"
    						minOccurs="1">
    					</element>
    					<element name="A5" type="double" maxOccurs="1"
    						minOccurs="1">
    					</element>
    					<element name="A6" type="double" maxOccurs="1"
    						minOccurs="1">
    					</element>
    					<element name="T1" type="pss:SecXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="T2" type="pss:SecXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="T3" type="pss:SecXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="T4" type="pss:SecXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="T5" type="pss:SecXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="T6" type="pss:SecXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>


    					<element name="KS" type="double" maxOccurs="1"
    						minOccurs="1">
    					</element>
    					<element name="LSMAX" type="double"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="LSMIN" type="double"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="VCU" type="string" maxOccurs="1"
    						minOccurs="1">
    					</element>
    					<element name="VCL" type="string" maxOccurs="1"
    						minOccurs="1">
    					</element>
    				</sequence>
    			</complexType>
    		</element>
    		<element name="IEEE1982Type2A" maxOccurs="1"
    			minOccurs="0">
    			<complexType>
    				<sequence>
    					<element name="stabilizerName" type="string"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="desc" type="string" maxOccurs="1"
    						minOccurs="0">
    					</element>
    					<element name="numberofMachine" type="int"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="firstInputSignal" maxOccurs="1"
    						minOccurs="1">
    						<simpleType>
    							<restriction base="string">
    								<enumeration
    							value="rotorspeeddeviation">
    						</enumeration>
    						<enumeration
    							value="busfrequencydeviation">
    						</enumeration>
    						<enumeration
    							value="generatorelectricalpower">
    						</enumeration>
    						<enumeration
    							value="generatoracceleratingpower">
    						</enumeration>
    						<enumeration value="busvoltage">
    						</enumeration>
    						<enumeration
    							value="deriavativeofbusvoltage">
    						</enumeration>
    							</restriction>
    						</simpleType>
    					</element>
    					<element name="firstRemoteBusId" type="pss:IDRefRecordXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="secondInputSignal" maxOccurs="1"
    						minOccurs="1">
    						<simpleType>
    							<restriction base="string">
    								<enumeration
    							value="rotorspeeddeviation">
    						</enumeration>
    						<enumeration
    							value="busfrequencydeviation">
    						</enumeration>
    						<enumeration
    							value="generatorelectricalpower">
    						</enumeration>
    						<enumeration
    							value="generatoracceleratingpower">
    						</enumeration>
    						<enumeration value="busvoltage">
    						</enumeration>
    						<enumeration
    							value="deriavativeofbusvoltage">
    						</enumeration>
    							</restriction>
    						</simpleType>
    					</element>
    					<element name="secondRemoteBusId" type="pss:IDRefRecordXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="M" type="double" maxOccurs="1"
    						minOccurs="1">
    					</element>
    					<element name="N" type="double" maxOccurs="1"
    						minOccurs="1">
    					</element>
    					<element name="TW1" type="pss:SecXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="TW2" type="pss:SecXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="T6" type="pss:SecXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="TW3" type="pss:SecXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="TW4" type="pss:SecXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="T7" type="pss:SecXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>


    					<element name="KS2" type="double" maxOccurs="1"
    						minOccurs="1">
    					</element>
    					<element name="KS3" type="double" maxOccurs="1"
    						minOccurs="1">
    					</element>
    					<element name="T8" type="pss:SecXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="T9" type="pss:SecXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="KS1" type="double" maxOccurs="1"
    						minOccurs="1">
    					</element>
    					<element name="T1" type="pss:SecXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="T2" type="pss:SecXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="T3" type="pss:SecXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="T4" type="pss:SecXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="VSTMAX" type="string"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="VSTMIN" type="string"
    						maxOccurs="1" minOccurs="1">
    					</element>
    				</sequence>
    			</complexType>
    		</element>

    		<element name="IEE2ST" maxOccurs="1" minOccurs="0">
    		<complexType>
    		<sequence>
    			<element name="stabilizerName" type="string"
    				maxOccurs="1" minOccurs="1">
    			</element>
    			<element name="desc" type="string" maxOccurs="1"
    				minOccurs="0">
    			</element>
    			<element name="numberofMachine" type="int" maxOccurs="1"
    				minOccurs="1">
    			</element>
    			<element name="firstInputSignal" maxOccurs="1"
    				minOccurs="1">
    				<simpleType>
    					<restriction base="string">
    						<enumeration
    							value="rotorspeeddeviation">
    						</enumeration>
    						<enumeration
    							value="busfrequencydeviation">
    						</enumeration>
    						<enumeration
    							value="generatorelectricalpower">
    						</enumeration>
    						<enumeration
    							value="generatoracceleratingpower">
    						</enumeration>
    						<enumeration value="busvoltage">
    						</enumeration>
    						<enumeration
    							value="deriavativeofbusvoltage">
    						</enumeration>
    					</restriction>
    				</simpleType>
    			</element>
    			<element name="firstRemoteBusId" type="pss:IDRefRecordXmlType" maxOccurs="1"
    				minOccurs="1">
    			</element>
    			<element name="secondInputSignal" maxOccurs="1"
    				minOccurs="1">
    				<simpleType>
    					<restriction base="string">
    						<enumeration
    							value="rotorspeeddeviation">
    						</enumeration>
    						<enumeration
    							value="busfrequencydeviation">
    						</enumeration>
    						<enumeration
    							value="generatorelectricalpower">
    						</enumeration>
    						<enumeration
    							value="generatoracceleratingpower">
    						</enumeration>
    						<enumeration value="busvoltage">
    						</enumeration>
    						<enumeration
    							value="deriavativeofbusvoltage">
    						</enumeration>
    					</restriction>
    				</simpleType>
    			</element>
    			<element name="secondRemoteBusId" type="pss:IDRefRecordXmlType"
    				maxOccurs="1" minOccurs="1">
    			</element>
    			<element name="K1" type="double" maxOccurs="1"
    				minOccurs="1">
    			</element>
    			<element name="K2" type="double" maxOccurs="1"
    				minOccurs="1">
    			</element>
    			<element name="T1" type="pss:SecXmlType" maxOccurs="1"
    				minOccurs="1">
    			</element>
    			<element name="T2" type="pss:SecXmlType" maxOccurs="1"
    				minOccurs="1">
    			</element>
    			<element name="T3" type="pss:SecXmlType" maxOccurs="1"
    				minOccurs="1">
    			</element>
    			<element name="T4" type="pss:SecXmlType" maxOccurs="1"
    				minOccurs="1">
    			</element>
    			<element name="T5" type="pss:SecXmlType" maxOccurs="1"
    				minOccurs="1">
    			</element>
    			<element name="T6" type="pss:SecXmlType" maxOccurs="1"
    				minOccurs="1">
    			</element>
    			<element name="T7" type="pss:SecXmlType" maxOccurs="1"
    				minOccurs="1">
    			</element>
    			<element name="T8" type="pss:SecXmlType" maxOccurs="1"
    				minOccurs="1">
    			</element>
    			<element name="T9" type="pss:SecXmlType" maxOccurs="1"
    				minOccurs="1">
    			</element>
    			<element name="T10" type="pss:SecXmlType" maxOccurs="1"
    				minOccurs="1">
    			</element>


    			<element name="VSMAX" type="pss:PerUnitXmlType"
    				maxOccurs="1" minOccurs="1">
    			</element>
    			<element name="VSMIN" type="pss:PerUnitXmlType"
    				maxOccurs="1" minOccurs="1">
    			</element>
    			<element name="VCU" type="pss:PercentXmlType"
    				maxOccurs="1" minOccurs="0">
    			</element>
    			<element name="VCL" type="pss:PercentXmlType"
    				maxOccurs="1" minOccurs="0">
    			</element>
    			<element name="VCUTOFF" type="pss:PercentXmlType" maxOccurs="1" minOccurs="0"></element>
    		</sequence>
    		</complexType></element>
    	</sequence>
    </complexType>
    <complexType name="dynLoadModelListXmlType">
    	<sequence>
    		<element name="IEEELoad" maxOccurs="1" minOccurs="0"><complexType>
    		<sequence>
                        <element name="modelDesc" maxOccurs="1" minOccurs="1"><simpleType><restriction base="string">
    					<enumeration value="compoundLoad"></enumeration>
  					
    					</restriction></simpleType></element>
                        <element name="LoadId" type="string"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="location" maxOccurs="1"
    						minOccurs="1">
    						<simpleType>
    							<restriction base="string">
    								<enumeration value="atBus"></enumeration>
    								<enumeration value="atOwner"></enumeration>
    								<enumeration value="atZone"></enumeration>
    								<enumeration value="atArea"></enumeration>
    								<enumeration value="other"></enumeration>
    							</restriction>
    						</simpleType>
    					</element>
    					<element name="locationId" type="pss:IDRefRecordXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>

    					<element name="a1" type="double" maxOccurs="1"
    						minOccurs="1">
    					</element>
    					<element name="a2" type="double" maxOccurs="1"
    						minOccurs="1">
    					</element>
    					<element name="a3" type="double" maxOccurs="1"
    						minOccurs="1">
    					</element>
                        <element name="a4" type="double" maxOccurs="1"
    						minOccurs="1">
    					</element>
    					<element name="a5" type="double" maxOccurs="1"
    						minOccurs="1">
    					</element>
    					<element name="a6" type="double" maxOccurs="1"
    						minOccurs="1">
    					</element>
    					<element name="a7" type="double" maxOccurs="1"
    						minOccurs="1">
    					</element>
    					<element name="a8" type="double" maxOccurs="1"
    						minOccurs="1">
    					</element>
    					<element name="n1" type="double" maxOccurs="1"
    						minOccurs="1">
    					</element>
    					<element name="n2" type="double" maxOccurs="1"
    						minOccurs="1">
    					</element>
    					<element name="n3" type="double" maxOccurs="1"
    						minOccurs="1">
    					</element>
    					<element name="n4" type="double" maxOccurs="1"
    						minOccurs="1">
    					</element>
    					<element name="n5" type="double" maxOccurs="1"
    						minOccurs="1">
    					</element>
    					<element name="n6" type="double" maxOccurs="1"
    						minOccurs="1">
    					</element>

    				</sequence>
    		</complexType></element>
    		<element name="ComplexLoad" maxOccurs="1" minOccurs="0"><complexType>
    		<sequence>
    					<element name="modelDesc" maxOccurs="1"
    						minOccurs="1">
    						<simpleType>
    							<restriction base="string">
    								<enumeration
    									value="complexLoad">
    								</enumeration>
    							</restriction>
    						</simpleType>
    					</element>
    					<element name="LoadId" type="string"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="location" maxOccurs="1"
    						minOccurs="1">
    						<simpleType>
    							<restriction base="string">
    								<enumeration value="atBus"></enumeration>
    								<enumeration value="atOwner"></enumeration>
    								<enumeration value="atZone"></enumeration>
    								<enumeration value="atArea"></enumeration>
    								<enumeration value="other"></enumeration>
    							</restriction>
    						</simpleType>
    					</element>
    					<element name="locationId" type="pss:IDRefRecordXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>

    					<element name="largeMotPercent"
    						type="pss:PercentXmlType" maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="smallMotPercent"
    						type="pss:PercentXmlType" maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="transExcCurPercent"
    						type="pss:PercentXmlType" maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="dischLightingPercent"
    						type="pss:PercentXmlType" maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="constPowerPercent"
    						type="pss:PercentXmlType" maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="remainPercent"
    						type="pss:PercentXmlType" maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="branchR" type="string"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="branchX" type="string" maxOccurs="1" minOccurs="1"></element>
    				</sequence>
    		</complexType></element>
    		<element name="InductionMotor" maxOccurs="1" minOccurs="0"><complexType>
    		<sequence>
    					<element name="modelDesc" maxOccurs="1"
    						minOccurs="1">
    						<simpleType>
    							<restriction base="string">
    								<enumeration
    									value="inductionmotor">
    								</enumeration>
    							</restriction>
    						</simpleType>
    					</element>
    					<element name="LoadId" type="string"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="location" maxOccurs="1"
    						minOccurs="1">
    						<simpleType>
    							<restriction base="string">
    								<enumeration value="atBus"></enumeration>
    								<enumeration value="atOwner"></enumeration>
    								<enumeration value="atZone"></enumeration>
    								<enumeration value="atArea"></enumeration>
    								<enumeration value="other"></enumeration>
    							</restriction>
    						</simpleType>
    					</element>
    					<element name="locationId" type="pss:IDRefRecordXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>

    					<element name="motorType" maxOccurs="1"
    						minOccurs="1">
    						<simpleType>
    							<restriction base="string">
    								<enumeration value="type1"></enumeration>
    								<enumeration value="type2"></enumeration>
    							</restriction>
    						</simpleType>
    					</element>
    					<element name="RA" type="string"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="XA" type="string"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="XM" type="string"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="R1" type="string"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="X1" type="string"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="R2" type="string"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="X2" type="string"
    						maxOccurs="1" minOccurs="1">
    					</element>


    					<element name="E1" type="double" maxOccurs="1"
    						minOccurs="1">
    					</element>
    					<element name="SE1" type="double" maxOccurs="1"
    						minOccurs="1">
    					</element>
    					<element name="E2" type="double" maxOccurs="1"
    						minOccurs="1">
    					</element>
    					<element name="SE2" type="double" maxOccurs="1"
    						minOccurs="1">
    					</element>


    					<element name="MBASE" type="double"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="PMULT" type="double"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="H" type="string"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="VI" type="string"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="TI" maxOccurs="1" minOccurs="1"
    						type="pss:CycleXmlType">
    					</element>
    					<element name="TB" type="pss:CycleXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="D" type="double" maxOccurs="1"
    						minOccurs="1">
    					</element>
    					<element name="Tnom" type="string" maxOccurs="1" minOccurs="0"></element>
    				</sequence>
    		</complexType></element>
    	</sequence>
    </complexType>
    

    <complexType name="BranchDynDataListXmlType">
    	<sequence>
    		<element name="lineRelayDataList" type="pss:lineRelayDataListXmlType" maxOccurs="1" minOccurs="0"></element>
    	</sequence>
    </complexType>

    <complexType name="lineRelayDataListXmlType">
    	<sequence>
    		<element name="lineRelay" type="pss:lineRelayXmlType" maxOccurs="1" minOccurs="0"></element>
    	</sequence>
    </complexType>

    <complexType name="lineRelayXmlType">
    	<sequence>
    		<element name="lineRelayType" maxOccurs="1" minOccurs="1">
    			<simpleType>
    				<restriction base="string">
    				<enumeration value="TIOCR1"></enumeration>
    				<enumeration value="distanceRelay"></enumeration>

    				</restriction>
    			</simpleType>
    		</element>
    		<element name="lineRelayModel" type="pss:lineRelayModelListXmlType" maxOccurs="1" minOccurs="1"></element>
    	</sequence>
    </complexType>

    <complexType name="lineRelayModelListXmlType">
    	<sequence>
    		<element name="TIOCR1" maxOccurs="1" minOccurs="0">
    			<complexType></complexType>
    		</element>
    		<element name="distanceRelay" maxOccurs="1" minOccurs="0"><complexType></complexType></element>
    	</sequence>
    </complexType>

    <complexType name="PerUnitXmlType">
    <sequence>
    		<element name="value" type="double" maxOccurs="1"
    			minOccurs="1">
    		</element>
    		<element name="unit" maxOccurs="1" minOccurs="1">
  
                <simpleType><restriction base="string">
                <enumeration value="PU"></enumeration>
                </restriction></simpleType>
            </element>
        <element name="baseValue" type="pss:BasePowerXmlType" maxOccurs="1"
    			minOccurs="1">
    		</element>
    	</sequence>   
    </complexType>

    <complexType name="BasePowerXmlType">
    <sequence>
    		<element name="value" type="double" maxOccurs="1"
    			minOccurs="1">
    		</element>
    		<element name="unit" maxOccurs="1" minOccurs="1"><simpleType><restriction base="string">
    		<enumeration value="KVA"></enumeration>
    		<enumeration value="MVA"></enumeration>
    		</restriction></simpleType></element>
    	</sequence>
    </complexType>

    <complexType name="CycleXmlType">
    <sequence>
    		<element name="value" type="double" maxOccurs="1"
    			minOccurs="1">
    		</element>
    		<element name="unit" maxOccurs="1" minOccurs="1"><simpleType><restriction base="string">
    		<enumeration value="Cycle"></enumeration>
    		</restriction></simpleType></element>
    	</sequence>
    </complexType>

    <complexType name="SecXmlType">
    	<sequence>
    		<element name="value" type="double" maxOccurs="1"
    			minOccurs="1">
    		</element>
    		<element name="unit" maxOccurs="1" minOccurs="1"><simpleType><restriction base="string">
    	     <enumeration value="sec"></enumeration>       		
    		</restriction></simpleType></element>
    	</sequence>
    </complexType>

    <complexType name="PercentXmlType">
    <sequence>
    		<element name="value" type="double" maxOccurs="1"
    			minOccurs="1">
    		</element>
    		<element name="unit" maxOccurs="1" minOccurs="1"><simpleType><restriction base="string">
    		<enumeration value="percent"></enumeration>
    		</restriction></simpleType></element>
    	</sequence>
    </complexType>

    <complexType name="FaultListXmlType">
    	<sequence>
    		<element name="fault" maxOccurs="unbounded" minOccurs="1">
    			<complexType>
    				<sequence>
    					<element name="faultType" maxOccurs="1"
    						minOccurs="1">
    						<simpleType>
    							<restriction base="string">
    								<enumeration value="busFault"></enumeration>
    								<enumeration value="branchFault"></enumeration>
    								<enumeration value="branchOutage"></enumeration>
    								<enumeration value="loadChange"></enumeration>
    							</restriction>
    						</simpleType>
    					</element>

    					<element name="branchFault" maxOccurs="1"
    						minOccurs="0">
    						<complexType>
    							<sequence>
    								<element name="faultCategory"
    									type="pss:FaunltCateGoryXmlType" maxOccurs="1"
    									minOccurs="1">
    								</element>
    								<element name="faultedBus"
    									type="pss:IDRefRecordXmlType" maxOccurs="1"
    									minOccurs="1">
    								</element>
    								<element name="faultedBusRatedV"
    									type="pss:VoltageXmlType" maxOccurs="1" minOccurs="0">
    								</element>
    								<element name="remoteEndBus"
    									type="pss:IDRefRecordXmlType" maxOccurs="1"
    									minOccurs="0">
    								</element>
    								<element name="remoteEndBusRatedV"
    									type="pss:VoltageXmlType" maxOccurs="1" minOccurs="0">
    								</element>

    								<element name="faultStartTime"
    									type="pss:CycleXmlType" maxOccurs="1" minOccurs="0">
    								</element>
    								<element name="faultDurationTime"
    									type="pss:CycleXmlType" maxOccurs="1" minOccurs="0">
    								</element>
    								<element name="faultZ"
    									type="pss:ZXmlType" maxOccurs="1" minOccurs="0">
    								</element>
    								<element
    									name="faultLocationFromFromSide" type="pss:PercentXmlType"
    									maxOccurs="1" minOccurs="0">
    								</element>
    								<element name="permanentFault"
    									type="boolean" maxOccurs="1" minOccurs="0">
    								</element>
    							</sequence>
    						</complexType>
    					</element>
    					<element name="busFault" maxOccurs="1"
    						minOccurs="0">
    						<complexType>
    							<sequence>
    								<element name="faultCategory"
    									type="pss:FaunltCateGoryXmlType" maxOccurs="1"
    									minOccurs="1">
    								</element>
    								<element name="fromBus"
    									type="pss:IDRefRecordXmlType" maxOccurs="1"
    									minOccurs="1">
    								</element>
    								<element name="fromBusRatedV"
    									type="pss:VoltageXmlType" maxOccurs="1" minOccurs="0">
    								</element>
    								<element name="toBus"
    									type="pss:IDRefRecordXmlType" maxOccurs="1"
    									minOccurs="0">
    								</element>
    								<element name="toBusRatedV"
    									type="pss:VoltageXmlType" maxOccurs="1" minOccurs="0">
    								</element>

    								<element name="faultStartTime"
    									type="pss:CycleXmlType" maxOccurs="1" minOccurs="0">
    								</element>
    								<element name="faultDurationTime"
    									type="pss:CycleXmlType" maxOccurs="1" minOccurs="0">
    								</element>
    								<element name="faultZ"
    									type="pss:ZXmlType" maxOccurs="1" minOccurs="0">
    								</element>
    								<element name="permanentFault"
    									type="boolean" maxOccurs="1" minOccurs="0">
    								</element>
    							</sequence>
    						</complexType>
    					</element>
    					<element name="branchOutage" maxOccurs="1"
    						minOccurs="0">
    						<complexType>

    							<sequence>
    								<element name="faultCategory"
    									type="pss:FaunltCateGoryXmlType" maxOccurs="1" minOccurs="0">
    								</element>
    							</sequence>
    						</complexType>
    					</element>
    					<element name="loadChange" maxOccurs="1" minOccurs="0">
    						<complexType>
    							<sequence>
    								<element name="loadChangeCategory"
    									maxOccurs="1" minOccurs="0">
    									<simpleType>
    										<restriction
    											base="string">
    											<enumeration
    												value="low_frequence">
    											</enumeration>
    											<enumeration
    												value="low_Voltage">
    											</enumeration>
    											<enumeration
    												value="fixedtime">
    											</enumeration>
    										</restriction>
    									</simpleType>
    								</element>
    								<element name="busId"
    									type="pss:IDRefRecordXmlType" maxOccurs="1"
    									minOccurs="0">
    								</element>
    								<element name="busRatedVoltage"
    									type="pss:VoltageXmlType" maxOccurs="1" minOccurs="0">
    								</element>
    								<element name="generatorId"
    									type="string" maxOccurs="1" minOccurs="0">
    								</element>
    								<element name="operationTime"
    									type="string" maxOccurs="1" minOccurs="0">
    								</element>
    								<element name="operateAtFrequence"
    									type="pss:FrequencyXmlType" maxOccurs="1" minOccurs="0">
    								</element>
    								<element name="operateAtVoltage"
    									type="pss:VoltageXmlType" maxOccurs="1" minOccurs="0">
    								</element>
    								<element name="operationDelayTime"
    									type="pss:CycleXmlType" maxOccurs="1" minOccurs="0">
    								</element>
    								<element name="constantPChange"
    									type="pss:PowerXmlType" maxOccurs="1" minOccurs="0">
    								</element>
    								<element name="constantIChange"
    									type="pss:PowerXmlType" maxOccurs="1" minOccurs="0">
    								</element>
    								<element name="constantZChange"
    									type="pss:PowerXmlType" maxOccurs="1" minOccurs="0">
    								</element>
    								<element name="GenChange"
    									type="pss:PowerXmlType" maxOccurs="1" minOccurs="0">
    								</element>
    							</sequence>
    						</complexType></element>
    				</sequence>
    			</complexType></element>
    	</sequence>
    </complexType>




    <simpleType name="FaunltCateGoryXmlType">
    	<restriction base="string">
    	<enumeration value="3Phase"></enumeration>
    	<enumeration value="lineToLine"></enumeration>
    	<enumeration value="lineToGround"></enumeration>
    	<enumeration value="lineLineToGround"></enumeration>
    	</restriction>
    </simpleType>
</schema>