ieee.odm_pss/schema/ODM_DataType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.ieee.org/cmte/psace/oss/odm/pss/Schema/v1" xmlns:pss="http://www.ieee.org/cmte/psace/oss/odm/pss/Schema/v1"
	elementFormDefault="qualified">

	<include schemaLocation="ODM_UnitType.xsd"></include>
	<annotation>
		<documentation>Copyright www.interpss.org 2008</documentation>
	</annotation>
	<complexType name="BaseRecordXmlType">
		<sequence>
			<element name="desc" type="string" minOccurs="0" maxOccurs="1"></element>
			<element name="isoCode" type="string" minOccurs="0" maxOccurs="1"></element>
			<element name="normalOffLineStatus" type="boolean" minOccurs="0"></element>
			<element name="ownerList" minOccurs="0" maxOccurs="1">
				<complexType>
					<sequence>
						<element name="owner" maxOccurs="unbounded" minOccurs="0">
							<complexType>
								<attribute name="id" type="string" use="required"></attribute>
								<attribute name="name" type="string" use="optional"></attribute>
								<attribute name="number" type="int" use="optional"></attribute>
								<attribute name="ownership" type="double" use="optional"></attribute>
							</complexType>
						</element>
					</sequence>
				</complexType>
			</element>
			<element name="nvPairList" type="pss:NameValuePairListXmlType" minOccurs="0" maxOccurs="1"></element>
			<element name="extension" type="anySimpleType" minOccurs="0"></element>
		</sequence>

		<attribute name="name" type="string" use="optional"></attribute>
		<attribute name="areaNumber" type="int" use="optional"></attribute>
		<attribute name="zoneNumber" type="int" use="optional"></attribute>
		<attribute name="number" type="long" use="optional"></attribute>

		<attribute name="offLine" type="boolean" use="optional"></attribute>
	</complexType>

	<complexType name="IDRecordXmlType">
		<complexContent>
			<extension base="pss:BaseRecordXmlType">
				<sequence>

				</sequence>
				<attribute name="id" type="ID" use="required"></attribute>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="IDRefRecordXmlType">
		<complexContent>
			<extension base="pss:BaseRecordXmlType">
				<sequence>
				</sequence>
				<attribute name="idRef" type="IDREF" use="required"></attribute>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="BusRefRecordXmlType">
		<complexContent>
			<extension base="pss:IDRefRecordXmlType">
				<sequence>
				</sequence>
				<attribute name="windingType" type="pss:BusWindingEnumType" use="optional">
					<annotation>
						<documentation>optional, for indicating bus xfr winding type (Primary, Secondary or tertiary)</documentation>
					</annotation></attribute>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="NameValuePairXmlType">
		<sequence>
			<element name="name" type="string" minOccurs="1" maxOccurs="1"></element>
			<element name="value" type="string" minOccurs="1" maxOccurs="1"></element>
		</sequence>
	</complexType>

	<complexType name="NameValuePairListXmlType">
		<sequence>
			<element name="nvPair" type="pss:NameValuePairXmlType" minOccurs="0" maxOccurs="unbounded"></element>
		</sequence>
	</complexType>

	<complexType name="BaseDoubleXmlType">
		<attribute name="value" type="double" use="required"></attribute>
	</complexType>

	<complexType name="LimitXmlType">
		<attribute name="max" type="double" use="required"></attribute>
		<attribute name="min" type="double" use="required"></attribute>
	</complexType>

	<complexType name="ComplexXmlType">
		<attribute name="re" type="double" use="optional"></attribute>
		<attribute name="im" type="double" use="required"></attribute>
	</complexType>

	<complexType name="ZXmlType">
		<complexContent>
			<extension base="pss:ComplexXmlType">
				<attribute name="unit" use="required" type="pss:ZUnitType">
				</attribute>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="RXmlType">
		<attribute name="r" type="double" use="required"></attribute>
		<attribute name="unit" use="required" type="pss:ZUnitType"></attribute>
	</complexType>
	<complexType name="YXmlType">
		<complexContent>
			<extension base="pss:ComplexXmlType">
				<attribute name="unit" use="required" type="pss:YUnitType">
				</attribute>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="GXmlType">
		<attribute name="g" type="double" use="required"></attribute>
		<attribute name="unit" use="required" type="pss:YUnitType"></attribute>
	</complexType>
	<complexType name="XformerZTableXmlType">
		<sequence>
			<element name="XformerZTableItem" minOccurs="0" maxOccurs="unbounded">
				<complexType>
					<sequence>
						<element name="number" type="int" minOccurs="1"></element>
						<element name="lookup" minOccurs="0" maxOccurs="unbounded">
							<complexType>
								<sequence>
									<element name="turnRatioShiftAngle" type="double" minOccurs="1"></element>
									<element name="scaleFactor" type="double" minOccurs="1"></element>
								</sequence>

							</complexType></element>
					</sequence>
				</complexType>
			</element>

		</sequence>
	</complexType>	
	<complexType name="PowerXmlType">
		<complexContent>
			<extension base="pss:ComplexXmlType">
				<attribute name="unit" use="required" type="pss:ApparentPowerUnitType">
				</attribute>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="ActivePowerXmlType">
		<complexContent>
			<extension base="pss:BaseDoubleXmlType">
				<attribute name="unit" use="required" type="pss:ActivePowerUnitType">
				</attribute>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="ReactivePowerXmlType">
		<complexContent>
			<extension base="pss:BaseDoubleXmlType">
				<attribute name="unit" use="required" type="pss:ReactivePowerUnitType">
				</attribute>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="TurnRatioXmlType">
		<complexContent>
			<extension base="pss:BaseDoubleXmlType">
				<attribute name="unit" use="required" type="pss:TapUnitType">
				</attribute>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="VoltageXmlType">
		<complexContent>
			<extension base="pss:BaseDoubleXmlType">

				<attribute name="unit" type="pss:VoltageUnitType" use="required"></attribute>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="AngleXmlType">
		<complexContent>
			<extension base="pss:BaseDoubleXmlType">
				<attribute name="unit" use="required" type="pss:AngleUnitType">
				</attribute>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="CurrentXmlType">
		<complexContent>
			<extension base="pss:BaseDoubleXmlType">
				<attribute name="unit" use="required" type="pss:CurrentUnitType">
				</attribute>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="AdjustmentDataXmlType">
        <annotation>
        	<documentation>There are two adj modes: ValueAdjustment and RangeAdjustment. For ValueAdjustment, the desiredValue is used. For RangeAdjustment, 
max and min are used.</documentation>
        </annotation>
        <complexContent>
			<extension base="pss:LimitXmlType">
				<attribute name="mode" use="required">
					<simpleType>
						<restriction base="string">
							<enumeration value="ValueAdjustment"></enumeration>
							<enumeration value="RangeAdjustment"></enumeration>
						</restriction>
					</simpleType>
				</attribute>
				<attribute name="desiredValue" type="double" use="required"></attribute>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="LengthXmlType">
		<complexContent>
			<extension base="pss:BaseDoubleXmlType">
				<attribute name="unit" use="required" type="pss:LengthUnitType">
				</attribute>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="FrequencyXmlType">
		<complexContent>
			<extension base="pss:BaseDoubleXmlType">
				<attribute name="unit" use="required" type="pss:FrequencyUnitType">
				</attribute>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="TimePeriodXmlType">
		<complexContent>
			<extension base="pss:BaseDoubleXmlType">
				<attribute name="unit" use="required" type="pss:TimePeriodUnitType">
				</attribute>
			</extension>
		</complexContent>
	</complexType>
	<!--
		<complexType name="PerUnitXmlType"> <sequence> <element name="value" type="double" maxOccurs="1" minOccurs="1"> </element> <element name="unit" maxOccurs="1" minOccurs="1"> <simpleType> <restriction
		base="string"> <enumeration value="PU"></enumeration> </restriction> </simpleType> </element> </sequence> </complexType>
	-->
	<complexType name="ApparentPowerXmlType">
		<complexContent>
			<extension base="pss:BaseDoubleXmlType">
				<attribute name="unit" use="required" type="pss:ApparentPowerUnitType">
				</attribute>
			</extension>
		</complexContent>
	</complexType>
	<!--
		<complexType name="PercentXmlType"> <sequence> <element name="value" type="double" maxOccurs="1" minOccurs="1"> </element> <element name="unit" maxOccurs="1" minOccurs="1"> <simpleType> <restriction
		base="string"> <enumeration value="percent"></enumeration> </restriction> </simpleType> </element> </sequence> </complexType>
	-->
	<complexType name="LineZeroSeqXmlType">
		<sequence>
			<element name="zLine" type="pss:ZXmlType" maxOccurs="1" minOccurs="0"></element>
			<element name="yLiner" type="pss:YXmlType" maxOccurs="1" minOccurs="0"></element>
			<element name="yFromSide" type="pss:YXmlType" maxOccurs="1" minOccurs="0"></element>
			<element name="yToSide" type="pss:YXmlType" maxOccurs="1" minOccurs="0"></element>
		</sequence>
	</complexType>

	<complexType name="TransformerZeroSeqXmlType">
		<sequence>
			<element name="conectionLocation" maxOccurs="1" minOccurs="1">
				<simpleType>
					<restriction base="string">
						<enumeration value="AtBus1"></enumeration>
						<enumeration value="AtBus2"></enumeration>
						<enumeration value="BetweenBus1nBus2"></enumeration>
					</restriction>
				</simpleType>
			</element>
			<element name="zG" type="pss:ZXmlType" maxOccurs="1" minOccurs="0"></element>
			<element name="z1" type="pss:ZXmlType" maxOccurs="1" minOccurs="0"></element>
			<element name="z2" type="pss:ZXmlType" maxOccurs="1" minOccurs="0"></element>
			<element name="z3" type="pss:ZXmlType" maxOccurs="1" minOccurs="0"></element>
		</sequence>
	</complexType>
	<complexType name="MutualZeroZXmlType">
		<sequence>
			<element name="branchFromBus" type="pss:IDRefRecordXmlType" maxOccurs="1" minOccurs="1"></element>
			<element name="branchToBus" type="pss:IDRefRecordXmlType" maxOccurs="1" minOccurs="1"></element>
			<element name="branchCirId" type="string" maxOccurs="1" minOccurs="0"></element>
			<element name="zM" type="pss:ZXmlType" maxOccurs="1" minOccurs="0"></element>
			<element name="bIJ1pu" type="double" maxOccurs="1" minOccurs="0"></element>
			<element name="bIJ2pu" type="double" maxOccurs="1" minOccurs="0"></element>
			<element name="bKL1pu" type="double" maxOccurs="1" minOccurs="0"></element>
			<element name="bKL2pu" type="double" maxOccurs="1" minOccurs="0"></element>
		</sequence>
	</complexType>

	<complexType name="FaultXmlType">
		<sequence>
			<element name="faultType" maxOccurs="1" minOccurs="1" type="pss:FaultTypeEnumType"></element>
			<choice>
				<element name="branchFault" maxOccurs="1" minOccurs="0" type="pss:BranchFaultXmlType"></element>
				<element name="busFault" maxOccurs="1" minOccurs="0" type="pss:BusFaultXmlType"></element>
				<element name="dcLineFault" maxOccurs="1" minOccurs="0" type="pss:DcLineFaultXmlType"></element>
				<element name="branchOutage" maxOccurs="1" minOccurs="0" type="pss:BranchOutageXmlType"></element>
				<element name="loadChange" maxOccurs="1" minOccurs="0" type="pss:LoadChangeDynamicEventXmlType"></element>
				<element name="genChange" maxOccurs="1" minOccurs="0" type="pss:GenChangeDynamicEventXmlType"></element>
			</choice>
		</sequence>
	</complexType>

	<simpleType name="FaultCategoryEnumType">
		<restriction base="string">
			<enumeration value="Fault3Phase"></enumeration>
			<enumeration value="LineToLine"></enumeration>
			<enumeration value="LineToGround"></enumeration>
			<enumeration value="LineLineToGround"></enumeration>
		</restriction>
	</simpleType>

	<simpleType name="FaultTypeEnumType">
		<restriction base="string">
			<enumeration value="BusFault"></enumeration>
			<enumeration value="BranchFault"></enumeration>
			<enumeration value="BranchOutage"></enumeration>
			<enumeration value="LoadChange"></enumeration>
			<enumeration value="GenChange"></enumeration>
			<enumeration value="DcLineFault"></enumeration>
		</restriction>
	</simpleType>

	<complexType name="BranchFaultXmlType">
		<sequence>
			<element name="faultCategory" type="pss:FaultCategoryEnumType" maxOccurs="1" minOccurs="1"></element>
			<element name="fromBus" type="pss:IDRefRecordXmlType" maxOccurs="1" minOccurs="1"></element>
			<element name="toBus" type="pss:IDRefRecordXmlType" maxOccurs="1" minOccurs="0"></element>
			<element name="faultedCirId" type="string" maxOccurs="unbounded" minOccurs="0"></element>
			<element name="fromBusRatedV" type="pss:VoltageXmlType" maxOccurs="1" minOccurs="0"></element>
			<element name="toBusRatedV" type="pss:VoltageXmlType" maxOccurs="1" minOccurs="0"></element>
			<element name="faultStartTime" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="0"></element>
			<element name="firstOperationTime" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="0"></element>
			<element name="secondOperationTime" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="0"></element>
			<element name="faultDurationTime" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="0"></element>
			<element name="faultZ" type="pss:ZXmlType" maxOccurs="1" minOccurs="0"></element>
			<element name="faultLocationFromFromSide" type="double" maxOccurs="1" minOccurs="0"></element>
			<element name="permanentFault" type="boolean" maxOccurs="1" minOccurs="0"></element>
		</sequence>
	</complexType>

	<complexType name="BusFaultXmlType">
		<sequence>
			<element name="faultCategory" type="pss:FaultCategoryEnumType" maxOccurs="1" minOccurs="1"></element>
			<element name="faultedBus" type="pss:IDRefRecordXmlType" maxOccurs="1" minOccurs="1"></element>
			<element name="faultedBusRatedV" type="pss:VoltageXmlType" maxOccurs="1" minOccurs="0"></element>
			<element name="remoteEndBus" type="pss:IDRefRecordXmlType" maxOccurs="1" minOccurs="0"></element>
			<element name="remoteEndBusRatedV" type="pss:VoltageXmlType" maxOccurs="1" minOccurs="0"></element>
			<element name="faultStartTime" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="0"></element>
			<element name="firstOperationTime" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="0"></element>
			<element name="secondOperationTime" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="0"></element>
			<element name="faultDurationTime" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="0"></element>
			<element name="faultZ" type="pss:ZXmlType" maxOccurs="1" minOccurs="0"></element>
			<element name="permanentFault" type="boolean" maxOccurs="1" minOccurs="0"></element>
		</sequence>
	</complexType>

	<complexType name="BranchOutageXmlType">
		<sequence>
			<element name="faultCategory" type="pss:FaultCategoryEnumType" maxOccurs="1" minOccurs="0"></element>
			<element name="fromBus" type="pss:IDRefRecordXmlType" maxOccurs="1" minOccurs="1"></element>
			<element name="toBus" type="pss:IDRefRecordXmlType" maxOccurs="1" minOccurs="1"></element>
			<element name="cirId" type="string" minOccurs="0" maxOccurs="unbounded"></element>
			<element name="startTime" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
		</sequence>
	</complexType>

	<complexType name="LoadChangeDynamicEventXmlType">
		<sequence>
			<element name="loadChangeCategory" maxOccurs="1" minOccurs="0">
				<simpleType>
					<restriction base="string">
						<enumeration value="LowFrequence"></enumeration>
						<enumeration value="LowVoltage"></enumeration>
						<enumeration value="FixedTime"></enumeration>
					</restriction>
				</simpleType>
			</element>
			<element name="bus" type="pss:IDRefRecordXmlType" maxOccurs="1" minOccurs="0"></element>
			<element name="busRatedVoltage" type="pss:VoltageXmlType" maxOccurs="1" minOccurs="0"></element>
			<element name="operationTime" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="0"></element>
			<element name="operateAtFrequence" type="pss:FrequencyXmlType" maxOccurs="1" minOccurs="0"></element>
			<element name="operateAtVoltage" type="pss:VoltageXmlType" maxOccurs="1" minOccurs="0"></element>
			<element name="operationDelayTime" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="0"></element>
			<element name="constantPChange" type="pss:PowerXmlType" maxOccurs="1" minOccurs="0"></element>
			<element name="constantIChange" type="pss:PowerXmlType" maxOccurs="1" minOccurs="0"></element>
			<element name="constantZChange" type="pss:PowerXmlType" maxOccurs="1" minOccurs="0"></element>
		</sequence>
	</complexType>

	<complexType name="GenChangeDynamicEventXmlType">
		<sequence>
			<element name="bus" type="pss:IDRefRecordXmlType" maxOccurs="1" minOccurs="0"></element>
			<element name="busRatedVoltage" type="pss:VoltageXmlType" maxOccurs="1" minOccurs="0"></element>
			<element name="generatorId" type="string" maxOccurs="1" minOccurs="0"></element>
			<element name="operationTime" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="0"></element>
			<element name="operationDelayTime" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="0"></element>
			<element name="genChange" type="pss:PowerXmlType" maxOccurs="1" minOccurs="0"></element>
			<element name="genOutage" type="boolean" maxOccurs="1" minOccurs="0"></element>
		</sequence>
	</complexType>

	<complexType name="DcLineFaultXmlType">
		<sequence>
			<element name="fromACBus" type="pss:IDRefRecordXmlType" maxOccurs="1" minOccurs="1"></element>
			<element name="toACBus" type="pss:IDRefRecordXmlType" maxOccurs="1" minOccurs="1"></element>
			<element name="fromACRatedVol" type="pss:VoltageXmlType" maxOccurs="1" minOccurs="0"></element>

			<element name="toACRatedVol" type="pss:VoltageXmlType" maxOccurs="1" minOccurs="0"></element>
			<element name="faultType" maxOccurs="1" minOccurs="1">
				<simpleType>
					<restriction base="string">
						<enumeration value="fromBus_Bipole_Short_Circuit"></enumeration>
						<enumeration value="toBus_Bipole_Short_Circuit"></enumeration>
						<enumeration value="fault_on_Line"></enumeration>
						<enumeration value="power_blocked"></enumeration>
						<enumeration value="power_reversed"></enumeration>
						<enumeration value="power_change_by_specification"></enumeration>
						<enumeration value="current_change_by_specification"></enumeration>
					</restriction>
				</simpleType>
			</element>
			<element name="startTime" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
			<element name="durationTime" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="0"></element>
			<element name="permanentFault" type="boolean" maxOccurs="1" minOccurs="0"></element>
			<element name="faultLocationFromFromSide" type="double" maxOccurs="1" minOccurs="0"></element>
			<element name="changedPower" type="pss:PowerXmlType" maxOccurs="1" minOccurs="0"></element>
			<element name="changedCurrent" type="pss:CurrentXmlType" maxOccurs="1" minOccurs="0"></element>
			<element name="faultZ" type="pss:ZXmlType" maxOccurs="1" minOccurs="0"></element>
		</sequence>
	</complexType>

	<complexType name="MvaRatingXmlType">
		<sequence>
			<element name="ratingAry" type="double" maxOccurs="unbounded" minOccurs="0"></element>
		</sequence>
		<attribute name="rating1" type="double" use="required"></attribute>
		<attribute name="rating2" type="double" use="optional"></attribute>
		<attribute name="rating3" type="double" use="optional"></attribute>
		<attribute name="unit" use="required" type="pss:ApparentPowerUnitType"></attribute>
	</complexType>

	<complexType name="VoltageLimitXmlType">
		<complexContent>
			<extension base="pss:LimitXmlType">
				<sequence>
				</sequence>
				<attribute name="unit" type="pss:VoltageUnitType" use="required"></attribute>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="ActivePowerLimitXmlType">
		<complexContent>
			<extension base="pss:LimitXmlType">
				<attribute name="unit" type="pss:ActivePowerUnitType" use="required"></attribute>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="ReactivePowerLimitXmlType">
		<complexContent>
			<extension base="pss:LimitXmlType">
				<attribute name="unit" type="pss:ReactivePowerUnitType" use="required"></attribute>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="TurnRatioLimitXmlType">
		<complexContent>
			<extension base="pss:LimitXmlType">
				<attribute name="unit" type="pss:TapUnitType" use="required"></attribute>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="AngleLimitXmlType">
		<complexContent>
			<extension base="pss:LimitXmlType">
				<attribute name="unit" type="pss:AngleUnitType" use="required"></attribute>
			</extension>
		</complexContent>
	</complexType>

	<simpleType name="LFGenCodeEnumType">
		<restriction base="string">
			<enumeration value="PQ"></enumeration>
			<enumeration value="PV"></enumeration>
			<enumeration value="Swing"></enumeration>
			<enumeration value="NoneGen"></enumeration>
			<enumeration value="OFF"></enumeration>
		</restriction>
	</simpleType>

	<simpleType name="LFLoadCodeEnumType">
		<restriction base="string">
			<enumeration value="CONST_P"></enumeration>
			<enumeration value="CONST_I"></enumeration>
			<enumeration value="CONST_Z"></enumeration>
			<enumeration value="FunctionLoad"></enumeration>
			<enumeration value="NoneLoad"></enumeration>
		</restriction>
	</simpleType>

	<simpleType name="LFBranchCodeEnumType">
		<restriction base="string">
			<enumeration value="Line"></enumeration>
			<enumeration value="Transformer"></enumeration>
			<enumeration value="PhaseShiftXformer"></enumeration>
		</restriction>
	</simpleType>

	<complexType name="TapLimitXmlType">
		<complexContent>
			<extension base="pss:TurnRatioLimitXmlType"></extension>
		</complexContent>
	</complexType>

	<complexType name="TapXmlType">
		<complexContent>
			<extension base="pss:TurnRatioXmlType"></extension>
		</complexContent>
	</complexType>

	<simpleType name="BusWindingEnumType">
		<restriction base="string">
			<enumeration value="Primary"></enumeration>
			<enumeration value="Secondary"></enumeration>
			<enumeration value="Tertiary"></enumeration>
		</restriction>
	</simpleType>
</schema>