ieee.odm_pss/schema/ODM_DataType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.ieee.org/cmte/psace/oss/odm/pss/Schema/v1"
	xmlns:pss="http://www.ieee.org/cmte/psace/oss/odm/pss/Schema/v1"
	elementFormDefault="qualified">

	<annotation>
		<documentation>Copyright www.interpss.org 2008</documentation>
	</annotation>

	<complexType name="BaseRecordXmlType">
		<sequence>
			<element name="name" type="string" minOccurs="0"
				maxOccurs="1">
			</element>
			<element name="desc" type="string" minOccurs="0"
				maxOccurs="1">
			</element>
			<element name="isoCode" type="string" minOccurs="0"
				maxOccurs="1">
			</element>
			<element name="offLine" type="boolean" minOccurs="0"
				maxOccurs="1">
			</element>
            <element name="normalOffLineStatus" type="boolean" minOccurs="0"></element>
            <element name="number" type="int" minOccurs="0"
				maxOccurs="1">
			</element>
			<element name="areaNumber" minOccurs="0"
				maxOccurs="1" type="int">
            </element>
			<element name="zoneNumber" minOccurs="0"
				maxOccurs="1" type="int">
            </element>
			<element name="ownerList" minOccurs="0" maxOccurs="1">
				<complexType>
					<sequence>
						<element name="owner">
							<complexType>
								<sequence>
									<element name="id" type="string"
										minOccurs="1">
									</element>
									<element name="ownership"
										type="double" minOccurs="1">
									</element>
								</sequence>
							</complexType>
						</element>

					</sequence>
				</complexType>
			</element>
			<element name="nvPairList"
				type="pss:NameValuePairListXmlType" minOccurs="0" maxOccurs="1">
			</element>
			<element name="extension" type="anySimpleType"
				minOccurs="0">
			</element>

		</sequence>
	</complexType>

	<complexType name="IDRecordXmlType">
		<complexContent>
			<extension base="pss:BaseRecordXmlType">
				<sequence>
					<element name="id" type="ID" minOccurs="1"
						maxOccurs="1">
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="IDRefRecordXmlType">
		<complexContent>
			<extension base="pss:BaseRecordXmlType">
				<sequence>
					<element name="idRef" type="IDREF" minOccurs="1"
						maxOccurs="1">
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>


	<complexType name="NameValuePairXmlType">
		<sequence>
			<element name="name" type="string" minOccurs="1"
				maxOccurs="1">
			</element>
			<element name="value" type="string" minOccurs="1"
				maxOccurs="1">
			</element>
		</sequence>
	</complexType>

	<complexType name="NameValuePairListXmlType">
		<sequence>
			<element name="nvPair" type="pss:NameValuePairXmlType"
				minOccurs="0" maxOccurs="unbounded">
			</element>
		</sequence>
	</complexType>

	<complexType name="LimitXmlType">
		<sequence>
			<element name="max" type="double" minOccurs="1"></element>
			<element name="min" type="double" minOccurs="1"></element>
		</sequence>
	</complexType>
	<complexType name="ComplexXmlType">
		<sequence>
			<element name="re" type="double" minOccurs="1"
				maxOccurs="1">
			</element>
			<element name="im" type="double" minOccurs="1"
				maxOccurs="1">
			</element>
		</sequence>
	</complexType>
	<complexType name="ZXmlType">
		<sequence>
			<element name="r" type="double" minOccurs="0"
				maxOccurs="1">
			</element>
			<element name="x" type="double" minOccurs="1"
				maxOccurs="1">
			</element>
			<element name="unit" minOccurs="0" maxOccurs="1">
				<simpleType>
					<restriction base="string">
						<enumeration value="PU"></enumeration>
						<enumeration value="OHM"></enumeration>
					</restriction>
				</simpleType>
			</element>
		</sequence>
	</complexType>
	<complexType name="YXmlType">
		<sequence>
			<element name="g" type="double" minOccurs="0"
				maxOccurs="1">
			</element>
			<element name="b" type="double" minOccurs="1"
				maxOccurs="1">
			</element>
			<element name="unit" minOccurs="0" maxOccurs="1">
				<simpleType>
					<restriction base="string">
						<enumeration value="PU"></enumeration>
						<enumeration value="MHO"></enumeration>
						<enumeration value="MICROMHO"></enumeration>
					</restriction>
				</simpleType>
			</element>
		</sequence>
	</complexType>
	<complexType name="PowerXmlType">
		<sequence>
			<element name="p" type="double" minOccurs="1"
				maxOccurs="1">
			</element>
			<element name="q" type="double" minOccurs="1"
				maxOccurs="1">
			</element>
			<element name="unit" minOccurs="0" maxOccurs="1">
				<simpleType>
					<restriction base="string">
						<enumeration value="PU"></enumeration>
						<enumeration value="VA"></enumeration>
						<enumeration value="KVA"></enumeration>
						<enumeration value="MVA"></enumeration>
					</restriction>
				</simpleType>
			</element>
		</sequence>
	</complexType>
	<complexType name="VoltageXmlType">
		<sequence>
			<element name="voltage" type="double" minOccurs="1"
				maxOccurs="1">
			</element>
			<element name="unit" minOccurs="0" maxOccurs="1">
				<simpleType>
					<restriction base="string">
						<enumeration value="PU"></enumeration>
						<enumeration value="VOLT"></enumeration>
						<enumeration value="KV"></enumeration>
					</restriction>
				</simpleType>
			</element>
		</sequence>
	</complexType>
	<complexType name="AngleXmlType">
		<sequence>
			<element name="angle" type="double" minOccurs="1"></element>
			<element name="unit" minOccurs="1">
				<simpleType>
					<restriction base="string">
						<enumeration value="RAD"></enumeration>
						<enumeration value="DEG"></enumeration>
					</restriction>
				</simpleType>
			</element>
		</sequence>
	</complexType>
	<complexType name="CurrentXmlType">
		<sequence>
			<element name="current" type="double" minOccurs="1"
				maxOccurs="1">
			</element>
			<element name="unit" minOccurs="0" maxOccurs="1">
				<simpleType>
					<restriction base="string">
						<enumeration value="PU"></enumeration>
						<enumeration value="AMP"></enumeration>
						<enumeration value="KA"></enumeration>
					</restriction>
				</simpleType>
			</element>
		</sequence>
	</complexType>
	<complexType name="AdjustmentDataXmlType">
		<sequence>
			<element name="mode" minOccurs="1">
				<simpleType>
					<restriction base="string">
						<enumeration value="ValueAdjustment"></enumeration>
						<enumeration value="RangeAdjustment"></enumeration>
					</restriction>
				</simpleType>
			</element>
			<element name="desiredValue" type="double" minOccurs="0"></element>
			<element name="desiredRange" type="pss:LimitXmlType"
				minOccurs="0">
			</element>
		</sequence>
	</complexType>

    <complexType name="LengthXmlType">
    	<sequence>
    		<element name="length" type="double" maxOccurs="1"
    			minOccurs="1">
    		</element>
    		<element name="unit" maxOccurs="1" minOccurs="1"><simpleType><restriction base="string">
    		<enumeration value="KM"></enumeration>
    		<enumeration value="Mile"></enumeration>
    		</restriction></simpleType></element>
    	</sequence>
    </complexType>

    <complexType name="FrequencyXmlType">
    	<sequence>
    		<element name="frequence" type="double" maxOccurs="1"
    			minOccurs="1">
    		</element>
    		<element name="unit" maxOccurs="1" minOccurs="1"><simpleType><restriction base="string">
    		<enumeration value="Hz"></enumeration>
    		<enumeration value="KHz"></enumeration>
    		</restriction></simpleType></element>
    	</sequence>
    </complexType>

    <complexType name="TimeXmlType">
    	<sequence>
    		<element name="value" type="double" maxOccurs="1"
    			minOccurs="1">
    		</element>
    		<element name="unit" maxOccurs="1" minOccurs="1"><simpleType><restriction base="string">
    		<enumeration value="sec"></enumeration>
    		<enumeration value="min"></enumeration>
    		<enumeration value="hour"></enumeration>
    		<enumeration value="cycle"></enumeration>
    		</restriction></simpleType></element>
    	</sequence>
    </complexType>

    <complexType name="PerUnitXmlType">
    <sequence>
    		<element name="value" type="double" maxOccurs="1"
    			minOccurs="1">
    		</element>
    		<element name="unit" maxOccurs="1" minOccurs="1">
  
                <simpleType><restriction base="string">
                <enumeration value="PU"></enumeration>
                </restriction></simpleType>
            </element>

    	</sequence>   
    </complexType>

    <complexType name="BasePowerXmlType">
    <sequence>
    		<element name="value" type="double" maxOccurs="1"
    			minOccurs="1">
    		</element>
    		<element name="unit" maxOccurs="1" minOccurs="1"><simpleType><restriction base="string">
    		<enumeration value="KVA"></enumeration>
    		<enumeration value="MVA"></enumeration>
    		</restriction></simpleType></element>
    	</sequence>
    </complexType>

    <complexType name="CycleXmlType">
    <sequence>
    		<element name="value" type="double" maxOccurs="1"
    			minOccurs="1">
    		</element>
    		<element name="unit" maxOccurs="1" minOccurs="1"><simpleType><restriction base="string">
    		<enumeration value="Cycle"></enumeration>
    		</restriction></simpleType></element>
    	</sequence>
    </complexType>

    <complexType name="SecXmlType">
    	<sequence>
    		<element name="value" type="double" maxOccurs="1"
    			minOccurs="1">
    		</element>
    		<element name="unit" maxOccurs="1" minOccurs="1"><simpleType><restriction base="string">
    	     <enumeration value="sec"></enumeration>       		
    		</restriction></simpleType></element>
    	</sequence>
    </complexType>

    <complexType name="PercentXmlType">
    <sequence>
    		<element name="value" type="double" maxOccurs="1"
    			minOccurs="1">
    		</element>
    		<element name="unit" maxOccurs="1" minOccurs="1"><simpleType><restriction base="string">
    		<enumeration value="percent"></enumeration>
    		</restriction></simpleType></element>
    	</sequence>
    </complexType>
</schema>