ieee.odm_pss/schema/ODM_StudyCase.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.ieee.org/cmte/psace/oss/odm/pss/Schema/v1"
	xmlns:pss="http://www.ieee.org/cmte/psace/oss/odm/pss/Schema/v1"
	elementFormDefault="qualified">

    <annotation>
    	<documentation>Copyright www.interpss.org 2008</documentation>
    </annotation>
    <include schemaLocation="ODM_DataType.xsd"></include>
    <include schemaLocation="ODM_DynamicDataType.xsd"></include>

	<element name="PSSStudyCase" type="pss:StudyCaseXmlType"></element>
	<complexType name="StudyCaseXmlType">
		<complexContent>
			<extension base="pss:IDRecordXmlType">
				<sequence>
					<element name="schemaVersion" minOccurs="1"
						maxOccurs="1">
						<simpleType>
							<restriction base="string">
								<enumeration value="V1.00"></enumeration>
								<enumeration value="V1.00.DEV"></enumeration>
							</restriction>
						</simpleType>
					</element>
					<element name="originalFormat" minOccurs="1"
						maxOccurs="1">
						<simpleType>
							<restriction base="string">
								<enumeration value="IEEE-CDF"></enumeration>
								<enumeration value="PSS-E"></enumeration>
								<enumeration value="UCTE-DEF"></enumeration>
								<enumeration value="InterPSS"></enumeration>
								<enumeration value="PSAT"></enumeration>
								<enumeration value="IEEE-ODM-PSS"></enumeration>
								<enumeration value="Custom"></enumeration>
								<enumeration value="BPA"></enumeration>
							</restriction>
						</simpleType>
					</element>
					<element name="adapterProviderName" type="string"
						minOccurs="0" maxOccurs="1">
					</element>
					<element name="adapterProviderVersion" type="string"
						minOccurs="0" maxOccurs="1">
					</element>
					<element name="analysisCategory" minOccurs="1"
						maxOccurs="1">
						<simpleType>
							<restriction base="string">
								<enumeration value="Loadflow"></enumeration>
								<enumeration value="ShortCircuit"></enumeration>
								<enumeration
									value="TransientStability">
								</enumeration>
							</restriction>
						</simpleType>
					</element>
					<element name="networkCategory" minOccurs="1"
						maxOccurs="1">
						<simpleType>
							<restriction base="string">
								<enumeration value="Transmission"></enumeration>
								<enumeration value="Distribution"></enumeration>
							</restriction>
						</simpleType>
					</element>
					<element name="baseCase"
						type="pss:PSSNetworkXmlType" minOccurs="1" maxOccurs="1">
					</element>
					<element name="modificationList"
						type="pss:ModifyRecordListXmlType" minOccurs="0" maxOccurs="1">
					</element>
					<element name="scenarioList"
						type="pss:ScenarioListXmlType" minOccurs="0" maxOccurs="1">
					</element>
                    <element name="dynamicDataList" type="pss:DynamicDataListXmlType" maxOccurs="1" minOccurs="0"></element>
                </sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="PSSNetworkXmlType">
		<complexContent>
			<extension base="pss:IDRecordXmlType">
				<sequence>
					<element name="basePower" type="double"
						minOccurs="1" maxOccurs="1">
					</element>
					<element name="basePowerUnit" minOccurs="1"
						maxOccurs="1">
						<simpleType>
							<restriction base="string">
								<enumeration value="KVA"></enumeration>
								<enumeration value="MVA"></enumeration>
							</restriction>
						</simpleType>
					</element>
					<element name="busList"
						type="pss:BusRecordListXmlType" minOccurs="1" maxOccurs="1">
					</element>
					<element name="branchList"
						type="pss:BranchRecordListXmlType" minOccurs="1" maxOccurs="1">
					</element>
					<element name="lossZoneList" minOccurs="0">
						<complexType>
							<sequence>
								<element name="lossZone"
									maxOccurs="unbounded" minOccurs="0">
									<complexType>
										<sequence>
											<element name="zoneNumber"
												type="int" minOccurs="1">
											</element>
											<element name="zoneName"
												type="string" minOccurs="0">
											</element>
										</sequence>
									</complexType>
								</element>
							</sequence>
						</complexType>
					</element>
					<element name="interchangeList" minOccurs="0">
						<complexType>
							<sequence>
								<element name="interchange"
									minOccurs="0" maxOccurs="unbounded">
									<complexType>
										<sequence>








											<element
												name="ieeeCDFInterchange" minOccurs="0">
												<complexType>
													<sequence>
														<element
															name="areaNumber" type="int" minOccurs="1">
														</element>
														<element
															name="swingBus" type="pss:IDRefRecordXmlType"
															minOccurs="1">
														</element>
														<element
															name="alternateSwingBusName" type="string"
															minOccurs="1">
														</element>
														<element
															name="interchangePower" type="pss:PowerXmlType"
															minOccurs="1">
														</element>
														<element
															name="interchangeErrTolerance" type="double"
															minOccurs="1">
														</element>


														<element
															name="areaCode" type="string" minOccurs="0">
														</element>
														<element
															name="areaName" type="string" minOccurs="0">
														</element>


													</sequence>
												</complexType>
											</element>
											<element name="ucteExchange"
												minOccurs="0">
												<complexType>
													<sequence>
														<element
															name="fromIsoId" type="string" minOccurs="1">
														</element>
														<element
															name="toIsoId" type="string" minOccurs="1">
														</element>
														<element
															name="exchangePower" type="pss:PowerXmlType"
															minOccurs="1">
														</element>
														<element
															name="comment" type="string" minOccurs="0">
														</element>
													</sequence>
												</complexType>
											</element>

										</sequence>
									</complexType>
								</element>
							</sequence>
						</complexType>
					</element>
					<element name="tieLineList" minOccurs="0">
						<complexType>
							<sequence>
								<element name="tieline" minOccurs="0"
									maxOccurs="unbounded">
									<complexType>
										<sequence>
											<element name="meteredBus"
												type="pss:IDRefRecordXmlType" minOccurs="1">
											</element>
											<element name="meteredArea"
												type="string" minOccurs="1">
											</element>
											<element
												name="nonMeteredBus" type="pss:IDRefRecordXmlType"
												minOccurs="1">
											</element>
											<element
												name="nonMeteredArea" type="string" minOccurs="1">
											</element>
											<element name="cirId"
												type="string" maxOccurs="1" minOccurs="1">
											</element>
										</sequence>
									</complexType>
								</element>
							</sequence>
						</complexType>
					</element>
					<element name="areaList" maxOccurs="1"
						minOccurs="0">
						<complexType>
							<sequence>
								<element name="area"
									maxOccurs="unbounded" minOccurs="0">
									<complexType>
										<sequence>
											<element name="areaNumber"
												type="int" maxOccurs="1" minOccurs="0">
											</element>
											<element name="areaName"
												type="string" maxOccurs="1" minOccurs="1">
											</element>
											<element name="zoneList"
												maxOccurs="1" minOccurs="0">
												<complexType>
													<sequence>
														<element
															name="zone" maxOccurs="unbounded" minOccurs="0">

															<complexType>
																<sequence>
																	<element
																		name="zoneNumber" type="int" maxOccurs="1"
																		minOccurs="0">
																	</element>
																	<element
																		name="zoneName" type="string" maxOccurs="1"
																		minOccurs="0">
																	</element>
																</sequence>
															</complexType>
														</element>

													</sequence>
												</complexType>
											</element>

											<element name="swingBusId"
												type="pss:IDRefRecordXmlType" maxOccurs="1" minOccurs="1">
											</element>
											<element
												name="alternateSwingBus" type="pss:IDRefRecordXmlType"
												maxOccurs="1" minOccurs="0">
											</element>
											<element
												name="totalExchangePower" type="pss:PowerXmlType"
												maxOccurs="1" minOccurs="0">
											</element>
											<element
												name="exchangePower" maxOccurs="unbounded" minOccurs="0">
												<complexType>
													<sequence>
														<element
															name="toArea" type="string" maxOccurs="1"
															minOccurs="0">
														</element>
														<element
															name="exchangePower" type="pss:PowerXmlType"
															maxOccurs="1" minOccurs="1">
														</element>
													</sequence>
												</complexType>
											</element>
											<element
												name="exchangeErrToler" type="double" maxOccurs="1"
												minOccurs="0">
											</element>
											<element
												name="measredOnFromSide" type="boolean" maxOccurs="1"
												minOccurs="0">
											</element>

											<element name="ratedVoltage"
												type="pss:VoltageXmlType" maxOccurs="1" minOccurs="0">
											</element>

										</sequence>
									</complexType>
								</element>

							</sequence>
						</complexType>
					</element>
					<element name="dcLineList" type="pss:DCLineListXmlType" maxOccurs="1" minOccurs="0"></element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="ModifyRecordListXmlType">
		<sequence>
			<element name="modifyRec" type="pss:ModifyRecordXmlType" minOccurs="0" maxOccurs="unbounded"></element>
		</sequence>
	</complexType>

	<complexType name="ModifyRecordXmlType">
		<complexContent>
			<extension base="pss:IDRecordXmlType"></extension>
		</complexContent>
	</complexType>
	
    <complexType name="ScenarioListXmlType">
    	<sequence>
    		<element name="scenario" type="pss:ScenarioXmlType" minOccurs="0" maxOccurs="unbounded"></element>
    	</sequence>
    </complexType>
    <complexType name="ScenarioXmlType">
    	<complexContent>
    		<extension base="pss:IDRecordXmlType">
    			<sequence>
    				<element name="modifcationList"
    					type="pss:ModifyRecordListXmlType" minOccurs="0"
    					maxOccurs="1">
    				</element>
    			</sequence>
    		</extension>
    	</complexContent>
    </complexType>
    
    <complexType name="DynamicDataListXmlType">
    	<sequence>
    		<element name="busDynDataList"
    			type="pss:BusDynDataListXmlType" maxOccurs="1" minOccurs="0">
    		</element>
    		<element name="branchDynDataList"
    			type="pss:BranchDynDataListXmlType" maxOccurs="1"
    			minOccurs="0">
    		</element>
    		<element name="faultList" type="pss:FaultListXmlType" maxOccurs="1" minOccurs="0"></element>
    	</sequence>
    </complexType>
    
    

    <complexType name="FaultListXmlType">
    	<sequence>
    		<element name="fault" maxOccurs="unbounded" minOccurs="1">
    			<complexType>
    				<sequence>
    					<element name="faultType" maxOccurs="1"
    						minOccurs="1">
    						<simpleType>
    							<restriction base="string">
    								<enumeration value="busFault"></enumeration>
    								<enumeration value="branchFault"></enumeration>
    								<enumeration value="branchOutage"></enumeration>
    								<enumeration value="loadChange"></enumeration>
    							</restriction>
    						</simpleType>
    					</element>
    					<element name="branchFault" maxOccurs="1"
    						minOccurs="0">
    						<complexType>
    							<sequence>
    								<element name="faultCategory"
    									type="pss:FaultCategoryXmlType" maxOccurs="1" minOccurs="1">
    								</element>
    							</sequence>
    						</complexType>
    					</element>
    					<element name="busFault" maxOccurs="1"
    						minOccurs="0">
    						<complexType>
    							<sequence>
    								<element name="faultCategory"
    									type="pss:FaultCategoryXmlType" maxOccurs="1" minOccurs="0">
    								</element>
    							</sequence>
    						</complexType>
    					</element>
    					<element name="branchOutage" maxOccurs="1"
    						minOccurs="0">
    						<complexType>
    							<sequence>
    								<element name=""
    									type="string">
    								</element>
    							</sequence>
    						</complexType>
    					</element>
    					<element name="loadChange" maxOccurs="1" minOccurs="0"><complexType></complexType></element>
    				</sequence>
    			</complexType></element>
    	</sequence>
    </complexType>

    <complexType name="FaultCategoryXmlType"></complexType>
</schema>