ieee.odm_pss/schema/ODM_DynamicModel.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.ieee.org/cmte/psace/oss/odm/pss/Schema/v1" xmlns:pss="http://www.ieee.org/cmte/psace/oss/odm/pss/Schema/v1"
	elementFormDefault="qualified">
	<include schemaLocation="ODM_DataType.xsd"></include>
<!-- 
		Machine Model
		=============
 -->
    <complexType name="EquiMachineXmlType">
    				<sequence>
    					<element name="equiPgen" type="double"
    						maxOccurs="1" minOccurs="0">
    					</element>
    					<element name="pGenUnit" maxOccurs="1"
    						minOccurs="0">
    						<simpleType>
    							<restriction base="string">
    								<enumeration value="PU"></enumeration>
    								<enumeration value="VA"></enumeration>
    								<enumeration value="KVA"></enumeration>
    								<enumeration value="MVA"></enumeration>
    							</restriction>
    						</simpleType>
    					</element>
    					<element name="DCLineBus" type="boolean"
    						maxOccurs="1" minOccurs="0">
    					</element>
    				</sequence>
    </complexType>
    
    <complexType name="ClassicMachineXmlType">
    				<sequence>
    					<element name="genName" type="string"
    						maxOccurs="1" minOccurs="0">
    					</element>
    					<element name="desc" type="string" maxOccurs="1"
    						minOccurs="0">
    					</element>
    					<element name="basePower" type="double"
    						maxOccurs="1" minOccurs="0">
    					</element>
    					<element name="basePowerUnit" maxOccurs="1"
    						minOccurs="0">
    						<simpleType>
    							<restriction base="string">
    								<enumeration value="Mva"></enumeration>
    								<enumeration value="Kva"></enumeration>
    							</restriction>
    						</simpleType>
    					</element>
    					<element name="xd1" maxOccurs="1" minOccurs="1"
    						type="pss:PerUnitXmlType">
    					</element>
    					<element name="H" maxOccurs="1" minOccurs="1"
    						type="pss:PerUnitXmlType">
    					</element>
    					<element name="D" maxOccurs="1" minOccurs="1"
    						type="pss:PerUnitXmlType">
    					</element>
    				</sequence>
    </complexType>
    
    <complexType name="TransientMachineXmlType">
    				<sequence>
    					<element name="genName" type="string"
    						maxOccurs="1" minOccurs="0">
    					</element>
    					<element name="desc" type="string" maxOccurs="1"
    						minOccurs="0">
    					</element>
    					<element name="basePower" type="double"
    						maxOccurs="1" minOccurs="0">
    					</element>
    					<element name="basePowerUnit" maxOccurs="1"
    						minOccurs="0">
    						<simpleType>
    							<restriction base="string">
    								<enumeration value="Mva"></enumeration>
    								<enumeration value="Kva"></enumeration>
    							</restriction>
    						</simpleType>
    					</element>

    					<element name="ra" maxOccurs="1" minOccurs="1"
    						type="pss:PerUnitXmlType">
    					</element>
    					<element name="xd" maxOccurs="1" minOccurs="1"
    						type="pss:PerUnitXmlType">

    					</element>
    					<element name="xd1" maxOccurs="1" minOccurs="1"
    						type="pss:PerUnitXmlType">
    					</element>
    					<element name="Tdo1" type="pss:TimePeriodXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="xq" maxOccurs="1" minOccurs="1"
    						type="pss:PerUnitXmlType">
    					</element>
    					<element name="xq1" maxOccurs="1" minOccurs="1"
    						type="pss:PerUnitXmlType">

    					</element>
    					<element name="Tq01" maxOccurs="1" minOccurs="1"
    						type="pss:TimePeriodXmlType">
    					</element>
    					<element name="H" type="pss:PerUnitXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="D" type="pss:PerUnitXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="E1" type="double" maxOccurs="1"
    						minOccurs="1">
    					</element>
    					<element name="SE1" type="double" maxOccurs="1"
    						minOccurs="1">
    					</element>
    					<element name="E2" type="double" maxOccurs="1"
    						minOccurs="1">
    					</element>
    					<element name="SE2" type="double" maxOccurs="1"
    						minOccurs="1">
    					</element>
    					<element name="AF" type="double" maxOccurs="1"
    						minOccurs="0">
    					</element>
    				</sequence>
    </complexType>

    <complexType name="SubTransientMachineXmlType">
    				<sequence>
    					<element name="genName" type="string"
    						maxOccurs="1" minOccurs="0">
    					</element>
    					<element name="desc" type="string" maxOccurs="1"
    						minOccurs="0">
    					</element>
    					<element name="basePower" type="double"
    						maxOccurs="1" minOccurs="0">
    					</element>
    					<element name="basePowerUnit" maxOccurs="1"
    						minOccurs="0">
    						<simpleType>
    							<restriction base="string">
    								<enumeration value="Mva"></enumeration>
    								<enumeration value="Kva"></enumeration>
    							</restriction>
    						</simpleType>
    					</element>
    					<element name="xd" maxOccurs="1" minOccurs="1"
    						type="pss:PerUnitXmlType">
    					</element>
    					<element name="xr" type="pss:PerUnitXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="ra" maxOccurs="1" minOccurs="1"
    						type="pss:PerUnitXmlType">
    					</element>
    					<element name="xd1" maxOccurs="1" minOccurs="1"
    						type="pss:PerUnitXmlType">
    					</element>
    					<element name="xd11" type="pss:PerUnitXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="Tdo1" type="pss:TimePeriodXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="Td011" type="pss:TimePeriodXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="xq" maxOccurs="1" minOccurs="1"
    						type="pss:PerUnitXmlType">
    					</element>
    					<element name="xq1" maxOccurs="1" minOccurs="1"
    						type="pss:PerUnitXmlType">
    					</element>
    					<element name="xq11" type="pss:PerUnitXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="Tq01" maxOccurs="1" minOccurs="1"
    						type="pss:TimePeriodXmlType">
    					</element>
    					<element name="Tq011" type="pss:TimePeriodXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="H" type="pss:PerUnitXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="D" type="pss:PerUnitXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="E1" type="double" maxOccurs="1"
    						minOccurs="1">
    					</element>
    					<element name="SE1" type="double" maxOccurs="1"
    						minOccurs="1">
    					</element>
    					<element name="E2" type="double" maxOccurs="1"
    						minOccurs="1">
    					</element>
    					<element name="SE2" type="double" maxOccurs="1"
    						minOccurs="1">
    					</element>
    					<element name="AF" type="double" maxOccurs="1"
    						minOccurs="0">
    					</element>
    				</sequence>
    </complexType>
    
<!-- 
		Exciter Model
		=============
 -->
				<complexType name="ExcIEEE1992TypeAC1AXmlType">
					<sequence>
						<element name="exciterName" type="string" maxOccurs="1" minOccurs="0"></element>
						<element name="desc" type="string" maxOccurs="1" minOccurs="0"></element>
						<element name="TR" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
						<element name="TB" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
						<element name="TC" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
						<element name="KA" type="pss:PerUnitXmlType" maxOccurs="1" minOccurs="1"></element>
						<element name="TA" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
						<element name="VAMAX" type="pss:PerUnitXmlType" maxOccurs="1" minOccurs="1"></element>
						<element name="VAMIN" type="pss:PerUnitXmlType" maxOccurs="1" minOccurs="1"></element>
						<element name="TE" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
						<element name="KF" type="pss:PerUnitXmlType" maxOccurs="1" minOccurs="1"></element>
						<element name="TF" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
						<element name="KC" type="pss:PerUnitXmlType" maxOccurs="1" minOccurs="1"></element>
						<element name="KD" type="pss:PerUnitXmlType" maxOccurs="1" minOccurs="1"></element>
						<element name="E1" type="double" maxOccurs="1" minOccurs="1"></element>
						<element name="SE1" type="double" maxOccurs="1" minOccurs="1"></element>
						<element name="E2" type="double" maxOccurs="1" minOccurs="1"></element>
						<element name="SE2" type="double" maxOccurs="1" minOccurs="1"></element>
						<element name="VRMAX" type="pss:PerUnitXmlType" maxOccurs="1" minOccurs="1"></element>
						<element name="VRMIN" type="pss:PerUnitXmlType" maxOccurs="1" minOccurs="1"></element>
					</sequence>
				</complexType>

				<complexType name="ExcIEEE1981TypeAC2XmlType">
					<sequence>
						<element name="exciterName" type="string" maxOccurs="1" minOccurs="0"></element>
						<element name="desc" type="string" maxOccurs="1" minOccurs="0"></element>
						<element name="TR" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
						<element name="TB" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
						<element name="TC" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
						<element name="KA" type="pss:PerUnitXmlType" maxOccurs="1" minOccurs="1"></element>
						<element name="TA" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
						<element name="VAMAX" type="pss:PerUnitXmlType" maxOccurs="1" minOccurs="1"></element>
						<element name="VAMIN" type="pss:PerUnitXmlType" maxOccurs="1" minOccurs="1"></element>
						<element name="KB" type="pss:PerUnitXmlType" maxOccurs="1" minOccurs="1"></element>
						<element name="VRMAX" type="pss:PerUnitXmlType" maxOccurs="1" minOccurs="1"></element>
						<element name="VRMIN" type="pss:PerUnitXmlType" maxOccurs="1" minOccurs="1"></element>
						<element name="TE" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
						<element name="KL" type="pss:PerUnitXmlType" maxOccurs="1" minOccurs="1"></element>
						<element name="KH" type="pss:PerUnitXmlType" maxOccurs="1" minOccurs="1"></element>
						<element name="KF" type="pss:PerUnitXmlType" maxOccurs="1" minOccurs="1"></element>
						<element name="TF" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
						<element name="KC" type="pss:PerUnitXmlType" maxOccurs="1" minOccurs="1"></element>
						<element name="KD" type="pss:PerUnitXmlType" maxOccurs="1" minOccurs="1"></element>
						<element name="KE" type="pss:PerUnitXmlType" maxOccurs="1" minOccurs="1"></element>
						<element name="VLR" type="pss:PerUnitXmlType" maxOccurs="1" minOccurs="1"></element>
						<element name="E1" type="double" maxOccurs="1" minOccurs="1"></element>
						<element name="SE1" type="double" maxOccurs="1" minOccurs="1"></element>
						<element name="E2" type="double" maxOccurs="1" minOccurs="1"></element>
						<element name="SE2" type="double" maxOccurs="1" minOccurs="1"></element>
					</sequence>
				</complexType>

				<complexType name="ExcIEEE1981ST1XmlType">
					<sequence>
						<element name="exciterName" type="string" maxOccurs="1" minOccurs="0"></element>
						<element name="desc" type="string" maxOccurs="1" minOccurs="0"></element>
						<element name="TR" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
						<element name="VIMAX" type="pss:PerUnitXmlType" maxOccurs="1" minOccurs="1"></element>
						<element name="VIMIN" type="pss:PerUnitXmlType" maxOccurs="1" minOccurs="1"></element>
						<element name="TB" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
						<element name="TC" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
						<element name="KA" type="pss:PerUnitXmlType" maxOccurs="1" minOccurs="1"></element>
						<element name="TA" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
						<element name="KF" type="pss:PerUnitXmlType" maxOccurs="1" minOccurs="1"></element>
						<element name="TF" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
						<element name="KC" type="pss:PerUnitXmlType" maxOccurs="1" minOccurs="1"></element>
						<element name="VRMAX" type="pss:PerUnitXmlType" maxOccurs="1" minOccurs="1"></element>
						<element name="VRMIN" type="pss:PerUnitXmlType" maxOccurs="1" minOccurs="1"></element>
					</sequence>
				</complexType>

				<complexType name="ExcBPAFJXmlType">
					<sequence>
						<element name="exciterName" type="string" maxOccurs="1" minOccurs="0"></element>
						<element name="desc" type="string" maxOccurs="1" minOccurs="0"></element>
						<element name="TR" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="0"></element>
						<element name="EFDMAX" type="pss:PerUnitXmlType" maxOccurs="1" minOccurs="1"></element>
						<element name="EFDMIN" type="pss:PerUnitXmlType" maxOccurs="1" minOccurs="1"></element>
						<element name="TB" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
						<element name="TC" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
						<element name="KA" type="pss:PerUnitXmlType" maxOccurs="1" minOccurs="1"></element>
						<element name="TA" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
						<element name="KF" type="pss:PerUnitXmlType" maxOccurs="1" minOccurs="1"></element>
						<element name="TF" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
						<element name="KC" type="pss:PerUnitXmlType" maxOccurs="1" minOccurs="1"></element>
						<element name="VRMAX" type="pss:PerUnitXmlType" maxOccurs="1" minOccurs="1"></element>
						<element name="VRMIN" type="pss:PerUnitXmlType" maxOccurs="1" minOccurs="1"></element>
					</sequence>
				</complexType>

				<complexType name="ExcIEEE1968Type1XmlType">
					<sequence>
						<element name="exciterName" type="string" maxOccurs="1" minOccurs="0"></element>
						<element name="desc" type="string" maxOccurs="1" minOccurs="0"></element>

						<element name="TR" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="0"></element>
						<element name="KA" type="pss:PerUnitXmlType" maxOccurs="1" minOccurs="1"></element>
						<element name="TA" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
						<element name="VRMAX" type="pss:PerUnitXmlType" maxOccurs="1" minOccurs="1"></element>
						<element name="VRMIN" type="pss:PerUnitXmlType" maxOccurs="1" minOccurs="1"></element>
						<element name="KE" type="pss:PerUnitXmlType" maxOccurs="1" minOccurs="1"></element>
						<element name="TE" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
						<element name="KF" type="pss:PerUnitXmlType" maxOccurs="1" minOccurs="1"></element>
						<element name="TF" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
						<element name="EFDMIN" type="pss:PerUnitXmlType" maxOccurs="1" minOccurs="1"></element>
						<element name="E1" type="double" maxOccurs="1" minOccurs="1"></element>
						<element name="SE1" type="double" maxOccurs="1" minOccurs="1"></element>
						<element name="E2" type="double" maxOccurs="1" minOccurs="1"></element>
						<element name="SE2" type="double" maxOccurs="1" minOccurs="1"></element>
					</sequence>
				</complexType>

				<complexType name="ExcrIEEEModified1968Type1XmlType">
					<sequence>
						<element name="exciterName" type="string" maxOccurs="1" minOccurs="0"></element>
						<element name="desc" type="string" maxOccurs="1" minOccurs="0"></element>
						<element name="KA" type="pss:PerUnitXmlType" maxOccurs="1" minOccurs="1"></element>
						<element name="TA" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
						<element name="VRMAX" type="pss:PerUnitXmlType" maxOccurs="1" minOccurs="1"></element>
						<element name="VRMIN" type="pss:PerUnitXmlType" maxOccurs="1" minOccurs="1"></element>
						<element name="KE" type="double" maxOccurs="1" minOccurs="1"></element>
						<element name="TE" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
						<element name="KF" type="double" maxOccurs="1" minOccurs="1"></element>
						<element name="TF" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
						<element name="EFDMIN" type="pss:PerUnitXmlType" maxOccurs="1" minOccurs="1"></element>
						<element name="E1" type="double" maxOccurs="1" minOccurs="1"></element>
						<element name="SE1" type="double" maxOccurs="1" minOccurs="1"></element>
						<element name="E2" type="double" maxOccurs="1" minOccurs="1"></element>
						<element name="SE2" type="double" maxOccurs="1" minOccurs="1"></element>
						<element name="TR" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="0"></element>
					</sequence>
				</complexType>

				<complexType name="ExcIEEE1981NewExcSystemXmlType">
					<sequence>
						<element name="exciterName" type="string" maxOccurs="1" minOccurs="0"></element>
						<element name="desc" type="string" maxOccurs="1" minOccurs="0"></element>
						<element name="Rc" type="pss:PerUnitXmlType" maxOccurs="1" minOccurs="1"></element>
						<element name="Xc" type="pss:PerUnitXmlType" maxOccurs="1" minOccurs="1"></element>
						<element name="Tr" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
						<element name="K" type="pss:PerUnitXmlType" maxOccurs="1" minOccurs="1"></element>
						<element name="Kv" type="pss:PerUnitXmlType" maxOccurs="1" minOccurs="1"></element>
						<element name="T1" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
						<element name="T2" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
						<element name="T3" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
						<element name="T4" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
						<element name="Ka" type="pss:PerUnitXmlType" maxOccurs="1" minOccurs="1"></element>
						<element name="Kb" type="pss:PerUnitXmlType" maxOccurs="1" minOccurs="0"></element>
						<element name="Ta" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
						<element name="Kf" type="pss:PerUnitXmlType" maxOccurs="1" minOccurs="1"></element>
						<element name="Tf" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
						<element name="Kh" type="pss:PerUnitXmlType" maxOccurs="1" minOccurs="1"></element>
						<element name="VAmax" type="pss:PerUnitXmlType" maxOccurs="1" minOccurs="1"></element>
						<element name="VAmin" type="pss:PerUnitXmlType" maxOccurs="1" minOccurs="1"></element>
						<element name="K5" type="pss:PerUnitXmlType" maxOccurs="1" minOccurs="1"></element>
						<element name="T5" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
						<element name="Ke" type="pss:PerUnitXmlType" maxOccurs="1" minOccurs="1"></element>
						<element name="Te" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
						<element name="SE1" type="double" maxOccurs="1" minOccurs="0"></element>
						<element name="SE2" type="double" maxOccurs="1" minOccurs="0"></element>
						<element name="VRmax" type="pss:PerUnitXmlType" maxOccurs="1" minOccurs="1"></element>
						<element name="VRmin" type="pss:PerUnitXmlType" maxOccurs="1" minOccurs="1"></element>
						<element name="Kc" type="pss:PerUnitXmlType" maxOccurs="1" minOccurs="1"></element>
						<element name="Kd" type="pss:PerUnitXmlType" maxOccurs="1" minOccurs="1"></element>
						<element name="KL1" type="pss:PerUnitXmlType" maxOccurs="1" minOccurs="1"></element>
						<element name="VL1r" type="pss:PerUnitXmlType" maxOccurs="1" minOccurs="1"></element>
						<element name="EFDmax" type="pss:PerUnitXmlType" maxOccurs="1" minOccurs="1"></element>
						<element name="E1" type="double" maxOccurs="1" minOccurs="0"></element>
						<element name="E2" type="double" maxOccurs="1" minOccurs="0"></element>
					</sequence>
				</complexType>

				<complexType name="ExcIEEETypeDC2XmlType">
					<sequence>
						<element name="exciterName" type="string" maxOccurs="1" minOccurs="0"></element>
						<element name="desc" type="string" maxOccurs="1" minOccurs="0"></element>
						<element name="TR" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
						<element name="KA" type="pss:PerUnitXmlType" maxOccurs="1" minOccurs="1"></element>
						<element name="TA" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
						<element name="TB" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
						<element name="TC" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
						<element name="VRMAX" type="pss:PerUnitXmlType" maxOccurs="1" minOccurs="1"></element>
						<element name="VRMIN" type="pss:PerUnitXmlType" maxOccurs="1" minOccurs="1"></element>
						<element name="KE" type="pss:PerUnitXmlType" maxOccurs="1" minOccurs="1"></element>
						<element name="TE" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
						<element name="KF" type="pss:PerUnitXmlType" maxOccurs="1" minOccurs="1"></element>
						<element name="TF1" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
						<element name="E1" type="double" maxOccurs="1" minOccurs="1"></element>
						<element name="SE1" type="double" maxOccurs="1" minOccurs="1"></element>
						<element name="E2" type="double" maxOccurs="1" minOccurs="1"></element>
						<element name="SE2" type="double" maxOccurs="1" minOccurs="1"></element>
					</sequence>
				</complexType>
    
<!-- 
		Stabilizer Model
		================
 -->
    
				<complexType name="PssIEEE1981TypeXmlType">
					<sequence>
						<element name="stabilizerName" type="string" maxOccurs="1" minOccurs="0"></element>
						<element name="desc" type="string" maxOccurs="1" minOccurs="0"></element>

						<element name="inputSignal" maxOccurs="1" minOccurs="1">
							<simpleType>
								<restriction base="string">
									<enumeration value="rotorspeeddeviation"></enumeration>
									<enumeration value="busfrequencydeviation"></enumeration>
									<enumeration value="generatorelectricalpower"></enumeration>
									<enumeration value="generatoracceleratingpower"></enumeration>
									<enumeration value="busvoltage"></enumeration>
									<enumeration value="deriavativeofbusvoltage"></enumeration>
								</restriction>
							</simpleType>
						</element>
						<element name="remoteBusId" type="pss:IDRefRecordXmlType" maxOccurs="1" minOccurs="0"></element>
						<element name="A1" type="double" maxOccurs="1" minOccurs="1"></element>
						<element name="A2" type="double" maxOccurs="1" minOccurs="1"></element>
						<element name="A3" type="double" maxOccurs="1" minOccurs="1"></element>
						<element name="A4" type="double" maxOccurs="1" minOccurs="1"></element>
						<element name="A5" type="double" maxOccurs="1" minOccurs="1"></element>
						<element name="A6" type="double" maxOccurs="1" minOccurs="1"></element>
						<element name="T1" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
						<element name="T2" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
						<element name="T3" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
						<element name="T4" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
						<element name="T5" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
						<element name="T6" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
						<element name="KS" type="double" maxOccurs="1" minOccurs="1"></element>
						<element name="LSMAX" type="double" maxOccurs="1" minOccurs="1"></element>
						<element name="LSMIN" type="double" maxOccurs="1" minOccurs="1"></element>
						<element name="VCU" type="string" maxOccurs="1" minOccurs="1"></element>
						<element name="VCL" type="string" maxOccurs="1" minOccurs="1"></element>
					</sequence>
				</complexType>

				<complexType name="PssIEEE1982Type2AXmlType">
					<sequence>
						<element name="stabilizerName" type="string" maxOccurs="1" minOccurs="0"></element>
						<element name="desc" type="string" maxOccurs="1" minOccurs="0"></element>
						<element name="firstInputSignal" maxOccurs="1" minOccurs="1">
							<simpleType>
								<restriction base="string">
									<enumeration value="rotor_speed_deviation"></enumeration>
									<enumeration value="bus_frequency_deviation"></enumeration>
									<enumeration value="generator_electrical_power"></enumeration>
									<enumeration value="generator_accelerating_power"></enumeration>
									<enumeration value="bus_voltage"></enumeration>
									<enumeration value="deriavative_of_bus_voltage"></enumeration>
								</restriction>
							</simpleType>
						</element>
						<element name="firstRemoteBusId" type="pss:IDRefRecordXmlType" maxOccurs="1" minOccurs="1"></element>
						<element name="secondInputSignal" maxOccurs="1" minOccurs="1">
							<simpleType>
								<restriction base="string">
									<enumeration value="rotor_speed_deviation"></enumeration>
									<enumeration value="bus_frequency_deviation"></enumeration>
									<enumeration value="generator_electrical_power"></enumeration>
									<enumeration value="generator_accelerating_power"></enumeration>
									<enumeration value="bus_voltage"></enumeration>
									<enumeration value="deriavative_of_bus_voltage"></enumeration>
								</restriction>
							</simpleType>
						</element>
						<element name="secondRemoteBusId" type="pss:IDRefRecordXmlType" maxOccurs="1" minOccurs="1"></element>
						<element name="M" type="double" maxOccurs="1" minOccurs="1"></element>
						<element name="N" type="double" maxOccurs="1" minOccurs="1"></element>
						<element name="TW1" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
						<element name="TW2" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
						<element name="T6" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
						<element name="TW3" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
						<element name="TW4" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
						<element name="T7" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
						<element name="KS2" type="double" maxOccurs="1" minOccurs="1"></element>
						<element name="KS3" type="double" maxOccurs="1" minOccurs="1"></element>
						<element name="T8" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
						<element name="T9" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
						<element name="KS1" type="double" maxOccurs="1" minOccurs="1"></element>
						<element name="T1" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
						<element name="T2" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
						<element name="T3" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
						<element name="T4" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
						<element name="VSTMAX" type="string" maxOccurs="1" minOccurs="1"></element>
						<element name="VSTMIN" type="string" maxOccurs="1" minOccurs="1"></element>
					</sequence>
				</complexType>

				<complexType name="PssIEE2STXmlType">
					<sequence>
						<element name="stabilizerName" type="string" maxOccurs="1" minOccurs="0"></element>
						<element name="desc" type="string" maxOccurs="1" minOccurs="0"></element>

						<element name="firstInputSignal" maxOccurs="1" minOccurs="1">
							<simpleType>
								<restriction base="string">
									<enumeration value="rotor_speed_deviation"></enumeration>
									<enumeration value="bus_frequency_deviation"></enumeration>
									<enumeration value="generator_electrical_power"></enumeration>
									<enumeration value="generator_accelerating_power"></enumeration>
									<enumeration value="bus_voltage"></enumeration>
									<enumeration value="deriavative_of_bus_voltage"></enumeration>
									<enumeration value="0"></enumeration>
								</restriction>
							</simpleType>
						</element>
						<element name="firstRemoteBusId" type="string" maxOccurs="1" minOccurs="1"></element>
						<element name="secondInputSignal" maxOccurs="1" minOccurs="0">
							<simpleType>
								<restriction base="string">
									<enumeration value="rotor_speed_deviation"></enumeration>
									<enumeration value="bus_frequency_deviation"></enumeration>
									<enumeration value="generator_electrical_power"></enumeration>
									<enumeration value="generator_accelerating_power"></enumeration>
									<enumeration value="bus_voltage"></enumeration>
									<enumeration value="deriavative_of_bus_voltage"></enumeration>
									<enumeration value="0"></enumeration>
								</restriction>
							</simpleType>
						</element>
						<element name="secondRemoteBusId" type="string" maxOccurs="1" minOccurs="0"></element>
						<element name="K1" type="double" maxOccurs="1" minOccurs="1"></element>
						<element name="K2" type="double" maxOccurs="1" minOccurs="1"></element>
						<element name="T1" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
						<element name="T2" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
						<element name="T3" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
						<element name="T4" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
						<element name="T5" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
						<element name="T6" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
						<element name="T7" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
						<element name="T8" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
						<element name="T9" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
						<element name="T10" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
						<element name="VSMAX" type="pss:PerUnitXmlType" maxOccurs="1" minOccurs="1"></element>
						<element name="VSMIN" type="pss:PerUnitXmlType" maxOccurs="1" minOccurs="1"></element>
						<element name="VCU" type="pss:PerUnitXmlType" maxOccurs="1" minOccurs="0"></element>
						<element name="VCL" type="pss:PerUnitXmlType" maxOccurs="1" minOccurs="0"></element>
						<element name="VCUTOFF" type="pss:PerUnitXmlType" maxOccurs="1" minOccurs="0"></element>
					</sequence>
				</complexType>

				<complexType name="PssIEEEDualInputXmlType">
					<sequence>
						<element name="stabilizerName" type="string" maxOccurs="1" minOccurs="0"></element>
						<element name="desc" type="string" maxOccurs="1" minOccurs="0"></element>
						<element name="firstInputSignal" maxOccurs="1" minOccurs="1">
							<simpleType>
								<restriction base="string">
									<enumeration value="rotor_speed_deviation"></enumeration>
									<enumeration value="bus_frequency_deviation"></enumeration>
									<enumeration value="generator_electrical_power"></enumeration>
									<enumeration value="generator_accelerating_power"></enumeration>
									<enumeration value="bus_voltage"></enumeration>
									<enumeration value="deriavative_of_bus_voltage"></enumeration>
								</restriction>
							</simpleType>
						</element>
						<element name="firstRemoteBusId" type="pss:IDRefRecordXmlType" maxOccurs="1" minOccurs="1"></element>
						<element name="secondInputSignal" maxOccurs="1" minOccurs="0">
							<simpleType>
								<restriction base="string">
									<enumeration value="rotor_speed_deviation"></enumeration>
									<enumeration value="bus_frequency_deviation"></enumeration>
									<enumeration value="generator_electrical_power"></enumeration>
									<enumeration value="generator_accelerating_power"></enumeration>
									<enumeration value="bus_voltage"></enumeration>
									<enumeration value="deriavative_of_bus_voltage"></enumeration>
								</restriction>
							</simpleType>
						</element>
						<element name="secondRemoteBusId" type="pss:IDRefRecordXmlType" maxOccurs="1" minOccurs="0"></element>
						<element name="Trw" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
						<element name="T5" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
						<element name="T6" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
						<element name="T7" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
						<element name="Kr" type="double" maxOccurs="1" minOccurs="1"></element>
						<element name="Trp" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
						<element name="TW" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
						<element name="TW1" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
						<element name="TW2" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
						<element name="KS" type="double" maxOccurs="1" minOccurs="1"></element>
						<element name="T9" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
						<element name="T10" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
						<element name="T12" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
						<element name="Kp" type="double" maxOccurs="1" minOccurs="1"></element>
						<element name="T1" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
						<element name="T2" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
						<element name="T13" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
						<element name="T14" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
						<element name="T3" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
						<element name="T4" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
						<element name="VSMAX" type="pss:PerUnitXmlType" maxOccurs="1" minOccurs="1"></element>
						<element name="VSMIN" type="pss:PerUnitXmlType" maxOccurs="1" minOccurs="1"></element>
					</sequence>
				</complexType>
<!-- 
	Governor Model
	==============
 -->    

				<complexType name="GovIEEE1981Type1XmlTypeXmlType">
					<sequence>
						<element name="name" type="string" maxOccurs="1" minOccurs="1"></element>
						<element name="desc" type="string" maxOccurs="1" minOccurs="0"></element>
						<element name="basePower" type="string" maxOccurs="1" minOccurs="1"></element>
						<element name="basePowerUnit" minOccurs="1" maxOccurs="1">
							<simpleType>
								<restriction base="string">
									<enumeration value="KVA"></enumeration>
									<enumeration value="MVA"></enumeration>
								</restriction>
							</simpleType>
						</element>
						<element name="K" type="double" maxOccurs="1" minOccurs="1"></element>
						<element name="T1" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
						<element name="T2" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
						<element name="T3" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
						<element name="U0" maxOccurs="1" minOccurs="1" type="pss:PerUnitXmlType">

						</element>
						<element name="UC" maxOccurs="1" minOccurs="1" type="pss:PerUnitXmlType">
						</element>
						<element name="PMAX" type="pss:PerUnitXmlType" maxOccurs="1" minOccurs="1"></element>
						<element name="PMIN" type="pss:PerUnitXmlType" maxOccurs="1" minOccurs="1"></element>
						<element name="T4" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
						<element name="K1" type="pss:PerUnitXmlType" maxOccurs="1" minOccurs="1"></element>
						<element name="K2" type="pss:PerUnitXmlType" maxOccurs="1" minOccurs="1"></element>
						<element name="T5" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
						<element name="K3" type="pss:PerUnitXmlType" maxOccurs="1" minOccurs="1"></element>
						<element name="K4" type="pss:PerUnitXmlType" maxOccurs="1" minOccurs="1"></element>
						<element name="T6" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
						<element name="K5" type="pss:PerUnitXmlType" maxOccurs="1" minOccurs="1"></element>
						<element name="K6" type="pss:PerUnitXmlType" maxOccurs="1" minOccurs="1"></element>
						<element name="T7" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
						<element name="K7" type="pss:PerUnitXmlType" maxOccurs="1" minOccurs="1"></element>
						<element name="K8" type="pss:PerUnitXmlType" maxOccurs="1" minOccurs="1"></element>
					</sequence>
				</complexType>

				<complexType name="GovIEEE1981Type2XmlType">
					<sequence>
						<element name="name" type="string" maxOccurs="1" minOccurs="1"></element>
						<element name="desc" type="string" maxOccurs="1" minOccurs="0"></element>
						<element name="basePower" type="string" maxOccurs="1" minOccurs="1"></element>
						<element name="basePowerUnit" minOccurs="1" maxOccurs="1">
							<simpleType>
								<restriction base="string">
									<enumeration value="KVA"></enumeration>
									<enumeration value="MVA"></enumeration>
								</restriction>
							</simpleType>
						</element>
						<element name="K" type="double" maxOccurs="1" minOccurs="1"></element>
						<element name="T1" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
						<element name="T2" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
						<element name="T3" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
						<element name="PMAX" type="string" maxOccurs="1" minOccurs="1"></element>
						<element name="PMIN" type="string" maxOccurs="1" minOccurs="1"></element>
						<element name="T4" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
					</sequence>
				</complexType>

				<complexType name="GovIEEE1981Type3XmlType">
					<sequence>
						<element name="name" type="string" maxOccurs="1" minOccurs="1"></element>
						<element name="desc" type="string" maxOccurs="1" minOccurs="0"></element>
						<element name="basePower" type="string" maxOccurs="1" minOccurs="1"></element>
						<element name="basePowerUnit" minOccurs="1" maxOccurs="1">
							<simpleType>
								<restriction base="string">
									<enumeration value="KVA"></enumeration>
									<enumeration value="MVA"></enumeration>
								</restriction>
							</simpleType>
						</element>
						<element name="TG" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
						<element name="TP" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
						<element name="U0" maxOccurs="1" minOccurs="1">
							<simpleType>
								<restriction base="string">
									<enumeration value="PU"></enumeration>
									<enumeration value="sec"></enumeration>
								</restriction>
							</simpleType>
						</element>
						<element name="UC" maxOccurs="1" minOccurs="1">
							<simpleType>
								<restriction base="string">
									<enumeration value="PU"></enumeration>
									<enumeration value="sec"></enumeration>
								</restriction>
							</simpleType>
						</element>
						<element name="PMAX" type="string" maxOccurs="1" minOccurs="1"></element>
						<element name="PMIN" type="string" maxOccurs="1" minOccurs="1"></element>
						<element name="SIGMA" type="double" maxOccurs="1" minOccurs="1"></element>
						<element name="DELTA" type="double" maxOccurs="1" minOccurs="1"></element>
						<element name="TR" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
						<element name="TW" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
						<element name="a11" type="double" maxOccurs="1" minOccurs="1"></element>
						<element name="a13" type="double" maxOccurs="1" minOccurs="1"></element>
						<element name="a21" type="double" maxOccurs="1" minOccurs="1"></element>
						<element name="a23" type="double" maxOccurs="1" minOccurs="1"></element>
					</sequence>
				</complexType>

				<complexType name="GovHydroSteamGeneralModelXmlType">
					<sequence>
						<element name="name" type="string" maxOccurs="1" minOccurs="1"></element>
						<element name="desc" type="string" maxOccurs="1" minOccurs="0"></element>
						<element name="basePower" type="string" maxOccurs="1" minOccurs="1"></element>
						<element name="basePowerUnit" minOccurs="1" maxOccurs="1">
							<simpleType>
								<restriction base="string">
									<enumeration value="KVA"></enumeration>
									<enumeration value="MVA"></enumeration>
								</restriction>
							</simpleType>
						</element>
						<element name="R" type="pss:PerUnitXmlType" maxOccurs="1" minOccurs="1"></element>
						<element name="KV" type="pss:PerUnitXmlType" maxOccurs="1" minOccurs="1"></element>
						<element name="T1" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
						<element name="T2" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
						<element name="T3" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
						<element name="T4" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
						<element name="T5" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
						<element name="PMAX" type="pss:PerUnitXmlType" maxOccurs="1" minOccurs="1"></element>
						<element name="F" type="pss:PerUnitXmlType" maxOccurs="1" minOccurs="1"></element>
						<element name="turbine" type="pss:TurbineXmlType" maxOccurs="1" minOccurs="0"></element>
					</sequence>
				</complexType>

				<complexType name="GovHydroTurbineXmlType">
					<sequence>
						<element name="name" type="string" maxOccurs="1" minOccurs="1"></element>
						<element name="desc" type="string" maxOccurs="1" minOccurs="0"></element>
						<element name="basePower" type="string" maxOccurs="1" minOccurs="1"></element>
						<element name="basePowerUnit" minOccurs="1" maxOccurs="1">
							<simpleType>
								<restriction base="string">
									<enumeration value="KVA"></enumeration>
									<enumeration value="MVA"></enumeration>
								</restriction>
							</simpleType>
						</element>
						<element name="R" type="pss:PerUnitXmlType" maxOccurs="1" minOccurs="1"></element>
						<element name="TG" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
						<element name="TP" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
						<element name="TD" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
						<element name="PMAX" type="pss:PerUnitXmlType" maxOccurs="1" minOccurs="1"></element>
						<element name="TWhalf" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
						<element name="Uo" type="pss:PerUnitXmlType" maxOccurs="1" minOccurs="1"></element>
						<element name="Uc" type="pss:PerUnitXmlType" maxOccurs="1" minOccurs="1"></element>
						<element name="D4" type="pss:PerUnitXmlType" maxOccurs="1" minOccurs="1"></element>
						<element name="turbine" type="pss:TurbineXmlType" maxOccurs="1" minOccurs="0"></element>
					</sequence>
				</complexType>

				<complexType name="GovHydroXmlType">
					<sequence>
						<element name="name" type="string" maxOccurs="1" minOccurs="1"></element>
						<element name="desc" type="string" maxOccurs="1" minOccurs="0"></element>
						<element name="basePower" type="string" maxOccurs="1" minOccurs="1"></element>
						<element name="basePowerUnit" minOccurs="1" maxOccurs="1">
							<simpleType>
								<restriction base="string">
									<enumeration value="KVA"></enumeration>
									<enumeration value="MVA"></enumeration>
								</restriction>
							</simpleType>
						</element>
						<element name="PMAX" type="pss:PerUnitXmlType" maxOccurs="1" minOccurs="1"></element>
						<element name="PMIN" type="pss:PerUnitXmlType" maxOccurs="1" minOccurs="1"></element>
						<element name="R" type="pss:PerUnitXmlType" maxOccurs="1" minOccurs="1"></element>
						<element name="T1" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
						<element name="T2" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
						<element name="T3" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
						<element name="U0" maxOccurs="1" minOccurs="1" type="pss:PerUnitXmlType">
						</element>
						<element name="UC" maxOccurs="1" minOccurs="1" type="pss:PerUnitXmlType">
						</element>
						<element name="turbine" type="pss:TurbineXmlType" maxOccurs="1" minOccurs="0"></element>
					</sequence>
				</complexType>

<!-- 
	Turbine Model
	=============
 -->    
	<complexType name="TurbineXmlType">
		<sequence>
			<element name="steamTurbine " maxOccurs="1" minOccurs="0" type="pss:SteamTurbineXmlType">
			</element>
			<element name="hydraulicTurbine " maxOccurs="1" minOccurs="0" type="pss:HydraulicTurbineXmlType">
			</element>
		</sequence>
	</complexType>
	    
				<complexType name="SteamTurbineXmlType">
					<sequence>
						<element name="K" type="double" maxOccurs="1" minOccurs="0"></element>
						<element name="TCH" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="0"></element>
						<element name="FHP" type="double" maxOccurs="1" minOccurs="0"></element>
						<element name="TRH" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="0"></element>
						<element name="FIP" type="double" maxOccurs="1" minOccurs="0"></element>
						<element name="TCO" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="0"></element>
						<element name="FLP" type="double" maxOccurs="1" minOccurs="0"></element>
					</sequence>
				</complexType>
				
				<complexType name="HydraulicTurbineXmlType">
				</complexType>
    
<!-- 
	Turbine Model
	=============
 -->    

				<complexType name="DLoad_IEEEStaticLoadXmlType">
					<sequence>
						<element name="modelDesc" maxOccurs="1" minOccurs="0">
							<simpleType>
								<restriction base="string">
									<enumeration value="compoundLoad"></enumeration>

								</restriction>
							</simpleType>
						</element>
						<element name="a1" type="double" maxOccurs="1" minOccurs="1"></element>
						<element name="a2" type="double" maxOccurs="1" minOccurs="1"></element>
						<element name="a3" type="double" maxOccurs="1" minOccurs="1"></element>
						<element name="a4" type="double" maxOccurs="1" minOccurs="1"></element>
						<element name="a5" type="double" maxOccurs="1" minOccurs="1"></element>
						<element name="a6" type="double" maxOccurs="1" minOccurs="1"></element>
						<element name="a7" type="double" maxOccurs="1" minOccurs="1"></element>
						<element name="a8" type="double" maxOccurs="1" minOccurs="1"></element>
						<element name="n1" type="double" maxOccurs="1" minOccurs="1"></element>
						<element name="n2" type="double" maxOccurs="1" minOccurs="1"></element>
						<element name="n3" type="double" maxOccurs="1" minOccurs="1"></element>
						<element name="n4" type="double" maxOccurs="1" minOccurs="1"></element>
						<element name="n5" type="double" maxOccurs="1" minOccurs="1"></element>
						<element name="n6" type="double" maxOccurs="1" minOccurs="1"></element>

						<element name="a9" type="double" maxOccurs="1" minOccurs="0"></element>
						<element name="a10" type="double" maxOccurs="1" minOccurs="0"></element>
					</sequence>
				</complexType>

				<complexType name="DLoad_ComplexLoadXmlType">
					<sequence>
						<element name="modelDesc" maxOccurs="1" minOccurs="0">
							<simpleType>
								<restriction base="string">
									<enumeration value="complexLoad"></enumeration>
								</restriction>
							</simpleType>
						</element>
						<element name="largeMotPercent" type="pss:PercentXmlType" maxOccurs="1" minOccurs="1"></element>
						<element name="smallMotPercent" type="pss:PercentXmlType" maxOccurs="1" minOccurs="1"></element>
						<element name="transExcCurPercent" type="pss:PercentXmlType" maxOccurs="1" minOccurs="1"></element>
						<element name="dischLightingPercent" type="pss:PercentXmlType" maxOccurs="1" minOccurs="1"></element>
						<element name="constPowerPercent" type="pss:PercentXmlType" maxOccurs="1" minOccurs="1"></element>
						<element name="remainPercent" type="pss:PercentXmlType" maxOccurs="1" minOccurs="1"></element>
						<element name="branchR" type="string" maxOccurs="1" minOccurs="1"></element>
						<element name="branchX" type="string" maxOccurs="1" minOccurs="1"></element>
					</sequence>
				</complexType>

				<complexType name="DLoad_InductionMotorXmlType">
					<sequence>
						<element name="modelDesc" maxOccurs="1" minOccurs="0">
							<simpleType>
								<restriction base="string">
									<enumeration value="inductionmotor"></enumeration>
								</restriction>
							</simpleType>
						</element>
						<element name="motorType" maxOccurs="1" minOccurs="1">
							<simpleType>
								<restriction base="string">
									<enumeration value="type1"></enumeration>
									<enumeration value="type2"></enumeration>
								</restriction>
							</simpleType>
						</element>
						<element name="RA" type="string" maxOccurs="1" minOccurs="1"></element>
						<element name="XA" type="string" maxOccurs="1" minOccurs="1"></element>
						<element name="XM" type="string" maxOccurs="1" minOccurs="1"></element>
						<element name="R1" type="string" maxOccurs="1" minOccurs="1"></element>
						<element name="X1" type="string" maxOccurs="1" minOccurs="1"></element>
						<element name="R2" type="string" maxOccurs="1" minOccurs="1"></element>
						<element name="X2" type="string" maxOccurs="1" minOccurs="1"></element>


						<element name="E1" type="double" maxOccurs="1" minOccurs="1"></element>
						<element name="SE1" type="double" maxOccurs="1" minOccurs="1"></element>
						<element name="E2" type="double" maxOccurs="1" minOccurs="1"></element>
						<element name="SE2" type="double" maxOccurs="1" minOccurs="1"></element>


						<element name="MBASE" type="double" maxOccurs="1" minOccurs="1"></element>
						<element name="PMULT" type="double" maxOccurs="1" minOccurs="1"></element>
						<element name="H" type="string" maxOccurs="1" minOccurs="1"></element>
						<element name="VI" type="string" maxOccurs="1" minOccurs="1"></element>
						<element name="TI" maxOccurs="1" minOccurs="1" type="pss:TimePeriodXmlType"></element>
						<element name="TB" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
						<element name="D" type="double" maxOccurs="1" minOccurs="1"></element>
						<element name="Tnom" type="string" maxOccurs="1" minOccurs="0"></element>
					</sequence>
				</complexType>
</schema>