ieee.odm_pss/schema/ODM_ScenarioType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.ieee.org/cmte/psace/oss/odm/pss/Schema/v1" xmlns:pss="http://www.ieee.org/cmte/psace/oss/odm/pss/Schema/v1"
	elementFormDefault="qualified">
	<include schemaLocation="ODM_DataType.xsd"></include>
	<include schemaLocation="ODM_DynamicModel.xsd"></include>

	<complexType name="BusDynDataListXmlType">
		<sequence>
			<element name="generatorDataList" type="pss:GeneratorDataListXmlType" maxOccurs="1" minOccurs="0"></element>
			<element name="exciterDataList" type="pss:ExciterDataListXmlType" maxOccurs="1" minOccurs="0"></element>
			<element name="turbineGovernorDataList" type="pss:TurbineGovernorDataListXmlType" maxOccurs="1" minOccurs="0"></element>
			<element name="stabilizerDataList" type="pss:StabilizerDataListXmlType" maxOccurs="1" minOccurs="0"></element>
			<element name="LoadCharacteristicDataList" type="pss:LoadCharacteristicDataListXmlType" maxOccurs="1" minOccurs="0"></element>
		</sequence>
	</complexType>
	<complexType name="GeneratorDataListXmlType">
		<sequence>
			<element name="generator" type="pss:GeneratorXmlType" maxOccurs="unbounded" minOccurs="1"></element>
		</sequence>
	</complexType>

	<complexType name="ExciterDataListXmlType">
		<sequence>
			<element name="exciter" type="pss:ExciterXmlType" maxOccurs="unbounded" minOccurs="1"></element>
		</sequence>
	</complexType>

	<complexType name="TurbineGovernorDataListXmlType">
		<sequence>
			<element name="turbineGovernor" type="pss:TurbineGovernorXmlType" maxOccurs="unbounded" minOccurs="1"></element>
		</sequence>
	</complexType>

	<complexType name="StabilizerDataListXmlType">
		<sequence>
			<element name="stabilizer" type="pss:StabilizerXmlType" maxOccurs="unbounded" minOccurs="1"></element>
		</sequence>
	</complexType>

	<complexType name="LoadCharacteristicDataListXmlType">
		<sequence>
			<element name="Load" type="pss:LoadCharacteristicXmlType" maxOccurs="unbounded" minOccurs="1"></element>
		</sequence>
	</complexType>

	<complexType name="GeneratorXmlType">
		<sequence>
			<element name="locatedBus" type="pss:IDRefRecordXmlType" maxOccurs="1" minOccurs="1"></element>
			<element name="genId" type="pss:IDRefRecordXmlType" maxOccurs="1" minOccurs="0"></element>
			<element name="ownerName" type="string" maxOccurs="1" minOccurs="0"></element>
			<element name="busRatedVoltage" type="pss:VoltageXmlType" maxOccurs="1" minOccurs="0"></element>
			<element name="generatorType" maxOccurs="1" minOccurs="1">
				<simpleType>
					<restriction base="string">
						<enumeration value="equi_gen_unit"></enumeration>
						<enumeration value="classicalModel"></enumeration>
						<enumeration value="transientModel"></enumeration>
						<enumeration value="subtransModel"></enumeration>

					</restriction>
				</simpleType>
			</element>
			<element name="generatorModel" type="pss:GeneratorModelListXmlType" maxOccurs="1" minOccurs="1"></element>

			<element name="pContribution" type="pss:PercentXmlType" maxOccurs="1" minOccurs="0"></element>
			<element name="qContribution" type="pss:PercentXmlType" maxOccurs="1" minOccurs="0"></element>
		</sequence>
	</complexType>

	<complexType name="ExciterXmlType">
		<sequence>
			<element name="locatedBus" type="pss:IDRefRecordXmlType" maxOccurs="1" minOccurs="1"></element>
			<element name="busRatedVoltage" type="pss:VoltageXmlType" maxOccurs="1" minOccurs="0"></element>
			<element name="exciterType" maxOccurs="1" minOccurs="1">
				<simpleType>
					<restriction base="string">
						<enumeration value="IEEE1992TypeAC1A"></enumeration>
						<enumeration value="IEEE1981TypeAC2"></enumeration>
						<enumeration value="IEEE1981ST1"></enumeration>
						<enumeration value="BPAFJ"></enumeration>
						<enumeration value="IEEE1968Type1"></enumeration>
						<enumeration value="IEEEModified1968Type1"></enumeration>
						<enumeration value="IEEE1981NewExcSystem"></enumeration>
						<enumeration value="IEEETypeDC2"></enumeration>


					</restriction>
				</simpleType>
			</element>
			<element name="exciterModel" type="pss:ExciterModelListXmlType" maxOccurs="1" minOccurs="1"></element>

			<element name="excId" type="pss:IDRefRecordXmlType" maxOccurs="1" minOccurs="0"></element>
		</sequence>
	</complexType>

	<complexType name="TurbineGovernorXmlType">
		<sequence>
			<element name="locatedBus" type="pss:IDRefRecordXmlType" maxOccurs="1" minOccurs="1"></element>
			<element name="busRatedVoltage" type="pss:VoltageXmlType" maxOccurs="1" minOccurs="0"></element>
			<element name="turbineGovernorType" maxOccurs="1" minOccurs="1">
				<simpleType>
					<restriction base="string">
						<enumeration value="IEEE1981Type1"></enumeration>
						<enumeration value="IEEE1981Type2"></enumeration>
						<enumeration value="IEEE1981Type3"></enumeration>
						<enumeration value="hydroStreamGeneralModel"></enumeration>
						<enumeration value="hydroGovernerAndTurbine"></enumeration>
						<enumeration value="hydroGoverner"></enumeration>

					</restriction>
				</simpleType>
			</element>
			<element name="turbineGovernorModel" type="pss:TurbineGovernorModelListXmlType" maxOccurs="1" minOccurs="1"></element>
			<element name="tgId" type="pss:IDRefRecordXmlType" maxOccurs="1" minOccurs="0"></element>

		</sequence>
	</complexType>

	<complexType name="StabilizerXmlType">
		<sequence>
			<element name="locatedBus" type="pss:IDRefRecordXmlType" maxOccurs="1" minOccurs="1"></element>
			<element name="busRatedVoltage" type="pss:VoltageXmlType" maxOccurs="1" minOccurs="0"></element>
			<element name="stabilizerType" maxOccurs="1" minOccurs="1">
				<simpleType>
					<restriction base="string">
						<enumeration value="IEEE1981Type"></enumeration>
						<enumeration value="IEEE1982Type2A"></enumeration>
						<enumeration value="IEE2ST"></enumeration>
						<enumeration value="IEEEDualInput"></enumeration>
					</restriction>
				</simpleType>
			</element>
			<element name="stabilizerModel" type="pss:StabilizerModelListXmlType" maxOccurs="1" minOccurs="1"></element>

			<element name="macId" type="pss:IDRefRecordXmlType" maxOccurs="1" minOccurs="0"></element>
		</sequence>
	</complexType>

	<complexType name="LoadCharacteristicXmlType">
		<sequence>
			<element name="location" maxOccurs="1" minOccurs="1">
				<simpleType>
					<restriction base="string">
						<enumeration value="atBus"></enumeration>
						<enumeration value="atOwner"></enumeration>
						<enumeration value="atZone"></enumeration>
						<enumeration value="atArea"></enumeration>
						<enumeration value="other"></enumeration>
					</restriction>
				</simpleType>
			</element>

			<element name="locationId" type="pss:IDRefRecordXmlType" maxOccurs="1" minOccurs="1"></element>
			<element name="LoadXmlType" maxOccurs="1" minOccurs="1">
				<simpleType>
					<restriction base="string">
						<enumeration value="IEEEStaticLoad"></enumeration>
						<enumeration value="ComplexLoad"></enumeration>
						<enumeration value="InductionMotor"></enumeration>
					</restriction>
				</simpleType>
			</element>
			<element name="LoadModel" type="pss:LoadCharacteristicModelListXmlType" maxOccurs="1" minOccurs="1"></element>


		</sequence>
	</complexType>

	<complexType name="GeneratorModelListXmlType">
		<sequence>
			<element name="equiGenUnit" maxOccurs="1" minOccurs="0" type="pss:EquiMachineXmlType">			</element>
			<element name="classicalModel" maxOccurs="1" minOccurs="0" type="pss:ClassicMachineXmlType">			</element>
			<element name="transModel" maxOccurs="1" minOccurs="0" type="pss:TransientMachineXmlType">			</element>
			<element name="subTransientModel" maxOccurs="1" minOccurs="0" type="pss:SubTransientMachineXmlType">			</element>
		</sequence>
	</complexType>

	<complexType name="ExciterModelListXmlType">
		<sequence>
			<element name="IEEE1992TypeAC1A" maxOccurs="1" minOccurs="0" type="pss:ExcIEEE1992TypeAC1AXmlType">			</element>            <element name="IEEE1981TypeAC2" maxOccurs="1" minOccurs="0" type="pss:ExcIEEE1981TypeAC2XmlType">			</element>
            <element name="IEEE1981ST1" maxOccurs="1" minOccurs="0" type="pss:ExcIEEE1981ST1XmlType">			</element>
			<element name="BPAFJ" maxOccurs="1" minOccurs="0" type="pss:ExcBPAFJXmlType">			</element>
			<element name="IEEE1968Type1" maxOccurs="1" minOccurs="0" type="pss:ExcIEEE1968Type1XmlType">			</element>
			<element name="IEEEModified1968Type1" maxOccurs="1" minOccurs="0" type="pss:ExcrIEEEModified1968Type1XmlType">			</element>
			<element name="IEEE1981NewExcSystem" maxOccurs="1" minOccurs="0" type="pss:ExcIEEE1981NewExcSystemXmlType">			</element>
			<element name="IEEETypeDC2" maxOccurs="1" minOccurs="0" type="pss:ExcIEEETypeDC2XmlType">			</element>
		</sequence>
	</complexType>

	<complexType name="TurbineGovernorModelListXmlType">
		<sequence>
			<element name="IEEE1981Type1" maxOccurs="1" minOccurs="0" type="pss:GovIEEE1981Type1XmlTypeXmlType">			</element>
			<element name="IEEE1981Type2" maxOccurs="1" minOccurs="0" type="pss:GovIEEE1981Type2XmlType">			</element>
			<element name="IEEE1981Type3" maxOccurs="1" minOccurs="0" type="pss:GovIEEE1981Type3XmlType">			</element>
			<element name="hydroStreamGeneralModel" maxOccurs="1" minOccurs="0" type="pss:GovHydroSteamGeneralModelXmlType">			</element>
			<element name="hydroGovernerAndTurbine" maxOccurs="1" minOccurs="0" type="pss:GovHydroTurbineXmlType">			</element>
			<element name="hydroGoverner" maxOccurs="1" minOccurs="0" type="pss:GovHydroXmlType">			</element>
		</sequence>
	</complexType>
	<complexType name="StabilizerModelListXmlType">
		<sequence>
			<element name="IEEE1981Type" maxOccurs="1" minOccurs="0" type="pss:PssIEEE1981TypeXmlType">			</element>
			<element name="IEEE1982Type2A" maxOccurs="1" minOccurs="0" type="pss:PssIEEE1982Type2AXmlType">			</element>
			<element name="IEE2ST" maxOccurs="1" minOccurs="0" type="pss:PssIEE2STXmlType">			</element>
			<element name="IEEEDualInput" maxOccurs="1" minOccurs="0" type="pss:PssIEEEDualInputXmlType">			</element>
		</sequence>
	</complexType>
	<complexType name="LoadCharacteristicModelListXmlType">
		<sequence>
			<element name="IEEEStaticLoad" maxOccurs="1" minOccurs="0" type="pss:DLoad_IEEEStaticLoadXmlType">
			</element>
			<element name="ComplexLoad" maxOccurs="1" minOccurs="0" type="pss:DLoad_ComplexLoadXmlType">
			</element>
			<element name="InductionMotor" maxOccurs="1" minOccurs="0" type="pss:DLoad_InductionMotorXmlType">
			</element>
		</sequence>
	</complexType>


	<complexType name="BranchDynDataListXmlType">
		<sequence>
			<element name="lineRelayDataList" type="pss:LineRelayDataListXmlType" maxOccurs="1" minOccurs="0"></element>
		</sequence>
	</complexType>

	<complexType name="LineRelayDataListXmlType">
		<sequence>
			<element name="lineRelay" type="pss:LineRelayXmlType" maxOccurs="1" minOccurs="0"></element>
		</sequence>
	</complexType>

	<complexType name="LineRelayXmlType">
		<sequence>
			<element name="lineRelayType" maxOccurs="1" minOccurs="1">
				<simpleType>
					<restriction base="string">
						<enumeration value="TIOCR1"></enumeration>
						<enumeration value="distanceRelay"></enumeration>

					</restriction>
				</simpleType>
			</element>
			<element name="lineRelayModel" type="pss:LineRelayModelListXmlType" maxOccurs="1" minOccurs="1"></element>
		</sequence>
	</complexType>

	<complexType name="LineRelayModelListXmlType">
		<sequence>
			<element name="TIOCR1" maxOccurs="1" minOccurs="0">
				<complexType></complexType>
			</element>
			<element name="distanceRelay" maxOccurs="1" minOccurs="0">
				<complexType></complexType>
			</element>
		</sequence>
	</complexType>






	<complexType name="FaultListXmlType">
		<sequence>
			<element name="fault" maxOccurs="unbounded" minOccurs="1">
				<complexType>
					<sequence>
						<element name="faultType" maxOccurs="1" minOccurs="1">
							<simpleType>
								<restriction base="string">
									<enumeration value="busFault"></enumeration>
									<enumeration value="branchFault"></enumeration>
									<enumeration value="branchOutage"></enumeration>
									<enumeration value="loadChange"></enumeration>
								</restriction>
							</simpleType>
						</element>

						<element name="branchFault" maxOccurs="1" minOccurs="0">
							<complexType>
								<sequence>
									<element name="faultCategory" type="pss:FaultCategoryXmlType" maxOccurs="1" minOccurs="1"></element>
									<element name="fromBus" type="pss:IDRefRecordXmlType" maxOccurs="1" minOccurs="1"></element>
									<element name="fromBusRatedV" type="pss:VoltageXmlType" maxOccurs="1" minOccurs="0"></element>
									<element name="toBus" type="pss:IDRefRecordXmlType" maxOccurs="1" minOccurs="0"></element>
									<element name="toBusRatedV" type="pss:VoltageXmlType" maxOccurs="1" minOccurs="0"></element>

									<element name="faultStartTime" type="pss:CycleXmlType" maxOccurs="1" minOccurs="0"></element>
									<element name="firstOperationTime" type="pss:CycleXmlType" maxOccurs="1" minOccurs="0"></element>
									<element name="secondOperationTime" type="pss:CycleXmlType" maxOccurs="1" minOccurs="0"></element>
									<element name="faultDurationTime" type="pss:CycleXmlType" maxOccurs="1" minOccurs="0"></element>
									<element name="faultZ" type="pss:ZXmlType" maxOccurs="1" minOccurs="0"></element>
									<element name="faultLocationFromFromSide" type="pss:PercentXmlType" maxOccurs="1" minOccurs="0"></element>
									<element name="permanentFault" type="boolean" maxOccurs="1" minOccurs="0"></element>
									<element name="faultedCirId" type="string" maxOccurs="unbounded" minOccurs="0"></element>
								</sequence>
							</complexType>
						</element>
						<element name="busFault" maxOccurs="1" minOccurs="0">
							<complexType>
								<sequence>
									<element name="faultCategory" type="pss:FaultCategoryXmlType" maxOccurs="1" minOccurs="1"></element>
									<element name="faultedBus" type="pss:IDRefRecordXmlType" maxOccurs="1" minOccurs="1"></element>
									<element name="faultedBusRatedV" type="pss:VoltageXmlType" maxOccurs="1" minOccurs="0"></element>
									<element name="remoteEndBus" type="pss:IDRefRecordXmlType" maxOccurs="1" minOccurs="0"></element>
									<element name="remoteEndBusRatedV" type="pss:VoltageXmlType" maxOccurs="1" minOccurs="0"></element>


									<element name="faultStartTime" type="pss:CycleXmlType" maxOccurs="1" minOccurs="0"></element>
									<element name="firstOperationTime" type="pss:CycleXmlType" maxOccurs="1" minOccurs="0"></element>
									<element name="secondOperationTime" type="pss:CycleXmlType" maxOccurs="1" minOccurs="0"></element>
									<element name="faultDurationTime" type="pss:CycleXmlType" maxOccurs="1" minOccurs="0"></element>
									<element name="faultZ" type="pss:ZXmlType" maxOccurs="1" minOccurs="0"></element>
									<element name="permanentFault" type="boolean" maxOccurs="1" minOccurs="0"></element>


								</sequence>
							</complexType>
						</element>
						<element name="branchOutage" maxOccurs="1" minOccurs="0">
							<complexType>

								<sequence>
									<element name="faultCategory" type="pss:FaultCategoryXmlType" maxOccurs="1" minOccurs="0"></element>
									<element name="fromBusId" type="string" maxOccurs="1" minOccurs="1"></element>
									<element name="toBusId" type="string" maxOccurs="1" minOccurs="1"></element>
									<element name="startTime" type="pss:CycleXmlType" maxOccurs="1" minOccurs="1"></element>
								</sequence>
							</complexType>
						</element>
						<element name="loadChange" maxOccurs="1" minOccurs="0">
							<complexType>
								<sequence>
									<element name="loadChangeCategory" maxOccurs="1" minOccurs="0">
										<simpleType>
											<restriction base="string">
												<enumeration value="low_frequence"></enumeration>
												<enumeration value="low_Voltage"></enumeration>
												<enumeration value="fixedtime"></enumeration>
											</restriction>
										</simpleType>
									</element>
									<element name="busId" type="pss:IDRefRecordXmlType" maxOccurs="1" minOccurs="0"></element>
									<element name="busRatedVoltage" type="pss:VoltageXmlType" maxOccurs="1" minOccurs="0"></element>

									<element name="operationTime" type="pss:CycleXmlType" maxOccurs="1" minOccurs="0"></element>
									<element name="operateAtFrequence" type="pss:FrequencyXmlType" maxOccurs="1" minOccurs="0"></element>
									<element name="operateAtVoltage" type="pss:VoltageXmlType" maxOccurs="1" minOccurs="0"></element>
									<element name="operationDelayTime" type="pss:CycleXmlType" maxOccurs="1" minOccurs="0"></element>
									<element name="constantPChange" type="pss:PowerXmlType" maxOccurs="1" minOccurs="0"></element>
									<element name="constantIChange" type="pss:PowerXmlType" maxOccurs="1" minOccurs="0"></element>
									<element name="constantZChange" type="pss:PowerXmlType" maxOccurs="1" minOccurs="0"></element>

								</sequence>
							</complexType>
						</element>
						<element name="genChange" maxOccurs="1" minOccurs="0">
							<complexType>
								<sequence>
									<element name="busId" type="pss:IDRefRecordXmlType" maxOccurs="1" minOccurs="0"></element>
									<element name="busRatedVoltage" type="pss:VoltageXmlType" maxOccurs="1" minOccurs="0"></element>
									<element name="generatorId" type="string" maxOccurs="1" minOccurs="0"></element>
									<element name="operationTime" type="pss:CycleXmlType" maxOccurs="1" minOccurs="0"></element>


									<element name="operationDelayTime" type="pss:CycleXmlType" maxOccurs="1" minOccurs="0"></element>
									<element name="genChange" type="pss:PowerXmlType" maxOccurs="1" minOccurs="0"></element>
									<element name="genOutage" type="boolean" maxOccurs="1" minOccurs="0"></element>
								</sequence>
							</complexType>
						</element>
						<element name="dcLineFault" maxOccurs="1" minOccurs="0">
							<complexType>
								<sequence>
									<element name="fromACBusId" type="pss:IDRefRecordXmlType" maxOccurs="1" minOccurs="1"></element>
									<element name="fromACRatedVol" type="pss:VoltageXmlType" maxOccurs="1" minOccurs="0"></element>
									<element name="toACBusId" type="pss:IDRefRecordXmlType" maxOccurs="1" minOccurs="1"></element>
									<element name="toACRatedVol" type="pss:VoltageXmlType" maxOccurs="1" minOccurs="0"></element>
									<element name="faultType" maxOccurs="1" minOccurs="1">
										<simpleType>
											<restriction base="string">
												<enumeration value="fromBus_Bipole_Short_Circuit"></enumeration>
												<enumeration value="toBus_Bipole_Short_Circuit"></enumeration>
												<enumeration value="fault_on_Line"></enumeration>
												<enumeration value="power_blocked"></enumeration>
												<enumeration value="power_reversed"></enumeration>
												<enumeration value="power_change_by_specification"></enumeration>
												<enumeration value="current_change_by_specification"></enumeration>
											</restriction>
										</simpleType>
									</element>
									<element name="startTime" type="pss:CycleXmlType" maxOccurs="1" minOccurs="1"></element>
									<element name="durationTime" type="pss:CycleXmlType" maxOccurs="1" minOccurs="0"></element>
									<element name="permanentFault" type="boolean" maxOccurs="1" minOccurs="0"></element>
									<element name="faultLocationFromFromSide" type="pss:PercentXmlType" maxOccurs="1" minOccurs="0"></element>
									<element name="changedPower" type="pss:PowerXmlType" maxOccurs="1" minOccurs="0"></element>
									<element name="changedCurrent" type="pss:CurrentXmlType" maxOccurs="1" minOccurs="0"></element>
									<element name="faultZ" type="pss:ZXmlType" maxOccurs="1" minOccurs="0"></element>
								</sequence>
							</complexType>
						</element>
					</sequence>
				</complexType>
			</element>
		</sequence>
	</complexType>




	<simpleType name="FaultCategoryXmlType">
		<restriction base="string">
			<enumeration value="3Phase"></enumeration>
			<enumeration value="lineToLine"></enumeration>
			<enumeration value="lineToGround"></enumeration>
			<enumeration value="lineLineToGround"></enumeration>
		</restriction>
	</simpleType>

	<complexType name="SequenceDataListXmlType">
		<sequence>
			<element name="postiveSequenceDataList" type="pss:PostiveSequenceDataListXmlType" maxOccurs="1" minOccurs="0"></element>
			<element name="negativeSequenceDataList" type="pss:NegativeSequenceDataListXmlType" maxOccurs="1" minOccurs="0"></element>
			<element name="zeroSequenceDataList" type="pss:ZeroSequenceDataListXmlType" maxOccurs="1" minOccurs="0"></element>
		</sequence>
	</complexType>

	<complexType name="PostiveSequenceDataListXmlType">
		<sequence>
			<element name="generatorPostiveList" maxOccurs="1" minOccurs="0">
				<complexType>
					<sequence>
						<element name="gerneratorPostive" maxOccurs="unbounded" minOccurs="0">
							<complexType>
								<sequence>
									<element name="busId" type="pss:IDRefRecordXmlType" maxOccurs="1" minOccurs="1"></element>
									<element name="macId" type="pss:IDRefRecordXmlType" maxOccurs="1" minOccurs="0"></element>
									<element name="ZRPos" type="pss:PerUnitXmlType" maxOccurs="1" minOccurs="0"></element>
									<element name="ZXPos" type="pss:PerUnitXmlType" maxOccurs="1" minOccurs="0"></element>
								</sequence>
							</complexType>
						</element>
					</sequence>
				</complexType>
			</element>
		</sequence>
	</complexType>

	<complexType name="NegativeSequenceDataListXmlType">
		<sequence>

			<element name="generatorNegativeList" maxOccurs="1" minOccurs="0">
				<complexType>
					<sequence>
						<element name="generatorNegative" maxOccurs="unbounded" minOccurs="0">
							<complexType>
								<sequence>
									<element name="busId" type="pss:IDRefRecordXmlType" maxOccurs="1" minOccurs="1"></element>
									<element name="macId" type="pss:IDRefRecordXmlType" maxOccurs="1" minOccurs="0"></element>
									<element name="ZRNeg" type="pss:PerUnitXmlType" maxOccurs="1" minOccurs="0"></element>
									<element name="ZXNeg" type="pss:PerUnitXmlType" maxOccurs="1" minOccurs="0"></element>
								</sequence>
							</complexType>
						</element>
					</sequence>
				</complexType>
			</element>
			<element name="shuntLoadNegativeList" maxOccurs="1" minOccurs="0">
				<complexType>
					<sequence>
						<element name="shuntLoadNegative" maxOccurs="unbounded" minOccurs="0">
							<complexType>
								<sequence>
									<element name="loadLocation" maxOccurs="1" minOccurs="0">
										<simpleType>
											<restriction base="string">
												<enumeration value="at_bus"></enumeration>
												<enumeration value="at_area"></enumeration>
												<enumeration value="at_zone"></enumeration>

											</restriction>
										</simpleType>
									</element>
									<element name="locationId" type="pss:IDRefRecordXmlType" maxOccurs="1" minOccurs="1"></element>
									<element name="rNeg" type="pss:PerUnitXmlType" maxOccurs="1" minOccurs="0"></element>
									<element name="xNeg" type="pss:PerUnitXmlType" maxOccurs="1" minOccurs="0"></element>

								</sequence>
							</complexType>
						</element>
					</sequence>
				</complexType>
			</element>
		</sequence>
	</complexType>

	<complexType name="ZeroSequenceDataListXmlType">
		<sequence>
			<element name="generatorZeroList" maxOccurs="1" minOccurs="0">
				<complexType>
					<sequence>
						<element name="generatorZero" maxOccurs="unbounded" minOccurs="0">
							<complexType>
								<sequence>
									<element name="busId" type="pss:IDRefRecordXmlType" maxOccurs="1" minOccurs="1"></element>
									<element name="macId" type="pss:IDRefRecordXmlType" maxOccurs="1" minOccurs="0"></element>
									<element name="ZRZer" type="pss:PerUnitXmlType" maxOccurs="1" minOccurs="0"></element>
									<element name="ZXZer" type="pss:PerUnitXmlType" maxOccurs="1" minOccurs="0"></element>
								</sequence>
							</complexType>

						</element>
					</sequence>
				</complexType>
			</element>
			<element name="shuntLoadZeroList" maxOccurs="1" minOccurs="0">
				<complexType>
					<sequence>
						<element name="shuntLoadZero" maxOccurs="unbounded" minOccurs="0">
							<complexType>
								<sequence>
									<element name="busId" type="pss:IDRefRecordXmlType" maxOccurs="1" minOccurs="1"></element>
									<element name="rZer" type="pss:PerUnitXmlType" maxOccurs="1" minOccurs="0"></element>
									<element name="xZer" type="pss:PerUnitXmlType" maxOccurs="1" minOccurs="0"></element>
								</sequence>

							</complexType>
						</element>
					</sequence>
				</complexType>
			</element>
			<element name="lineZeroList" maxOccurs="1" minOccurs="0">
				<complexType>
					<sequence>
						<element name="lineZero" maxOccurs="unbounded" minOccurs="0">
							<complexType>
								<sequence>
									<element name="fBusId" type="pss:IDRefRecordXmlType" maxOccurs="1" minOccurs="1"></element>
									<element name="tBusId" type="pss:IDRefRecordXmlType" maxOccurs="1" minOccurs="1"></element>
									<element name="cirId" type="string" maxOccurs="1" minOccurs="0"></element>
									<element name="rLineZer" type="pss:PerUnitXmlType" maxOccurs="1" minOccurs="0"></element>
									<element name="xLineZer" type="pss:PerUnitXmlType" maxOccurs="1" minOccurs="0"></element>
									<element name="bLineZer" type="pss:PerUnitXmlType" maxOccurs="1" minOccurs="0"></element>
									<element name="gfZer" type="pss:PerUnitXmlType" maxOccurs="1" minOccurs="0"></element>
									<element name="bfZer" type="pss:PerUnitXmlType" maxOccurs="1" minOccurs="0"></element>
									<element name="gtZer" type="pss:PerUnitXmlType" maxOccurs="1" minOccurs="0"></element>
									<element name="btZer" type="pss:PerUnitXmlType" maxOccurs="1" minOccurs="0"></element>
								</sequence>
							</complexType>
						</element>
					</sequence>
				</complexType>
			</element>

			<element name="xfrZeroList" maxOccurs="1" minOccurs="0">
				<complexType>
					<sequence>
						<element name="xfrZero" maxOccurs="unbounded" minOccurs="0">
							<complexType>
								<sequence>
									<element name="busI" type="pss:IDRefRecordXmlType" maxOccurs="1" minOccurs="1"></element>
									<element name="busJ" type="pss:IDRefRecordXmlType" maxOccurs="1" minOccurs="1"></element>
									<element name="busK" type="pss:IDRefRecordXmlType" maxOccurs="1" minOccurs="0"></element>
									<element name="cirId" type="string" maxOccurs="1" minOccurs="0"></element>
									<element name="conectionLocation" maxOccurs="1" minOccurs="1">
										<simpleType>
											<restriction base="string">
												<enumeration value="at_bus1"></enumeration>
												<enumeration value="at_bus2"></enumeration>
												<enumeration value="between_bus1_and_bus_2"></enumeration>
											</restriction>
										</simpleType>
									</element>
									<element name="RG" type="pss:PerUnitXmlType" maxOccurs="1" minOccurs="0"></element>
									<element name="XG" type="pss:PerUnitXmlType" maxOccurs="1" minOccurs="0"></element>
									<element name="R1" type="pss:PerUnitXmlType" maxOccurs="1" minOccurs="0"></element>
									<element name="X1" type="pss:PerUnitXmlType" maxOccurs="1" minOccurs="0"></element>
									<element name="R2" type="pss:PerUnitXmlType" maxOccurs="1" minOccurs="0"></element>
									<element name="X2" type="pss:PerUnitXmlType" maxOccurs="1" minOccurs="0"></element>
									<element name="R3" type="pss:PerUnitXmlType" maxOccurs="1" minOccurs="0"></element>
									<element name="X3" type="pss:PerUnitXmlType" maxOccurs="1" minOccurs="0"></element>
								</sequence>
							</complexType>
						</element>
					</sequence>
				</complexType>
			</element>
			<element name="mutualImpedanceZeroList" maxOccurs="1" minOccurs="0">
				<complexType>
					<sequence>
						<element name="mutualImpedanceZero" maxOccurs="unbounded" minOccurs="0">
							<complexType>
								<sequence>
									<element name="branch1BusI" type="pss:IDRefRecordXmlType" maxOccurs="1" minOccurs="1"></element>
									<element name="branch1BuJ" type="pss:IDRefRecordXmlType" maxOccurs="1" minOccurs="1"></element>
									<element name="branch1CirId" type="string" maxOccurs="1" minOccurs="0"></element>
									<element name="branch2BusK" type="pss:IDRefRecordXmlType" maxOccurs="1" minOccurs="1"></element>
									<element name="branch2BusL" type="pss:IDRefRecordXmlType" maxOccurs="1" minOccurs="1"></element>
									<element name="branch2CirId" type="string" maxOccurs="1" minOccurs="0"></element>
									<element name="RM" type="pss:PerUnitXmlType" maxOccurs="1" minOccurs="0"></element>
									<element name="XM" type="pss:PerUnitXmlType" maxOccurs="1" minOccurs="0"></element>
									<element name="BIJ1" type="pss:PerUnitXmlType" maxOccurs="1" minOccurs="0"></element>
									<element name="BIJ2" type="pss:PerUnitXmlType" maxOccurs="1" minOccurs="0"></element>
									<element name="BKL1" type="pss:PerUnitXmlType" maxOccurs="1" minOccurs="0"></element>
									<element name="BKL2" type="pss:PerUnitXmlType" maxOccurs="1" minOccurs="0"></element>
								</sequence>
							</complexType>
						</element>
					</sequence>
				</complexType>
			</element>
			<element name="switchShuntedZeroList" maxOccurs="1" minOccurs="0">
				<complexType>
					<sequence>
						<element name="switchShuntedZeroType" maxOccurs="unbounded" minOccurs="0">
							<complexType></complexType>
						</element>
					</sequence>
				</complexType>
			</element>





		</sequence>
	</complexType>
</schema>