trunk/ipss.xml/schema/ProtectionRule.xsd

<?xml version="1.0" encoding="UTF-8"?>
<ns:schema targetNamespace="http://www.interpss.org/schema"
	elementFormDefault="qualified"
	xmlns:ns="http://www.w3.org/2001/XMLSchema"
	xmlns:ipss="http://www.interpss.org/schema">

	<ns:include schemaLocation="Datatype.xsd"></ns:include>
	<ns:include schemaLocation="Modification.xsd"></ns:include>
	<ns:complexType name="ProtectionXmlType">
		<ns:sequence>
			<ns:element name="busProtectRuleSet" minOccurs="0"><ns:complexType></ns:complexType></ns:element>
			<ns:element name="branchProtectRuleSet" minOccurs="0"><ns:complexType></ns:complexType></ns:element>
		</ns:sequence>
	</ns:complexType>
</ns:schema>