ieee.odm_pss/schema/deprecated/V7StyleRecordType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" 
    targetNamespace="http://www.ieee.org/odm/Schema/2008" xmlns:pss="http://www.ieee.org/odm/Schema/2008" elementFormDefault="qualified">

    <include schemaLocation="../common/DataType.xsd"></include>
    <include schemaLocation="../common/RecordType.xsd"></include>
    <include schemaLocation="../loadflow/LFRecordType.xsd"></include>

	<include schemaLocation="../dynamic/MachineModel.xsd"></include>
	<include schemaLocation="../dynamic/exc/ExciterModel.xsd"></include>
	<include schemaLocation="../dynamic/gov/IEEEGovernorModel.xsd"></include>
	<include schemaLocation="../dynamic/pss/StabilizerModel.xsd"></include>
	<include schemaLocation="../dynamic/DynamicLoadModel.xsd"></include>

	<annotation>
		<documentation>Copyright www.interpss.org 2008</documentation>
	</annotation>

<!--  
      Old Style
 -->	
 	<complexType name="BusRecordXmlType">
		<complexContent>
			<extension base="pss:BusXmlType">
				<sequence>
					<element name="loadflowData" type="pss:LoadflowBusDataXmlType" minOccurs="0" maxOccurs="1"></element>
					<element name="sequenceData" type="pss:SequenceBusDataXmlType" minOccurs="0"></element>
					<element name="dynamicData" type="pss:DynamicBusDataXmlType" minOccurs="0"></element>
					<element name="svcData" minOccurs="0">
						<complexType>
							<sequence>
								<element name="svcList" minOccurs="0">
									<complexType>
										<sequence>
											<element name="svc" type="pss:StaticVarCompensatorXmlType" maxOccurs="unbounded" minOccurs="0"></element>
										</sequence>
									</complexType>
								</element>
							</sequence>
						</complexType>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
 
 	<complexType name="BranchRecordXmlType">
		<complexContent>
			<extension base="pss:BranchXmlType">
				<sequence>
					<element name="loadflowData" type="pss:LoadflowBranchDataXmlType" minOccurs="0" maxOccurs="unbounded">
						<annotation>
							<documentation>Loadflow data may defined in multiple sections, section number (1-9) in ascending order beginning at "from" end</documentation>
						</annotation>
					</element>
					<element name="sequenceData" type="pss:SequenceBranchDataXmlType" minOccurs="0"></element>
					<element name="dynamicData" type="pss:DynamicBranchDataXmlType" minOccurs="0"></element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="LoadflowBranchXmlType">
		<complexContent>
			<extension base="pss:BranchXmlType">
				<sequence>
					<choice>
						<element name="lineInfo" minOccurs="0" maxOccurs="1">
							<complexType>
								<sequence>
									<element name="length" type="pss:LengthXmlType" minOccurs="0"></element>
									<element name="lossFactor" type="double" minOccurs="0" maxOccurs="1"></element>
								</sequence>
							</complexType>
						</element>
						<element name="xfrInfo" minOccurs="0" maxOccurs="1">
							<complexType>
								<annotation>
									<documentation>from : 1, to:2 and tert :3</documentation>
								</annotation>
								<sequence>
									<element name="tapAdjustment" minOccurs="0" type="pss:TapAdjustmentXmlType"></element>
									<element name="angleAdjustment" minOccurs="0" type="pss:AngleAdjustmentXmlType"></element>
									<element name="zTableNumber" type="int" minOccurs="0"></element>
									<element name="dataOnSystemBase" type="boolean" minOccurs="0">
										<annotation>
											<documentation>Normally xfr data is on xfr rated power based. By setting</documentation>
										</annotation>
									</element>
									<element name="z23" type="pss:ZXmlType" minOccurs="0" maxOccurs="1"></element>
									<element name="z31" type="pss:ZXmlType" minOccurs="0" maxOccurs="1"></element>
									<element name="turnRatio3" type="pss:TapXmlType" minOccurs="0"></element>
									<element name="shiftAngle3" type="pss:AngleXmlType" minOccurs="0"></element>
									<element name="starVMag" type="pss:VoltageXmlType" minOccurs="0"></element>
									<element name="starVAng" type="pss:AngleXmlType" minOccurs="0"></element>
									<element name="ratedVoltage1" type="pss:VoltageXmlType" minOccurs="0"></element>
									<element name="ratedVoltage2" type="pss:VoltageXmlType" minOccurs="0"></element>
									<element name="ratedVoltage3" type="pss:VoltageXmlType" minOccurs="0"></element>
									<element name="ratedPower12" type="pss:ApparentPowerXmlType" minOccurs="0"></element>
									<element name="ratedPower23" type="pss:ApparentPowerXmlType" minOccurs="0"></element>
									<element name="ratedPower31" type="pss:ApparentPowerXmlType" minOccurs="0"></element>
									<element name="branchRatingLimit23" minOccurs="0" maxOccurs="1" type="pss:BranchRatingLimitXmlType">
									</element>
									<element name="branchRatingLimit13" minOccurs="0" maxOccurs="1" type="pss:BranchRatingLimitXmlType">
									</element>
									<element name="lossFactor1" type="double" minOccurs="0"></element>
									<element name="lossFactor2" type="double" minOccurs="0"></element>
									<element name="lossFactor3" type="double" minOccurs="0"></element>
								</sequence>
							</complexType>
						</element>
					</choice>
					<element name="branchRatingLimit" minOccurs="0" maxOccurs="1" type="pss:BranchRatingLimitXmlType"></element>
				</sequence>
				<attribute name="code" use="required" type="pss:LFBranchCodeEnumType"></attribute>
				<attribute name="sec" type="int" use="optional" default="1">
					<annotation>
						<documentation>sec number is used by GE PSLF</documentation>
					</annotation>
				</attribute>
				<attribute name="xfr3W" type="boolean" use="optional"></attribute>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="LoadflowBusDataXmlType">
		<sequence>
			<element name="voltage" type="pss:VoltageXmlType" minOccurs="0" maxOccurs="1"></element>
			<element name="angle" type="pss:AngleXmlType" minOccurs="0" maxOccurs="1"></element>
			<element name="genData" minOccurs="0" maxOccurs="1">
				<complexType>
					<sequence>
						<element name="equivGen" type="pss:LoadflowGenDataXmlType" minOccurs="0" maxOccurs="1"></element>
						<element name="contributeGenList" minOccurs="0">
							<complexType>
								<sequence>
									<element name="contributeGen" minOccurs="0" maxOccurs="unbounded" type="pss:LoadflowGenDataXmlType"></element>
								</sequence>
							</complexType>
						</element>
					</sequence>
				</complexType>
			</element>
			<element name="loadData" minOccurs="0" maxOccurs="1">
				<complexType>
					<sequence>
						<element name="equivLoad" minOccurs="0" maxOccurs="1" type="pss:LoadflowLoadDataXmlType"></element>
						<element name="contributeLoadList" minOccurs="0">
							<complexType>
								<sequence>
									<element name="contributeLoad" minOccurs="0" maxOccurs="unbounded" type="pss:LoadflowLoadDataXmlType"></element>
								</sequence>
							</complexType>
						</element>
					</sequence>
				</complexType>
			</element>
			<element name="shuntCompensatorData" minOccurs="0" type="pss:ShuntCompensatorDataXmlType">
			</element>
			<element name="shuntY" minOccurs="0" maxOccurs="1" type="pss:YXmlType"></element>
			<element name="powerInjection" type="pss:PowerXmlType" minOccurs="0" maxOccurs="1"></element>
		</sequence>
	</complexType>

	<complexType name="LoadflowBranchDataXmlType">
		<complexContent>
			<extension base="pss:BaseBranchDataXmlType">
				<sequence>
					<choice>
						<element name="lineInfo" minOccurs="0" maxOccurs="1">
							<complexType>
								<sequence>
									<element name="length" type="pss:LengthXmlType" minOccurs="0"></element>
									<element name="lossFactor" type="double" minOccurs="0" maxOccurs="1"></element>
								</sequence>
							</complexType>
						</element>
						<element name="xfrInfo" minOccurs="0" maxOccurs="1">
							<complexType>
								<annotation>
									<documentation>from : 1, to:2 and tert :3</documentation>
								</annotation>
								<sequence>
									<element name="tapAdjustment" minOccurs="0" type="pss:TapAdjustmentXmlType"></element>
									<element name="angleAdjustment" minOccurs="0" type="pss:AngleAdjustmentXmlType"></element>
									<element name="zTableNumber" type="int" minOccurs="0"></element>
									<element name="dataOnSystemBase" type="boolean" minOccurs="0">
										<annotation>
											<documentation>Normally xfr data is on xfr rated power based. By setting</documentation>
										</annotation>
									</element>
									<element name="z23" type="pss:ZXmlType" minOccurs="0" maxOccurs="1"></element>
									<element name="z31" type="pss:ZXmlType" minOccurs="0" maxOccurs="1"></element>
									<element name="turnRatio3" type="pss:TapXmlType" minOccurs="0"></element>
									<element name="shiftAngle3" type="pss:AngleXmlType" minOccurs="0"></element>
									<element name="starVMag" type="pss:VoltageXmlType" minOccurs="0"></element>
									<element name="starVAng" type="pss:AngleXmlType" minOccurs="0"></element>
									<element name="ratedVoltage1" type="pss:VoltageXmlType" minOccurs="0"></element>
									<element name="ratedVoltage2" type="pss:VoltageXmlType" minOccurs="0"></element>
									<element name="ratedVoltage3" type="pss:VoltageXmlType" minOccurs="0"></element>
									<element name="ratedPower12" type="pss:ApparentPowerXmlType" minOccurs="0"></element>
									<element name="ratedPower23" type="pss:ApparentPowerXmlType" minOccurs="0"></element>
									<element name="ratedPower31" type="pss:ApparentPowerXmlType" minOccurs="0"></element>
									<element name="branchRatingLimit23" minOccurs="0" maxOccurs="1" type="pss:BranchRatingLimitXmlType">
									</element>
									<element name="branchRatingLimit13" minOccurs="0" maxOccurs="1" type="pss:BranchRatingLimitXmlType">
									</element>
									<element name="lossFactor1" type="double" minOccurs="0"></element>
									<element name="lossFactor2" type="double" minOccurs="0"></element>
									<element name="lossFactor3" type="double" minOccurs="0"></element>
								</sequence>
							</complexType>
						</element>
					</choice>
					<element name="branchRatingLimit" minOccurs="0" maxOccurs="1" type="pss:BranchRatingLimitXmlType"></element>
				</sequence>
				<attribute name="code" use="required" type="pss:LFBranchCodeEnumType"></attribute>
				<attribute name="sec" type="int" use="optional" default="1">
					<annotation>
						<documentation>sec number is used by GE PSLF</documentation>
					</annotation>
				</attribute>
				<attribute name="xfr3W" type="boolean" use="optional"></attribute>
			</extension>
		</complexContent>
	</complexType>





	<!--
		not used <complexType name="ConverterDataXmlType"> <sequence> <element name="acSideRatedVoltage" type="pss:VoltageXmlType" maxOccurs="1" minOccurs="0"> </element> <element name="numberofBridges"
		type="int" maxOccurs="1" minOccurs="1"> </element> <element name="rectifierMinFiringAngle" type="pss:AngleXmlType" maxOccurs="1" minOccurs="0"> </element> <element name="rectifierMaxFiringAngle"
		type="pss:AngleXmlType" maxOccurs="1" minOccurs="0"> </element> <element name="inverterMaxFiringAngle" type="pss:AngleXmlType" maxOccurs="1" minOccurs="1"> </element> <element
		name="inverterMinFiringAgnle" type="pss:AngleXmlType" maxOccurs="1" minOccurs="0"> </element> <element name="dcSdieRatedV" type="pss:VoltageXmlType" maxOccurs="1" minOccurs="0"> </element> <element
		name="xformerRXperB" type="pss:ZXmlType" maxOccurs="1" minOccurs="1"> </element> <element name="xformerRatio" type="double" maxOccurs="1" minOccurs="0"> </element> <element name="xformerTapSetting"
		type="double" maxOccurs="1" minOccurs="0"> </element> <element name="xformerMaxTap" type="double" maxOccurs="1" minOccurs="0"> </element> <element name="xformerMinTap" type="double" maxOccurs="1"
		minOccurs="0"> </element> <element name="tapStep" type="double" maxOccurs="1" minOccurs="0"> </element> <element name="firingAngleMeasuringBusId" type="pss:IDRefRecordXmlType" maxOccurs="1"
		minOccurs="0"> </element> <element name="commutatingCapacitorRperB" type="pss:ZXmlType" maxOccurs="1" minOccurs="0"> </element> <element name="xformerFromTurn" type="string" maxOccurs="1"
		minOccurs="0"></element> <element name="xformerToTurn" type="string" maxOccurs="1" minOccurs="0"></element> <element name="xformerCirId" type="string" maxOccurs="1" minOccurs="0"></element>
		</sequence> </complexType>
	-->

	<complexType name="BaseBranchDataXmlType">
		<complexContent>
			<extension base="pss:BaseRecordXmlType">
				<sequence>
					<element name="z" type="pss:ZXmlType" minOccurs="0" maxOccurs="1"></element>
					<element name="totalShuntY" type="pss:YXmlType" minOccurs="0" maxOccurs="1"></element>
					<element name="fromShuntY" type="pss:YXmlType" minOccurs="0"></element>
					<element name="toShuntY" type="pss:YXmlType" minOccurs="0"></element>
					<element name="fromTurnRatio" type="pss:TurnRatioXmlType" minOccurs="0" maxOccurs="1"></element>
					<element name="toTurnRatio" type="pss:TurnRatioXmlType" minOccurs="0" maxOccurs="1"></element>
					<element name="fromAngle" type="pss:AngleXmlType" minOccurs="0"></element>
					<element name="toAngle" type="pss:AngleXmlType" minOccurs="0"></element>
					<element name="meterLocation" minOccurs="0" type="pss:BranchMeterLocationEnumType">
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="DynamicBusDataXmlType">
		<sequence>
			<element name="machineList" minOccurs="0" maxOccurs="unbounded">
				<complexType>
					<sequence>
						<element name="machine" type="pss:DynamicGeneratorXmlType" minOccurs="1"></element>
						<element name="exciter" minOccurs="0" type="pss:ExciterModelXmlType"></element>
						<element name="governor" minOccurs="0" type="pss:GovernorModelXmlType"></element>
						<element name="stabilizer" minOccurs="0" type="pss:StabilizerModelXmlType"></element>
					</sequence>
				</complexType>
			</element>
			<element name="dynamicLoad" minOccurs="0">
				<complexType>
					<sequence>
						<element name="location" maxOccurs="1" minOccurs="1" type="pss:LoadCharacteristicLocationEnumType">
						</element>
						<element name="LoadXmlType" maxOccurs="1" minOccurs="1" type="pss:LoadCharacteristicTypeEnumType">
						</element>
						<element name="LoadModel" type="pss:DynamicLoadModelSelectionXmlType" maxOccurs="1" minOccurs="1"></element>
					</sequence>
				</complexType>
			</element>
		</sequence>
	</complexType>

	<complexType name="DynamicBranchDataXmlType">
		<sequence>
			<element name="lineRealy" maxOccurs="unbounded" minOccurs="0">
				<complexType></complexType>
			</element>
		</sequence>
	</complexType>

	<complexType name="SequenceBusDataXmlType">
		<sequence>
			<element name="genData" minOccurs="0">
				<complexType>
					<sequence>
						<element name="potiveZ" type="pss:ZXmlType" minOccurs="1"></element>
						<element name="negativeZ" type="pss:ZXmlType" minOccurs="0"></element>
						<element name="zeroZ" type="pss:ZXmlType" minOccurs="0"></element>
						<element name="grounding" type="pss:GroundingXmlType" minOccurs="0"></element>
					</sequence>
				</complexType>
			</element>
			<element name="shuntLoadData" minOccurs="0">
				<complexType>
					<sequence>
						<element name="negativeZ" type="pss:ZXmlType" minOccurs="0"></element>
						<element name="zeroZ" type="pss:ZXmlType" minOccurs="0"></element>
					</sequence>
				</complexType>
			</element>
			<element name="swithedShuntLoadData" minOccurs="0">
				<complexType>
					<sequence>
						<element name="zeroZ" type="pss:ZXmlType" minOccurs="0"></element>
					</sequence>
				</complexType>
			</element>
		</sequence>
		<attribute name="scCode" type="pss:ShortCircuitBusEnumType" use="required"></attribute>
	</complexType>

	<complexType name="SequenceBranchDataXmlType">
		<sequence>
			<element name="line" type="pss:SequenceLineDataXmlType" minOccurs="0"></element>
			<element name="xformer" type="pss:SequenceXformrtDataXmlType" minOccurs="0"></element>
		</sequence>
	</complexType>

	<complexType name="SequenceLineDataXmlType">
		<sequence>
			<element name="lineZeroSeq" type="pss:LineZeroSeqXmlType" minOccurs="0"></element>
			<element name="lineMutualZeroZ" type="pss:MutualZeroZXmlType" minOccurs="0" maxOccurs="unbounded"></element>
		</sequence>
	</complexType>

	<complexType name="SequenceXformrtDataXmlType">
		<sequence>
			<element name="z0" type="pss:ZXmlType" minOccurs="0"></element>
			<element name="fromSideConnection" type="pss:XformerConnectionXmlType" minOccurs="0"></element>
			<element name="toSideConnection" type="pss:XformerConnectionXmlType" minOccurs="0"></element>
			<element name="xfrZeroSeq" type="pss:TransformerZeroSeqXmlType" minOccurs="0"></element>
		</sequence>
	</complexType>

	<complexType name="LineZeroSeqXmlType">
		<sequence>
			<element name="zLine" type="pss:ZXmlType" maxOccurs="1" minOccurs="0"></element>
			<element name="yLine" type="pss:YXmlType" maxOccurs="1" minOccurs="0"></element>
			<element name="yFromSide" type="pss:YXmlType" maxOccurs="1" minOccurs="0"></element>
			<element name="yToSide" type="pss:YXmlType" maxOccurs="1" minOccurs="0"></element>
		</sequence>
	</complexType>
</schema>