ieee.odm_pss/schema/common/DataType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" 
     targetNamespace="http://www.ieee.org/odm/Schema/2008" 
     xmlns:pss="http://www.ieee.org/odm/Schema/2008" elementFormDefault="qualified">

    <include schemaLocation="UnitType.xsd"></include>

	<annotation>
		<documentation>Copyright www.interpss.org 2008-2011</documentation>
	</annotation>
	
	<complexType name="BaseRecordXmlType">
		<sequence>
			<element name="desc" type="string" minOccurs="0" maxOccurs="1"></element>
			<element name="isoCode" type="string" minOccurs="0" maxOccurs="1"></element>
			<element name="normalOffLineStatus" type="boolean" minOccurs="0"></element>
			<element name="ownerList" minOccurs="0" maxOccurs="1">
				<complexType>
					<sequence>
						<element name="owner" maxOccurs="unbounded" minOccurs="0">
							<complexType>
								<attribute name="id" type="string" use="required"></attribute>
								<attribute name="name" type="string" use="optional"></attribute>
								<attribute name="number" type="int" use="optional"></attribute>
								<attribute name="ownership" type="double" use="optional">
									<annotation><documentation>
									ownership in pu</documentation>
									</annotation></attribute>
							</complexType>
						</element>
					</sequence>
				</complexType>
			</element>
			<element name="nvPairList" type="pss:NameValuePairListXmlType" minOccurs="0" maxOccurs="1"></element>
			<element name="extension" type="anySimpleType" minOccurs="0"></element>
		</sequence>
		<attribute name="name" type="string" use="optional"></attribute>
		<attribute name="areaNumber" type="int" use="optional"></attribute>
		<attribute name="areaName" type="string" use="optional"></attribute>
		<attribute name="zoneNumber" type="int" use="optional"></attribute>
		<attribute name="zoneName" type="string" use="optional"></attribute>
		<attribute name="number" type="long" use="optional"></attribute>
		<attribute name="offLine" type="boolean" use="optional"></attribute>
	</complexType>

	<complexType name="IDRecordXmlType">
		<complexContent>
			<extension base="pss:BaseRecordXmlType">
				<attribute name="id" type="ID" use="required"></attribute>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="IDRefRecordXmlType">
		<complexContent>
			<extension base="pss:BaseRecordXmlType">
				<sequence>
				</sequence>
				<attribute name="idRef" type="IDREF" use="required"></attribute>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="BusRefRecordXmlType">
		<complexContent>
			<extension base="pss:IDRefRecordXmlType">
				<sequence>
				</sequence>
				<attribute name="windingType" type="pss:BusWindingEnumType" use="optional">
					<annotation><documentation>
					optional, for indicating bus xfr winding type (Primary, Secondary or tertiary)
					</documentation></annotation>
				</attribute>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="NameValuePairXmlType">
		<sequence>
			<element name="name" type="string" minOccurs="1" maxOccurs="1"></element>
			<element name="value" type="string" minOccurs="1" maxOccurs="1"></element>
		</sequence>
	</complexType>

	<complexType name="NameValuePairListXmlType">
		<sequence>
			<element name="nvPair" type="pss:NameValuePairXmlType" minOccurs="0" maxOccurs="unbounded"></element>
		</sequence>
	</complexType>

	<complexType name="BaseDoubleXmlType">
		<attribute name="value" type="double" use="required"></attribute>
	</complexType>

	<complexType name="LimitXmlType">
		<attribute name="max" type="double" use="required"></attribute>
		<attribute name="min" type="double" use="required"></attribute>
		<attribute name="active" type="boolean" use="optional" default="true"></attribute>
	</complexType>

	<complexType name="ComplexXmlType">
		<attribute name="re" type="double" use="optional" default="0.0"></attribute>
		<attribute name="im" type="double" use="required"></attribute>
	</complexType>

	<complexType name="ZXmlType">
		<complexContent>
			<extension base="pss:ComplexXmlType">
				<attribute name="unit" use="required" type="pss:ZUnitType">
				</attribute>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="NamedZXmlType">
		<complexContent>
			<extension base="pss:ZXmlType">
				<attribute name="name" use="optional" type="string"></attribute>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="RXmlType">
		<attribute name="r" type="double" use="required"></attribute>
		<attribute name="unit" use="required" type="pss:ZUnitType"></attribute>
	</complexType>

	<complexType name="XXmlType">
		<attribute name="x" type="double" use="required"></attribute>
		<attribute name="unit" use="required" type="pss:ZUnitType"></attribute>
	</complexType>
	
	<complexType name="YXmlType">
		<complexContent>
			<extension base="pss:ComplexXmlType">
				<attribute name="unit" use="required" type="pss:YUnitType"/>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="GXmlType">
		<attribute name="g" type="double" use="required"></attribute>
		<attribute name="unit" use="required" type="pss:YUnitType"></attribute>
	</complexType>
	<complexType name="XformerZTableXmlType">
		<sequence>
			<element name="XformerZTableItem" minOccurs="0" maxOccurs="unbounded">
				<complexType>
					<sequence>
						<element name="number" type="int" minOccurs="1"></element>
						<element name="lookup" minOccurs="0" maxOccurs="unbounded">
							<complexType>
								<sequence>
									<element name="turnRatioShiftAngle" type="double" minOccurs="1"></element>
									<element name="scaleFactor" type="double" minOccurs="1"></element>
								</sequence>
							</complexType>
						</element>
					</sequence>
				</complexType>
			</element>
		</sequence>
	</complexType>

	<complexType name="PowerXmlType">
		<complexContent>
			<extension base="pss:ComplexXmlType">
				<attribute name="unit" use="required" type="pss:ApparentPowerUnitType">
				</attribute>
			</extension>
		</complexContent>
	</complexType>
	
	<complexType name="PowerFactorXmlType">
		<complexContent>
			<extension base="pss:FactorXmlType">
			</extension>
		</complexContent>
	</complexType>	

	<complexType name="FactorXmlType">
		<complexContent>
			<extension base="pss:BaseDoubleXmlType">
				<attribute name="unit" use="required" type="pss:FactorUnitType">
				</attribute>
			</extension>
		</complexContent>
	</complexType>	
	
	<complexType name="ActivePowerXmlType">
		<complexContent>
			<extension base="pss:BaseDoubleXmlType">
				<attribute name="unit" use="required" type="pss:ActivePowerUnitType">
				</attribute>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="ReactivePowerXmlType">
		<complexContent>
			<extension base="pss:BaseDoubleXmlType">
				<attribute name="unit" use="required" type="pss:ReactivePowerUnitType">
				</attribute>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="TurnRatioXmlType">
		<complexContent>
			<extension base="pss:BaseDoubleXmlType">
				<attribute name="unit" use="required" type="pss:TurnRatioUnitType">
				</attribute>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="VoltageXmlType">
		<complexContent>
			<extension base="pss:BaseDoubleXmlType">
				<attribute name="unit" type="pss:VoltageUnitType" use="required"></attribute>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="AngleXmlType">
		<complexContent>
			<extension base="pss:BaseDoubleXmlType">
				<attribute name="unit" use="required" type="pss:AngleUnitType">
				</attribute>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="CurrentXmlType">
		<complexContent>
			<extension base="pss:BaseDoubleXmlType">
				<attribute name="unit" use="required" type="pss:CurrentUnitType">
				</attribute>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="AdjustmentDataXmlType">
		<annotation><documentation>
		There are two adj modes: ValueAdjustment and RangeAdjustment. For ValueAdjustment, the desiredValue is used. For RangeAdjustment,
		max and min are used.
		</documentation></annotation>
		<complexContent>
			<extension base="pss:LimitXmlType">
				<attribute name="mode" use="required" type="pss:AdjustmentModeEnumType"></attribute>
				<attribute name="desiredValue" type="double" use="required"></attribute>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="ScEquivSourceXmlType">
		<sequence>
			<element name="scMva3Phase" type="double" minOccurs="1"></element>
			<element name="xOverR3Phase" type="double" minOccurs="1"></element>
			<element name="scMva1Phase" type="double" minOccurs="0"></element>
			<element name="xOverR1Phase" type="double" minOccurs="0"></element>
		</sequence>
	</complexType>

	<simpleType name="AdjustmentModeEnumType">
		<restriction base="string">
			<enumeration value="ValueAdjustment"></enumeration>
			<enumeration value="RangeAdjustment"></enumeration>
		</restriction>
	</simpleType>

	<complexType name="LengthXmlType">
		<complexContent>
			<extension base="pss:BaseDoubleXmlType">
				<attribute name="unit" use="required" type="pss:LengthUnitType">
				</attribute>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="FrequencyXmlType">
		<complexContent>
			<extension base="pss:BaseDoubleXmlType">
				<attribute name="unit" use="required" type="pss:FrequencyUnitType">
				</attribute>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="TimePeriodXmlType">
		<complexContent>
			<extension base="pss:BaseDoubleXmlType">
				<attribute name="unit" use="required" type="pss:TimePeriodUnitType">
				</attribute>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="ApparentPowerXmlType">
		<complexContent>
			<extension base="pss:BaseDoubleXmlType">
				<attribute name="unit" use="required" type="pss:ApparentPowerUnitType">
				</attribute>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="TransformerZeroSeqXmlType">
		<sequence>
			<element name="conectionLocation" maxOccurs="1" minOccurs="1" type="pss:XfrZeroSeqConnectLocationEnumType">
			</element>
			<element name="zG" type="pss:ZXmlType" maxOccurs="1" minOccurs="0"></element>
			<element name="z1" type="pss:ZXmlType" maxOccurs="1" minOccurs="0"></element>
			<element name="z2" type="pss:ZXmlType" maxOccurs="1" minOccurs="0"></element>
			<element name="z3" type="pss:ZXmlType" maxOccurs="1" minOccurs="0"></element>
		</sequence>
	</complexType>

	<simpleType name="XfrZeroSeqConnectLocationEnumType">
		<restriction base="string">
			<enumeration value="AtBus1"></enumeration>
			<enumeration value="AtBus2"></enumeration>
			<enumeration value="BetweenBus1nBus2"></enumeration>
		</restriction>
	</simpleType>

	<complexType name="MutualZeroZXmlType">
		<sequence>
			<element name="branchFromBus" type="pss:IDRefRecordXmlType" maxOccurs="1" minOccurs="1"></element>
			<element name="branchToBus" type="pss:IDRefRecordXmlType" maxOccurs="1" minOccurs="1"></element>
			<element name="branchCirId" type="string" maxOccurs="1" minOccurs="0"></element>
			<element name="zM" type="pss:ZXmlType" maxOccurs="1" minOccurs="0"></element>
			<element name="bIJ1pu" type="double" maxOccurs="1" minOccurs="0"></element>
			<element name="bIJ2pu" type="double" maxOccurs="1" minOccurs="0"></element>
			<element name="bKL1pu" type="double" maxOccurs="1" minOccurs="0"></element>
			<element name="bKL2pu" type="double" maxOccurs="1" minOccurs="0"></element>
		</sequence>
	</complexType>
	
	<complexType name="AcscFaultXmlType">
		<sequence>
			<element name="faultType" minOccurs="1" type="pss:AcscFaultTypeEnumType"/>
			<element name="faultCategory" minOccurs="1" type="pss:AcscFaultCategoryEnumType"/>
			<element name="refBusBranch" type="pss:IDRefRecordXmlType" minOccurs="1"/>
			<element name="zLG" type="pss:ZXmlType" maxOccurs="1" minOccurs="0"/>
			<element name="zLL" type="pss:ZXmlType" maxOccurs="1" minOccurs="0"/>
			<element name="distance" type="double" maxOccurs="1" minOccurs="0"/>
			<element name="branchReclosure" type="boolean" maxOccurs="1" minOccurs="0"/>
			<element name="reclosureTime" type="pss:TimePeriodXmlType" minOccurs="0" maxOccurs="1"/>
		</sequence>
	</complexType>	

	<complexType name="XformerConnectionXmlType">
		<sequence>
			<element name="grounding" type="pss:GroundingXmlType" minOccurs="0"></element>
		</sequence>
		<attribute name="xfrConnection" type="pss:XformrtConnectionEnumType" use="required"></attribute>
	</complexType>

	<complexType name="GroundingXmlType">
		<sequence>
			<element name="groundingZ" type="pss:ZXmlType" minOccurs="0"></element>
		</sequence>
		<attribute name="groundingConnection" type="pss:GroundingEnumType" use="required"></attribute>
	</complexType>
	
	<simpleType name="ShortCircuitBusEnumType">
		<restriction base="string">
			<enumeration value="Contributing"></enumeration>
			<enumeration value="Non-contributing"></enumeration>
		</restriction>
	</simpleType>

	<simpleType name="XformrtConnectionEnumType">
		<restriction base="string">
			<enumeration value="Wye"></enumeration>
			<enumeration value="Delta"></enumeration>
		</restriction>
	</simpleType>

	<simpleType name="AcscFaultCategoryEnumType">
		<restriction base="string">
			<enumeration value="Fault3Phase"></enumeration>
			<enumeration value="LineToLine"></enumeration>
			<enumeration value="LineToGround"></enumeration>
			<enumeration value="LineLineToGround"></enumeration>
			<enumeration value="Outage_3Phase"></enumeration>
			<enumeration value="Outage_1Phase"></enumeration>
			<enumeration value="Outage_2Phase"></enumeration>			
		</restriction>
	</simpleType>

	<simpleType name="AcscFaultTypeEnumType">
		<restriction base="string">
			<enumeration value="BusFault"></enumeration>
			<enumeration value="BranchFault"></enumeration>
			<enumeration value="BranchOutage"></enumeration>
		</restriction>
	</simpleType>

	<complexType name="BranchFaultXmlType">
		<sequence>
			<element name="faultCategory" type="pss:AcscFaultCategoryEnumType" maxOccurs="1" minOccurs="1"></element>
			<element name="fromBus" type="pss:IDRefRecordXmlType" maxOccurs="1" minOccurs="1"></element>
			<element name="toBus" type="pss:IDRefRecordXmlType" maxOccurs="1" minOccurs="0"></element>
			<element name="faultedCirId" type="string" maxOccurs="unbounded" minOccurs="0"></element>
			<element name="fromBusRatedV" type="pss:VoltageXmlType" maxOccurs="1" minOccurs="0"></element>
			<element name="toBusRatedV" type="pss:VoltageXmlType" maxOccurs="1" minOccurs="0"></element>
			<element name="faultStartTime" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="0"></element>
			<element name="firstOperationTime" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="0"></element>
			<element name="secondOperationTime" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="0"></element>
			<element name="faultDurationTime" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="0"></element>
			<element name="faultZ" type="pss:ZXmlType" maxOccurs="1" minOccurs="0"></element>
			<element name="faultLocationFromFromSide" type="double" maxOccurs="1" minOccurs="0"></element>
			<element name="permanentFault" type="boolean" maxOccurs="1" minOccurs="0"></element>
		</sequence>
	</complexType>

	<complexType name="BusFaultXmlType">
		<sequence>
			<element name="faultCategory" type="pss:AcscFaultCategoryEnumType" maxOccurs="1" minOccurs="1"></element>
			<element name="faultedBus" type="pss:IDRefRecordXmlType" maxOccurs="1" minOccurs="1"></element>
			<element name="faultedBusRatedV" type="pss:VoltageXmlType" maxOccurs="1" minOccurs="0"></element>
			<element name="remoteEndBus" type="pss:IDRefRecordXmlType" maxOccurs="1" minOccurs="0"></element>
			<element name="remoteEndBusRatedV" type="pss:VoltageXmlType" maxOccurs="1" minOccurs="0"></element>
			<element name="faultStartTime" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="0"></element>
			<element name="firstOperationTime" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="0"></element>
			<element name="secondOperationTime" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="0"></element>
			<element name="faultDurationTime" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="0"></element>
			<element name="faultZ" type="pss:ZXmlType" maxOccurs="1" minOccurs="0"></element>
			<element name="permanentFault" type="boolean" maxOccurs="1" minOccurs="0"></element>
		</sequence>
	</complexType>

	<complexType name="BranchOutageXmlType">
		<sequence>
			<element name="faultCategory" type="pss:AcscFaultCategoryEnumType" maxOccurs="1" minOccurs="0"></element>
			<element name="fromBus" type="pss:IDRefRecordXmlType" maxOccurs="1" minOccurs="1"></element>
			<element name="toBus" type="pss:IDRefRecordXmlType" maxOccurs="1" minOccurs="1"></element>
			<element name="cirId" type="string" minOccurs="0" maxOccurs="1"></element>
			<element name="startTime" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
		</sequence>
	</complexType>

	<complexType name="LoadChangeDynamicEventXmlType">
		<sequence>
			<element name="loadChangeCategory" maxOccurs="1" minOccurs="0" type="pss:LoadChangeCategoryEnumType"></element>
			<element name="bus" type="pss:IDRefRecordXmlType" maxOccurs="1" minOccurs="0"></element>
			<element name="busRatedVoltage" type="pss:VoltageXmlType" maxOccurs="1" minOccurs="0"></element>
			<element name="operationTime" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="0"></element>
			<element name="operateAtFrequence" type="pss:FrequencyXmlType" maxOccurs="1" minOccurs="0"></element>
			<element name="operateAtVoltage" type="pss:VoltageXmlType" maxOccurs="1" minOccurs="0"></element>
			<element name="operationDelayTime" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="0"></element>
			<element name="constantPChange" type="pss:PowerXmlType" maxOccurs="1" minOccurs="0"></element>
			<element name="constantIChange" type="pss:PowerXmlType" maxOccurs="1" minOccurs="0"></element>
			<element name="constantZChange" type="pss:PowerXmlType" maxOccurs="1" minOccurs="0"></element>
		</sequence>
	</complexType>

	<simpleType name="LoadChangeCategoryEnumType">
		<restriction base="string">
			<enumeration value="LowFrequence"></enumeration>
			<enumeration value="LowVoltage"></enumeration>
			<enumeration value="FixedTime"></enumeration>
		</restriction>
	</simpleType>

	<simpleType name="GroundingEnumType">
		<restriction base="string">
			<enumeration value="Ungrounded"></enumeration>
			<enumeration value="SolidGrounded"></enumeration>
			<enumeration value="ZGrounded"></enumeration>
		</restriction>
	</simpleType>

	<complexType name="GenChangeDynamicEventXmlType">
		<sequence>
			<element name="bus" type="pss:IDRefRecordXmlType" maxOccurs="1" minOccurs="0"></element>
			<element name="busRatedVoltage" type="pss:VoltageXmlType" maxOccurs="1" minOccurs="0"></element>
			<element name="generatorId" type="string" maxOccurs="1" minOccurs="0"></element>
			<element name="operationTime" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="0"></element>
			<element name="operationDelayTime" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="0"></element>
			<element name="genChange" type="pss:PowerXmlType" maxOccurs="1" minOccurs="0"></element>
			<element name="genOutage" type="boolean" maxOccurs="1" minOccurs="0"></element>
		</sequence>
	</complexType>

	<complexType name="DcLineFaultXmlType">
		<sequence>
			<element name="fromACBus" type="pss:IDRefRecordXmlType" maxOccurs="1" minOccurs="1"></element>
			<element name="toACBus" type="pss:IDRefRecordXmlType" maxOccurs="1" minOccurs="1"></element>
			<element name="fromACRatedVol" type="pss:VoltageXmlType" maxOccurs="1" minOccurs="0"></element>
			<element name="toACRatedVol" type="pss:VoltageXmlType" maxOccurs="1" minOccurs="0"></element>
			<element name="faultType" maxOccurs="1" minOccurs="1" type="pss:DcLineFaultEnumType"></element>
			<element name="startTime" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
			<element name="durationTime" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="0"></element>
			<element name="permanentFault" type="boolean" maxOccurs="1" minOccurs="0"></element>
			<element name="faultLocationFromFromSide" type="double" maxOccurs="1" minOccurs="0"></element>
			<element name="changedPower" type="pss:PowerXmlType" maxOccurs="1" minOccurs="0"></element>
			<element name="changedCurrent" type="pss:CurrentXmlType" maxOccurs="1" minOccurs="0"></element>
			<element name="faultZ" type="pss:ZXmlType" maxOccurs="1" minOccurs="0"></element>
		</sequence>
	</complexType>

	<simpleType name="DcLineFaultEnumType">
		<restriction base="string">
			<enumeration value="fromBus_Bipole_Short_Circuit"></enumeration>
			<enumeration value="toBus_Bipole_Short_Circuit"></enumeration>
			<enumeration value="fault_on_Line"></enumeration>
			<enumeration value="power_blocked"></enumeration>
			<enumeration value="power_reversed"></enumeration>
			<enumeration value="power_change_by_specification"></enumeration>
			<enumeration value="current_change_by_specification"></enumeration>
		</restriction>
	</simpleType>

	<complexType name="MvaRatingXmlType">
		<sequence>		</sequence>
		<attribute name="rating1" type="double" use="required"></attribute>
		<attribute name="rating2" type="double" use="optional"></attribute>
		<attribute name="rating3" type="double" use="optional"></attribute>
		<attribute name="rating4" type="double" use="optional"></attribute>
		<attribute name="unit" use="required" type="pss:ApparentPowerUnitType"></attribute>
	</complexType>

	<complexType name="VoltageLimitXmlType">
		<complexContent>
			<extension base="pss:LimitXmlType">
				<attribute name="unit" type="pss:VoltageUnitType" use="required"></attribute>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="ActivePowerLimitXmlType">
		<complexContent>
			<extension base="pss:LimitXmlType">
				<attribute name="unit" type="pss:ActivePowerUnitType" use="required"></attribute>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="ReactivePowerLimitXmlType">
		<complexContent>
			<extension base="pss:LimitXmlType">
				<attribute name="unit" type="pss:ReactivePowerUnitType" use="required"></attribute>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="TurnRatioLimitXmlType">
		<complexContent>
			<extension base="pss:LimitXmlType">
				<attribute name="unit" type="pss:TapUnitType" use="required"></attribute>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="AngleLimitXmlType">
		<complexContent>
			<extension base="pss:LimitXmlType">
				<attribute name="unit" type="pss:AngleUnitType" use="required"></attribute>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="ChangeFactorXmlType">
		<sequence>
			<element name="factor" type="double" minOccurs="1" maxOccurs="1"/>
			<element name="unit" type="pss:FactorUnitType" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>PU or Percent</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>

	<simpleType name="LFGenCodeEnumType">
		<restriction base="string">
			<enumeration value="PQ"></enumeration>
			<enumeration value="PV"></enumeration>
			<enumeration value="Swing"></enumeration>
			<enumeration value="NoneGen"></enumeration>
			<enumeration value="OFF"></enumeration>
		</restriction>
	</simpleType>

	<simpleType name="LFLoadCodeEnumType">
		<restriction base="string">
			<enumeration value="CONST_P"></enumeration>
			<enumeration value="CONST_I"></enumeration>
			<enumeration value="CONST_Z"></enumeration>
			<enumeration value="FunctionLoad"></enumeration>
			<enumeration value="NoneLoad"></enumeration>
		</restriction>
	</simpleType>

	<simpleType name="LFBranchCodeEnumType">
		<restriction base="string">
			<enumeration value="Line"></enumeration>
			<enumeration value="Transformer"></enumeration>
			<enumeration value="PhaseShiftXformer"></enumeration>
		</restriction>
	</simpleType>
	
	<simpleType name="LfMethodEnumType">
		<restriction base="string">
			<enumeration value="NR"></enumeration>
			<enumeration value="PQ"></enumeration>
			<enumeration value="GS"></enumeration>
		</restriction>
	</simpleType>
	
	<complexType name="TapLimitXmlType">
		<complexContent>
			<extension base="pss:TurnRatioLimitXmlType"></extension>
		</complexContent>
	</complexType>

	<complexType name="TapXmlType">
		<complexContent>
			<extension base="pss:TurnRatioXmlType"></extension>
		</complexContent>
	</complexType>

	<simpleType name="BusWindingEnumType">
		<restriction base="string">
			<enumeration value="Primary"></enumeration>
			<enumeration value="Secondary"></enumeration>
			<enumeration value="Tertiary"></enumeration>
		</restriction>
	</simpleType>

	<complexType name="CimSwitchXmlType">
		<complexContent>
			<extension base="pss:CimRdfXmlType">				<attribute name="offStatus" type="boolean" use="required"></attribute>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="CimRdfXmlType">
		<attribute name="rdfId" type="string" use="required"></attribute>
		<attribute name="name" type="string" use="optional"></attribute>
	</complexType>

	<complexType name="CimConnectionRecordType">
		<complexContent>
			<extension base="pss:CimRdfRecordType">
				<sequence>
					<element name="cimSwitches" maxOccurs="1" minOccurs="0" type="pss:CimSwitchListXmlType"></element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="CimRdfRecordType">
		<complexContent>
			<extension base="pss:IDRecordXmlType">
				<sequence>
					<element name="cimRdfRecords" maxOccurs="1" minOccurs="0" type="pss:CimRdfListXmlType"></element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="CimRdfListXmlType">
		<sequence>
			<element name="rdfRec" type="pss:CimRdfXmlType" maxOccurs="unbounded"></element>
		</sequence>
	</complexType>

	<complexType name="CimSwitchListXmlType">
		<sequence>
			<element name="switch" type="pss:CimSwitchXmlType" maxOccurs="unbounded" minOccurs="0"></element>
		</sequence>
	</complexType>
	
	<simpleType name="DStabMethodEnumType">
		<restriction base="string">
			<enumeration value="ModifiedEuler"></enumeration>
			<enumeration value="RungerKutta"></enumeration>
		</restriction>
	</simpleType>

	<simpleType name="StaticLoadModelEnumType">
		<restriction base="string">
			<enumeration value="Constant_Z"></enumeration>
			<enumeration value="Constant_P"></enumeration>
		</restriction>
	</simpleType>
	
	<simpleType name="PreFaultBusVoltageEnumType">
		<restriction base="string">
			<enumeration value="Loadflow"></enumeration>
			<enumeration value="UnitVolt"></enumeration>
		</restriction>
	</simpleType>

	<simpleType name="DStabLoadChangeEnumType">
		<restriction base="string">
			<enumeration value="LowFrequency"></enumeration>
			<enumeration value="LowVoltage"></enumeration>
			<enumeration value="FixedTime"></enumeration>
		</restriction>
	</simpleType>	
	
	<simpleType name="SetPointChangeEnumType">
		<restriction base="string">
			<enumeration value="Absolute"></enumeration>
			<enumeration value="Delta"></enumeration>
		</restriction>
	</simpleType>	
</schema>