ieee.odm_pss/schema/dynamic/ExciterModel.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" 
    targetNamespace="http://www.ieee.org/odm/Schema/2008" 
    xmlns:pss="http://www.ieee.org/odm/Schema/2008" elementFormDefault="qualified">

	<include schemaLocation="../common/DataType.xsd"></include>

	<complexType name="ExciterModelXmlType" abstract="true">
		<sequence>
			<element name="name" type="string" maxOccurs="1" minOccurs="0"></element>
			<element name="desc" type="string" maxOccurs="1" minOccurs="0"></element>
		</sequence>
	</complexType>
	
	<complexType name="ExcSimpleTypeXmlType">
		<complexContent>
		<extension base="pss:ExciterModelXmlType">
		<sequence>
			<element name="Ka" type="double" maxOccurs="1" minOccurs="1"></element>
			<element name="Ta" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
			<element name="Vrmax" type="double" maxOccurs="1" minOccurs="1"></element>
			<element name="Vrmin" type="double" maxOccurs="1" minOccurs="1"></element>
		</sequence>
		</extension>
		</complexContent>		
	</complexType>
<!-- 
		IEEE 1968 model set
 -->			
	<complexType name="ExcIEEE1968BaseXmlType">
		<complexContent>
		<extension base="pss:ExciterModelXmlType">
		<sequence>
			<element name="TR" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="0"></element>
			<element name="KA" type="double" maxOccurs="1" minOccurs="1"></element>
			<element name="VRMAX" type="double" maxOccurs="1" minOccurs="1"></element>
			<element name="VRMIN" type="double" maxOccurs="1" minOccurs="1"></element>
			<element name="KE" type="double" maxOccurs="1" minOccurs="1"></element>
			<element name="TE" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
			<element name="KF" type="double" maxOccurs="1" minOccurs="1"></element>
			<element name="TF" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
			<element name="EFDMIN" type="double" maxOccurs="1" minOccurs="1"></element>
			<element name="E1" type="double" maxOccurs="1" minOccurs="1"></element>
			<element name="SE1" type="double" maxOccurs="1" minOccurs="1"></element>
			<element name="E2" type="double" maxOccurs="1" minOccurs="1"></element>
			<element name="SE2" type="double" maxOccurs="1" minOccurs="1"></element>
		</sequence>
		</extension>
		</complexContent>		
	</complexType>

	<complexType name="ExcIEEE1968Type1XmlType">
		<complexContent>
		<extension base="pss:ExcIEEE1968BaseXmlType">
		<sequence>
			<element name="TA" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="0"></element>
		</sequence>
		</extension>
		</complexContent>		
	</complexType>

	<complexType name="ExcIEEEModified1968Type1XmlType">
		<complexContent>
		<extension base="pss:ExcIEEE1968BaseXmlType">
		<sequence>
			<element name="TR" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="0"></element>
		</sequence>
		</extension>
		</complexContent>		
	</complexType>
	
	<complexType name="ExcIEEE1968Type1SXmlType">
		<complexContent>
		<extension base="pss:ExciterModelXmlType">
		<sequence>
			<element name="KP" type="double" maxOccurs="1" minOccurs="1"></element>	
		    <element name="KF" type="double" maxOccurs="1" minOccurs="1"></element>
			<element name="TF" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
		</sequence>
		</extension>
		</complexContent>		
	</complexType>
	
	<complexType name="ExcIEEE1968Type2XmlType">
		<complexContent>
		<extension base="pss:ExciterModelXmlType">
		<sequence>
		    <element name="KE" type="double" maxOccurs="1" minOccurs="1"></element>
			<element name="TE" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
			<element name="KF" type="double" maxOccurs="1" minOccurs="1"></element>
			<element name="TF1" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
		    <element name="TF2" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
	        <element name="E1" type="double" maxOccurs="1" minOccurs="1"></element>
			<element name="SE1" type="double" maxOccurs="1" minOccurs="1"></element>
			<element name="E2" type="double" maxOccurs="1" minOccurs="1"></element>
			<element name="SE2" type="double" maxOccurs="1" minOccurs="1"></element>			
		</sequence>
		</extension>
		</complexContent>		
	</complexType>
	
		<complexType name="ExcIEEE1968Type3XmlType">
		<complexContent>
		<extension base="pss:ExciterModelXmlType">
		<sequence>
		    <element name="KE" type="double" maxOccurs="1" minOccurs="1"></element>
			<element name="TE" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
			<element name="KF" type="double" maxOccurs="1" minOccurs="1"></element>			
			<element name="TF" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
		    <element name="KP" type="double" maxOccurs="1" minOccurs="1"></element>
		    <element name="KI" type="double" maxOccurs="1" minOccurs="1"></element>
		    <element name="VBMAX" type="double" maxOccurs="1" minOccurs="1"></element>
		</sequence>
		</extension>
		</complexContent>		
	</complexType>
	
		<complexType name="ExcIEEE1968Type4XmlType">
		<sequence>
			<element name="TRH" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
		    <element name="KV" type="double" maxOccurs="1" minOccurs="1"></element>
		    <element name="VRMAX" type="double" maxOccurs="1" minOccurs="1"></element>
			<element name="VRMIN" type="double" maxOccurs="1" minOccurs="1"></element>		    
		    <element name="KE" type="double" maxOccurs="1" minOccurs="1"></element>
			<element name="TE" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
			<element name="KF" type="double" maxOccurs="1" minOccurs="1"></element>
			<element name="TF" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
	        <element name="E1" type="double" maxOccurs="1" minOccurs="1"></element>
			<element name="SE1" type="double" maxOccurs="1" minOccurs="1"></element>
			<element name="E2" type="double" maxOccurs="1" minOccurs="1"></element>
			<element name="SE2" type="double" maxOccurs="1" minOccurs="1"></element>			
		</sequence>		
	</complexType>

<!-- 
		IEEE 1981 model set
 -->			
 
	<complexType name="ExcIEEE1981TypeAC2XmlType">
		<complexContent>
		<extension base="pss:ExciterModelXmlType">
		<sequence>
			<element name="TR" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
			<element name="TB" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
			<element name="TC" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
			<element name="VAMAX" type="double" maxOccurs="1" minOccurs="1"></element>
			<element name="VAMIN" type="double" maxOccurs="1" minOccurs="1"></element>
			<element name="KB" type="double" maxOccurs="1" minOccurs="1"></element>
			<element name="TE" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
			<element name="KL" type="double" maxOccurs="1" minOccurs="1"></element>
			<element name="KH" type="double" maxOccurs="1" minOccurs="1"></element>
			<element name="KF" type="double" maxOccurs="1" minOccurs="1"></element>
			<element name="TF" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
			<element name="KC" type="double" maxOccurs="1" minOccurs="1"></element>
			<element name="KD" type="double" maxOccurs="1" minOccurs="1"></element>
			<element name="KE" type="double" maxOccurs="1" minOccurs="1"></element>
			<element name="VLR" type="double" maxOccurs="1" minOccurs="1"></element>
		</sequence>
		</extension>
		</complexContent>		
	</complexType>

	<complexType name="ExcIEEE1981ST1XmlType">
		<complexContent>
		<extension base="pss:ExciterModelXmlType">
		<sequence>
			<element name="TR" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
			<element name="VIMAX" type="double" maxOccurs="1" minOccurs="1"></element>
			<element name="VIMIN" type="double" maxOccurs="1" minOccurs="1"></element>
			<element name="TB" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
			<element name="TC" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
			<element name="KF" type="double" maxOccurs="1" minOccurs="1"></element>
			<element name="TF" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
			<element name="KC" type="double" maxOccurs="1" minOccurs="1"></element>
		</sequence>
		</extension>
		</complexContent>		
	</complexType>
 
	<complexType name="ExcIEEE1981NewExcSystemXmlType">
		<complexContent>
		<extension base="pss:ExciterModelXmlType">
		<sequence>
			<element name="Rc" type="double" maxOccurs="1" minOccurs="1"></element>
			<element name="Xc" type="double" maxOccurs="1" minOccurs="1"></element>
			<element name="Tr" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
			<element name="K" type="double" maxOccurs="1" minOccurs="1"></element>
			<element name="Kv" type="double" maxOccurs="1" minOccurs="1"></element>
			<element name="T1" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
			<element name="T2" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
			<element name="T3" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
			<element name="T4" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
			<element name="Kb" type="double" maxOccurs="1" minOccurs="0"></element>
			<element name="Kf" type="double" maxOccurs="1" minOccurs="1"></element>
			<element name="Tf" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
			<element name="Kh" type="double" maxOccurs="1" minOccurs="1"></element>
			<element name="VAmax" type="double" maxOccurs="1" minOccurs="1"></element>
			<element name="VAmin" type="double" maxOccurs="1" minOccurs="1"></element>
			<element name="K5" type="double" maxOccurs="1" minOccurs="1"></element>
			<element name="T5" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
			<element name="Ke" type="double" maxOccurs="1" minOccurs="1"></element>
			<element name="Te" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
			<element name="SE1" type="double" maxOccurs="1" minOccurs="0"></element>
			<element name="SE2" type="double" maxOccurs="1" minOccurs="0"></element>
			<element name="Kc" type="double" maxOccurs="1" minOccurs="1"></element>
			<element name="Kd" type="double" maxOccurs="1" minOccurs="1"></element>
			<element name="KL1" type="double" maxOccurs="1" minOccurs="1"></element>
			<element name="VL1r" type="double" maxOccurs="1" minOccurs="1"></element>
			<element name="EFDmax" type="double" maxOccurs="1" minOccurs="1"></element>
			<element name="E1" type="double" maxOccurs="1" minOccurs="0"></element>
			<element name="E2" type="double" maxOccurs="1" minOccurs="0"></element>
		</sequence>
		</extension>
		</complexContent>		
	</complexType>
 
 <!-- 
		IEEE 1992 model set
 -->			
 
	<complexType name="ExcIEEE1992TypeAC1AXmlType">
		<complexContent>
		<extension base="pss:ExciterModelXmlType">
		<sequence>
			<element name="TR" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
			<element name="TB" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
			<element name="TC" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
			<element name="VAMAX" type="double" maxOccurs="1" minOccurs="1"></element>
			<element name="VAMIN" type="double" maxOccurs="1" minOccurs="1"></element>
			<element name="TE" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
			<element name="KF" type="double" maxOccurs="1" minOccurs="1"></element>
			<element name="TF" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
			<element name="KC" type="double" maxOccurs="1" minOccurs="1"></element>
			<element name="KD" type="double" maxOccurs="1" minOccurs="1"></element>
			<element name="E1" type="double" maxOccurs="1" minOccurs="1"></element>
			<element name="SE1" type="double" maxOccurs="1" minOccurs="1"></element>
			<element name="E2" type="double" maxOccurs="1" minOccurs="1"></element>
			<element name="SE2" type="double" maxOccurs="1" minOccurs="1"></element>
		</sequence>
		</extension>
		</complexContent>		
	</complexType>

<!-- 
		Other models
 -->

	<complexType name="ExcBPAFJXmlType">
		<complexContent>
		<extension base="pss:ExciterModelXmlType">
		<sequence>
			<element name="TR" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="0"></element>
			<element name="EFDMAX" type="double" maxOccurs="1" minOccurs="1"></element>
			<element name="EFDMIN" type="double" maxOccurs="1" minOccurs="1"></element>
			<element name="TB" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
			<element name="TC" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
			<element name="KF" type="double" maxOccurs="1" minOccurs="1"></element>
			<element name="TF" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
			<element name="KC" type="double" maxOccurs="1" minOccurs="1"></element>
		</sequence>
		</extension>
		</complexContent>		
	</complexType>

	<complexType name="ExcIEEETypeDC2XmlType">
		<complexContent>
		<extension base="pss:ExciterModelXmlType">
		<sequence>
			<element name="TR" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
			<element name="TB" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
			<element name="TC" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
			<element name="KE" type="double" maxOccurs="1" minOccurs="1"></element>
			<element name="TE" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
			<element name="KF" type="double" maxOccurs="1" minOccurs="1"></element>
			<element name="TF1" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
			<element name="E1" type="double" maxOccurs="1" minOccurs="1"></element>
			<element name="SE1" type="double" maxOccurs="1" minOccurs="1"></element>
			<element name="E2" type="double" maxOccurs="1" minOccurs="1"></element>
			<element name="SE2" type="double" maxOccurs="1" minOccurs="1"></element>
		</sequence>
		</extension>
		</complexContent>		
	</complexType>

    <complexType name="ExcTSATTypeEXC34XmlType">
		<complexContent>
		<extension base="pss:ExciterModelXmlType">
		<sequence>
		    <element name="IVUEL" type="double" maxOccurs="1" minOccurs="1"></element>
		    <element name="IVOEL" type="double" maxOccurs="1" minOccurs="1"></element>
		    <element name="LVS" type="double" maxOccurs="1" minOccurs="1"></element>
			<element name="TB" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
			<element name="TC" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
			<element name="TC1" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
			<element name="TB1" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
			<element name="TF" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>
			<element name="KF" type="double" maxOccurs="1" minOccurs="1"></element>
			<element name="VIMAX" type="double" maxOccurs="1" minOccurs="1"></element>
			<element name="VIMIN" type="double" maxOccurs="1" minOccurs="1"></element>			
			<element name="VAMAX" type="double" maxOccurs="1" minOccurs="1"></element>
			<element name="VAMIN" type="double" maxOccurs="1" minOccurs="1"></element>	
			<element name="KC" type="double" maxOccurs="1" minOccurs="1"></element>
			<element name="KLR" type="double" maxOccurs="1" minOccurs="1"></element>
			<element name="ILR" type="double" maxOccurs="1" minOccurs="1"></element>			
			<element name="TR" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></element>			
			<element name="RC" type="double" maxOccurs="1" minOccurs="1"></element>
			<element name="XC" type="double" maxOccurs="1" minOccurs="1"></element>			
		</sequence>
		</extension>
		</complexContent>		
	</complexType>
	
<!-- below not used -->	
	<complexType name="ExciterXmlType">
		<sequence>
			<element name="locatedBus" type="pss:IDRefRecordXmlType" maxOccurs="1" minOccurs="1"></element>
			<element name="busRatedVoltage" type="pss:VoltageXmlType" maxOccurs="1" minOccurs="0"></element>
			<element name="exciterType" maxOccurs="1" minOccurs="1" type="pss:ExciterEnumType">	</element>
			<element name="exciterModel" type="pss:ExciterModelXmlType" maxOccurs="1" minOccurs="1"></element>
			<element name="excId" type="pss:IDRefRecordXmlType" maxOccurs="1" minOccurs="0"></element>
		</sequence>
	</complexType>

	<simpleType name="ExciterEnumType">
		<restriction base="string">
			<enumeration value="IEEE1992TypeAC1A"></enumeration>
			<enumeration value="IEEE1981TypeAC2"></enumeration>
			<enumeration value="IEEE1981ST1"></enumeration>
			<enumeration value="BPAFJ"></enumeration>
			<enumeration value="IEEE1968Type1"></enumeration>
			<enumeration value="IEEE1968Type1s"></enumeration>
			<enumeration value="IEEE1968Type2"></enumeration>
			<enumeration value="IEEE1968Type3"></enumeration>
			<enumeration value="IEEE1968Type4"></enumeration>
			<enumeration value="IEEEModified1968Type1"></enumeration>
			<enumeration value="IEEE1981NewExcSystem"></enumeration>
			<enumeration value="IEEETypeDC2"></enumeration>
			<enumeration value="TSATTypeEXC34"></enumeration>			
		</restriction>
	</simpleType>

	<complexType name="ExciterModelListXmlType">
		<sequence>
			<element name="IEEE1992TypeAC1A" maxOccurs="1" minOccurs="0" type="pss:ExcIEEE1992TypeAC1AXmlType">
			</element>
			<element name="IEEE1981TypeAC2" maxOccurs="1" minOccurs="0" type="pss:ExcIEEE1981TypeAC2XmlType">
			</element>
			<element name="IEEE1981ST1" maxOccurs="1" minOccurs="0" type="pss:ExcIEEE1981ST1XmlType">
			</element>
			<element name="BPAFJ" maxOccurs="1" minOccurs="0" type="pss:ExcBPAFJXmlType">
			</element>
			<element name="IEEE1968Type1" maxOccurs="1" minOccurs="0" type="pss:ExcIEEE1968Type1XmlType">
			</element>
			<element name="IEEE1968Type1S" maxOccurs="1" minOccurs="0" type="pss:ExcIEEE1968Type1SXmlType">
			</element>
			<element name="IEEE1968Type2" maxOccurs="1" minOccurs="0" type="pss:ExcIEEE1968Type2XmlType">
			</element>
			<element name="IEEE1968Type3" maxOccurs="1" minOccurs="0" type="pss:ExcIEEE1968Type3XmlType">
			</element>
			<element name="IEEE1968Type4" maxOccurs="1" minOccurs="0" type="pss:ExcIEEE1968Type4XmlType">
			</element>
			<element name="IEEEModified1968Type1" maxOccurs="1" minOccurs="0" type="pss:ExcIEEEModified1968Type1XmlType">
			</element>
			<element name="IEEE1981NewExcSystem" maxOccurs="1" minOccurs="0" type="pss:ExcIEEE1981NewExcSystemXmlType">
			</element>
			<element name="IEEETypeDC2" maxOccurs="1" minOccurs="0" type="pss:ExcIEEETypeDC2XmlType">
			</element>
		</sequence>
	</complexType>
	

	<complexType name="ExciterModelSelectionXmlType">
		<choice>
			<element name="IEEE1992TypeAC1A" maxOccurs="1" minOccurs="0" type="pss:ExcIEEE1992TypeAC1AXmlType">
			</element>
			<element name="IEEE1981TypeAC2" maxOccurs="1" minOccurs="0" type="pss:ExcIEEE1981TypeAC2XmlType">
			</element>
			<element name="IEEE1981ST1" maxOccurs="1" minOccurs="0" type="pss:ExcIEEE1981ST1XmlType">
			</element>
			<element name="BPAFJ" maxOccurs="1" minOccurs="0" type="pss:ExcBPAFJXmlType">
			</element>
			<element name="IEEE1968Type1" maxOccurs="1" minOccurs="0" type="pss:ExcIEEE1968Type1XmlType">
			</element>
			<element name="IEEE1968Type1S" maxOccurs="1" minOccurs="0" type="pss:ExcIEEE1968Type1SXmlType">
			</element>
			<element name="IEEE1968Type2" maxOccurs="1" minOccurs="0" type="pss:ExcIEEE1968Type2XmlType">
			</element>
			<element name="IEEE1968Type3" maxOccurs="1" minOccurs="0" type="pss:ExcIEEE1968Type3XmlType">
			</element>
			<element name="IEEE1968Type4" maxOccurs="1" minOccurs="0" type="pss:ExcIEEE1968Type4XmlType">
			</element>
			<element name="IEEEModified1968Type1" maxOccurs="1" minOccurs="0" type="pss:ExcIEEEModified1968Type1XmlType">
			</element>
			<element name="IEEE1981NewExcSystem" maxOccurs="1" minOccurs="0" type="pss:ExcIEEE1981NewExcSystemXmlType">
			</element>
			<element name="IEEETypeDC2" maxOccurs="1" minOccurs="0" type="pss:ExcIEEETypeDC2XmlType">
			</element>
		</choice>
	</complexType>
	
</schema>