ieee.odm_pss/schema/dynamic/MachineModel.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" 
     targetNamespace="http://www.ieee.org/odm/Schema/2008" 
     xmlns:pss="http://www.ieee.org/odm/Schema/2008" elementFormDefault="qualified">

	<include schemaLocation="../common/DataType.xsd"></include>
	
	<include schemaLocation="ExciterModel.xsd"></include>
	<include schemaLocation="GovernorModel.xsd"></include>
	<include schemaLocation="StabilizerModel.xsd"></include>
	
	<element name="machineModel" type="pss:MachineModelXmlType"/>
	<element name="equiMachModel" type="pss:EquiMachineXmlType" substitutionGroup="pss:machineModel"/>
	<element name="classicMachModel" type="pss:ClassicMachineXmlType" substitutionGroup="pss:machineModel"/>
	<element name="transientMachModel" type="pss:Eq1Ed1MachineXmlType" substitutionGroup="pss:machineModel"/>
	<element name="eq1Ed1MachModel" type="pss:Eq1Ed1MachineXmlType" substitutionGroup="pss:machineModel"/>
	<element name="eq1MachModel" type="pss:Eq1MachineXmlType" substitutionGroup="pss:machineModel"/>
	<element name="subTransientMachModel" type="pss:Eq11Ed11MachineXmlType" substitutionGroup="pss:machineModel"/>
	<element name="eq11Ed11MachModel" type="pss:Eq11Ed11MachineXmlType" substitutionGroup="pss:machineModel"/>
	<element name="eq11MachModel" type="pss:Eq11MachineXmlType" substitutionGroup="pss:machineModel"/>
	
	<element name="exciter" type="pss:ExciterModelXmlType"/>
	<element name="excSimpleType" type="pss:ExcSimpleTypeXmlType" substitutionGroup="pss:exciter"/>
	<element name="excIEEE1992TypeAC1A" type="pss:ExcIEEE1992TypeAC1AXmlType" substitutionGroup="pss:exciter"/>
	<element name="excIEEE1981TypeAC2" type="pss:ExcIEEE1981TypeAC2XmlType" substitutionGroup="pss:exciter"/>
	<element name="excIEEE1981ST1" type="pss:ExcIEEE1981ST1XmlType" substitutionGroup="pss:exciter"/>
	<element name="excBPAFJ" type="pss:ExcBPAFJXmlType" substitutionGroup="pss:exciter"/>
	<element name="excIEEE1968Type1" type="pss:ExcIEEE1968Type1XmlType" substitutionGroup="pss:exciter"/>
	<element name="excIEEEModified1968Type1" type="pss:ExcIEEEModified1968Type1XmlType" substitutionGroup="pss:exciter"/>
	<element name="excIEEE1981NewExcSystem" type="pss:ExcIEEE1981NewExcSystemXmlType" substitutionGroup="pss:exciter"/>
	<element name="excIEEETypeDC2" type="pss:ExcIEEETypeDC2XmlType" substitutionGroup="pss:exciter"/>
	<element name="excTSATTypeEXC34" type="pss:ExcTSATTypeEXC34XmlType" substitutionGroup="pss:exciter"/>
	
	<element name="governor" type="pss:GovernorModelXmlType"/>
	<element name="govSimpleType" type="pss:GovSimpleTypeXmlType" substitutionGroup="pss:governor"/>
	<element name="govIEEE1981Type1" type="pss:GovIEEE1981Type1XmlType" substitutionGroup="pss:governor"/>
	<element name="govIEEE1981Type2" type="pss:GovIEEE1981Type2XmlType" substitutionGroup="pss:governor"/>
	<element name="govIEEE1981Type3" type="pss:GovIEEE1981Type3XmlType" substitutionGroup="pss:governor"/>
	<element name="govHydro" type="pss:GovHydroXmlType" substitutionGroup="pss:governor"/>
	<element name="govHydroTurbine" type="pss:GovHydroTurbineXmlType" substitutionGroup="pss:governor"/>
	<element name="govHydroSteamGeneralModel" type="pss:GovHydroSteamGeneralModelXmlType" substitutionGroup="pss:governor"/>
			
	<element name="stabilizer" type="pss:StabilizerModelXmlType"/>
	<element name="pssSimpleType" type="pss:PssSimpleTypeXmlType" substitutionGroup="pss:stabilizer"/>
	<element name="pssIEEE1981Type" type="pss:PssIEEE1981TypeXmlType" substitutionGroup="pss:stabilizer"/>
	<element name="pssIEEE1982Type2A" type="pss:PssIEEE1982Type2AXmlType" substitutionGroup="pss:stabilizer"/>
	<element name="pssIEE2ST" type="pss:PssIEE2STXmlType" substitutionGroup="pss:stabilizer"/>
	<element name="pssIEEEDualInput" type="pss:PssIEEEDualInputXmlType" substitutionGroup="pss:stabilizer"/>
	

	<complexType name="DynamicGeneratorXmlType">
		<sequence>
			<element name="genId" type="pss:IDRecordXmlType" maxOccurs="1" minOccurs="0"></element>
			<element name="ownerName" type="string" maxOccurs="1" minOccurs="0"></element>
			<element name="ratedPower" type="pss:ActivePowerXmlType" maxOccurs="1" minOccurs="0"></element>
			<element name="ratedVoltage" type="pss:VoltageXmlType" maxOccurs="1" minOccurs="0"></element>			<element ref="pss:machineModel" maxOccurs="1" minOccurs="1"></element>
			<element ref="pss:exciter" minOccurs="0"></element>
			<element ref="pss:governor" minOccurs="0"></element>
			<element ref="pss:stabilizer" minOccurs="0"></element>
            <element name="grounding" type="pss:GroundingXmlType" minOccurs="0" maxOccurs="1"></element>
            <element name="pContributionPercent" type="double" maxOccurs="1" minOccurs="0"></element>
			<element name="qContributionPercent" type="double" minOccurs="0"></element>
		</sequence>
	</complexType>

	<complexType name="MachineModelXmlType" abstract="true">
		<sequence>
			<element name="name" type="string" maxOccurs="1" minOccurs="0"></element>
			<element name="desc" type="string" maxOccurs="1" minOccurs="0"></element>
			<element name="poles" type="int" maxOccurs="1" minOccurs="0"></element>
		</sequence>
	</complexType>

	<complexType name="EquiMachineXmlType">
		<complexContent>
			<extension base="pss:MachineModelXmlType">
				<choice>
					<element name="equivSource" minOccurs="0">
						<complexType>
							<sequence>
								<element name="scMva3Phase" type="double" minOccurs="1"></element>
								<element name="xOverR3Phase" type="double" minOccurs="1"></element>
								<element name="scMva1Phase" type="double" minOccurs="0"></element>
								<element name="xOverR1Phase" type="double" minOccurs="0"></element>
							</sequence>
						</complexType>
					</element>
					<element name="equivGen" minOccurs="0">
						<complexType>
							<sequence>
								<element name="equiPgen" type="double" maxOccurs="1" minOccurs="0"></element>
								<element name="pGenUnit" maxOccurs="1" minOccurs="0" type="pss:ApparentPowerUnitType"></element>
								<element name="DCLineBus" type="boolean" maxOccurs="1" minOccurs="0"></element>
							</sequence>
						</complexType>
					</element>
				</choice>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="ClassicMachineXmlType">
		<complexContent>
		<extension base="pss:MachineModelXmlType">
		<sequence>
			<element name="H" maxOccurs="1" minOccurs="1" type="double">			</element>
			<element name="D" maxOccurs="1" minOccurs="1" type="double">			</element>
			<element name="xd1" maxOccurs="1" minOccurs="1" type="double">			</element>
		</sequence>
		</extension>
		</complexContent>		
	</complexType>

	<complexType name="Eq1MachineXmlType">
		<complexContent>
			<extension base="pss:ClassicMachineXmlType">
				<sequence>
					<element name="xl" maxOccurs="1" minOccurs="0" type="double"/>
					<element name="x0" maxOccurs="1" minOccurs="0" type="double"/>
					<element name="x2" maxOccurs="1" minOccurs="0" type="double"/>
					<element name="ra" maxOccurs="1" minOccurs="1" type="double"/>
					<element name="xd" maxOccurs="1" minOccurs="1" type="double"/>
					<element name="xq" maxOccurs="1" minOccurs="1" type="double"/>
					<element name="Td01" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"/>
					<choice>
						<element name="seFmt1">
							<complexType>
								<sequence>
									<element name="se100" type="double" maxOccurs="1" minOccurs="1"/>
									<element name="se120" type="double" maxOccurs="1" minOccurs="1"/>
									<element name="sliner" type="double" maxOccurs="1" minOccurs="1"/>
								</sequence>
							</complexType>
						</element>
						<element name="seFmt2">
							<complexType>
								<sequence>
									<element name="e1" type="double" maxOccurs="1" minOccurs="1"/>
									<element name="e2" type="double" maxOccurs="1" minOccurs="1"/>
									<element name="se1" type="double" maxOccurs="1" minOccurs="1"/>
									<element name="se2" type="double" maxOccurs="1" minOccurs="1"/>
									<element name="af" type="double" maxOccurs="1" minOccurs="0"/>
								</sequence>
							</complexType>
						</element>
					</choice>
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="Eq1Ed1MachineXmlType">
		<complexContent>
			<extension base="pss:Eq1MachineXmlType">
				<sequence>
					<element name="xq1" maxOccurs="1" minOccurs="1" type="double"/>
					<element name="Tq01" maxOccurs="1" minOccurs="1" type="pss:TimePeriodXmlType"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="Eq11MachineXmlType">
		<complexContent>
		<extension base="pss:Eq1MachineXmlType">
		<sequence>
			<element name="xd11" type="double" maxOccurs="1" minOccurs="1"></element>
			<element name="Td011" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1">			</element>
		</sequence>
		</extension>
		</complexContent>		
	</complexType>

	<complexType name="Eq11Ed11MachineXmlType">
		<complexContent>
		<extension base="pss:Eq1Ed1MachineXmlType">
		<sequence>
			<element name="xd11" type="double" maxOccurs="1" minOccurs="1"></element>
			<element name="Td011" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1">			</element>
			<element name="xq11" type="double" maxOccurs="1" minOccurs="1">			</element>
			<element name="Tq011" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1">			</element>
		</sequence>
		</extension>
		</complexContent>		
	</complexType>

<!-- below not used -->

	<simpleType name="GeneratorEnumType">
		<restriction base="string">
			<enumeration value="EquivGenUnit"></enumeration>
			<enumeration value="Classical"></enumeration>
			<enumeration value="Transient"></enumeration>
			<enumeration value="SubTransient"></enumeration>
		</restriction>
	</simpleType>

	<complexType name="GeneratorModelListXmlType">
		<sequence>
			<element name="equivGenUnit" maxOccurs="1" minOccurs="0" type="pss:EquiMachineXmlType">
			</element>
			<element name="classicalModel" maxOccurs="1" minOccurs="0" type="pss:ClassicMachineXmlType">
			</element>
			<element name="transModel" maxOccurs="1" minOccurs="0" type="pss:Eq1Ed1MachineXmlType">
			</element>
			<element name="subTransientModel" maxOccurs="1" minOccurs="0" type="pss:Eq11Ed11MachineXmlType">
			</element>
		</sequence>
	</complexType>

	<complexType name="MachineModelSelectionXmlType">
		<choice>
			<element name="equiGenUnit" maxOccurs="1" minOccurs="0" type="pss:EquiMachineXmlType">
			</element>
			<element name="classicalModel" maxOccurs="1" minOccurs="0" type="pss:ClassicMachineXmlType">
			</element>
			<element name="transModel" maxOccurs="1" minOccurs="0" type="pss:Eq1Ed1MachineXmlType">
			</element>
			<element name="subTransientModel" maxOccurs="1" minOccurs="0" type="pss:Eq11Ed11MachineXmlType">
			</element>
		</choice>
	</complexType>

</schema>