trunk/ieee.odm_pss/schema/ODM_DataType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.ieee.org/cmte/psace/oss/odm/pss/Schema/v1"
	xmlns:pss="http://www.ieee.org/cmte/psace/oss/odm/pss/Schema/v1"
	elementFormDefault="qualified">

	<annotation>
		<documentation>Copyright www.interpss.org 2008</documentation>
	</annotation>
	<complexType name="BaseRecordXmlType">
		<sequence>
			<element name="name" type="string" minOccurs="0"
				maxOccurs="1">
			</element>
			<element name="desc" type="string" minOccurs="0"
				maxOccurs="1">
			</element>
			<element name="isoCode" type="string" minOccurs="0"
				maxOccurs="1">
			</element>
			<element name="offLine" type="boolean" minOccurs="0"
				maxOccurs="1">
			</element>
            <element name="normalOffLineStatus" type="boolean" minOccurs="0"></element>
            <element name="number" type="int" minOccurs="0"
				maxOccurs="1">
			</element>
			<element name="areaNumber" minOccurs="0"
				maxOccurs="1" type="int">
            </element>
			<element name="zoneNumber" minOccurs="0"
				maxOccurs="1" type="int">
            </element>
			<element name="ownerList" minOccurs="0" maxOccurs="1">
				<complexType>
					<sequence>
						<element name="owner">
							<complexType>
								<sequence>
									<element name="id" type="string"
										minOccurs="1">
									</element>
									<element name="ownership"
										type="double" minOccurs="1">
									</element>
								</sequence>
							</complexType>
						</element>
					</sequence>
				</complexType>
			</element>
			<element name="nvPairList"
				type="pss:NameValuePairListXmlType" minOccurs="0" maxOccurs="1">
			</element>
			<element name="extension" type="anySimpleType"
				minOccurs="0">
			</element>
		</sequence>
	</complexType>

	<complexType name="IDRecordXmlType">
		<complexContent>
			<extension base="pss:BaseRecordXmlType">
				<sequence>
					<element name="id" type="ID" minOccurs="1"
						maxOccurs="1">
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="IDRefRecordXmlType">
		<complexContent>
			<extension base="pss:BaseRecordXmlType">
				<sequence>
					<element name="idRef" type="IDREF" minOccurs="1"
						maxOccurs="1">
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="NameValuePairXmlType">
		<sequence>
			<element name="name" type="string" minOccurs="1"
				maxOccurs="1">
			</element>
			<element name="value" type="string" minOccurs="1"
				maxOccurs="1">
			</element>
		</sequence>
	</complexType>

	<complexType name="NameValuePairListXmlType">
		<sequence>
			<element name="nvPair" type="pss:NameValuePairXmlType"
				minOccurs="0" maxOccurs="unbounded">
			</element>
		</sequence>
	</complexType>

	<complexType name="BaseDoubleXmlType">
		<sequence>
		</sequence>
		<attribute name="value" type="double" use="required"></attribute>
	</complexType>

	<complexType name="LimitXmlType">
		<sequence>
			<element name="max" type="double" minOccurs="1"></element>
			<element name="min" type="double" minOccurs="1"></element>
		</sequence>
	</complexType>
	<complexType name="ComplexXmlType">
		<attribute name="re" type="double" use="optional"></attribute>
		<attribute name="im" type="double" use="required"></attribute>
	</complexType>
	<complexType name="ZXmlType">
		<sequence>
			<element name="r" type="double" minOccurs="0"
				maxOccurs="1">
			</element>
			<element name="x" type="double" minOccurs="1"
				maxOccurs="1">
			</element>
			<element name="unit" minOccurs="0" maxOccurs="1">
				<simpleType>
					<restriction base="string">
						<enumeration value="PU"></enumeration>
						<enumeration value="OHM"></enumeration>
					</restriction>
				</simpleType>
			</element>
		</sequence>
	</complexType>
	<complexType name="YXmlType">
		<sequence>
			<element name="g" type="double" minOccurs="0"
				maxOccurs="1">
			</element>
			<element name="b" type="double" minOccurs="1"
				maxOccurs="1">
			</element>
			<element name="unit" minOccurs="0" maxOccurs="1">
				<simpleType>
					<restriction base="string">
						<enumeration value="PU"></enumeration>
						<enumeration value="MHO"></enumeration>
						<enumeration value="MICROMHO"></enumeration>
					</restriction>
				</simpleType>
			</element>
		</sequence>
	</complexType>
	<complexType name="PowerXmlType">
		<sequence>
			<element name="p" type="double" minOccurs="1"
				maxOccurs="1">
			</element>
			<element name="q" type="double" minOccurs="1"
				maxOccurs="1">
			</element>
			<element name="unit" minOccurs="0" maxOccurs="1">
				<simpleType>
					<restriction base="string">
						<enumeration value="PU"></enumeration>
						<enumeration value="VA"></enumeration>
						<enumeration value="KVA"></enumeration>
						<enumeration value="MVA"></enumeration>
					</restriction>
				</simpleType>
			</element>
		</sequence>
	</complexType>
	<complexType name="VoltageXmlType">
		<sequence>
			<element name="voltage" type="double" minOccurs="1"
				maxOccurs="1">
			</element>
			<element name="unit" minOccurs="0" maxOccurs="1">
				<simpleType>
					<restriction base="string">
						<enumeration value="PU"></enumeration>
						<enumeration value="VOLT"></enumeration>
						<enumeration value="KV"></enumeration>
					</restriction>
				</simpleType>
			</element>
		</sequence>
	</complexType>

	<complexType name="AngleXmlType">
		<complexContent>
			<extension base="pss:BaseDoubleXmlType">
				<sequence></sequence>
		<attribute name="unit" use="required">
				<simpleType>
					<restriction base="string">
						<enumeration value="RAD"></enumeration>
						<enumeration value="DEG"></enumeration>
					</restriction>
				</simpleType>
		</attribute>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="CurrentXmlType">
		<complexContent>
			<extension base="pss:BaseDoubleXmlType">
				<attribute name="unit" use="required">
						<simpleType>
							<restriction base="string">
								<enumeration value="PU"></enumeration>
								<enumeration value="AMP"></enumeration>
								<enumeration value="KA"></enumeration>
							</restriction>
						</simpleType>
				</attribute>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="AdjustmentDataXmlType">
		<sequence>
			<element name="mode" minOccurs="1">
				<simpleType>
					<restriction base="string">
						<enumeration value="ValueAdjustment"></enumeration>
						<enumeration value="RangeAdjustment"></enumeration>
					</restriction>
				</simpleType>
			</element>
			<element name="desiredValue" type="double" minOccurs="0"></element>
			<element name="desiredRange" type="pss:LimitXmlType"
				minOccurs="0">
			</element>
		</sequence>
	</complexType>

	<complexType name="LengthXmlType">
		<complexContent>
			<extension base="pss:BaseDoubleXmlType">
				<attribute name="unit" use="required">
						<simpleType>
							<restriction base="string">
								<enumeration value="KM"></enumeration>
								<enumeration value="Mile"></enumeration>
							</restriction>
						</simpleType>
				</attribute>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="FrequencyXmlType">
    	<complexContent>
    		<extension base="pss:BaseDoubleXmlType">
    			<sequence>
    			</sequence>
    			<attribute name="unit" use="required">
    					<simpleType>
    						<restriction base="string">
    							<enumeration value="Hz"></enumeration>
    							<enumeration value="KHz"></enumeration>
    						</restriction>
    					</simpleType>
    			</attribute>
    		</extension>
    	</complexContent>
    </complexType>

	<complexType name="TimePeriodXmlType">
		<complexContent>
			<extension base="pss:BaseDoubleXmlType">
				<attribute name="unit" use="required">
						<simpleType>
							<restriction base="string">
								<enumeration value="sec"></enumeration>
								<enumeration value="min"></enumeration>
								<enumeration value="hour"></enumeration>
								<enumeration value="cycle"></enumeration>
							</restriction>
						</simpleType>
				</attribute>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="PerUnitXmlType">
    <sequence>
    		<element name="value" type="double" maxOccurs="1"
    			minOccurs="1">
    		</element>
    		<element name="unit" maxOccurs="1" minOccurs="1">
                <simpleType><restriction base="string">
                <enumeration value="PU"></enumeration>
                </restriction></simpleType>
            </element>

    	</sequence>   
    </complexType>

    <complexType name="BasePowerXmlType">
    	<complexContent>
    		<extension base="pss:BaseDoubleXmlType">
    			<attribute name="unit" use="required">
    				<simpleType>
    					<restriction base="string">
    						<enumeration value="KVA"></enumeration>
    						<enumeration value="MVA"></enumeration>
    					</restriction>
    				</simpleType>
    			</attribute>
    		</extension>
    	</complexContent>
    </complexType>

    <complexType name="PercentXmlType">
    <sequence>
    		<element name="value" type="double" maxOccurs="1"
    			minOccurs="1">
    		</element>
    		<element name="unit" maxOccurs="1" minOccurs="1"><simpleType><restriction base="string">
    		<enumeration value="percent"></enumeration>
    		</restriction></simpleType></element>
    	</sequence>
    </complexType>
    
							<complexType name="LineZeroSeqXmlType">
								<sequence>
									<element name="rLineZer" type="pss:PerUnitXmlType" maxOccurs="1" minOccurs="0"></element>
									<element name="xLineZer" type="pss:PerUnitXmlType" maxOccurs="1" minOccurs="0"></element>
									<element name="bLineZer" type="pss:PerUnitXmlType" maxOccurs="1" minOccurs="0"></element>
									<element name="gfZer" type="pss:PerUnitXmlType" maxOccurs="1" minOccurs="0"></element>
									<element name="bfZer" type="pss:PerUnitXmlType" maxOccurs="1" minOccurs="0"></element>
									<element name="gtZer" type="pss:PerUnitXmlType" maxOccurs="1" minOccurs="0"></element>
									<element name="btZer" type="pss:PerUnitXmlType" maxOccurs="1" minOccurs="0"></element>
								</sequence>
							</complexType>
							
							<complexType name="TransformerZeroSeqXmlType">
								<sequence>
									<element name="conectionLocation" maxOccurs="1" minOccurs="1">
										<simpleType>
											<restriction base="string">
												<enumeration value="at_bus1"></enumeration>
												<enumeration value="at_bus2"></enumeration>
												<enumeration value="between_bus1_and_bus_2"></enumeration>
											</restriction>
										</simpleType>
									</element>
									<element name="RG" type="pss:PerUnitXmlType" maxOccurs="1" minOccurs="0"></element>
									<element name="XG" type="pss:PerUnitXmlType" maxOccurs="1" minOccurs="0"></element>
									<element name="R1" type="pss:PerUnitXmlType" maxOccurs="1" minOccurs="0"></element>
									<element name="X1" type="pss:PerUnitXmlType" maxOccurs="1" minOccurs="0"></element>
									<element name="R2" type="pss:PerUnitXmlType" maxOccurs="1" minOccurs="0"></element>
									<element name="X2" type="pss:PerUnitXmlType" maxOccurs="1" minOccurs="0"></element>
									<element name="R3" type="pss:PerUnitXmlType" maxOccurs="1" minOccurs="0"></element>
									<element name="X3" type="pss:PerUnitXmlType" maxOccurs="1" minOccurs="0"></element>
								</sequence>
							</complexType>
							<complexType name="MutualZeroZXmlType">
								<sequence>
									<element name="branchFromBus" type="pss:IDRefRecordXmlType" maxOccurs="1" minOccurs="1"></element>
									<element name="branchToBus" type="pss:IDRefRecordXmlType" maxOccurs="1" minOccurs="1"></element>
									<element name="branchCirId" type="string" maxOccurs="1" minOccurs="0"></element>
									<element name="RM" type="pss:PerUnitXmlType" maxOccurs="1" minOccurs="0"></element>
									<element name="XM" type="pss:PerUnitXmlType" maxOccurs="1" minOccurs="0"></element>
									<element name="BIJ1" type="pss:PerUnitXmlType" maxOccurs="1" minOccurs="0"></element>
									<element name="BIJ2" type="pss:PerUnitXmlType" maxOccurs="1" minOccurs="0"></element>
									<element name="BKL1" type="pss:PerUnitXmlType" maxOccurs="1" minOccurs="0"></element>
									<element name="BKL2" type="pss:PerUnitXmlType" maxOccurs="1" minOccurs="0"></element>
								</sequence>
							</complexType>
</schema>