trunk/ieee.odm_pss/schema/ODM_StudyScenario.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.ieee.org/odm/Schema" xmlns:pss="http://www.ieee.org/odm/Schema" elementFormDefault="qualified">
	<include schemaLocation="ODM_DataType.xsd"></include>

	<include schemaLocation="dynamic/ODM_MachineModel.xsd"></include>
	<include schemaLocation="dynamic/ODM_ExciterModel.xsd"></include>
	<include schemaLocation="dynamic/ODM_GovernorModel.xsd"></include>
	<include schemaLocation="dynamic/ODM_StabilizerModel.xsd"></include>
	<include schemaLocation="dynamic/ODM_DynamicLoadModel.xsd"></include>

	<include schemaLocation="ODM_Modification.xsd"></include>

	<complexType name="BusDynDataListXmlType">
		<sequence>
			<element name="generatorDataList" type="pss:GeneratorDataListXmlType" maxOccurs="1" minOccurs="0"></element>
			<element name="exciterDataList" type="pss:ExciterDataListXmlType" maxOccurs="1" minOccurs="0"></element>
			<element name="turbineGovernorDataList" type="pss:TurbineGovernorDataListXmlType" maxOccurs="1" minOccurs="0"></element>
			<element name="stabilizerDataList" type="pss:StabilizerDataListXmlType" maxOccurs="1" minOccurs="0"></element>
			<element name="LoadCharacteristicDataList" type="pss:LoadCharacteristicDataListXmlType" maxOccurs="1" minOccurs="0"></element>
		</sequence>
	</complexType>

	<complexType name="GeneratorDataListXmlType">
		<sequence>
			<element name="generator" type="pss:GeneratorXmlType" maxOccurs="unbounded" minOccurs="1"></element>
		</sequence>
	</complexType>

	<complexType name="ExciterDataListXmlType">
		<sequence>
			<element name="exciter" type="pss:ExciterXmlType" maxOccurs="unbounded" minOccurs="1"></element>
		</sequence>
	</complexType>

	<complexType name="TurbineGovernorDataListXmlType">
		<sequence>
			<element name="turbineGovernor" type="pss:TurbineGovernorXmlType" maxOccurs="unbounded" minOccurs="1"></element>
		</sequence>
	</complexType>

	<complexType name="StabilizerDataListXmlType">
		<sequence>
			<element name="stabilizer" type="pss:StabilizerXmlType" maxOccurs="unbounded" minOccurs="1"></element>
		</sequence>
	</complexType>

	<complexType name="LoadCharacteristicDataListXmlType">
		<sequence>
			<element name="Load" type="pss:LoadCharacteristicXmlType" maxOccurs="unbounded" minOccurs="1"></element>
		</sequence>
	</complexType>
	<complexType name="BranchDynDataListXmlType">
		<sequence>
			<element name="lineRelayDataList" type="pss:LineRelayDataListXmlType" maxOccurs="1" minOccurs="0"></element>
		</sequence>
	</complexType>

	<complexType name="LineRelayDataListXmlType">
		<sequence>
			<element name="lineRelay" type="pss:LineRelayXmlType" maxOccurs="1" minOccurs="0"></element>
		</sequence>
	</complexType>

	<complexType name="LineRelayXmlType">
		<sequence>
			<element name="lineRelayType" maxOccurs="1" minOccurs="1" type="pss:LineRelayEnumType">
			</element>
			<element name="lineRelayModel" type="pss:LineRelayModelListXmlType" maxOccurs="1" minOccurs="1"></element>
		</sequence>
	</complexType>

	<simpleType name="LineRelayEnumType">
		<restriction base="string">
			<enumeration value="TIOCR1"></enumeration>
			<enumeration value="DistanceRelay"></enumeration>
		</restriction>
	</simpleType>

	<complexType name="LineRelayModelListXmlType">
		<sequence>
			<element name="TIOCR1" maxOccurs="1" minOccurs="0">
				<complexType></complexType>
			</element>
			<element name="distanceRelay" maxOccurs="1" minOccurs="0">
				<complexType></complexType>
			</element>
		</sequence>
	</complexType>

	<complexType name="FaultListXmlType">
		<sequence>
			<element name="fault" maxOccurs="unbounded" minOccurs="1" type="pss:FaultXmlType">
			</element>
		</sequence>
	</complexType>

	<complexType name="SequenceDataListXmlType">
		<sequence>
			<element name="postiveSequenceDataList" type="pss:PostiveSequenceDataListXmlType" maxOccurs="1" minOccurs="0"></element>
			<element name="negativeSequenceDataList" type="pss:NegativeSequenceDataListXmlType" maxOccurs="1" minOccurs="0"></element>
			<element name="zeroSequenceDataList" type="pss:ZeroSequenceDataListXmlType" maxOccurs="1" minOccurs="0"></element>
		</sequence>
	</complexType>

	<complexType name="PostiveSequenceDataListXmlType">
		<sequence>
			<element name="generatorPostiveList" maxOccurs="1" minOccurs="0">
				<complexType>
					<sequence>
						<element name="gerneratorPostive" maxOccurs="unbounded" minOccurs="0">
							<complexType>
								<sequence>
									<element name="busId" type="pss:IDRefRecordXmlType" maxOccurs="1" minOccurs="1"></element>
									<element name="macId" type="pss:IDRefRecordXmlType" maxOccurs="1" minOccurs="0"></element>
									<element name="ZRPos" type="double" maxOccurs="1" minOccurs="0"></element>
									<element name="ZXPos" type="double" maxOccurs="1" minOccurs="0"></element>
								</sequence>
							</complexType>
						</element>
					</sequence>
				</complexType>
			</element>
		</sequence>
	</complexType>

	<complexType name="NegativeSequenceDataListXmlType">
		<sequence>
			<element name="generatorNegativeList" maxOccurs="1" minOccurs="0">
				<complexType>
					<sequence>
						<element name="generatorNegative" maxOccurs="unbounded" minOccurs="0">
							<complexType>
								<sequence>
									<element name="busId" type="pss:IDRefRecordXmlType" maxOccurs="1" minOccurs="1"></element>
									<element name="macId" type="pss:IDRefRecordXmlType" maxOccurs="1" minOccurs="0"></element>
									<element name="ZRNeg" type="double" maxOccurs="1" minOccurs="0"></element>
									<element name="ZXNeg" type="double" maxOccurs="1" minOccurs="0"></element>
								</sequence>
							</complexType>
						</element>
					</sequence>
				</complexType>
			</element>
			<element name="shuntLoadNegativeList" maxOccurs="1" minOccurs="0">
				<complexType>
					<sequence>
						<element name="shuntLoadNegative" maxOccurs="unbounded" minOccurs="0">
							<complexType>
								<sequence>
									<element name="loadLocation" maxOccurs="1" minOccurs="0" type="pss:ShuntLoadNegLocationEnumType">
									</element>
									<element name="locationId" type="pss:IDRefRecordXmlType" maxOccurs="1" minOccurs="1"></element>
									<element name="rNeg" type="double" maxOccurs="1" minOccurs="0"></element>
									<element name="xNeg" type="double" maxOccurs="1" minOccurs="0"></element>
								</sequence>
							</complexType>
						</element>
					</sequence>
				</complexType>
			</element>
		</sequence>
	</complexType>

	<simpleType name="ShuntLoadNegLocationEnumType">
		<restriction base="string">
			<enumeration value="at_bus"></enumeration>
			<enumeration value="at_area"></enumeration>
			<enumeration value="at_zone"></enumeration>
		</restriction>
	</simpleType>


	<complexType name="ZeroSequenceDataListXmlType">
		<sequence>
			<element name="generatorZeroList" maxOccurs="1" minOccurs="0">
				<complexType>
					<sequence>
						<element name="generatorZero" maxOccurs="unbounded" minOccurs="0">
							<complexType>
								<sequence>
									<element name="busId" type="pss:IDRefRecordXmlType" maxOccurs="1" minOccurs="1"></element>
									<element name="macId" type="pss:IDRefRecordXmlType" maxOccurs="1" minOccurs="0"></element>
									<element name="ZRZer" type="double" maxOccurs="1" minOccurs="0"></element>
									<element name="ZXZer" type="double" maxOccurs="1" minOccurs="0"></element>
								</sequence>
							</complexType>
						</element>
					</sequence>
				</complexType>
			</element>
			<element name="shuntLoadZeroList" maxOccurs="1" minOccurs="0">
				<complexType>
					<sequence>
						<element name="shuntLoadZero" maxOccurs="unbounded" minOccurs="0">
							<complexType>
								<sequence>
									<element name="busId" type="pss:IDRefRecordXmlType" maxOccurs="1" minOccurs="1"></element>
									<element name="rZer" type="double" maxOccurs="1" minOccurs="0"></element>
									<element name="xZer" type="double" maxOccurs="1" minOccurs="0"></element>
								</sequence>
							</complexType>
						</element>
					</sequence>
				</complexType>
			</element>
			<element name="lineZeroList" maxOccurs="1" minOccurs="0">
				<complexType>
					<sequence>
						<element name="lineZero" maxOccurs="unbounded" minOccurs="0">
							<complexType>
								<sequence>
									<element name="fBusId" type="pss:IDRefRecordXmlType" maxOccurs="1" minOccurs="1"></element>
									<element name="tBusId" type="pss:IDRefRecordXmlType" maxOccurs="1" minOccurs="1"></element>
									<element name="cirId" type="string" maxOccurs="1" minOccurs="0"></element>
									<element name="rLineZer" type="double" maxOccurs="1" minOccurs="0"></element>
									<element name="xLineZer" type="double" maxOccurs="1" minOccurs="0"></element>
									<element name="bLineZer" type="double" maxOccurs="1" minOccurs="0"></element>
									<element name="gfZer" type="double" maxOccurs="1" minOccurs="0"></element>
									<element name="bfZer" type="double" maxOccurs="1" minOccurs="0"></element>
									<element name="gtZer" type="double" maxOccurs="1" minOccurs="0"></element>
									<element name="btZer" type="double" maxOccurs="1" minOccurs="0"></element>
								</sequence>
							</complexType>
						</element>
					</sequence>
				</complexType>
			</element>

			<element name="xfrZeroList" maxOccurs="1" minOccurs="0">
				<complexType>
					<sequence>
						<element name="xfrZero" maxOccurs="unbounded" minOccurs="0">
							<complexType>
								<sequence>
									<element name="busI" type="pss:IDRefRecordXmlType" maxOccurs="1" minOccurs="1"></element>
									<element name="busJ" type="pss:IDRefRecordXmlType" maxOccurs="1" minOccurs="1"></element>
									<element name="busK" type="pss:IDRefRecordXmlType" maxOccurs="1" minOccurs="0"></element>
									<element name="cirId" type="string" maxOccurs="1" minOccurs="0"></element>
									<element name="connectionLocation" maxOccurs="1" minOccurs="1" type="pss:XfrZeroConnectionLocationEnumType">
									</element>
									<element name="RG" type="double" maxOccurs="1" minOccurs="0"></element>
									<element name="XG" type="double" maxOccurs="1" minOccurs="0"></element>
									<element name="R1" type="double" maxOccurs="1" minOccurs="0"></element>
									<element name="X1" type="double" maxOccurs="1" minOccurs="0"></element>
									<element name="R2" type="double" maxOccurs="1" minOccurs="0"></element>
									<element name="X2" type="double" maxOccurs="1" minOccurs="0"></element>
									<element name="R3" type="double" maxOccurs="1" minOccurs="0"></element>
									<element name="X3" type="double" maxOccurs="1" minOccurs="0"></element>
								</sequence>
							</complexType>
						</element>
					</sequence>
				</complexType>
			</element>
			<element name="mutualImpedanceZeroList" maxOccurs="1" minOccurs="0">
				<complexType>
					<sequence>
						<element name="mutualImpedanceZero" maxOccurs="unbounded" minOccurs="0">
							<complexType>
								<sequence>
									<element name="branch1BusI" type="pss:IDRefRecordXmlType" maxOccurs="1" minOccurs="1"></element>
									<element name="branch1BuJ" type="pss:IDRefRecordXmlType" maxOccurs="1" minOccurs="1"></element>
									<element name="branch1CirId" type="string" maxOccurs="1" minOccurs="0"></element>
									<element name="branch2BusK" type="pss:IDRefRecordXmlType" maxOccurs="1" minOccurs="1"></element>
									<element name="branch2BusL" type="pss:IDRefRecordXmlType" maxOccurs="1" minOccurs="1"></element>
									<element name="branch2CirId" type="string" maxOccurs="1" minOccurs="0"></element>
									<element name="RM" type="double" maxOccurs="1" minOccurs="0"></element>
									<element name="XM" type="double" maxOccurs="1" minOccurs="0"></element>
									<element name="BIJ1" type="double" maxOccurs="1" minOccurs="0"></element>
									<element name="BIJ2" type="double" maxOccurs="1" minOccurs="0"></element>
									<element name="BKL1" type="double" maxOccurs="1" minOccurs="0"></element>
									<element name="BKL2" type="double" maxOccurs="1" minOccurs="0"></element>
								</sequence>
							</complexType>
						</element>
					</sequence>
				</complexType>
			</element>
			<element name="switchShuntedZeroList" maxOccurs="1" minOccurs="0">
				<complexType>
					<sequence>
						<element name="switchShuntedZeroType" maxOccurs="unbounded" minOccurs="0">
							<complexType></complexType>
						</element>
					</sequence>
				</complexType>
			</element>
		</sequence>
	</complexType>

	<simpleType name="XfrZeroConnectionLocationEnumType">
		<restriction base="string">
			<enumeration value="at_bus1"></enumeration>
			<enumeration value="at_bus2"></enumeration>
			<enumeration value="between_bus1_and_bus_2"></enumeration>
		</restriction>
	</simpleType>

	<complexType name="DynamicDataListXmlType">
		<sequence>
			<element name="busDynDataList" type="pss:BusDynDataListXmlType" maxOccurs="1" minOccurs="0"></element>
			<element name="branchDynDataList" type="pss:BranchDynDataListXmlType" maxOccurs="1" minOccurs="0"></element>
			<element name="faultList" type="pss:FaultListXmlType" maxOccurs="1" minOccurs="0"></element>
			<element name="sequenceDataList" type="pss:SequenceDataListXmlType" maxOccurs="1" minOccurs="0"></element>
		</sequence>
	</complexType>
</schema>