trunk/ieee.odm_pss/schema/ODM_DynamicDataType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.ieee.org/cmte/psace/oss/odm/pss/Schema/v1"
	xmlns:pss="http://www.ieee.org/cmte/psace/oss/odm/pss/Schema/v1"
	elementFormDefault="qualified">
	<include schemaLocation="ODM_DataType.xsd"></include>



	<complexType name="BusDynDataListXmlType">
		<sequence>
			<element name="generatorDataList"
				type="pss:GeneratorDataListXmlType" maxOccurs="1" minOccurs="0">
			</element>
			<element name="exciterDataList"
				type="pss:ExciterDataListXmlType" maxOccurs="1" minOccurs="0">
			</element>

			<element name="turbineGovernorDataList"
				type="pss:TurbineGovernorDataListXmlType" maxOccurs="1" minOccurs="0">
			</element>
			<element name="stabilizerDataList"
				type="pss:StabilizerDataListXmlType" maxOccurs="1" minOccurs="0">
			</element>
			<element name="LoadCharacteristicDataList"
				type="pss:LoadCharacteristicDataListXmlType" maxOccurs="1" minOccurs="0">
			</element>

		</sequence>
	</complexType>



	<complexType name="GeneratorDataListXmlType">
		<sequence>
			<element name="generator" type="pss:GeneratorXmlType" maxOccurs="unbounded" minOccurs="1"></element>
		</sequence>
	</complexType>

	<complexType name="ExciterDataListXmlType">
		<sequence>
			<element name="exciter" type="pss:ExciterXmlType" maxOccurs="unbounded" minOccurs="1"></element>
		</sequence>
	</complexType>

	<complexType name="TurbineGovernorDataListXmlType">
		<sequence>
			<element name="turbineGovernor" type="pss:TurbineGovernorXmlType" maxOccurs="unbounded" minOccurs="1"></element>
		</sequence>
	</complexType>

	<complexType name="StabilizerDataListXmlType">
		<sequence>
			<element name="stabilizer" type="pss:StabilizerXmlType" maxOccurs="unbounded" minOccurs="1"></element>
		</sequence>
	</complexType>

	<complexType name="LoadCharacteristicDataListXmlType">
		<sequence>
			<element name="Load" type="pss:LoadCharacteristicXmlType" maxOccurs="unbounded" minOccurs="1"></element>
		</sequence>
	</complexType>

	<complexType name="GeneratorXmlType">
		<sequence>
			<element name="locatedBus" type="pss:IDRefRecordXmlType"
				maxOccurs="1" minOccurs="1">
			</element>
			<element name="genId" type="pss:IDRefRecordXmlType"
				maxOccurs="1" minOccurs="0">
			</element>
			<element name="ownerName" type="string" maxOccurs="1"
				minOccurs="0">
			</element>
			<element name="busRatedVoltage" type="pss:VoltageXmlType"
				maxOccurs="1" minOccurs="0">
			</element>
			<element name="generatorType" maxOccurs="1" minOccurs="1">
				<simpleType>
					<restriction base="string">
					    <enumeration value="equi_gen_unit"></enumeration>
						<enumeration value="classicalModel"></enumeration>
						<enumeration value="transientModel"></enumeration>
						<enumeration value="subtransModel"></enumeration>

					</restriction>
				</simpleType>
			</element>
			<element name="generatorModel"
				type="pss:GeneratorModelListXmlType" maxOccurs="1" minOccurs="1">
			</element>

			<element name="pContribution" type="pss:PercentXmlType"
				maxOccurs="1" minOccurs="0">
			</element>
			<element name="qContribution" type="pss:PercentXmlType" maxOccurs="1" minOccurs="0"></element>
		</sequence>
	</complexType>

	<complexType name="ExciterXmlType">
		<sequence>
			<element name="locatedBus" type="pss:IDRefRecordXmlType"
				maxOccurs="1" minOccurs="1">
			</element>
			<element name="busRatedVoltage" type="pss:VoltageXmlType"
				maxOccurs="1" minOccurs="0">
			</element>
			<element name="exciterType" maxOccurs="1" minOccurs="1">
				<simpleType>
					<restriction base="string">
						<enumeration value="IEEE1992TypeAC1A"></enumeration>
						<enumeration value="IEEE1992TypeAC2A"></enumeration>
						<enumeration value="IEEE1981ST1"></enumeration>
						<enumeration value="BPAFJ"></enumeration>
						<enumeration value="IEEE1968Type1"></enumeration>
						<enumeration value="IEEEModified1968Type1"></enumeration>
						<enumeration value="IEEE1981NewExcSystem"></enumeration>


					</restriction>
				</simpleType>
			</element>
			<element name="exciterModel"
				type="pss:ExciterModelListXmlType" maxOccurs="1" minOccurs="1">
			</element>

			<element name="excId" type="pss:IDRefRecordXmlType" maxOccurs="1" minOccurs="0"></element>
		</sequence>
	</complexType>

	<complexType name="TurbineGovernorXmlType">
		<sequence>
			<element name="locatedBus" type="pss:IDRefRecordXmlType"
				maxOccurs="1" minOccurs="1">
			</element>
            <element name="busRatedVoltage" type="pss:VoltageXmlType" maxOccurs="1" minOccurs="0"></element>
            <element name="turbineGovernorType" maxOccurs="1"
				minOccurs="1">
				<simpleType>
					<restriction base="string">
						<enumeration value="IEEE1981Type1"></enumeration>
						<enumeration value="IEEE1981Type2"></enumeration>
						<enumeration value="IEEE1981Type3"></enumeration>
						<enumeration value="hydroStreamGeneralModel"></enumeration>
						<enumeration value="hydroGovernerAndTurbine"></enumeration>
						<enumeration value="hydroGoverner"></enumeration>
						
					</restriction>
				</simpleType>
			</element>
			<element name="turbineGovernorModel"
				type="pss:TurbineGovernorModelListXmlType" maxOccurs="1"
				minOccurs="1">
			</element>
			<element name="tgId" type="pss:IDRefRecordXmlType"
				maxOccurs="1" minOccurs="0">
			</element>
		</sequence>
	</complexType>

	<complexType name="StabilizerXmlType">
		<sequence>
			<element name="locatedBus" type="pss:IDRefRecordXmlType"
				maxOccurs="1" minOccurs="1">
			</element>
			<element name="busRatedVoltage" type="pss:VoltageXmlType"
				maxOccurs="1" minOccurs="0">
			</element>
			<element name="stabilizerType" maxOccurs="1"
				minOccurs="1">
				<simpleType>
					<restriction base="string">
						<enumeration value="IEEE1981Type"></enumeration>
						<enumeration value="IEEE1982Type2A"></enumeration>
						<enumeration value="IEE2ST"></enumeration>						
						<enumeration value="IEEEDualInput"></enumeration>
					</restriction>
				</simpleType>
			</element>
			<element name="stabilizerModel"
				type="pss:StabilizerModelListXmlType" maxOccurs="1" minOccurs="1">
			</element>

			<element name="macId" type="pss:IDRefRecordXmlType" maxOccurs="1" minOccurs="0"></element>
		</sequence>
	</complexType>

	<complexType name="LoadCharacteristicXmlType">
		<sequence>
			<element name="location" maxOccurs="1" minOccurs="1">
				<simpleType>
					<restriction base="string">
						<enumeration value="atBus"></enumeration>
						<enumeration value="atOwner"></enumeration>
						<enumeration value="atZone"></enumeration>
						<enumeration value="atArea"></enumeration>
						<enumeration value="other"></enumeration>
					</restriction>
				</simpleType>
			</element>

            <element name="locationId" type="pss:IDRefRecordXmlType" maxOccurs="1" minOccurs="1"></element>
            <element name="LoadXmlType" maxOccurs="1"
				minOccurs="1">
				<simpleType>
					<restriction base="string">
						<enumeration value="IEEEStaticLoad"></enumeration>
						<enumeration value="ComplexLoad"></enumeration>
						<enumeration value="InductionMotor"></enumeration>
					</restriction>
				</simpleType>
			</element>
			<element name="LoadModel"
				type="pss:LoadCharacteristicModelListXmlType" maxOccurs="1" minOccurs="1">
			</element>


		</sequence>
	</complexType>
	
    <complexType name="GeneratorModelListXmlType">
    	<sequence>
            <element name="equiGenUnit" maxOccurs="1" minOccurs="0">
            	<complexType>
            		<sequence>
            			<element name="equiPgen" type="double"
            				maxOccurs="1" minOccurs="0">
            			</element>
            			<element name="pGenUnit" maxOccurs="1"
            				minOccurs="0">
            				<simpleType>
            					<restriction base="string">
            						<enumeration value="PU"></enumeration>
						<enumeration value="VA"></enumeration>
						<enumeration value="KVA"></enumeration>
						<enumeration value="MVA"></enumeration>
            					</restriction>
            				</simpleType>
            			</element>
            			<element name="DCLineBus" type="boolean" maxOccurs="1" minOccurs="0"></element>
            		</sequence>
            	</complexType></element>
            <element name="classicalModel" maxOccurs="1"
    			minOccurs="0">
    			<complexType>
    				<sequence>
    					<element name="genName" type="string"
    						maxOccurs="1" minOccurs="0">
    					</element>
    					<element name="desc" type="string" maxOccurs="1"
    						minOccurs="0">
    					</element>
    					<element name="basePower" type="double"
    						maxOccurs="1" minOccurs="0">
    					</element>
    					<element name="basePowerUnit" maxOccurs="1"
    						minOccurs="0">
    						<simpleType>
    							<restriction base="string">
    								<enumeration value="Mva"></enumeration>
    								<enumeration value="Kva"></enumeration>
    							</restriction>
    						</simpleType>
    					</element>

    					<element name="xd1" maxOccurs="1" minOccurs="1"
    						type="pss:PerUnitXmlType">

    					</element>

    					<element name="H" maxOccurs="1" minOccurs="1"
    						type="pss:PerUnitXmlType">

    					</element>
    					<element name="D" maxOccurs="1" minOccurs="1"
    						type="pss:PerUnitXmlType">

    					</element>

    				</sequence>
    			</complexType>
    		</element>
    		<element name="transModel" maxOccurs="1" minOccurs="0">
    			<complexType>
    				<sequence>

    					<element name="genName" type="string"
    						maxOccurs="1" minOccurs="0">
    					</element>
    					<element name="desc" type="string" maxOccurs="1"
    						minOccurs="0">
    					</element>
    					<element name="basePower" type="double"
    						maxOccurs="1" minOccurs="0">
    					</element>
    					<element name="basePowerUnit" maxOccurs="1"
    						minOccurs="0">
    						<simpleType>
    							<restriction base="string">
    								<enumeration value="Mva"></enumeration>
    								<enumeration value="Kva"></enumeration>
    							</restriction>
    						</simpleType>
    					</element>

    					<element name="ra" maxOccurs="1" minOccurs="1"
    						type="pss:PerUnitXmlType">

    					</element>
    					<element name="xd" maxOccurs="1" minOccurs="1"
    						type="pss:PerUnitXmlType">

    					</element>
    					<element name="xd1" maxOccurs="1" minOccurs="1"
    						type="pss:PerUnitXmlType">

    					</element>
    					<element name="Tdo1" type="pss:TimeXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="xq" maxOccurs="1" minOccurs="1"
    						type="pss:PerUnitXmlType">

    					</element>
    					<element name="xq1" maxOccurs="1" minOccurs="1"
    						type="pss:PerUnitXmlType">

    					</element>
    					<element name="Tq01" maxOccurs="1" minOccurs="1"
    						type="pss:TimeXmlType">
    					</element>
    					<element name="H" type="pss:PerUnitXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="D" type="pss:PerUnitXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>

    					<element name="E1" type="double" maxOccurs="1"
    						minOccurs="1">
    					</element>
    					<element name="SE1" type="double" maxOccurs="1"
    						minOccurs="1">
    					</element>
    					<element name="E2" type="double" maxOccurs="1"
    						minOccurs="1">
    					</element>
    					<element name="SE2" type="double" maxOccurs="1"
    						minOccurs="1">
    					</element>
    					<element name="AF" type="double" maxOccurs="1"
    						minOccurs="0">
    					</element>

    				</sequence>

    			</complexType>
    		</element>
    		<element name="subTransientModel" maxOccurs="1"
    			minOccurs="0">
    			<complexType>
    				<sequence>
    					<element name="genName" type="string"
    						maxOccurs="1" minOccurs="0">
    					</element>
    					<element name="desc" type="string" maxOccurs="1"
    						minOccurs="0">
    					</element>
    					<element name="basePower" type="double"
    						maxOccurs="1" minOccurs="0">
    					</element>

    					<element name="basePowerUnit" maxOccurs="1"
    						minOccurs="0">
    						<simpleType>
    							<restriction base="string">
    								<enumeration value="Mva"></enumeration>
    								<enumeration value="Kva"></enumeration>
    							</restriction>
    						</simpleType>
    					</element>
    					<element name="xd" maxOccurs="1" minOccurs="1"
    						type="pss:PerUnitXmlType">

    					</element>

    					<element name="xr" type="pss:PerUnitXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="ra" maxOccurs="1" minOccurs="1"
    						type="pss:PerUnitXmlType">

    					</element>

    					<element name="xd1" maxOccurs="1" minOccurs="1"
    						type="pss:PerUnitXmlType">

    					</element>
    					<element name="xd11" type="pss:PerUnitXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="Tdo1" type="pss:TimeXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="Td011" type="pss:TimeXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="xq" maxOccurs="1" minOccurs="1"
    						type="pss:PerUnitXmlType">

    					</element>
    					<element name="xq1" maxOccurs="1" minOccurs="1"
    						type="pss:PerUnitXmlType">

    					</element>
    					<element name="xq11" type="pss:PerUnitXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="Tq01" maxOccurs="1" minOccurs="1"
    						type="pss:TimeXmlType">
    					</element>
    					<element name="Tq011" type="pss:TimeXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="H" type="pss:PerUnitXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="D" type="pss:PerUnitXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>

    					<element name="E1" type="double" maxOccurs="1"
    						minOccurs="1">
    					</element>
    					<element name="SE1" type="double" maxOccurs="1"
    						minOccurs="1">
    					</element>
    					<element name="E2" type="double" maxOccurs="1"
    						minOccurs="1">
    					</element>
    					<element name="SE2" type="double" maxOccurs="1"
    						minOccurs="1">
    					</element>
    					<element name="AF" type="double" maxOccurs="1"
    						minOccurs="0">
    					</element>




    				</sequence>

    			</complexType>
    		</element>

    	</sequence>
    </complexType>

    <complexType name="ExciterModelListXmlType">
    	<sequence>
    		<element name="IEEE1992TypeAC1A" maxOccurs="1"
    			minOccurs="0">
    			<complexType>
    				<sequence>
    					<element name="exciterName" type="string"
    						maxOccurs="1" minOccurs="0">
    					</element>
    					<element name="desc" type="string" maxOccurs="1"
    						minOccurs="0">
    					</element>

    					<element name="TR" type="pss:TimeXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="TB" type="pss:TimeXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="TC" type="pss:TimeXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="KA" type="pss:PerUnitXmlType" maxOccurs="1"
    						minOccurs="1">
    					</element>
    					<element name="TA" type="pss:TimeXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="VAMAX" type="pss:PerUnitXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="VAMIN" type="pss:PerUnitXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="TE" type="pss:TimeXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="KF" type="pss:PerUnitXmlType" maxOccurs="1"
    						minOccurs="1">
    					</element>
    					<element name="TF" type="pss:TimeXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="KC" type="pss:PerUnitXmlType" maxOccurs="1"
    						minOccurs="1">
    					</element>
    					<element name="KD" type="pss:PerUnitXmlType" maxOccurs="1"
    						minOccurs="1">
    					</element>
    					<element name="E1" type="double" maxOccurs="1"
    						minOccurs="1">
    					</element>
    					<element name="SE1" type="double" maxOccurs="1"
    						minOccurs="1">
    					</element>
    					<element name="E2" type="double" maxOccurs="1"
    						minOccurs="1">
    					</element>
    					<element name="SE2" type="double" maxOccurs="1"
    						minOccurs="1">
    					</element>
    					<element name="VRMAX" type="pss:PerUnitXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="VRMIN" type="pss:PerUnitXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>
    				</sequence>
    			</complexType>
    		</element>
    		<element name="IEEE1992TypeAC2A" maxOccurs="1"
    			minOccurs="0">
    			<complexType>
    				<sequence>
    					<element name="exciterName" type="string"
    						maxOccurs="1" minOccurs="0">
    					</element>
    					<element name="desc" type="string" maxOccurs="1"
    						minOccurs="0">
    					</element>


                        <element name="TR" type="pss:TimeXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="TB" type="pss:TimeXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="TC" type="pss:TimeXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="KA" type="pss:PerUnitXmlType" maxOccurs="1"
    						minOccurs="1">
    					</element>
    					<element name="TA" type="pss:TimeXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="VAMAX" type="pss:PerUnitXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="VAMIN" type="pss:PerUnitXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="KB" type="pss:PerUnitXmlType" maxOccurs="1"
    						minOccurs="1">
    					</element>
    					<element name="VRMAX" type="pss:PerUnitXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="VRMIN" type="pss:PerUnitXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="TE" type="pss:TimeXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="VFEMAX" type="pss:PerUnitXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>
                        <element name="KH" type="pss:PerUnitXmlType" maxOccurs="1"
    						minOccurs="1">
    					</element>
    					<element name="KF" type="pss:PerUnitXmlType" maxOccurs="1"
    						minOccurs="1">
    					</element>
    					<element name="TF" type="pss:TimeXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="KC" type="pss:PerUnitXmlType" maxOccurs="1"
    						minOccurs="1">
    					</element>
    					<element name="KD" type="pss:PerUnitXmlType" maxOccurs="1"
    						minOccurs="1">
    					</element>
    					<element name="KE" type="pss:PerUnitXmlType" maxOccurs="1"
    						minOccurs="1">
    					</element>
    					<element name="E1" type="double" maxOccurs="1"
    						minOccurs="1">
    					</element>
    					<element name="SE1" type="double" maxOccurs="1"
    						minOccurs="1">
    					</element>
    					<element name="E2" type="double" maxOccurs="1"
    						minOccurs="1">
    					</element>
    					<element name="SE2" type="double" maxOccurs="1"
    						minOccurs="1">
    					</element>



    				</sequence>
    			</complexType>
    		</element>
    		<element name="IEEE1981ST1" maxOccurs="1" minOccurs="0">
    			<complexType>
    				<sequence>
    					<element name="exciterName" type="string"
    						maxOccurs="1" minOccurs="0">
    					</element>
    					<element name="desc" type="string" maxOccurs="1"
    						minOccurs="0">
    					</element>

    					<element name="TR" type="pss:TimeXmlType" maxOccurs="1"
    						minOccurs="1">
    					</element>
    					<element name="VIMAX" type="pss:PerUnitXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="VIMIN" type="pss:PerUnitXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="TB" type="pss:TimeXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="TC" type="pss:TimeXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="KA" type="pss:PerUnitXmlType" maxOccurs="1"
    						minOccurs="1">
    					</element>
    					<element name="TA" type="pss:TimeXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>



    					<element name="KF" type="pss:PerUnitXmlType" maxOccurs="1"
    						minOccurs="1">
    					</element>
    					<element name="TF" type="pss:TimeXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="KC" type="pss:PerUnitXmlType" maxOccurs="1"
    						minOccurs="1">
    					</element>





    					<element name="VRMAX" type="pss:PerUnitXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="VRMIN" type="pss:PerUnitXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>
    				</sequence>
    			</complexType>
    		</element>
    		<element name="BPAFJ" maxOccurs="1" minOccurs="0">
    			<complexType>
    				<sequence>
    					<element name="exciterName" type="string"
    						maxOccurs="1" minOccurs="0">
    					</element>
    					<element name="desc" type="string" maxOccurs="1"
    						minOccurs="0">
    					</element>


    					<element name="TR" type="pss:TimeXmlType"
    						maxOccurs="1" minOccurs="0">
    					</element>
    					<element name="EFDMAX" type="pss:PerUnitXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>

                        <element name="EFDMIN" type="pss:PerUnitXmlType" maxOccurs="1" minOccurs="1"></element>
                        <element name="TB" type="pss:TimeXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="TC" type="pss:TimeXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="KA" type="pss:PerUnitXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="TA" type="pss:TimeXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>



    					<element name="KF" type="pss:PerUnitXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="TF" type="pss:TimeXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="KC" type="pss:PerUnitXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>





    					<element name="VRMAX" type="pss:PerUnitXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="VRMIN" type="pss:PerUnitXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>
    				</sequence>
    			</complexType>
    		</element>
    		<element name="IEEE1968Type1" maxOccurs="1" minOccurs="0">
    			<complexType>
    				<sequence>
    					<element name="exciterName" type="string"
    						maxOccurs="1" minOccurs="0">
    					</element>
    					<element name="desc" type="string" maxOccurs="1"
    						minOccurs="0">
    					</element>

                        <element name="TR" type="pss:TimeXmlType" maxOccurs="1" minOccurs="0"></element>
                        <element name="KA" type="pss:PerUnitXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="TA" type="pss:TimeXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="VRMAX" type="pss:PerUnitXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="VRMIN" type="pss:PerUnitXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="KE" type="pss:PerUnitXmlType" maxOccurs="1"
    						minOccurs="1">
    					</element>
    					<element name="TE" type="pss:TimeXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="KF" type="pss:PerUnitXmlType" maxOccurs="1"
    						minOccurs="1">
    					</element>
    					<element name="TF" type="pss:TimeXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="EFDMIN" type="pss:PerUnitXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="E1" type="double" maxOccurs="1"
    						minOccurs="1">
    					</element>
    					<element name="SE1" type="double" maxOccurs="1"
    						minOccurs="1">
    					</element>
    					<element name="E2" type="double" maxOccurs="1"
    						minOccurs="1">
    					</element>
    					<element name="SE2" type="double" maxOccurs="1"
    						minOccurs="1">
    					</element>

    				</sequence>
    			</complexType>
    		</element>



    		<element name="IEEEModified1968Type1" maxOccurs="1"
    			minOccurs="0">
    			<complexType>
    				<sequence>
    					<element name="exciterName" type="string"
    						maxOccurs="1" minOccurs="0">
    					</element>
    					<element name="desc" type="string" maxOccurs="1"
    						minOccurs="0">
    					</element>

    					<element name="KA" type="pss:PerUnitXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="TA" type="pss:TimeXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="VRMAX" type="pss:PerUnitXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="VRMIN" type="pss:PerUnitXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="KE" type="double" maxOccurs="1"
    						minOccurs="1">
    					</element>
    					<element name="TE" type="pss:TimeXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="KF" type="double" maxOccurs="1"
    						minOccurs="1">
    					</element>
    					<element name="TF" type="pss:TimeXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="EFDMIN" type="pss:PerUnitXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="E1" type="double" maxOccurs="1"
    						minOccurs="1">
    					</element>
    					<element name="SE1" type="double" maxOccurs="1"
    						minOccurs="1">
    					</element>
    					<element name="E2" type="double" maxOccurs="1"
    						minOccurs="1">
    					</element>
    					<element name="SE2" type="double" maxOccurs="1"
    						minOccurs="1">
    					</element>

    					<element name="TR" type="pss:TimeXmlType" maxOccurs="1" minOccurs="0"></element>
    				</sequence>
    			</complexType>
    		</element>
    		<element name="IEEE1981NewExcSystem" maxOccurs="1" minOccurs="0">
    			<complexType>
    				<sequence>
    					<element name="exciterName" type="string"
    						maxOccurs="1" minOccurs="0">
    					</element>
    					<element name="desc" type="string" maxOccurs="1"
    						minOccurs="0">
    					</element>
    					<element name="Rc" type="pss:PerUnitXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="Xc" type="pss:PerUnitXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="Tr" type="pss:TimeXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="K" type="pss:PerUnitXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="Kv" type="pss:PerUnitXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="T1" type="pss:TimeXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="T2" type="pss:TimeXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="T3" type="pss:TimeXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="T4" type="pss:TimeXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="Ka" type="pss:PerUnitXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="Kb" type="pss:PerUnitXmlType"
    						maxOccurs="1" minOccurs="0">
    					</element>
    					<element name="Ta" type="pss:TimeXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="Kf" type="pss:PerUnitXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="Tf" type="pss:TimeXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="Kh" type="pss:PerUnitXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="VAmax" type="pss:PerUnitXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="VAmin" type="pss:PerUnitXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="K5" type="pss:PerUnitXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="T5" type="pss:TimeXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="Ke" type="pss:PerUnitXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="Te" type="pss:TimeXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>



    					<element name="SE1" type="double" maxOccurs="1"
    						minOccurs="0">
    					</element>
    					<element name="SE2" type="double" maxOccurs="1"
    						minOccurs="0">
    					</element>
    					<element name="VRmax" type="pss:PerUnitXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="VRmin" type="pss:PerUnitXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="Kc" type="pss:PerUnitXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="Kd" type="pss:PerUnitXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="KL1" type="pss:PerUnitXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="VL1r" type="pss:PerUnitXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="EFDmax" type="pss:PerUnitXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>

    					<element name="E1" type="double" maxOccurs="1" minOccurs="0"></element>
    					<element name="E2" type="double" maxOccurs="1" minOccurs="0"></element>
    				</sequence>
    			</complexType></element>
    	</sequence>
    </complexType>

    <complexType name="TurbineGovernorModelListXmlType">
    	<sequence>
    		<element name="IEEE1981Type1" maxOccurs="1" minOccurs="0">
    			<complexType>
    				<sequence>
    					<element name="name" type="string" maxOccurs="1"
    						minOccurs="1">
    					</element>
    					<element name="desc" type="string" maxOccurs="1"
    						minOccurs="0">
    					</element>
    					<element name="basePower"
    						type="pss:BasePowerXmlType" maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="basePowerUnit" minOccurs="1"
    						maxOccurs="1">
    						<simpleType>
    							<restriction base="string">
    								<enumeration value="KVA"></enumeration>
    								<enumeration value="MVA"></enumeration>
    							</restriction>
    						</simpleType>
    					</element>

    					<element name="K" type="double" maxOccurs="1"
    						minOccurs="1">
    					</element>
    					<element name="T1" type="pss:TimeXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="T2" type="pss:TimeXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="T3" type="pss:TimeXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="U0" maxOccurs="1"
    						minOccurs="1" type="pss:PerUnitXmlType">
    					</element>
    					<element name="UC" maxOccurs="1"
    						minOccurs="1" type="pss:PerUnitXmlType">
    					</element>
    					<element name="PMAX" type="pss:PerUnitXmlType" maxOccurs="1"
    						minOccurs="1">
    					</element>
    					<element name="PMIN" type="pss:PerUnitXmlType" maxOccurs="1"
    						minOccurs="1">
    					</element>
    					<element name="T4" type="pss:TimeXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="K1" type="pss:PerUnitXmlType" maxOccurs="1"
    						minOccurs="1">
    					</element>
    					<element name="K2" type="pss:PerUnitXmlType" maxOccurs="1"
    						minOccurs="1">
    					</element>
    					<element name="T5" type="pss:TimeXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>

    					<element name="K3" type="pss:PerUnitXmlType" maxOccurs="1"
    						minOccurs="1">
    					</element>
    					<element name="K4" type="pss:PerUnitXmlType" maxOccurs="1"
    						minOccurs="1">
    					</element>
    					<element name="T6" type="pss:TimeXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>

    					<element name="K5" type="pss:PerUnitXmlType" maxOccurs="1"
    						minOccurs="1">
    					</element>
    					<element name="K6" type="pss:PerUnitXmlType" maxOccurs="1"
    						minOccurs="1">
    					</element>
    					<element name="T7" type="pss:TimeXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>

    					<element name="K7" type="pss:PerUnitXmlType" maxOccurs="1"
    						minOccurs="1">
    					</element>
    					<element name="K8" type="pss:PerUnitXmlType" maxOccurs="1"
    						minOccurs="1">
    					</element>

    				</sequence>
    			</complexType>
    		</element>
    		<element name="IEEE1981Type2" maxOccurs="1" minOccurs="0">
    			<complexType>
    				<sequence>
    					<element name="name" type="string" maxOccurs="1"
    						minOccurs="1">
    					</element>
    					<element name="desc" type="string" maxOccurs="1"
    						minOccurs="0">
    					</element>
    					<element name="basePower"
    						type="pss:BasePowerXmlType" maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="basePowerUnit" minOccurs="1"
    						maxOccurs="1">
    						<simpleType>
    							<restriction base="string">
    								<enumeration value="KVA"></enumeration>
    								<enumeration value="MVA"></enumeration>
    							</restriction>
    						</simpleType>
    					</element>

    					<element name="K" type="double" maxOccurs="1"
    						minOccurs="1">
    					</element>
    					<element name="T1" type="pss:TimeXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="T2" type="pss:TimeXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="T3" type="pss:TimeXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="PMAX" type="string" maxOccurs="1"
    						minOccurs="1">
    					</element>
    					<element name="PMIN" type="string" maxOccurs="1"
    						minOccurs="1">
    					</element>
    					<element name="T4" type="pss:TimeXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>
    				</sequence>
    			</complexType>
    		</element>
    		<element name="IEEE1981Type3" maxOccurs="1" minOccurs="0">
    			<complexType>
    				<sequence>
    					<element name="name" type="string" maxOccurs="1"
    						minOccurs="1">
    					</element>
    					<element name="desc" type="string" maxOccurs="1"
    						minOccurs="0">
    					</element>
    					<element name="basePower"
    						type="pss:BasePowerXmlType" maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="basePowerUnit" minOccurs="1"
    						maxOccurs="1">
    						<simpleType>
    							<restriction base="string">
    								<enumeration value="KVA"></enumeration>
    								<enumeration value="MVA"></enumeration>
    							</restriction>
    						</simpleType>
    					</element>

    					<element name="TG" type="pss:TimeXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="TP" type="pss:TimeXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="U0" maxOccurs="1"
    						minOccurs="1">
    						<simpleType>
    							<restriction base="string">
    								<enumeration value="PU"></enumeration>
    								<enumeration value="sec"></enumeration>
    							</restriction>
    						</simpleType>
    					</element>
    					<element name="UC" maxOccurs="1"
    						minOccurs="1">
    						<simpleType>
    							<restriction base="string">
    								<enumeration value="PU"></enumeration>
    								<enumeration value="sec"></enumeration>
    							</restriction>
    						</simpleType>
    					</element>
    					<element name="PMAX" type="string" maxOccurs="1"
    						minOccurs="1">
    					</element>
    					<element name="PMIN" type="string" maxOccurs="1"
    						minOccurs="1">
    					</element>

    					<element name="SIGMA" type="double"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="DELTA" type="double"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="TR" type="pss:TimeXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="TW" type="pss:TimeXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>

    					<element name="a11" type="double" maxOccurs="1"
    						minOccurs="1">
    					</element>
    					<element name="a13" type="double" maxOccurs="1"
    						minOccurs="1">
    					</element>
    					<element name="a21" type="double" maxOccurs="1"
    						minOccurs="1">
    					</element>
    					<element name="a23" type="double" maxOccurs="1"
    						minOccurs="1">
    					</element>

    				</sequence>
    			</complexType>
    		</element>

    		<element name="hydroStreamGeneralModel" maxOccurs="1" minOccurs="0">
    			<complexType>
    				<sequence>
    					<element name="name" type="string" maxOccurs="1"
    						minOccurs="1">
    					</element>
    					<element name="desc" type="string" maxOccurs="1"
    						minOccurs="0">
    					</element>
    					<element name="basePower"
    						type="pss:BasePowerXmlType" maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="basePowerUnit" minOccurs="1"
    						maxOccurs="1">
    						<simpleType>
    							<restriction base="string">
    								<enumeration value="KVA"></enumeration>
    								<enumeration value="MVA"></enumeration>
    							</restriction>
    						</simpleType>
    					</element>


                        <element name="R" type="pss:PerUnitXmlType" maxOccurs="1" minOccurs="1">
    					</element>
                        <element name="KV" type="pss:PerUnitXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="T1" type="pss:TimeXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="T2" type="pss:TimeXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="T3" type="pss:TimeXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>


    					<element name="T4" type="pss:TimeXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="T5" type="pss:TimeXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="PMAX" type="pss:PerUnitXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>












    					<element name="F" type="pss:PerUnitXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="turbine" type="pss:TurbineXmlType" maxOccurs="1" minOccurs="0"></element>
    				</sequence>
    			</complexType>
    		</element>
    		<element name="hydroGovernerAndTurbine" maxOccurs="1" minOccurs="0">
    			<complexType>
    				<sequence>
    					<element name="name" type="string" maxOccurs="1"
    						minOccurs="1">
    					</element>
    					<element name="desc" type="string" maxOccurs="1"
    						minOccurs="0">
    					</element>
    					<element name="basePower"
    						type="pss:BasePowerXmlType" maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="basePowerUnit" minOccurs="1"
    						maxOccurs="1">
    						<simpleType>
    							<restriction base="string">
    								<enumeration value="KVA"></enumeration>
    								<enumeration value="MVA"></enumeration>
    							</restriction>
    						</simpleType>
    					</element>


    					<element name="R" type="pss:PerUnitXmlType" maxOccurs="1"
    						minOccurs="1">
    					</element>
    					<element name="TG" type="pss:TimeXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="TP" type="pss:TimeXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="TD" type="pss:TimeXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>


    					<element name="PMAX" type="pss:PerUnitXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>

    					<element name="TWhalf" type="pss:TimeXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="Uo" type="pss:PerUnitXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="Uc" type="pss:PerUnitXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="D4" type="pss:PerUnitXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>








    					<element name="turbine" type="pss:TurbineXmlType" maxOccurs="1" minOccurs="0"></element>
    				</sequence>
    			</complexType>
    		</element>
    		<element name="hydroGoverner" maxOccurs="1" minOccurs="0">
    			<complexType>
    				<sequence>
    					<element name="name" type="string" maxOccurs="1"
    						minOccurs="1">
    					</element>
    					<element name="desc" type="string" maxOccurs="1"
    						minOccurs="0">
    					</element>
    					<element name="basePower"
    						type="pss:BasePowerXmlType" maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="basePowerUnit" minOccurs="1"
    						maxOccurs="1">
    						<simpleType>
    							<restriction base="string">
    								<enumeration value="KVA"></enumeration>
    								<enumeration value="MVA"></enumeration>
    							</restriction>
    						</simpleType>
    					</element>


    					<element name="PMAX" type="pss:PerUnitXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="PMIN" type="pss:PerUnitXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="R" type="pss:PerUnitXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="T1" type="pss:TimeXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="T2" type="pss:TimeXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="T3" type="pss:TimeXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="U0" maxOccurs="1" minOccurs="1"
    						type="pss:PerUnitXmlType">

    					</element>
    					<element name="UC" maxOccurs="1" minOccurs="1"
    						type="pss:PerUnitXmlType">

    					</element>





    					<element name="turbine" type="pss:TurbineXmlType" maxOccurs="1" minOccurs="0"></element>
    				</sequence>
    			</complexType></element>
    	</sequence>
    </complexType>
    <complexType name="StabilizerModelListXmlType">
    	<sequence>
    		<element name="IEEE1981Type" maxOccurs="1" minOccurs="0">
    			<complexType>
    				<sequence>
    					<element name="stabilizerName" type="string"
    						maxOccurs="1" minOccurs="0">
    					</element>
    					<element name="desc" type="string" maxOccurs="1"
    						minOccurs="0">
    					</element>
    					<element name="inputSignal" maxOccurs="1"
    						minOccurs="1">
    						<simpleType>
    							<restriction base="string">
    								<enumeration
    									value="rotorspeeddeviation">
    								</enumeration>
    								<enumeration
    									value="busfrequencydeviation">
    								</enumeration>
    								<enumeration
    									value="generatorelectricalpower">
    								</enumeration>
    								<enumeration
    									value="generatoracceleratingpower">
    								</enumeration>
    								<enumeration value="busvoltage">
    								</enumeration>
    								<enumeration
    									value="deriavativeofbusvoltage">
    								</enumeration>
    							</restriction>
    						</simpleType>
    					</element>
    					<element name="remoteBusId"
    						type="pss:IDRefRecordXmlType" maxOccurs="1" minOccurs="0">
    					</element>
    					<element name="A1" type="double" maxOccurs="1"
    						minOccurs="1">
    					</element>
    					<element name="A2" type="double" maxOccurs="1"
    						minOccurs="1">
    					</element>
    					<element name="A3" type="double" maxOccurs="1"
    						minOccurs="1">
    					</element>
    					<element name="A4" type="double" maxOccurs="1"
    						minOccurs="1">
    					</element>
    					<element name="A5" type="double" maxOccurs="1"
    						minOccurs="1">
    					</element>
    					<element name="A6" type="double" maxOccurs="1"
    						minOccurs="1">
    					</element>
    					<element name="T1" type="pss:TimeXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="T2" type="pss:TimeXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="T3" type="pss:TimeXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="T4" type="pss:TimeXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="T5" type="pss:TimeXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="T6" type="pss:TimeXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>


    					<element name="KS" type="double" maxOccurs="1"
    						minOccurs="1">
    					</element>
    					<element name="LSMAX" type="double"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="LSMIN" type="double"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="VCU" type="string" maxOccurs="1"
    						minOccurs="1">
    					</element>
    					<element name="VCL" type="string" maxOccurs="1"
    						minOccurs="1">
    					</element>
    				</sequence>
    			</complexType>
    		</element>
    		<element name="IEEE1982Type2A" maxOccurs="1"
    			minOccurs="0">
    			<complexType>
    				<sequence>
    					<element name="stabilizerName" type="string"
    						maxOccurs="1" minOccurs="0">
    					</element>
    					<element name="desc" type="string" maxOccurs="1"
    						minOccurs="0">
    					</element>
    					<element name="firstInputSignal" maxOccurs="1"
    						minOccurs="1">
    						<simpleType>
    							<restriction base="string">
    								<enumeration
    									value="rotor_speed_deviation">
    								</enumeration>
    								<enumeration
    									value="bus_frequency_deviation">
    								</enumeration>
    								<enumeration
    									value="generator_electrical_power">
    								</enumeration>
    								<enumeration
    									value="generator_accelerating_power">
    								</enumeration>
    								<enumeration value="bus_voltage">
    								</enumeration>
    								<enumeration
    									value="deriavative_of_bus_voltage">
    								</enumeration>
    							</restriction>
    						</simpleType>
    					</element>
    					<element name="firstRemoteBusId"
    						type="pss:IDRefRecordXmlType" maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="secondInputSignal" maxOccurs="1"
    						minOccurs="1">
    						<simpleType>
    							<restriction base="string">
    								<enumeration
    									value="rotor_speed_deviation">
    								</enumeration>
    								<enumeration
    									value="bus_frequency_deviation">
    								</enumeration>
    								<enumeration
    									value="generator_electrical_power">
    								</enumeration>
    								<enumeration
    									value="generator_accelerating_power">
    								</enumeration>
    								<enumeration value="bus_voltage">
    								</enumeration>
    								<enumeration
    									value="deriavative_of_bus_voltage">
    								</enumeration>
    							</restriction>
    						</simpleType>
    					</element>
    					<element name="secondRemoteBusId"
    						type="pss:IDRefRecordXmlType" maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="M" type="double" maxOccurs="1"
    						minOccurs="1">
    					</element>
    					<element name="N" type="double" maxOccurs="1"
    						minOccurs="1">
    					</element>
    					<element name="TW1" type="pss:TimeXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="TW2" type="pss:TimeXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="T6" type="pss:TimeXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="TW3" type="pss:TimeXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="TW4" type="pss:TimeXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="T7" type="pss:TimeXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>


    					<element name="KS2" type="double" maxOccurs="1"
    						minOccurs="1">
    					</element>
    					<element name="KS3" type="double" maxOccurs="1"
    						minOccurs="1">
    					</element>
    					<element name="T8" type="pss:TimeXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="T9" type="pss:TimeXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="KS1" type="double" maxOccurs="1"
    						minOccurs="1">
    					</element>
    					<element name="T1" type="pss:TimeXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="T2" type="pss:TimeXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="T3" type="pss:TimeXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="T4" type="pss:TimeXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="VSTMAX" type="string"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="VSTMIN" type="string"
    						maxOccurs="1" minOccurs="1">
    					</element>
    				</sequence>
    			</complexType>
    		</element>

    		<element name="IEE2ST" maxOccurs="1" minOccurs="0">
    			<complexType>
    				<sequence>
    					<element name="stabilizerName" type="string"
    						maxOccurs="1" minOccurs="0">
    					</element>
    					<element name="desc" type="string" maxOccurs="1"
    						minOccurs="0">
    					</element>
    					<element name="firstInputSignal" maxOccurs="1"
    						minOccurs="1">
    						<simpleType>
    							<restriction base="string">
    								<enumeration
    									value="rotor_speed_deviation">
    								</enumeration>
    								<enumeration
    									value="bus_frequency_deviation">
    								</enumeration>
    								<enumeration
    									value="generator_electrical_power">
    								</enumeration>
    								<enumeration
    									value="generator_accelerating_power">
    								</enumeration>
    								<enumeration value="bus_voltage">
    								</enumeration>
    								<enumeration
    									value="deriavative_of_bus_voltage">
    								</enumeration>
    							</restriction>
    						</simpleType>
    					</element>
    					<element name="firstRemoteBusId"
    						type="pss:IDRefRecordXmlType" maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="secondInputSignal" maxOccurs="1"
    						minOccurs="0">
    						<simpleType>
    							<restriction base="string">
    								<enumeration
    									value="rotor_speed_deviation">
    								</enumeration>
    								<enumeration
    									value="bus_frequency_deviation">
    								</enumeration>
    								<enumeration
    									value="generator_electrical_power">
    								</enumeration>
    								<enumeration
    									value="generator_accelerating_power">
    								</enumeration>
    								<enumeration value="bus_voltage">
    								</enumeration>
    								<enumeration
    									value="deriavative_of_bus_voltage">
    								</enumeration>
    							</restriction>
    						</simpleType>
    					</element>
    					<element name="secondRemoteBusId"
    						type="pss:IDRefRecordXmlType" maxOccurs="1" minOccurs="0">
    					</element>
    					<element name="K1" type="double" maxOccurs="1"
    						minOccurs="1">
    					</element>
    					<element name="K2" type="double" maxOccurs="1"
    						minOccurs="1">
    					</element>
    					<element name="T1" type="pss:TimeXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="T2" type="pss:TimeXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="T3" type="pss:TimeXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="T4" type="pss:TimeXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="T5" type="pss:TimeXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="T6" type="pss:TimeXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="T7" type="pss:TimeXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="T8" type="pss:TimeXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="T9" type="pss:TimeXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="T10" type="pss:TimeXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>


    					<element name="VSMAX" type="pss:PerUnitXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="VSMIN" type="pss:PerUnitXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="VCU" type="pss:PerUnitXmlType"
    						maxOccurs="1" minOccurs="0">
    					</element>
    					<element name="VCL" type="pss:PerUnitXmlType"
    						maxOccurs="1" minOccurs="0">
    					</element>
    					<element name="VCUTOFF"
    						type="pss:PerUnitXmlType" maxOccurs="1" minOccurs="0">
    					</element>
    				</sequence>
    			</complexType>
    		</element>
    		<element name="IEEEDualInput" maxOccurs="1" minOccurs="0">
    			<complexType>
    				<sequence>
    					<element name="stabilizerName" type="string"
    						maxOccurs="1" minOccurs="0">
    					</element>
    					<element name="desc" type="string" maxOccurs="1"
    						minOccurs="0">
    					</element>

    					<element name="firstInputSignal" maxOccurs="1"
    						minOccurs="1">
    						<simpleType>
    							<restriction base="string">
    								<enumeration
    									value="rotor_speed_deviation">
    								</enumeration>
    								<enumeration
    									value="bus_frequency_deviation">
    								</enumeration>
    								<enumeration
    									value="generator_electrical_power">
    								</enumeration>
    								<enumeration
    									value="generator_accelerating_power">
    								</enumeration>
    								<enumeration value="bus_voltage">
    								</enumeration>
    								<enumeration
    									value="deriavative_of_bus_voltage">
    								</enumeration>
    							</restriction>
    						</simpleType>
    					</element>
    					<element name="firstRemoteBusId"
    						type="pss:IDRefRecordXmlType" maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="secondInputSignal" maxOccurs="1"
    						minOccurs="0">
    						<simpleType>
    							<restriction base="string">
    								<enumeration
    									value="rotor_speed_deviation">
    								</enumeration>
    								<enumeration
    									value="bus_frequency_deviation">
    								</enumeration>
    								<enumeration
    									value="generator_electrical_power">
    								</enumeration>
    								<enumeration
    									value="generator_accelerating_power">
    								</enumeration>
    								<enumeration value="bus_voltage">
    								</enumeration>
    								<enumeration
    									value="deriavative_of_bus_voltage">
    								</enumeration>
    							</restriction>
    						</simpleType>
    					</element>
    					<element name="secondRemoteBusId"
    						type="pss:IDRefRecordXmlType" maxOccurs="1" minOccurs="0">
    					</element>
    					<element name="Trw" type="pss:TimeXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="T5" type="pss:TimeXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>
                        <element name="T6" type="pss:TimeXmlType" maxOccurs="1" minOccurs="1"></element>
                        <element name="T7" type="pss:TimeXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>
                        <element name="Kr" type="double" maxOccurs="1" minOccurs="1">
    					</element>
                        <element name="Trp" type="pss:TimeXmlType" maxOccurs="1" minOccurs="1">
    					</element>
                        <element name="TW" type="pss:TimeXmlType" maxOccurs="1" minOccurs="1">
    					</element>
                        <element name="TW1" type="pss:TimeXmlType" maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="TW2" type="pss:TimeXmlType" maxOccurs="1" minOccurs="1">
    					</element>
                        <element name="KS" type="double" maxOccurs="1" minOccurs="1">
    					</element>
                        <element name="T9" type="pss:TimeXmlType" maxOccurs="1" minOccurs="1">
    					</element>
                        <element name="T10" type="pss:TimeXmlType" maxOccurs="1" minOccurs="1">
    					</element>
                        <element name="T12" type="pss:TimeXmlType" maxOccurs="1" minOccurs="1">
    					</element>
                        <element name="Kp" type="double" maxOccurs="1"
    						minOccurs="1">
    					</element>
                        <element name="T1" type="pss:TimeXmlType" maxOccurs="1" minOccurs="1">
    					</element>
                        <element name="T2" type="pss:TimeXmlType" maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="T13" type="pss:TimeXmlType" maxOccurs="1" minOccurs="1">
    					</element>
                        <element name="T14" type="pss:TimeXmlType" maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="T3" type="pss:TimeXmlType" maxOccurs="1" minOccurs="1">
    					</element>
                        <element name="T4" type="pss:TimeXmlType" maxOccurs="1" minOccurs="1">
    					</element>
                        <element name="VSMAX" type="pss:PerUnitXmlType" maxOccurs="1" minOccurs="1">
    					</element>
                        <element name="VSMIN" type="pss:PerUnitXmlType" maxOccurs="1" minOccurs="1">
    					</element>





    				</sequence>
    			</complexType></element>
    	</sequence>
    </complexType>
    <complexType name="LoadCharacteristicModelListXmlType">
    	<sequence>
    		<element name="IEEEStaticLoad" maxOccurs="1" minOccurs="0"><complexType>
    		<sequence>
    			<element name="modelDesc" maxOccurs="1" minOccurs="0">
    				<simpleType>
    					<restriction base="string">
    						<enumeration value="compoundLoad"></enumeration>

    					</restriction>
    				</simpleType>
    			</element>




    			<element name="a1" type="double" maxOccurs="1"
    				minOccurs="1">
    			</element>
    			<element name="a2" type="double" maxOccurs="1"
    				minOccurs="1">
    			</element>
    			<element name="a3" type="double" maxOccurs="1"
    				minOccurs="1">
    			</element>
    			<element name="a4" type="double" maxOccurs="1"
    				minOccurs="1">
    			</element>
    			<element name="a5" type="double" maxOccurs="1"
    				minOccurs="1">
    			</element>
    			<element name="a6" type="double" maxOccurs="1"
    				minOccurs="1">
    			</element>
    			<element name="a7" type="double" maxOccurs="1"
    				minOccurs="1">
    			</element>
    			<element name="a8" type="double" maxOccurs="1"
    				minOccurs="1">
    			</element>
    			<element name="n1" type="double" maxOccurs="1"
    				minOccurs="1">
    			</element>
    			<element name="n2" type="double" maxOccurs="1"
    				minOccurs="1">
    			</element>
    			<element name="n3" type="double" maxOccurs="1"
    				minOccurs="1">
    			</element>
    			<element name="n4" type="double" maxOccurs="1"
    				minOccurs="1">
    			</element>
    			<element name="n5" type="double" maxOccurs="1"
    				minOccurs="1">
    			</element>
    			<element name="n6" type="double" maxOccurs="1"
    				minOccurs="1">
    			</element>

    			<element name="a9" type="double" maxOccurs="1"
    				minOccurs="0">
    			</element>
    			<element name="a10" type="double" maxOccurs="1" minOccurs="0"></element>
    		</sequence>
</complexType></element>
    		<element name="ComplexLoad" maxOccurs="1" minOccurs="0"><complexType>
    		<sequence>
    					<element name="modelDesc" maxOccurs="1"
    						minOccurs="0">
    						<simpleType>
    							<restriction base="string">
    								<enumeration
    									value="complexLoad">
    								</enumeration>
    							</restriction>
    						</simpleType>
    					</element>

    					<element name="largeMotPercent"
    						type="pss:PercentXmlType" maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="smallMotPercent"
    						type="pss:PercentXmlType" maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="transExcCurPercent"
    						type="pss:PercentXmlType" maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="dischLightingPercent"
    						type="pss:PercentXmlType" maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="constPowerPercent"
    						type="pss:PercentXmlType" maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="remainPercent"
    						type="pss:PercentXmlType" maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="branchR" type="string"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="branchX" type="string" maxOccurs="1" minOccurs="1"></element>
    				</sequence>
    		</complexType></element>
    		<element name="InductionMotor" maxOccurs="1" minOccurs="0"><complexType>
    		<sequence>
    					<element name="modelDesc" maxOccurs="1"
    						minOccurs="0">
    						<simpleType>
    							<restriction base="string">
    								<enumeration
    									value="inductionmotor">
    								</enumeration>
    							</restriction>
    						</simpleType>
    					</element>

    					<element name="motorType" maxOccurs="1"
    						minOccurs="1">
    						<simpleType>
    							<restriction base="string">
    								<enumeration value="type1"></enumeration>
    								<enumeration value="type2"></enumeration>
    							</restriction>
    						</simpleType>
    					</element>
    					<element name="RA" type="string"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="XA" type="string"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="XM" type="string"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="R1" type="string"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="X1" type="string"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="R2" type="string"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="X2" type="string"
    						maxOccurs="1" minOccurs="1">
    					</element>


    					<element name="E1" type="double" maxOccurs="1"
    						minOccurs="1">
    					</element>
    					<element name="SE1" type="double" maxOccurs="1"
    						minOccurs="1">
    					</element>
    					<element name="E2" type="double" maxOccurs="1"
    						minOccurs="1">
    					</element>
    					<element name="SE2" type="double" maxOccurs="1"
    						minOccurs="1">
    					</element>


    					<element name="MBASE" type="double"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="PMULT" type="double"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="H" type="string"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="VI" type="string"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="TI" maxOccurs="1" minOccurs="1"
    						type="pss:CycleXmlType">
    					</element>
    					<element name="TB" type="pss:CycleXmlType"
    						maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="D" type="double" maxOccurs="1"
    						minOccurs="1">
    					</element>
    					<element name="Tnom" type="string" maxOccurs="1" minOccurs="0"></element>
    				</sequence>
    		</complexType></element>
    	</sequence>
    </complexType>
    

    <complexType name="BranchDynDataListXmlType">
    	<sequence>
    		<element name="lineRelayDataList" type="pss:LineRelayDataListXmlType" maxOccurs="1" minOccurs="0"></element>
    	</sequence>
    </complexType>

    <complexType name="LineRelayDataListXmlType">
    	<sequence>
    		<element name="lineRelay" type="pss:LineRelayXmlType" maxOccurs="1" minOccurs="0"></element>
    	</sequence>
    </complexType>

    <complexType name="LineRelayXmlType">
    	<sequence>
    		<element name="lineRelayType" maxOccurs="1" minOccurs="1">
    			<simpleType>
    				<restriction base="string">
    				<enumeration value="TIOCR1"></enumeration>
    				<enumeration value="distanceRelay"></enumeration>

    				</restriction>
    			</simpleType>
    		</element>
    		<element name="lineRelayModel" type="pss:LineRelayModelListXmlType" maxOccurs="1" minOccurs="1"></element>
    	</sequence>
    </complexType>

    <complexType name="LineRelayModelListXmlType">
    	<sequence>
    		<element name="TIOCR1" maxOccurs="1" minOccurs="0">
    			<complexType></complexType>
    		</element>
    		<element name="distanceRelay" maxOccurs="1" minOccurs="0"><complexType></complexType></element>
    	</sequence>
    </complexType>

    <complexType name="PerUnitXmlType">
    <sequence>
    		<element name="value" type="double" maxOccurs="1"
    			minOccurs="1">
    		</element>
    		<element name="unit" maxOccurs="1" minOccurs="1">
  
                <simpleType><restriction base="string">
                <enumeration value="PU"></enumeration>
                </restriction></simpleType>
            </element>
    	</sequence>   
    </complexType>

    <complexType name="BasePowerXmlType">
    <sequence>
    		<element name="value" type="double" maxOccurs="1"
    			minOccurs="1">
    		</element>
    		<element name="unit" maxOccurs="1" minOccurs="1"><simpleType><restriction base="string">
    		<enumeration value="KVA"></enumeration>
    		<enumeration value="MVA"></enumeration>
    		</restriction></simpleType></element>
    	</sequence>
    </complexType>

    <complexType name="CycleXmlType">
    <sequence>
    		<element name="value" type="double" maxOccurs="1"
    			minOccurs="1">
    		</element>
    		<element name="unit" maxOccurs="1" minOccurs="1"><simpleType><restriction base="string">
    		<enumeration value="Cycle"></enumeration>
    		</restriction></simpleType></element>
    	</sequence>
    </complexType>

    <complexType name="SecXmlType">
    	<sequence>
    		<element name="value" type="double" maxOccurs="1"
    			minOccurs="1">
    		</element>
    		<element name="unit" maxOccurs="1" minOccurs="1"><simpleType><restriction base="string">
    	     <enumeration value="sec"></enumeration>       		
    		</restriction></simpleType></element>
    	</sequence>
    </complexType>

    <complexType name="PercentXmlType">
    <sequence>
    		<element name="value" type="double" maxOccurs="1"
    			minOccurs="1">
    		</element>
    		<element name="unit" maxOccurs="1" minOccurs="1"><simpleType><restriction base="string">
    		<enumeration value="percent"></enumeration>
    		</restriction></simpleType></element>
    	</sequence>
    </complexType>

    <complexType name="FaultListXmlType">
    	<sequence>
    		<element name="fault" maxOccurs="unbounded" minOccurs="1">
    			<complexType>
    				<sequence>
    					<element name="faultType" maxOccurs="1"
    						minOccurs="1">
    						<simpleType>
    							<restriction base="string">
    								<enumeration value="busFault"></enumeration>
    								<enumeration value="branchFault"></enumeration>
    								<enumeration value="branchOutage"></enumeration>
    								<enumeration value="loadChange"></enumeration>
    							</restriction>
    						</simpleType>
    					</element>

    					<element name="branchFault" maxOccurs="1"
    						minOccurs="0">    						
    						<complexType>
    							<sequence>
    								<element name="faultCategory"
    									type="pss:FaultCategoryXmlType" maxOccurs="1"
    									minOccurs="1">
    								</element>
    								<element name="fromBus"
    									type="pss:IDRefRecordXmlType" maxOccurs="1"
    									minOccurs="1">
    								</element>
    								<element name="fromBusRatedV"
    									type="pss:VoltageXmlType" maxOccurs="1" minOccurs="0">
    								</element>
    								<element name="toBus"
    									type="pss:IDRefRecordXmlType" maxOccurs="1"
    									minOccurs="0">
    								</element>
    								<element name="toBusRatedV"
    									type="pss:VoltageXmlType" maxOccurs="1" minOccurs="0">
    								</element>

    								<element name="faultStartTime"
    									type="pss:CycleXmlType" maxOccurs="1" minOccurs="0">
    								</element>
    								<element name="firstOperationTime"
    									type="pss:CycleXmlType" maxOccurs="1" minOccurs="0">
    								</element>
    								<element name="secondOperationTime"
    									type="pss:CycleXmlType" maxOccurs="1" minOccurs="0">
    								</element>
    								<element name="faultDurationTime"
    									type="pss:CycleXmlType" maxOccurs="1" minOccurs="0">
    								</element>
    								<element name="faultZ"
    									type="pss:ZXmlType" maxOccurs="1" minOccurs="0">
    								</element>
    								<element
    									name="faultLocationFromFromSide" type="pss:PercentXmlType"
    									maxOccurs="1" minOccurs="0">
    								</element>
    								<element name="permanentFault"
    									type="boolean" maxOccurs="1" minOccurs="0">
    								</element>
    								<element name="faultedCirId"
    									type="string" maxOccurs="unbounded" minOccurs="0">
    								</element>
    							</sequence>
    						</complexType>
    					</element>
    					<element name="busFault" maxOccurs="1"
    						minOccurs="0">
    						<complexType>
    							<sequence>
    								<element name="faultCategory"
    									type="pss:FaultCategoryXmlType" maxOccurs="1"
    									minOccurs="1">
    								</element>
    								<element name="faultedBus"
    									type="pss:IDRefRecordXmlType" maxOccurs="1"
    									minOccurs="1">
    								</element>
    								<element name="faultedBusRatedV"
    									type="pss:VoltageXmlType" maxOccurs="1" minOccurs="0">
    								</element>
    								<element name="remoteEndBus"
    									type="pss:IDRefRecordXmlType" maxOccurs="1"
    									minOccurs="0">
    								</element>
    								<element name="remoteEndBusRatedV"
    									type="pss:VoltageXmlType" maxOccurs="1" minOccurs="0">
    								</element>


    								<element name="faultStartTime"
    									type="pss:CycleXmlType" maxOccurs="1" minOccurs="0">
    								</element>
    								<element name="firstOperationTime"
    									type="pss:CycleXmlType" maxOccurs="1" minOccurs="0">
    								</element>
    								<element name="secondOperationTime"
    									type="pss:CycleXmlType" maxOccurs="1" minOccurs="0">
    								</element>
    								<element name="faultDurationTime"
    									type="pss:CycleXmlType" maxOccurs="1" minOccurs="0">
    								</element>
    								<element name="faultZ"
    									type="pss:ZXmlType" maxOccurs="1" minOccurs="0">
    								</element>
    								<element name="permanentFault"
    									type="boolean" maxOccurs="1" minOccurs="0">
    								</element>


    							</sequence>
    						</complexType>
    					</element>
    					<element name="branchOutage" maxOccurs="1"
    						minOccurs="0">
    						<complexType>

    							<sequence>
    								<element name="faultCategory"
    									type="pss:FaultCategoryXmlType" maxOccurs="1"
    									minOccurs="0">
    								</element>
    								<element name="fromBusId"
    									type="string" maxOccurs="1" minOccurs="1">
    								</element>
    								<element name="toBusId"
    									type="string" maxOccurs="1" minOccurs="1">
    								</element>
    								<element name="startTime"
    									type="pss:CycleXmlType" maxOccurs="1" minOccurs="1">
    								</element>
    							</sequence>
    						</complexType>
    					</element>
    					<element name="loadChange" maxOccurs="1"
    						minOccurs="0">
    						<complexType>
    							<sequence>
    								<element name="loadChangeCategory"
    									maxOccurs="1" minOccurs="0">
    									<simpleType>
    										<restriction
    											base="string">
    											<enumeration
    												value="low_frequence">
    											</enumeration>
    											<enumeration
    												value="low_Voltage">
    											</enumeration>
    											<enumeration
    												value="fixedtime">
    											</enumeration>
    										</restriction>
    									</simpleType>
    								</element>
    								<element name="busId"
    									type="pss:IDRefRecordXmlType" maxOccurs="1"
    									minOccurs="0">
    								</element>
    								<element name="busRatedVoltage"
    									type="pss:VoltageXmlType" maxOccurs="1" minOccurs="0">
    								</element>

    								<element name="operationTime"
    									type="pss:CycleXmlType" maxOccurs="1" minOccurs="0">
    								</element>
    								<element name="operateAtFrequence"
    									type="pss:FrequencyXmlType" maxOccurs="1" minOccurs="0">
    								</element>
    								<element name="operateAtVoltage"
    									type="pss:VoltageXmlType" maxOccurs="1" minOccurs="0">
    								</element>
    								<element name="operationDelayTime"
    									type="pss:CycleXmlType" maxOccurs="1" minOccurs="0">
    								</element>
    								<element name="constantPChange"
    									type="pss:PowerXmlType" maxOccurs="1" minOccurs="0">
    								</element>
    								<element name="constantIChange"
    									type="pss:PowerXmlType" maxOccurs="1" minOccurs="0">
    								</element>
    								<element name="constantZChange"
    									type="pss:PowerXmlType" maxOccurs="1" minOccurs="0">
    								</element>

    							</sequence>
    						</complexType>
    					</element>
    					<element name="genChange" maxOccurs="1"
    						minOccurs="0">
    						<complexType>
    							<sequence>
    								<element name="busId"
    									type="pss:IDRefRecordXmlType" maxOccurs="1"
    									minOccurs="0">
    								</element>
    								<element name="busRatedVoltage"
    									type="pss:VoltageXmlType" maxOccurs="1" minOccurs="0">
    								</element>
    								<element name="generatorId"
    									type="string" maxOccurs="1" minOccurs="0">
    								</element>
    								<element name="operationTime"
    									type="pss:CycleXmlType" maxOccurs="1" minOccurs="0">
    								</element>


    								<element name="operationDelayTime"
    									type="pss:CycleXmlType" maxOccurs="1" minOccurs="0">
    								</element>
    								<element name="genChange"
    									type="pss:PowerXmlType" maxOccurs="1" minOccurs="0">
    								</element>
    								<element name="genOutage"
    									type="boolean" maxOccurs="1" minOccurs="0">
    								</element>
    							</sequence>
    						</complexType>
    					</element>
    					<element name="dcLineFault" maxOccurs="1" minOccurs="0">
    						<complexType>
    							<sequence>
    								<element name="fromACBusId"
    									type="pss:IDRefRecordXmlType" maxOccurs="1"
    									minOccurs="1">
    								</element>
    								<element name="fromACRatedVol"
    									type="pss:VoltageXmlType" maxOccurs="1" minOccurs="0">
    								</element>
    								<element name="toACBusId"
    									type="pss:IDRefRecordXmlType" maxOccurs="1"
    									minOccurs="1">
    								</element>
    								<element name="toACRatedVol"
    									type="pss:VoltageXmlType" maxOccurs="1" minOccurs="0">
    								</element>
    								<element name="faultType"
    									maxOccurs="1" minOccurs="1">
    									<simpleType>
    										<restriction
    											base="string">
    											<enumeration
    												value="fromBus_Bipole_Short_Circuit">
    											</enumeration>
    											<enumeration
    												value="toBus_Bipole_Short_Circuit">
    											</enumeration>
    											<enumeration
    												value="fault_on_Line">
    											</enumeration>
    											<enumeration
    												value="power_blocked">
    											</enumeration>
    											<enumeration
    												value="power_reversed">
    											</enumeration>
    											<enumeration
    												value="power_change_by_specification">
    											</enumeration>
    											<enumeration
    												value="current_change_by_specification">
    											</enumeration>
    										</restriction>
    									</simpleType>
    								</element>
    								<element name="startTime"
    									type="pss:CycleXmlType" maxOccurs="1" minOccurs="1">
    								</element>
    								<element name="durationTime"
    									type="pss:CycleXmlType" maxOccurs="1" minOccurs="0">
    								</element>
    								<element name="permanentFault"
    									type="boolean" maxOccurs="1" minOccurs="0">
    								</element>
    								<element
    									name="faultLocationFromFromSide" type="pss:PercentXmlType"
    									maxOccurs="1" minOccurs="0">
    								</element>
    								<element name="changedPower"
    									type="pss:PowerXmlType" maxOccurs="1" minOccurs="0">
    								</element>
    								<element name="changedCurrent"
    									type="pss:CurrentXmlType" maxOccurs="1" minOccurs="0">
    								</element>
    								<element name="faultZ"
    									type="pss:ZXmlType" maxOccurs="1" minOccurs="0">
    								</element>
    							</sequence>
    						</complexType></element>
    				</sequence>
    			</complexType></element>
    	</sequence>
    </complexType>




    <simpleType name="FaultCategoryXmlType">
    	<restriction base="string">
    	<enumeration value="3Phase"></enumeration>
    	<enumeration value="lineToLine"></enumeration>
    	<enumeration value="lineToGround"></enumeration>
    	<enumeration value="lineLineToGround"></enumeration>
    	</restriction>
    </simpleType>


    <complexType name="TurbineXmlType">
    	<sequence>
            <element name="steamTurbine " maxOccurs="1" minOccurs="0">
            	<complexType>
            		<sequence>
                        <element name="K" type="double" maxOccurs="1" minOccurs="0"></element>
                        <element name="TCH" type="pss:TimeXmlType"
            				maxOccurs="1" minOccurs="0">
            			</element>
            			<element name="FHP" type="double" maxOccurs="1"
            				minOccurs="0">
            			</element>
            			<element name="TRH" type="pss:TimeXmlType"
            				maxOccurs="1" minOccurs="0">
            			</element>
            			<element name="FIP" type="double" maxOccurs="1"
            				minOccurs="0">
            			</element>
            			<element name="TCO" type="pss:TimeXmlType"
            				maxOccurs="1" minOccurs="0">
            			</element>
            			<element name="FLP" type="double" maxOccurs="1"
            				minOccurs="0">
            			</element>
            		</sequence>
            	</complexType></element>
            <element name="hydraulicTurbine " maxOccurs="1"
    			minOccurs="0">
    			<complexType></complexType>
    		</element>
        </sequence>
    </complexType>

    <complexType name="SequenceDataListXmlType">
    	<sequence>
    		<element name="postiveSequenceDataList"
    			type="pss:PostiveSequenceDataListXmlType" maxOccurs="1"
    			minOccurs="0">
    		</element>
    		<element name="negativeSequenceDataList"
    			type="pss:NegativeSequenceDataListXmlType" maxOccurs="1"
    			minOccurs="0">
    		</element>
    		<element name="zeroSequenceDataList" type="pss:ZeroSequenceDataListXmlType" maxOccurs="1" minOccurs="0"></element>
    	</sequence>
    </complexType>

    <complexType name="PostiveSequenceDataListXmlType">
    	<sequence>



    		<element name="generatorPostiveList" maxOccurs="1" minOccurs="0">
    			<complexType>
    				<sequence>
    					<element name="gerneratorPostive" maxOccurs="unbounded" minOccurs="0"><complexType>
    					<sequence>
    					<element name="busId"
    						type="pss:IDRefRecordXmlType" maxOccurs="1" minOccurs="1">
    					</element>
    					<element name="macId"
    						type="pss:IDRefRecordXmlType" maxOccurs="1" minOccurs="0">
    					</element>
    					<element name="ZRPos" type="pss:PerUnitXmlType"
    						maxOccurs="1" minOccurs="0">
    					</element>
    					<element name="ZXPos" type="pss:PerUnitXmlType"
    						maxOccurs="1" minOccurs="0">
    					</element>
    				</sequence>
    					</complexType></element>
    				</sequence>
    			</complexType></element>
    	</sequence>
    </complexType>

    <complexType name="NegativeSequenceDataListXmlType">
    	<sequence>

    		<element name="generatorNegativeList" maxOccurs="1"
    			minOccurs="0">
    			<complexType>
    				<sequence>
    					<element name="generatorNegative"
    						maxOccurs="unbounded" minOccurs="0">
    						<complexType>
    							<sequence>
    								<element name="busId"
    									type="pss:IDRefRecordXmlType" maxOccurs="1"
    									minOccurs="1">
    								</element>
    								<element name="macId"
    									type="pss:IDRefRecordXmlType" maxOccurs="1"
    									minOccurs="0">
    								</element>
    								<element name="ZRNeg"
    									type="pss:PerUnitXmlType" maxOccurs="1" minOccurs="0">
    								</element>
    								<element name="ZXNeg"
    									type="pss:PerUnitXmlType" maxOccurs="1" minOccurs="0">
    								</element>
    							</sequence>
    						</complexType>
    					</element>
    				</sequence>
    			</complexType>
    		</element>
    		<element name="shuntLoadNegativeList" maxOccurs="1" minOccurs="0">
    			<complexType>
    				<sequence>
    					<element name="shuntLoadNegative" maxOccurs="unbounded" minOccurs="0"><complexType>
    					<sequence>
                                    <element name="loadLocation" maxOccurs="1" minOccurs="0"><simpleType><restriction base="string">
    						<enumeration value="at_bus"></enumeration>
    						<enumeration value="at_area"></enumeration>
    						<enumeration value="at_zone"></enumeration>
    						
    						</restriction></simpleType></element>
                                    <element name="locationId"
    							type="pss:IDRefRecordXmlType" maxOccurs="1" minOccurs="1">
    						</element>
    						<element name="rNeg"
    							type="pss:PerUnitXmlType" maxOccurs="1" minOccurs="0">
    						</element>
    						<element name="xNeg"
    							type="pss:PerUnitXmlType" maxOccurs="1" minOccurs="0">
    						</element>
    					</sequence>
</complexType></element>
    				</sequence>
    			</complexType></element>
    	</sequence>
    </complexType>

    <complexType name="ZeroSequenceDataListXmlType">
    	<sequence>
    		<element name="generatorZeroList" maxOccurs="1"
    			minOccurs="0">
    			<complexType>
    				<sequence>
    					<element name="generatorZero"
    						maxOccurs="unbounded" minOccurs="0">
    						<complexType>
    							<sequence>
    								<element name="busId"
    									type="pss:IDRefRecordXmlType" maxOccurs="1"
    									minOccurs="1">
    								</element>
    								<element name="macId"
    									type="pss:IDRefRecordXmlType" maxOccurs="1"
    									minOccurs="0">
    								</element>
    								<element name="ZRZer"
    									type="pss:PerUnitXmlType" maxOccurs="1" minOccurs="0">
    								</element>
    								<element name="ZXZer"
    									type="pss:PerUnitXmlType" maxOccurs="1" minOccurs="0">
    								</element>
    							</sequence>
    						</complexType>

    					</element>
    				</sequence>
    			</complexType>
    		</element>
    		<element name="shuntLoadZeroList" maxOccurs="1"
    			minOccurs="0">
    			<complexType>
    				<sequence>
    					<element name="shuntLoadZero"
    						maxOccurs="unbounded" minOccurs="0">
    						<complexType>
    							<sequence>
    								<element name="busId"
    									type="pss:IDRefRecordXmlType" maxOccurs="1"
    									minOccurs="1">
    								</element>
    								<element name="rZer"
    									type="pss:PerUnitXmlType" maxOccurs="1" minOccurs="0">
    								</element>
    								<element name="xZer"
    									type="pss:PerUnitXmlType" maxOccurs="1" minOccurs="0">
    								</element>
    							</sequence>

    						</complexType>
    					</element>
    				</sequence>
    			</complexType>
    		</element>
    		<element name="lineZeroList" maxOccurs="1" minOccurs="0">
    			<complexType>
    				<sequence>
    					<element name="lineZero" maxOccurs="unbounded"
    						minOccurs="0">
    						<complexType>
    							<sequence>
    								<element name="fBusId"
    									type="pss:IDRefRecordXmlType" maxOccurs="1"
    									minOccurs="1">
    								</element>
    								<element name="tBusId"
    									type="pss:IDRefRecordXmlType" maxOccurs="1"
    									minOccurs="1">
    								</element>
    								<element name="cirId" type="string"
    									maxOccurs="1" minOccurs="0">
    								</element>
    								<element name="rLineZer"
    									type="pss:PerUnitXmlType" maxOccurs="1" minOccurs="0">
    								</element>
    								<element name="xLineZer"
    									type="pss:PerUnitXmlType" maxOccurs="1" minOccurs="0">
    								</element>
    								<element name="bLineZer"
    									type="pss:PerUnitXmlType" maxOccurs="1" minOccurs="0">
    								</element>
    								<element name="gfZer"
    									type="pss:PerUnitXmlType" maxOccurs="1" minOccurs="0">
    								</element>
    								<element name="bfZer"
    									type="pss:PerUnitXmlType" maxOccurs="1" minOccurs="0">
    								</element>
    								<element name="gtZer"
    									type="pss:PerUnitXmlType" maxOccurs="1" minOccurs="0">
    								</element>
    								<element name="btZer"
    									type="pss:PerUnitXmlType" maxOccurs="1" minOccurs="0">
    								</element>
    							</sequence>
    						</complexType>
    					</element>
    				</sequence>
    			</complexType>
    		</element>

    		<element name="xfrZeroList" maxOccurs="1" minOccurs="0">
    			<complexType>
    				<sequence>
    					<element name="xfrZero" maxOccurs="unbounded"
    						minOccurs="0">
    						<complexType>
    							<sequence>
    								<element name="busI"
    									type="pss:IDRefRecordXmlType" maxOccurs="1"
    									minOccurs="1">
    								</element>
    								<element name="busJ"
    									type="pss:IDRefRecordXmlType" maxOccurs="1"
    									minOccurs="1">
    								</element>
    								<element name="busK"
    									type="pss:IDRefRecordXmlType" maxOccurs="1"
    									minOccurs="0">
    								</element>
    								<element name="cirId" type="string"
    									maxOccurs="1" minOccurs="0">
    								</element>
    								<element name="conectionLocation"
    									maxOccurs="1" minOccurs="1">
    									<simpleType>
    										<restriction
    											base="string">
    											<enumeration
    												value="at_bus1">
    											</enumeration>
    											<enumeration
    												value="at_bus2">
    											</enumeration>
    											<enumeration
    												value="between_bus1_and_bus_2">
    											</enumeration>
    										</restriction>
    									</simpleType>
    								</element>
    								<element name="RG"
    									type="pss:PerUnitXmlType" maxOccurs="1" minOccurs="0">
    								</element>
    								<element name="XG"
    									type="pss:PerUnitXmlType" maxOccurs="1" minOccurs="0">
    								</element>
    								<element name="R1"
    									type="pss:PerUnitXmlType" maxOccurs="1" minOccurs="0">
    								</element>
    								<element name="X1"
    									type="pss:PerUnitXmlType" maxOccurs="1" minOccurs="0">
    								</element>
    								<element name="R2"
    									type="pss:PerUnitXmlType" maxOccurs="1" minOccurs="0">
    								</element>
    								<element name="X2"
    									type="pss:PerUnitXmlType" maxOccurs="1" minOccurs="0">
    								</element>
    								<element name="R3"
    									type="pss:PerUnitXmlType" maxOccurs="1" minOccurs="0">
    								</element>
    								<element name="X3"
    									type="pss:PerUnitXmlType" maxOccurs="1" minOccurs="0">
    								</element>
    							</sequence>
    						</complexType>
    					</element>
    				</sequence>
    			</complexType>
    		</element>
            <element name="mutualImpedanceZeroList" maxOccurs="1"
    			minOccurs="0">
    			<complexType>
    				<sequence>
    					<element name="mutualImpedanceZero"
    						maxOccurs="unbounded" minOccurs="0">
    						<complexType>
    							<sequence>
    								<element name="branch1BusI"
    									type="pss:IDRefRecordXmlType" maxOccurs="1"
    									minOccurs="1">
    								</element>
    								<element name="branch1BuJ"
    									type="pss:IDRefRecordXmlType" maxOccurs="1"
    									minOccurs="1">
    								</element>
    								<element name="branch1CirId"
    									type="string" maxOccurs="1" minOccurs="0">
    								</element>
    								<element name="branch2BusK"
    									type="pss:IDRefRecordXmlType" maxOccurs="1"
    									minOccurs="1">
    								</element>
    								<element name="branch2BusL"
    									type="pss:IDRefRecordXmlType" maxOccurs="1"
    									minOccurs="1">
    								</element>
    								<element name="branch2CirId"
    									type="string" maxOccurs="1" minOccurs="0">
    								</element>
    								<element name="RM"
    									type="pss:PerUnitXmlType" maxOccurs="1" minOccurs="0">
    								</element>
    								<element name="XM"
    									type="pss:PerUnitXmlType" maxOccurs="1" minOccurs="0">
    								</element>
    								<element name="BIJ1"
    									type="pss:PerUnitXmlType" maxOccurs="1" minOccurs="0">
    								</element>
    								<element name="BIJ2"
    									type="pss:PerUnitXmlType" maxOccurs="1" minOccurs="0">
    								</element>
    								<element name="BKL1"
    									type="pss:PerUnitXmlType" maxOccurs="1" minOccurs="0">
    								</element>
    								<element name="BKL2"
    									type="pss:PerUnitXmlType" maxOccurs="1" minOccurs="0">
    								</element>
    							</sequence>
    						</complexType>
    					</element>
    				</sequence>
    			</complexType>
    		</element>
            <element name="switchShuntedZeroList" maxOccurs="1" minOccurs="0">
    			<complexType>
    				<sequence>
    					<element name="switchShuntedZeroType" maxOccurs="unbounded" minOccurs="0"><complexType></complexType></element>
    				</sequence>
    			</complexType>
            </element>




    	</sequence>
    </complexType>
</schema>