trunk/ieee.odm_pss/schema/ODM_RecordType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.ieee.org/cmte/psace/oss/odm/pss/Schema/v1" xmlns:pss="http://www.ieee.org/cmte/psace/oss/odm/pss/Schema/v1"
	elementFormDefault="qualified">

	<include schemaLocation="ODM_DataType.xsd"></include>
	<include schemaLocation="ODM_DynamicModel.xsd"></include>
	<annotation>
		<documentation>Copyright www.interpss.org 2008</documentation>
	</annotation>

	<complexType name="BusRecordXmlType">
		<complexContent>
			<extension base="pss:IDRecordXmlType">
				<sequence>
					<element name="baseVoltage" type="pss:VoltageXmlType" minOccurs="1" maxOccurs="1"></element>
					<element name="loadflowData" type="pss:LoadflowBusDataXmlType" minOccurs="0" maxOccurs="1"></element>
					<element name="dynamicData" type="pss:DynamicBusDataXmlType" minOccurs="0"></element>
					<element name="sequenceData" type="pss:SequenceBusDataXmlType" minOccurs="0"></element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="BranchRecordXmlType">
		<complexContent>
			<extension base="pss:IDRecordXmlType">
				<sequence>
					<element name="fromBus" type="pss:IDRefRecordXmlType" minOccurs="1" maxOccurs="1"></element>
					<element name="toBus" type="pss:IDRefRecordXmlType" minOccurs="1" maxOccurs="1"></element>
					<element name="tertiaryBus" type="pss:IDRefRecordXmlType" minOccurs="0" maxOccurs="1"></element>
					<element name="circuitId" type="string" minOccurs="0" maxOccurs="1"></element>
					<element name="loadflowData" type="pss:LoadflowBranchDataXmlType" minOccurs="0" maxOccurs="1"></element>
                    <element name="sequenceData" type="pss:SequenceBranchDataXmlType" minOccurs="0"></element>
                    <element name="dynamicData" type="pss:DynamicBranchDataXmlType" minOccurs="0"></element>
					<element name="dcLineData" minOccurs="0">
						<complexType>
							<sequence>
								<element name="rectifier" type="pss:ConverterXmlType" minOccurs="1"></element>
								<element name="inverter" type="pss:ConverterXmlType" minOccurs="1"></element>
								<element name="data" type="pss:DCLineDataXmlType" minOccurs="1"></element>
							</sequence>
						</complexType>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="LoadflowBusDataXmlType">
		<sequence>
			<element name="voltage" type="pss:VoltageXmlType" minOccurs="1" maxOccurs="1"></element>
			<element name="angle" type="pss:AngleXmlType" minOccurs="0" maxOccurs="1"></element>
			<element name="genData" minOccurs="0" maxOccurs="1">
				<complexType>
					<sequence>
						<element name="code" minOccurs="1" maxOccurs="1">
							<simpleType>
								<restriction base="string">
									<enumeration value="PQ"></enumeration>
									<enumeration value="PV"></enumeration>
									<enumeration value="SWING"></enumeration>
								</restriction>
							</simpleType>
						</element>
						<element name="gen" type="pss:LoadflowGenDataXmlType" minOccurs="0" maxOccurs="1"></element>
						<element name="contributeGenList" minOccurs="0">
							<complexType>
								<sequence>
									<element name="contributeGen" minOccurs="0" maxOccurs="unbounded">
										<complexType>
											<complexContent>
												<extension base="pss:IDRecordXmlType">
													<sequence>
														<element name="gen" type="pss:LoadflowGenDataXmlType" minOccurs="0"></element>
														<element name="ratedMva" type="double" minOccurs="0"></element>
														<element name="ratedMvaUnit" minOccurs="0">
															<simpleType>
																<restriction base="string">
																	<enumeration value="KVA"></enumeration>
																	<enumeration value="MVA"></enumeration>
																</restriction>
															</simpleType>
														</element>
														<element name="sourceZ" type="pss:ZXmlType" minOccurs="0"></element>
														<element name="xfrZ" type="pss:ZXmlType" minOccurs="0"></element>
														<element name="xfrTurnRatio" type="double" minOccurs="0"></element>
														<element name="mvarVControlParticipateFactor" type="double" minOccurs="0"></element>
													</sequence>
												</extension>
											</complexContent>
										</complexType>
									</element>
								</sequence>
							</complexType>
						</element>
					</sequence>
				</complexType>
			</element>
			<element name="loadData" minOccurs="0" maxOccurs="1">
				<complexType>
					<sequence>
						<element name="code" minOccurs="1" maxOccurs="1">
							<simpleType>
								<restriction base="string">
									<enumeration value="CONST_P"></enumeration>
									<enumeration value="CONST_I"></enumeration>
									<enumeration value="CONST_Z"></enumeration>
									<enumeration value="FunctionLoad"></enumeration>
								</restriction>
							</simpleType>
						</element>
						<element name="load" type="pss:PowerXmlType" minOccurs="0" maxOccurs="1"></element>
						<element name="contributeLoadList" minOccurs="0">
							<complexType>
								<sequence>
									<element name="contributeLoad" minOccurs="0" maxOccurs="unbounded">
										<complexType>
											<complexContent>
												<extension base="pss:IDRecordXmlType">
													<sequence>
														<element name="constPLoad" type="pss:PowerXmlType" minOccurs="0"></element>
														<element name="constILoad" type="pss:PowerXmlType" minOccurs="0"></element>
														<element name="constZLoad" type="pss:PowerXmlType" minOccurs="0"></element>
													</sequence>
												</extension>
											</complexContent>
										</complexType>
									</element>
								</sequence>
							</complexType>
						</element>
					</sequence>
				</complexType>
			</element>
			<element name="shuntY" minOccurs="0" maxOccurs="1" type="pss:YXmlType"></element>
			<element name="powerInjection" type="pss:PowerXmlType" minOccurs="0" maxOccurs="1"></element>
		</sequence>
	</complexType>
	<complexType name="LoadflowBranchDataXmlType">
		<sequence>
			<element name="code" minOccurs="1" maxOccurs="1">
				<simpleType>
					<restriction base="string">
						<enumeration value="Line"></enumeration>
						<enumeration value="Transformer"></enumeration>
						<enumeration value="PhaseShiftXformer"></enumeration>
					</restriction>
				</simpleType>
			</element>
			<element name="lineData" minOccurs="0" maxOccurs="1" type="pss:LineDataXmlType">
			</element>
			<element name="xformerData" type="pss:TransformerDataXmlType" minOccurs="0" maxOccurs="1"></element>
			<element name="phaseShiftXfrData" type="pss:PhaseShiftXfrDataXmlType" minOccurs="0" maxOccurs="1"></element>
			<element name="ratingLimit" minOccurs="0" maxOccurs="1">
				<complexType>
					<sequence>
						<element name="mvaRating1" type="double" minOccurs="0"></element>
						<element name="mvaRating2" type="double" minOccurs="0"></element>
						<element name="mvaRating3" type="double" minOccurs="0"></element>
						<element name="currentRating" type="double" minOccurs="0"></element>
						<element name="mvaRatingUnit" minOccurs="0">
							<simpleType>
								<restriction base="string">
									<enumeration value="PU"></enumeration>
									<enumeration value="KVA"></enumeration>
									<enumeration value="MVA"></enumeration>
								</restriction>
							</simpleType>
						</element>
						<element name="currentRatingUnit" minOccurs="0">
							<simpleType>
								<restriction base="string">
									<enumeration value="PU"></enumeration>
									<enumeration value="AMP"></enumeration>
									<enumeration value="KAMP"></enumeration>
								</restriction>
							</simpleType>
						</element>
					</sequence>
				</complexType>
			</element>
		</sequence>
	</complexType>

	<complexType name="TransformerDataXmlType">
		<sequence>
			<element name="z" type="pss:ZXmlType" minOccurs="1" maxOccurs="1"></element>
			<element name="ratingData" minOccurs="1">
				<complexType>
					<sequence>
						<element name="fromRatedVoltage" type="pss:VoltageXmlType" minOccurs="1"></element>
						<element name="toRatedVoltage" type="pss:VoltageXmlType" minOccurs="1"></element>
						<element name="ratedPower" type="pss:PowerXmlType" minOccurs="0"></element>
					</sequence>
				</complexType>
			</element>
			<element name="fromTurnRatio" type="double" minOccurs="0" maxOccurs="1"></element>
			<element name="toTurnRatio" type="double" minOccurs="0" maxOccurs="1"></element>
			<element name="fromShuntY" type="pss:YXmlType" minOccurs="0"></element>
			<element name="toShuntY" type="pss:YXmlType" minOccurs="0"></element>
			<element name="tapAdjustment" minOccurs="0">
				<complexType>
					<sequence>
						<element name="adjustmentType" minOccurs="1">
							<simpleType>
								<restriction base="string">
									<enumeration value="Voltage"></enumeration>
									<enumeration value="MVarFlow"></enumeration>
								</restriction>
							</simpleType>
						</element>
						<element name="tapLimit" type="pss:LimitXmlType" minOccurs="1"></element>
						<element name="tapLimitUnit" minOccurs="1">
							<simpleType>
								<restriction base="string">
									<enumeration value="Percent"></enumeration>
									<enumeration value="PU"></enumeration>
								</restriction>
							</simpleType>
						</element>
						<element name="tapAdjStepSize" type="double" minOccurs="0"></element>
						<element name="tapAdjOnFromSide" type="boolean" minOccurs="1"></element>
						<element name="voltageAdjData" minOccurs="0">
							<complexType>
								<complexContent>
									<extension base="pss:AdjustmentDataXmlType">
										<sequence>
											<element name="desiredVoltageUnit" minOccurs="1">
												<simpleType>
													<restriction base="string">
														<enumeration value="PU"></enumeration>
														<enumeration value="VOLT"></enumeration>
														<enumeration value="KV"></enumeration>
													</restriction>
												</simpleType>
											</element>
											<element name="adjVoltageBus" type="pss:IDRefRecordXmlType" minOccurs="1"></element>
											<element name="adjBusLocation" minOccurs="1">
												<simpleType>
													<restriction base="string">
														<enumeration value="TerminalBus"></enumeration>
														<enumeration value="NearFromBus"></enumeration>
														<enumeration value="NearToBus"></enumeration>
														<enumeration value="FromBus"></enumeration>
														<enumeration value="ToBus"></enumeration>
													</restriction>
												</simpleType>
											</element>
										</sequence>
									</extension>
								</complexContent>
							</complexType>
						</element>
						<element name="mvarFlowAdjData" minOccurs="0">
							<complexType>
								<complexContent>
									<extension base="pss:AdjustmentDataXmlType">
										<sequence>
											<element name="desiredMvarFlowUnit" minOccurs="1">
												<simpleType>
													<restriction base="string">
														<enumeration value="PU"></enumeration>
														<enumeration value="KVAR"></enumeration>
														<enumeration value="MVAR"></enumeration>
													</restriction>
												</simpleType>
											</element>
											<element name="mvarMeasuredOnFormSide" type="boolean" minOccurs="1"></element>
									</sequence>
									</extension>
								</complexContent>
							</complexType>
						</element>
					</sequence>
				</complexType>
			</element>
		</sequence>
	</complexType>
	<complexType name="PhaseShiftXfrDataXmlType">
		<complexContent>
			<extension base="pss:TransformerDataXmlType">
				<sequence>
					<element name="fromAngle" type="pss:AngleXmlType" minOccurs="0"></element>
					<element name="toAngle" type="pss:AngleXmlType" minOccurs="0"></element>
					<element name="angleAdjustment" minOccurs="0">
						<complexType>
							<complexContent>
								<extension base="pss:AdjustmentDataXmlType">
									<sequence>
										<element name="angleDegLimit" type="pss:LimitXmlType" minOccurs="1"></element>
										<element name="angleAdjOnFromSide" type="boolean" minOccurs="1"></element>
										<element name="desiredPowerUnit" minOccurs="1">
											<simpleType>
												<restriction base="string">
													<enumeration value="PU"></enumeration>
													<enumeration value="KW"></enumeration>
													<enumeration value="MW"></enumeration>
												</restriction>
											</simpleType>
										</element>
										<element name="desiredMeasuredOnFromSide" type="boolean" minOccurs="1"></element>
									</sequence>
								</extension>
							</complexContent>
						</complexType>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="LoadflowGenDataXmlType">
		<sequence>
			<element name="power" type="pss:PowerXmlType" minOccurs="0" maxOccurs="1"></element>
			<element name="qGenLimit" minOccurs="0" maxOccurs="1">
				<complexType>
					<sequence>
						<element name="qLimit" type="pss:LimitXmlType" minOccurs="1" maxOccurs="1"></element>
						<element name="qLimitUnit" minOccurs="0" maxOccurs="1">
							<simpleType>
								<restriction base="string">
									<enumeration value="PU"></enumeration>
									<enumeration value="KVAR"></enumeration>
									<enumeration value="MVAR"></enumeration>
								</restriction>
							</simpleType>
						</element>
					</sequence>
				</complexType>
			</element>
			<element name="pGenLimit" minOccurs="0">
				<complexType>
					<sequence>
						<element name="pLimit" type="pss:LimitXmlType" minOccurs="1"></element>
						<element name="pLimitUnit" minOccurs="0">
							<simpleType>
								<restriction base="string">
									<enumeration value="PU"></enumeration>
									<enumeration value="KW"></enumeration>
									<enumeration value="MW"></enumeration>
								</restriction>
							</simpleType>
						</element>
					</sequence>
				</complexType>
			</element>
			<element name="vGenLimit" minOccurs="0" maxOccurs="1">
				<complexType>
					<sequence>
						<element name="vLimit" type="pss:LimitXmlType" minOccurs="1" maxOccurs="1"></element>
						<element name="vLimitUnit" minOccurs="0" maxOccurs="1">
							<simpleType>
								<restriction base="string">
									<enumeration value="PU"></enumeration>
									<enumeration value="VOLT"></enumeration>
									<enumeration value="KV"></enumeration>
								</restriction>
							</simpleType>
						</element>
					</sequence>
				</complexType>
			</element>
			<element name="desiredRemoteVoltage" minOccurs="0" maxOccurs="1">
				<complexType>
					<sequence>
						<element name="desiredVoltage" type="pss:VoltageXmlType" minOccurs="1" maxOccurs="1"></element>
						<element name="remoteBus" type="pss:IDRefRecordXmlType" minOccurs="1" maxOccurs="1"></element>
					</sequence>
				</complexType>
			</element>
		</sequence>
	</complexType>

	<complexType name="DCLineBusRecordXmlType">
		<sequence>
			<element name="converter" maxOccurs="1" minOccurs="1" type="pss:ConverterXmlType">
			</element>
		</sequence>
	</complexType>

	<complexType name="DCLineBranchRecordXmlType">
		<sequence>
			<element name="rectifierBus" type="string" maxOccurs="1" minOccurs="1"></element>
			<element name="inverterBus" type="string" maxOccurs="1" minOccurs="1"></element>
			<element name="data" maxOccurs="1" minOccurs="0" type="pss:DCLineDataXmlType"></element>
		</sequence>
	</complexType>

	<complexType name="NetAreaXmlType">
		<sequence>
			<element name="areaNumber" type="int" maxOccurs="1" minOccurs="0"></element>
			<element name="areaName" type="string" maxOccurs="1" minOccurs="1"></element>
			<element name="zoneList" maxOccurs="1" minOccurs="0">
				<complexType>
					<sequence>
						<element name="zone" maxOccurs="unbounded" minOccurs="0" type="pss:NetZoneXmlType">
						</element>
					</sequence>
				</complexType>
			</element>
			<element name="swingBusId" type="pss:IDRefRecordXmlType" maxOccurs="1" minOccurs="1"></element>
			<element name="alternateSwingBus" type="pss:IDRefRecordXmlType" maxOccurs="1" minOccurs="0"></element>
			<element name="totalExchangePower" type="pss:PowerXmlType" maxOccurs="1" minOccurs="0"></element>
			<element name="exchangePower" maxOccurs="unbounded" minOccurs="0">
				<complexType>
					<sequence>
						<element name="toArea" type="string" maxOccurs="1" minOccurs="0"></element>
						<element name="exchangePower" type="pss:PowerXmlType" maxOccurs="1" minOccurs="1"></element>
					</sequence>
				</complexType>
			</element>
			<element name="exchangeErrToler" type="double" maxOccurs="1" minOccurs="0"></element>
			<element name="measredOnFromSide" type="boolean" maxOccurs="1" minOccurs="0"></element>
			<element name="ratedVoltage" type="pss:VoltageXmlType" maxOccurs="1" minOccurs="0"></element>
		</sequence>
	</complexType>

	<complexType name="NetZoneXmlType">
		<sequence>
			<element name="zoneNumber" type="int" minOccurs="1"></element>
			<element name="zoneName" type="string" minOccurs="0"></element>
		</sequence>
	</complexType>

	<simpleType name="AnalysisCategoryEnumType">
		<restriction base="string">
			<enumeration value="Loadflow"></enumeration>
			<enumeration value="ShortCircuit"></enumeration>
			<enumeration value="TransientStability"></enumeration>
		</restriction>
	</simpleType>

	<simpleType name="NetworkCategoryEnumType">
		<restriction base="string">
			<enumeration value="Transmission"></enumeration>
			<enumeration value="Distribution"></enumeration>
		</restriction>
	</simpleType>

	<complexType name="ConverterXmlType">
		<sequence>
			<element name="type" maxOccurs="1" minOccurs="0">
				<simpleType>
					<restriction base="string">
						<enumeration value="rectifier"></enumeration>
						<enumeration value="inverter"></enumeration>
					</restriction>
				</simpleType>
			</element>
			<element name="busId" type="pss:IDRefRecordXmlType" maxOccurs="1" minOccurs="1"></element>
			<element name="data" type="pss:ConverterDataXmlType" maxOccurs="1" minOccurs="0"></element>
		</sequence>
	</complexType>

	<complexType name="ConverterDataXmlType">
		<sequence>
			<element name="acSideRatedVoltage" type="pss:VoltageXmlType" maxOccurs="1" minOccurs="0"></element>
			<element name="numberofBridges" type="int" maxOccurs="1" minOccurs="1"></element>
			<element name="rectifierMinFiringAngle" type="pss:AngleXmlType" maxOccurs="1" minOccurs="0"></element>
			<element name="rectifierOperAngle" type="pss:AngleXmlType" maxOccurs="1" minOccurs="0"></element>
			<element name="inverterMaxFiringAngle" type="pss:AngleXmlType" maxOccurs="1" minOccurs="1"></element>
			<element name="inverterStopAgnle" type="pss:AngleXmlType" maxOccurs="1" minOccurs="0"></element>
			<element name="conmmutationStationBus" type="pss:IDRefRecordXmlType" maxOccurs="1" minOccurs="0"></element>
			<element name="dcSdieRatedV" type="pss:VoltageXmlType" maxOccurs="1" minOccurs="0"></element>
			<element name="commutatingXformerRXperB" type="pss:ZXmlType" maxOccurs="1" minOccurs="1"></element>
			<element name="smoothingReactor" type="pss:ZXmlType" maxOccurs="1" minOccurs="0"></element>
			<element name="valveDropVoltage" type="pss:VoltageXmlType" maxOccurs="1" minOccurs="0"></element>
			<element name="BridgeRatedCurrent" type="pss:CurrentXmlType" maxOccurs="1" minOccurs="0"></element>
			<element name="firingAngleMeasuringBusId" type="pss:IDRefRecordXmlType" maxOccurs="1" minOccurs="0"></element>
			<element name="commutatingCapacitorRperB" type="pss:ZXmlType" maxOccurs="1" minOccurs="0"></element>
			<element name="zoneNumber" type="int" maxOccurs="1" minOccurs="0"></element>
		</sequence>
	</complexType>

	<complexType name="DCLineDataXmlType">
		<sequence>
		<element name="controlMode" default="blocked" maxOccurs="1" minOccurs="0">
				<simpleType>
					<restriction base="string">
						<enumeration value="blocked"></enumeration>
						<enumeration value="power"></enumeration>
						<enumeration value="current"></enumeration>
					</restriction>
				</simpleType>
			</element>
			<element name="controlOnRectifierSide" type="boolean" maxOccurs="1" minOccurs="0"></element>
			<element name="currentDemand" maxOccurs="1" minOccurs="0" type="pss:CurrentXmlType"></element>
			<element name="powerDemand" type="pss:PowerXmlType" maxOccurs="1" minOccurs="0"></element>
			<element name="lineZ" type="pss:ZXmlType" maxOccurs="1" minOccurs="0"></element>
			<element name="lineY" type="pss:YXmlType" maxOccurs="1" minOccurs="0"></element>
			<element name="scheduledCompoundedDCV" type="pss:VoltageXmlType" maxOccurs="1" minOccurs="0"></element>
			<element name="modeSwitchDCVoltage" type="pss:VoltageXmlType" maxOccurs="1" minOccurs="0"></element>
			<element name="compoundingR" type="pss:ZXmlType" maxOccurs="1" minOccurs="0"></element>
			<element name="powerOrCurrentMargin" maxOccurs="1" minOccurs="0">
				<complexType>
					<sequence>
						<element name="value" type="double" maxOccurs="1" minOccurs="1"></element>
						<element name="unit" maxOccurs="1" minOccurs="1">
							<simpleType>
								<restriction base="string">
									<enumeration value="PU"></enumeration>
								</restriction>
							</simpleType>
						</element>
					</sequence>
				</complexType>
			</element>
			<element name="meterdEnd" maxOccurs="1" minOccurs="0">
				<simpleType>
					<restriction base="string">
						<enumeration value="rectifier"></enumeration>
						<enumeration value="inverter"></enumeration>
					</restriction>
				</simpleType>
			</element>
			<element name="minCompoundedV" type="pss:VoltageXmlType" maxOccurs="1" minOccurs="0"></element>
			<element name="maxCurrent" type="pss:CurrentXmlType" maxOccurs="1" minOccurs="0"></element>
			<element name="ratedDVol" type="pss:VoltageXmlType" maxOccurs="1" minOccurs="0"></element>
			<element name="length" maxOccurs="1" minOccurs="0" type="pss:LengthXmlType"></element>
		</sequence>
	</complexType>

	<complexType name="LineDataXmlType">
		<complexContent>
			<extension base="pss:BaseRecordXmlType">
				<sequence>
					<element name="z" type="pss:ZXmlType" minOccurs="1" maxOccurs="1"></element>

					<element name="totalShuntY" type="pss:YXmlType" minOccurs="0" maxOccurs="1"></element>
					<element name="fromShuntY" type="pss:YXmlType" minOccurs="0"></element>
					<element name="toShuntY" type="pss:YXmlType" minOccurs="0"></element>
					<element name="length" type="pss:LengthXmlType" minOccurs="0"></element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="DynamicBusDataXmlType">
		<sequence>
			<element name="machineList" minOccurs="0" maxOccurs="unbounded">
				<complexType>
					<sequence>
						<element name="machine" type="pss:MachineXmlType" minOccurs="1"></element>
						<element name="exciter" minOccurs="0">
							<complexType>
								<sequence>
									<element name="exciterType" maxOccurs="1" minOccurs="1">
										<simpleType>
											<restriction base="string">
												<enumeration value="IEEE1992TypeAC1A"></enumeration>
												<enumeration value="IEEE1981TypeAC2"></enumeration>
												<enumeration value="IEEE1981ST1"></enumeration>
												<enumeration value="BPAFJ"></enumeration>
												<enumeration value="IEEE1968Type1"></enumeration>
												<enumeration value="IEEEModified1968Type1"></enumeration>
												<enumeration value="IEEE1981NewExcSystem"></enumeration>
												<enumeration value="IEEETypeDC2"></enumeration>
											</restriction>
										</simpleType>
									</element>
									<element name="exciterModel" type="pss:ExciterModelSelectionXmlType" maxOccurs="1" minOccurs="1"></element>
								</sequence>
							</complexType>
						</element>
						<element name="governor" minOccurs="0">
							<complexType>
								<sequence>
									<element name="governorType" maxOccurs="1" minOccurs="1">
										<simpleType>
											<restriction base="string">
												<enumeration value="IEEE1981Type1"></enumeration>
												<enumeration value="IEEE1981Type2"></enumeration>
												<enumeration value="IEEE1981Type3"></enumeration>
												<enumeration value="hydroStreamGeneralModel"></enumeration>
												<enumeration value="hydroGovernerAndTurbine"></enumeration>
												<enumeration value="hydroGoverner"></enumeration>
											</restriction>
										</simpleType>
									</element>
									<element name="governorModel" type="pss:TurbineGovernorModelSelectionXmlType" maxOccurs="1" minOccurs="1"></element>
								</sequence>
							</complexType>
						</element>
						<element name="stabilizer" minOccurs="0">
							<complexType>
								<sequence>
									<element name="stabilizerType" maxOccurs="1" minOccurs="1">
										<simpleType>
											<restriction base="string">
												<enumeration value="IEEE1981Type"></enumeration>
												<enumeration value="IEEE1982Type2A"></enumeration>
												<enumeration value="IEE2ST"></enumeration>
												<enumeration value="IEEEDualInput"></enumeration>
											</restriction>
										</simpleType>
									</element>
									<element name="stabilizerModel" type="pss:StabilizerModelSelectionXmlType" maxOccurs="1" minOccurs="1"></element>
								</sequence>
							</complexType>
						</element>
					</sequence>
				</complexType>
			</element>
			<element name="dynamicLoad" minOccurs="0">
			<complexType>
		<sequence>
			<element name="location" maxOccurs="1" minOccurs="1">
				<simpleType>
					<restriction base="string">
						<enumeration value="atBus"></enumeration>
						<enumeration value="atOwner"></enumeration>
						<enumeration value="atZone"></enumeration>
						<enumeration value="atArea"></enumeration>
						<enumeration value="other"></enumeration>
					</restriction>
				</simpleType>
			</element>
			<element name="LoadXmlType" maxOccurs="1" minOccurs="1">
				<simpleType>
					<restriction base="string">
						<enumeration value="IEEEStaticLoad"></enumeration>
						<enumeration value="ComplexLoad"></enumeration>
						<enumeration value="InductionMotor"></enumeration>
					</restriction>
				</simpleType>
			</element>
			<element name="LoadModel" type="pss:DynamicLoadModelSelectionXmlType" maxOccurs="1" minOccurs="1"></element>
		</sequence>
			</complexType>
			</element>
		</sequence>
	</complexType>

	<complexType name="DynamicBranchDataXmlType">
		<sequence>
			<element name="lineRealy" maxOccurs="unbounded" minOccurs="0"><complexType></complexType></element>
		</sequence>
	</complexType>

	<complexType name="MachineXmlType">
		<sequence>			<element name="genId" type="pss:IDRecordXmlType"
				maxOccurs="1" minOccurs="0">
			</element>
			<element name="ownerName" type="string" maxOccurs="1"
				minOccurs="0">
			</element>
			<element name="ratedVoltage" type="pss:VoltageXmlType"
				maxOccurs="1" minOccurs="0">
			</element>
			<element name="generatorType" maxOccurs="1" minOccurs="1">
				<simpleType>
					<restriction base="string">
					    <enumeration value="EquiGenUnitModel"></enumeration>
						<enumeration value="ClassicModel"></enumeration>
						<enumeration value="TransientModel"></enumeration>
						<enumeration value="SubTransientModel"></enumeration>
					</restriction>
				</simpleType>
			</element>
			<element name="generatorModel"
				type="pss:MachineModelSelectionXmlType" maxOccurs="1" minOccurs="1">
			</element>
			<element name="pContribution" type="pss:PercentXmlType"
				maxOccurs="1" minOccurs="0">
			</element>
			<element name="qContribution" type="pss:PercentXmlType" maxOccurs="1" minOccurs="0"></element>
		</sequence>
	</complexType>
	
    <complexType name="MachineModelSelectionXmlType">
    	<sequence>
    		<element name="equiGenUnit" maxOccurs="1" minOccurs="0" type="pss:EquiMachineXmlType">    		</element>
    		<element name="classicalModel" maxOccurs="1"
    			minOccurs="0" type="pss:ClassicMachineXmlType">    		</element>
    		<element name="transModel" maxOccurs="1" minOccurs="0" type="pss:TransientMachineXmlType">    		</element>
    		<element name="subTransientModel" maxOccurs="1"
    			minOccurs="0" type="pss:SubTransientMachineXmlType">    		</element>
    	</sequence>
    </complexType>
	
    <complexType name="ExciterModelSelectionXmlType">
    	<sequence>
    		<element name="IEEE1992TypeAC1A" maxOccurs="1"
    			minOccurs="0" type="pss:ExcIEEE1992TypeAC1AXmlType">    		</element>
    		<element name="IEEE1981TypeAC2" maxOccurs="1"
    			minOccurs="0" type="pss:ExcIEEE1981TypeAC2XmlType">    		</element>
    		<element name="IEEE1981ST1" maxOccurs="1" minOccurs="0" type="pss:ExcIEEE1981ST1XmlType">    		</element>
    		<element name="BPAFJ" maxOccurs="1" minOccurs="0" type="pss:ExcBPAFJXmlType">    		</element>
    		<element name="IEEE1968Type1" maxOccurs="1" minOccurs="0" type="pss:ExcIEEE1968Type1XmlType">    		</element>
    		<element name="IEEEModified1968Type1" maxOccurs="1"
    			minOccurs="0" type="pss:ExcrIEEEModified1968Type1XmlType">    		</element>
    		<element name="IEEE1981NewExcSystem" maxOccurs="1"
    			minOccurs="0" type="pss:ExcIEEE1981NewExcSystemXmlType">    		</element>
    		<element name="IEEETypeDC2" maxOccurs="1" minOccurs="0" type="pss:ExcIEEETypeDC2XmlType">    		</element>
    	</sequence>
    </complexType>

	<complexType name="StabilizerModelSelectionXmlType">
		<sequence>
			<element name="IEEE1981Type" maxOccurs="1" minOccurs="0" type="pss:PssIEEE1981TypeXmlType">
			</element>
			<element name="IEEE1982Type2A" maxOccurs="1" minOccurs="0" type="pss:PssIEEE1982Type2AXmlType">
			</element>
			<element name="IEE2ST" maxOccurs="1" minOccurs="0" type="pss:PssIEE2STXmlType">
			</element>
			<element name="IEEEDualInput" maxOccurs="1" minOccurs="0" type="pss:PssIEEEDualInputXmlType">
			</element>
		</sequence>
	</complexType>
	
	<complexType name="TurbineGovernorModelSelectionXmlType">
		<sequence>
			<element name="IEEE1981Type1" maxOccurs="1" minOccurs="0" type="pss:GovIEEE1981Type1XmlTypeXmlType">
			</element>
			<element name="IEEE1981Type2" maxOccurs="1" minOccurs="0" type="pss:GovIEEE1981Type2XmlType">
			</element>
			<element name="IEEE1981Type3" maxOccurs="1" minOccurs="0" type="pss:GovIEEE1981Type3XmlType">
			</element>
			<element name="hydroStreamGeneralModel" maxOccurs="1" minOccurs="0" type="pss:GovHydroSteamGeneralModelXmlType">
			</element>
			<element name="hydroGovernerAndTurbine" maxOccurs="1" minOccurs="0" type="pss:GovHydroTurbineXmlType">
			</element>
			<element name="hydroGoverner" maxOccurs="1" minOccurs="0" type="pss:GovHydroXmlType">
			</element>
		</sequence>
	</complexType>
	<complexType name="DynamicLoadModelSelectionXmlType">
		<sequence>
			<element name="IEEEStaticLoad" maxOccurs="1" minOccurs="0" type="pss:DLoad_IEEEStaticLoadXmlType">
			</element>
			<element name="ComplexLoad" maxOccurs="1" minOccurs="0" type="pss:DLoad_ComplexLoadXmlType">
			</element>
			<element name="InductionMotor" maxOccurs="1" minOccurs="0" type="pss:DLoad_InductionMotorXmlType">
			</element>
		</sequence>
	</complexType>
	
	<complexType name="SequenceBusDataXmlType">
		<sequence>
			<element name="genData" minOccurs="0">
				<complexType>
					<sequence>
						<element name="potiveZ" type="pss:ZXmlType" minOccurs="1"></element>
						<element name="negativeZ" type="pss:ZXmlType" minOccurs="0"></element>
						<element name="zeroZ" type="pss:ZXmlType" minOccurs="0"></element>
					</sequence>
				</complexType>
			</element>
			<element name="shuntLoadData" minOccurs="0">
			<complexType>
					<sequence>
						<element name="negativeZ" type="pss:ZXmlType" minOccurs="0"></element>
						<element name="zeroZ" type="pss:ZXmlType" minOccurs="0"></element>
					</sequence>
			</complexType>
			</element>
			<element name="swithedShuntLoadData" minOccurs="0">
			<complexType>
					<sequence>
						<element name="zeroZ" type="pss:ZXmlType" minOccurs="0"></element>
					</sequence>
			</complexType>
			</element>
		</sequence>
	</complexType>

	<complexType name="SequenceBranchDataXmlType">
		<sequence>
			<element name="lineZeroSeq" type="pss:LineZeroSeqXmlType" minOccurs="0"></element>
			<element name="xfrZeroSeq" type="pss:TransformerZeroSeqXmlType" minOccurs="0"></element>
			<element name="linemutualZeroZ" type="pss:MutualZeroZXmlType" minOccurs="0" maxOccurs="unbounded"></element>
		</sequence>
	</complexType>
</schema>