trunk/ieee.odm_pss/schema/ODM_DataType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" 
        targetNamespace="http://www.ieee.org/cmte/psace/oss/odm/pss/Schema" 
        xmlns:pss="http://www.ieee.org/cmte/psace/oss/odm/pss/Schema" 
        elementFormDefault="qualified">

    <complexType name="BaseRecordXmlType">
    	<sequence>
    		<element name="name" type="string" minOccurs="0"
    			maxOccurs="1">
    		</element>
    		<element name="desc" type="string" minOccurs="0"
    			maxOccurs="1">
    		</element>
    		<element name="isoCode" type="string" minOccurs="0" maxOccurs="1"></element>
    		<element name="offLine" type="boolean" minOccurs="0"
    			maxOccurs="1">
    		</element>
    		<element name="number" type="int" minOccurs="0"
    			maxOccurs="1">
    		</element>
    		<element name="area" type="int" minOccurs="0"
    			maxOccurs="1">
    		</element>
    		<element name="zone" type="int" minOccurs="0"
    			maxOccurs="1">
    		</element>
    		<element name="owner" type="string" minOccurs="0"
    			maxOccurs="1">
    		</element>
    		<element name="nvPairList"
    			type="pss:NameValuePairListXmlType" minOccurs="0"
    			maxOccurs="1">
    		</element>
    	</sequence>
    </complexType>
    
    <complexType name="IDRecordXmlType">
    	<complexContent>
    		<extension base="pss:BaseRecordXmlType">
    			<sequence>
    				<element name="id" type="ID" minOccurs="1" maxOccurs="1"></element>
    			</sequence>
    		</extension>
    	</complexContent>
    </complexType>

    <complexType name="IDRefRecordXmlType">
    	<complexContent>
    		<extension base="pss:BaseRecordXmlType">
    			<sequence>
    				<element name="idRef" type="IDREF" minOccurs="1" maxOccurs="1"></element>
    			</sequence>
    		</extension>
    	</complexContent>
    </complexType>

    <complexType name="NameValuePairXmlType">
    	<sequence>
    		<element name="name" type="string" minOccurs="1" maxOccurs="1"></element>
    		<element name="value" type="string" minOccurs="1" maxOccurs="1"></element>
    	</sequence>
    </complexType>
    
    <complexType name="NameValuePairListXmlType">
    	<sequence>
    		<element name="nvPair" type="pss:NameValuePairXmlType" minOccurs="0" maxOccurs="unbounded"></element>
    	</sequence>
    </complexType>

    <complexType name="BusRecordXmlType">
    	<complexContent>
    		<extension base="pss:IDRecordXmlType">
    			<sequence>
    				<element name="baseVoltage" type="double"
    					minOccurs="1" maxOccurs="1">
    				</element>
                    <element name="baseVoltageUnit" minOccurs="0" maxOccurs="1">
    					<simpleType>
    						<restriction base="string">
    							<enumeration value="VOLT"></enumeration>
    							<enumeration value="KV"></enumeration>
    						</restriction>
    					</simpleType></element>
                    <element name="loadflowBusData"
    					type="pss:LoadflowBusDataXmlType" minOccurs="0"
    					maxOccurs="1">
    				</element>

    			</sequence>
    		</extension>
    	</complexContent>
    </complexType>

    <complexType name="BranchRecordXmlType">
    	<complexContent>
    		<extension base="pss:IDRecordXmlType">
    			<sequence>
    				<element name="fromBus"
    					type="pss:IDRefRecordXmlType" minOccurs="1" maxOccurs="1">
    				</element>
    				<element name="toBus" type="pss:IDRefRecordXmlType"
    					minOccurs="1" maxOccurs="1">
    				</element>
    				<element name="tertiaryBus"
    					type="pss:IDRefRecordXmlType" minOccurs="0" maxOccurs="1">
    				</element>
    				<element name="circuitId" type="string"
    					minOccurs="0" maxOccurs="1">
    				</element>

    				<element name="loadflowBranchData" type="pss:LoadflowBranchDataXmlType" minOccurs="0" maxOccurs="1"></element>
    			</sequence>
    		</extension>
    	</complexContent>
    </complexType>

    <complexType name="BusRecordListXmlType">
    	<sequence>
    		<element name="bus" type="pss:BusRecordXmlType" minOccurs="0" maxOccurs="unbounded"></element>
    	</sequence>
    </complexType>
    
    <complexType name="BranchRecordListXmlType">
    	<sequence>
    		<element name="branch" type="pss:BranchRecordXmlType" minOccurs="0" maxOccurs="unbounded"></element>
    	</sequence>
    </complexType>

    <complexType name="LoadflowBusDataXmlType">
    	<sequence>

    		<element name="voltage" type="pss:VoltageXmlType"
    			minOccurs="1" maxOccurs="1">
    		</element>

    		<element name="angle" type="pss:AngleXmlType" minOccurs="0"
    			maxOccurs="1">
    		</element>

    		<element name="genData" minOccurs="0" maxOccurs="1">
    			<complexType>
    				<sequence>
    					<element name="code" minOccurs="1"
    						maxOccurs="1">
    						<simpleType>
    							<restriction base="string">
    								<enumeration value="PQ"></enumeration>
    								<enumeration value="PV"></enumeration>
    								<enumeration value="SWING"></enumeration>
    							</restriction>
    						</simpleType>
    					</element>
    					<element name="gen" type="pss:PowerXmlType"
    						minOccurs="0" maxOccurs="1">
    					</element>

    					<element name="qGenLimit" minOccurs="0"
    						maxOccurs="1">
    						<complexType>
    							<sequence>
    								<element name="qLimit"
    									type="pss:LimitXmlType">
    								</element>
    								<element name="qUnit">
    									<simpleType>
    										<restriction
    											base="string">
    											<enumeration
    												value="PU">
    											</enumeration>
    											<enumeration
    												value="KVAR">
    											</enumeration>
    											<enumeration
    												value="MVAR">
    											</enumeration>
    										</restriction>
    									</simpleType>
    								</element>
    							</sequence>
    						</complexType>
    					</element>

    					<element name="vGenLimit" minOccurs="0"
    						maxOccurs="1">
    						<complexType>
    							<sequence>
    								<element name="vLimit"
    									type="pss:LimitXmlType">
    								</element>
    								<element name="vUnit">
    									<simpleType>
    										<restriction
    											base="string">
    											<enumeration
    												value="PU">
    											</enumeration>
    											<enumeration
    												value="VOLT">
    											</enumeration>
    											<enumeration
    												value="KV">
    											</enumeration>
    										</restriction>
    									</simpleType>
    								</element>
    							</sequence>
    						</complexType>
    					</element>



    					<element name="desiredVoltage" minOccurs="0"
    						maxOccurs="1" type="pss:VoltageXmlType">
    					</element>

    				</sequence>
    			</complexType>
    		</element>
    		<element name="loadData" minOccurs="0" maxOccurs="1">
    			<complexType>
    				<sequence>
    					<element name="code" minOccurs="1"
    						maxOccurs="1">
    						<simpleType>
    							<restriction base="string">
    								<enumeration value="CONST_P"></enumeration>
    								<enumeration value="CONST_I"></enumeration>
    								<enumeration value="CONST_Z"></enumeration>
    							</restriction>
    						</simpleType>
    					</element>
    					<element name="load" type="pss:PowerXmlType"
    						minOccurs="1" maxOccurs="1">
    					</element>

    				</sequence>
    			</complexType>
    		</element>
    		<element name="shuntY" minOccurs="0" maxOccurs="1"
    			type="pss:YXmlType">
    		</element>

    		<element name="powerInjection" type="pss:PowerXmlType" minOccurs="0" maxOccurs="1"></element>
    	</sequence>
    </complexType>

    <complexType name="LoadflowBranchDataXmlType">
    	<sequence>
    		<element name="code" minOccurs="1" maxOccurs="1">
    			<simpleType>
    				<restriction base="string">
    					<enumeration value="Line"></enumeration>
    					<enumeration value="Transformer"></enumeration>
    					<enumeration value="PhaseShiftXformer"></enumeration>
    				</restriction>
    			</simpleType>
    		</element>
    		<element name="lineData" minOccurs="0" maxOccurs="1">
    			<complexType>
    				<sequence>
    					<element name="z" type="pss:ZXmlType"
    						minOccurs="1" maxOccurs="1">
    					</element>

    					<element name="totalShuntY" type="pss:YXmlType"
    						minOccurs="0" maxOccurs="1">
    					</element>

    				</sequence>
    			</complexType>
    		</element>
    		<element name="xformerData"
    			type="pss:TransformetDataXmlType" minOccurs="0" maxOccurs="1">

    		</element>

    		<element name="phaseShiftXfrData"
    			type="pss:PhaseShiftXfrDataXmlType" minOccurs="0"
    			maxOccurs="1">
    		</element>
    		<element name="ratingData" minOccurs="0" maxOccurs="1">
    			<complexType>
    				<sequence>
    					<element name="mvaRating1" type="double"></element>
    					<element name="mvaRating2" type="double"></element>
    					<element name="mvaRating3" type="double"></element>
    					<element name="currentRating" type="double"></element>
    					<element name="mvaRatingUnit">
    						<simpleType>
    							<restriction base="string">
    								<enumeration value="PU"></enumeration>
    								<enumeration value="KVA"></enumeration>
    								<enumeration value="MVA"></enumeration>
    							</restriction>
    						</simpleType></element>
    					<element name="currentRatingUnit">
    						<simpleType>
    							<restriction base="string">
    								<enumeration value="PU"></enumeration>
    								<enumeration value="AMP"></enumeration>
    								<enumeration value="KAMP"></enumeration>
    							</restriction>
    						</simpleType></element>
    				</sequence>
    			</complexType></element>
    	</sequence>
    </complexType>
    

    <complexType name="LimitXmlType">
    	<sequence>
    		<element name="max" type="double"></element>
    		<element name="min" type="double"></element>
    	</sequence>
    </complexType>

    <complexType name="ComplexXmlType">
    	<sequence>
    		<element name="re" type="double" minOccurs="1" maxOccurs="1"></element>
    		<element name="im" type="double" minOccurs="1" maxOccurs="1"></element>
    	</sequence>
    </complexType>

    <complexType name="ZXmlType">
    	<sequence>
    		<element name="r" type="double" minOccurs="0" maxOccurs="1"></element>
            <element name="x" type="double" minOccurs="1" maxOccurs="1"></element>
            <element name="unit" minOccurs="0" maxOccurs="1">
    			<simpleType>
    				<restriction base="string">
    					<enumeration value="PU"></enumeration>
    					<enumeration value="OHM"></enumeration>
    				</restriction>
    			</simpleType>
    		</element>
    	</sequence>
    </complexType>
    
    <complexType name="YXmlType">
    	<sequence>
    		<element name="g" type="double" minOccurs="0" maxOccurs="1"></element>
            <element name="b" type="double" minOccurs="1" maxOccurs="1"></element>
            <element name="unit" minOccurs="0" maxOccurs="1">
    			<simpleType>
    				<restriction base="string">
    					<enumeration value="PU"></enumeration>
    					<enumeration value="MHO"></enumeration>
    					<enumeration value="MICROMHO"></enumeration>
    				</restriction>
    			</simpleType>
    		</element>
    	</sequence>
    </complexType>
    


    <complexType name="PowerXmlType">
    	<sequence>
    		<element name="p" type="double" minOccurs="1" maxOccurs="1"></element>
    		<element name="q" type="double" minOccurs="1" maxOccurs="1"></element>
    		<element name="unit" minOccurs="0" maxOccurs="1">
    			<simpleType>
    				<restriction base="string">
    					<enumeration value="PU"></enumeration>
    					<enumeration value="VA"></enumeration>
    					<enumeration value="KVA"></enumeration>
    					<enumeration value="MVA"></enumeration>
    				</restriction>
    			</simpleType></element>
    	</sequence>
    </complexType>    

    <complexType name="VoltageXmlType">
    	<sequence>
    		<element name="voltage" type="double"></element>
    		<element name="unit">
    			<simpleType>
    				<restriction base="string">
    					<enumeration value="PU"></enumeration>
    					<enumeration value="VOLT"></enumeration>
    					<enumeration value="KV"></enumeration>
    				</restriction>
    			</simpleType></element>
    	</sequence>
    </complexType>

    <complexType name="AngleXmlType">
    	<sequence>
    		<element name="angle" type="double"></element>
    		<element name="unit">
    			<simpleType>
    				<restriction base="string">
    					<enumeration value="RAD"></enumeration>
    					<enumeration value="DEG"></enumeration>
    				</restriction>
    			</simpleType></element>
    	</sequence>
    </complexType>


    <complexType name="TransformetDataXmlType">
    				<sequence>
    					<element name="z" type="pss:ZXmlType"></element>
    					<element name="fromTurnRatio" type="double"></element>
    					<element name="toTurnRatio" type="double"></element>





                        <element name="ratedPower" type="pss:PowerXmlType">
    					</element>
                        <element name="fromRatedVoltage"
    						type="pss:VoltageXmlType">
    					</element>
    					<element name="toRatedVoltage"
    						type="pss:VoltageXmlType">
    					</element>


                        <element name="fromShuntY" type="pss:YXmlType">
    					</element>
                        <element name="toShuntY" type="pss:YXmlType"></element>
                    </sequence>
    </complexType>

    <complexType name="PhaseShiftXfrDataXmlType">
    	<complexContent>
    		<extension base="pss:TransformetDataXmlType">
    			<sequence>
    				<element name="fromAngle" type="pss:AngleXmlType"></element>
    				<element name="toAngle" type="pss:AngleXmlType"></element>
    			</sequence>
    		</extension>
    	</complexContent>
    </complexType>

    <complexType name="CurrentXmlType">
    	<sequence>
    		<element name="current" type="double" minOccurs="1" maxOccurs="1"></element>
    		<element name="unit" minOccurs="0" maxOccurs="1">
    			<simpleType>
    				<restriction base="string">
    					<enumeration value="PU"></enumeration>
    					<enumeration value="AMP"></enumeration>
    					<enumeration value="KA"></enumeration>
    				</restriction>
    			</simpleType></element>
    	</sequence>
    </complexType>
</schema>