trunk/ieee.odm_pss/schema/ODM_RecordType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.ieee.org/odm/Schema" xmlns:pss="http://www.ieee.org/odm/Schema" elementFormDefault="qualified">

    <include schemaLocation=""></include>
    <include schemaLocation="ODM_DataType.xsd"></include>

	<include schemaLocation="dynamic/ODM_MachineModel.xsd"></include>
	<include schemaLocation="dynamic/ODM_ExciterModel.xsd"></include>
	<include schemaLocation="dynamic/ODM_GovernorModel.xsd"></include>
	<include schemaLocation="dynamic/ODM_StabilizerModel.xsd"></include>
	<include schemaLocation="dynamic/ODM_DynamicLoadModel.xsd"></include>

	<annotation>
		<documentation>Copyright www.interpss.org 2008</documentation>
	</annotation>

	<complexType name="BusRecordXmlType">
		<complexContent>
			<extension base="pss:CimRdfRecordType">
				<sequence>
					<element name="baseVoltage" type="pss:VoltageXmlType" minOccurs="1" maxOccurs="1"></element>
					<element name="loadflowData" type="pss:LoadflowBusDataXmlType" minOccurs="0" maxOccurs="1"></element>
					<element name="sequenceData" type="pss:SequenceBusDataXmlType" minOccurs="0"></element>
					<element name="dynamicData" type="pss:DynamicBusDataXmlType" minOccurs="0"></element>
					<element name="svcData" minOccurs="0">
						<complexType>
							<sequence>
								<element name="svcList" minOccurs="0">
									<complexType>
										<sequence>
											<element name="svc" type="pss:StaticVarCompensatorXmlType" maxOccurs="unbounded" minOccurs="0"></element>
										</sequence>
									</complexType>
								</element>
							</sequence>
						</complexType>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="BranchRatingLimitXmlType">
		<sequence>
			<element name="mva" type="pss:MvaRatingXmlType" minOccurs="0"></element>
			<element name="current" type="pss:CurrentXmlType" minOccurs="0"></element>
		</sequence>
	</complexType>
	<complexType name="BranchRecordXmlType">
		<complexContent>
			<extension base="pss:CimConnectionRecordType">
				<sequence>
					<element name="fromBus" type="pss:BusRefRecordXmlType" minOccurs="1" maxOccurs="1"></element>
					<element name="toBus" type="pss:BusRefRecordXmlType" minOccurs="1" maxOccurs="1"></element>
					<element name="tertiaryBus" type="pss:BusRefRecordXmlType" minOccurs="0" maxOccurs="1"></element>
					<element name="loadflowData" type="pss:LoadflowBranchDataXmlType" minOccurs="0" maxOccurs="unbounded">
						<annotation>
							<documentation>Loadflow data may defined in multiple sections, section number (1-9) in ascending order beginning at "from" end</documentation>
						</annotation>
					</element>
					<element name="sequenceData" type="pss:SequenceBranchDataXmlType" minOccurs="0"></element>
					<element name="dynamicData" type="pss:DynamicBranchDataXmlType" minOccurs="0"></element>

				</sequence>
				<attribute name="circuitId" type="string" use="optional"></attribute>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="LoadflowBusDataXmlType">
		<sequence>
			<element name="voltage" type="pss:VoltageXmlType" minOccurs="0" maxOccurs="1"></element>
			<element name="angle" type="pss:AngleXmlType" minOccurs="0" maxOccurs="1"></element>
			<element name="genData" minOccurs="0" maxOccurs="1">
				<complexType>
					<sequence>
						<element name="equivGen" type="pss:LoadflowGenDataXmlType" minOccurs="0" maxOccurs="1"></element>
						<element name="contributeGenList" minOccurs="0">
							<complexType>
								<sequence>
									<element name="contributeGen" minOccurs="0" maxOccurs="unbounded" type="pss:LoadflowGenDataXmlType"></element>
								</sequence>
							</complexType>
						</element>
					</sequence>
				</complexType>
			</element>
			<element name="loadData" minOccurs="0" maxOccurs="1">
				<complexType>
					<sequence>
						<element name="equivLoad" minOccurs="0" maxOccurs="1" type="pss:LoadflowLoadDataXmlType"></element>
						<element name="contributeLoadList" minOccurs="0">
							<complexType>
								<sequence>
									<element name="contributeLoad" minOccurs="0" maxOccurs="unbounded" type="pss:LoadflowLoadDataXmlType"></element>
								</sequence>
							</complexType>
						</element>
					</sequence>
				</complexType>
			</element>
			<element name="shuntCompensatorData" minOccurs="0">
				<complexType>
					<sequence>
						<element name="equivQ" type="pss:ReactivePowerXmlType" minOccurs="0"></element>
						<element name="shuntCompensatorList" minOccurs="0" maxOccurs="1">
							<complexType>
								<sequence>
									<element name="shunCompensator" type="pss:ShuntCompensatorXmlType" maxOccurs="unbounded" minOccurs="0"></element>
								</sequence>
							</complexType>
						</element>
					</sequence>
				</complexType>
			</element>
			<element name="shuntY" minOccurs="0" maxOccurs="1" type="pss:YXmlType"></element>
			<element name="powerInjection" type="pss:PowerXmlType" minOccurs="0" maxOccurs="1"></element>
		</sequence>
	</complexType>
	
	<complexType name="GroundConnectionXmlType">
		<sequence>
			<element name="groundZ" type="pss:ZXmlType" minOccurs="0"></element>
		</sequence>
		<attribute name="connection" type="pss:GroundConnectionEnumType" use="required"></attribute>
	</complexType>

	<complexType name="LoadflowBranchDataXmlType">
		<complexContent>
			<extension base="pss:BaseBranchDataXmlType">
				<sequence>
					<choice>
						<element name="lineInfo" minOccurs="0" maxOccurs="1">
							<complexType>
								<sequence>
									<element name="length" type="pss:LengthXmlType" minOccurs="0"></element>
									<element name="lossFactor" type="double" minOccurs="0" maxOccurs="1"></element>
								</sequence>
							</complexType>
						</element>
						<element name="xfrInfo" minOccurs="0" maxOccurs="1">
							<complexType>
								<annotation>
									<documentation>from : 1, to:2 and tert :3</documentation>
								</annotation>
								<sequence>
									<element name="tapAdjustment" minOccurs="0" type="pss:TapAdjustmentXmlType"></element>
									<element name="angleAdjustment" minOccurs="0" type="pss:AngleAdjustmentXmlType"></element>
									<element name="zTableNumber" type="int" minOccurs="0"></element>
									<element name="dataOnSystemBase" type="boolean" minOccurs="0">
										<annotation>
											<documentation>Normally xfr data is on xfr rated power based. By setting</documentation>
										</annotation>
									</element>
									<element name="z23" type="pss:ZXmlType" minOccurs="0" maxOccurs="1"></element>
									<element name="z31" type="pss:ZXmlType" minOccurs="0" maxOccurs="1"></element>
									<element name="turnRatio3" type="pss:TapXmlType" minOccurs="0"></element>
									<element name="shiftAngle3" type="pss:AngleXmlType" minOccurs="0"></element>
									<element name="starVMag" type="pss:VoltageXmlType" minOccurs="0"></element>
									<element name="starVAng" type="pss:AngleXmlType" minOccurs="0"></element>
									<element name="ratedVoltage1" type="pss:VoltageXmlType" minOccurs="0"></element>
									<element name="ratedVoltage2" type="pss:VoltageXmlType" minOccurs="0"></element>
									<element name="ratedVoltage3" type="pss:VoltageXmlType" minOccurs="0"></element>
									<element name="ratedPower12" type="pss:ApparentPowerXmlType" minOccurs="0"></element>
									<element name="ratedPower23" type="pss:ApparentPowerXmlType" minOccurs="0"></element>
									<element name="ratedPower31" type="pss:ApparentPowerXmlType" minOccurs="0"></element>
									<element name="branchRatingLimit23" minOccurs="0" maxOccurs="1" type="pss:BranchRatingLimitXmlType">
									</element>
									<element name="branchRatingLimit13" minOccurs="0" maxOccurs="1" type="pss:BranchRatingLimitXmlType">
									</element>
									<element name="lossFactor1" type="double" minOccurs="0"></element>
									<element name="lossFactor2" type="double" minOccurs="0"></element>
									<element name="lossFactor3" type="double" minOccurs="0"></element>
								</sequence>
							</complexType>
						</element>
					</choice>
					<element name="branchRatingLimit" minOccurs="0" maxOccurs="1" type="pss:BranchRatingLimitXmlType"></element>
				</sequence>
				<attribute name="code" use="required" type="pss:LFBranchCodeEnumType"></attribute>
				<attribute name="sec" type="int" use="optional" default="1">
					<annotation>
						<documentation>sec number is used by GE PSLF</documentation>
					</annotation>
				</attribute>
				<attribute name="xfr3W" type="boolean" use="optional"></attribute>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="LoadflowGenDataXmlType">
		<annotation>
			<documentation>
				EquivGen is intended for Loadflow study. For PQ bus, p, q are specified using the power field. For Swing bus, desiredVoltage and desiredAngle are used For PV bus power.re and
				designedVoltage are used.
			</documentation>
		</annotation>
		<complexContent>
			<extension base="pss:CimConnectionRecordType">
				<sequence>
					<element name="power" type="pss:PowerXmlType" minOccurs="0" maxOccurs="1"></element>
					<element name="desiredVoltage" type="pss:VoltageXmlType" minOccurs="0"></element>
					<element name="desiredAngle" type="pss:AngleXmlType" minOccurs="0"></element>
					<element name="remoteVoltageControlBus" minOccurs="0" maxOccurs="1" type="pss:IDRefRecordXmlType"></element>
					<element name="qLimit" type="pss:ReactivePowerLimitXmlType" minOccurs="0"></element>
					<element name="pLimit" minOccurs="0" maxOccurs="1" type="pss:ActivePowerLimitXmlType"></element>
					<element name="voltageLimit" minOccurs="0" maxOccurs="1" type="pss:VoltageLimitXmlType"></element>
					<element name="ratedPower" type="pss:ApparentPowerXmlType" minOccurs="0"></element>
					<element name="sourceZ" type="pss:ZXmlType" minOccurs="0">
						<annotation>
							<documentation>In GE-PSLF, it is called CompensatingZ</documentation>
						</annotation>
					</element>
					<element name="xfrZ" type="pss:ZXmlType" minOccurs="0">
						<annotation>
							<documentation>In GE PSLF, it is called CharacteristicZ</documentation>
						</annotation>
					</element>
					<element name="xfrTap" type="double" minOccurs="0"></element>
					<element name="mvarVControlParticipateFactor" type="double" minOccurs="0"></element>
					<element name="mwControlParticipateFactor" type="double" minOccurs="0"></element>
				</sequence>
				<attribute name="code" use="required" type="pss:LFGenCodeEnumType">
				</attribute>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="NetAreaXmlType">
		<sequence>
			<element name="swingBusId" type="pss:IDRefRecordXmlType" maxOccurs="1" minOccurs="0"></element>
			<element name="alternateSwingBus" type="pss:IDRefRecordXmlType" maxOccurs="1" minOccurs="0"></element>
			<element name="desiredExchangePower" type="pss:ActivePowerXmlType" minOccurs="0"></element>
			<element name="exchangeErrTolerance" type="pss:ActivePowerXmlType" maxOccurs="1" minOccurs="0"></element>
			<element name="totalExchangePower" type="pss:PowerXmlType" maxOccurs="1" minOccurs="0"></element>
			<element name="exchangePower" maxOccurs="unbounded" minOccurs="0">
				<complexType>
					<sequence>
						<element name="toArea" type="string" maxOccurs="1" minOccurs="0"></element>
						<element name="exchangePower" type="pss:PowerXmlType" maxOccurs="1" minOccurs="1"></element>
					</sequence>
				</complexType>
			</element>
			<element name="measredOnFromSide" type="boolean" maxOccurs="1" minOccurs="0"></element>
			<element name="ratedVoltage" type="pss:VoltageXmlType" maxOccurs="1" minOccurs="0"></element>
			<element name="zoneList" maxOccurs="1" minOccurs="0">
				<complexType>
					<sequence>
						<element name="zone" type="pss:NetZoneXmlType" maxOccurs="unbounded" minOccurs="0"></element>
					</sequence>
				</complexType>
			</element>
		</sequence>
		<attribute name="id" type="string" use="optional"></attribute>
		<attribute name="name" type="string" use="optional"></attribute>
		<attribute name="number" type="int" use="optional"></attribute>
	</complexType>

	<complexType name="NetZoneXmlType">
		<sequence>
			<element name="exchangePower" type="pss:PowerXmlType" minOccurs="0"></element>
		</sequence>
		<attribute name="id" type="string" use="optional"></attribute>
		<attribute name="name" type="string" use="optional"></attribute>
		<attribute name="number" type="int" use="optional"></attribute>
	</complexType>

	<simpleType name="AnalysisCategoryEnumType">
		<restriction base="string">
			<enumeration value="Loadflow"></enumeration>
			<enumeration value="ShortCircuit"></enumeration>
			<enumeration value="TransientStability"></enumeration>
		</restriction>
	</simpleType>

	<simpleType name="NetworkCategoryEnumType">
		<restriction base="string">
			<enumeration value="Transmission"></enumeration>
			<enumeration value="Distribution"></enumeration>
		</restriction>
	</simpleType>

	<complexType name="ConverterXmlType">
		<sequence>
			<element name="busId" type="pss:IDRefRecordXmlType" maxOccurs="1" minOccurs="1"></element>
			<element name="numberofBridges" type="int" maxOccurs="1" minOccurs="1"></element>
			<element name="minFiringAngle" type="pss:AngleXmlType" maxOccurs="1" minOccurs="1"></element>
			<element name="maxFiringAngle" type="pss:AngleXmlType" maxOccurs="1" minOccurs="1"></element>
			<element name="firingAngleMeasuringBusId" type="pss:IDRefRecordXmlType" maxOccurs="1" minOccurs="0"></element>
			<element name="acSideRatedVoltage" type="pss:VoltageXmlType" maxOccurs="1" minOccurs="1"></element>
			<element name="commutatingZ" type="pss:ZXmlType" maxOccurs="1" minOccurs="1"></element>
			<element name="commutatingCapacitor" type="double" maxOccurs="1" minOccurs="0"></element>
			<element name="xformerTurnRatio" type="double" maxOccurs="1" minOccurs="0"></element>
			<element name="xformerTapSetting" type="pss:TapXmlType" maxOccurs="1" minOccurs="0"></element>
			<element name="xformerTapLimit" type="pss:TapLimitXmlType" maxOccurs="1" minOccurs="0"></element>
			<element name="xformerTapStepSize" type="double" maxOccurs="1" minOccurs="0"></element>
			<element name="dcSdieRatedVoltage" type="pss:VoltageXmlType" maxOccurs="1" minOccurs="0"></element>
			<element name="refXfrFromBusId" type="pss:IDRefRecordXmlType" maxOccurs="1" minOccurs="0"></element>
			<element name="refXfrToBusId" type="pss:IDRefRecordXmlType" maxOccurs="1" minOccurs="0"></element>
			<element name="refXfrCirId" type="string" maxOccurs="1" minOccurs="0"></element>
		</sequence>
	</complexType>
	<!--
		not used <complexType name="ConverterDataXmlType"> <sequence> <element name="acSideRatedVoltage" type="pss:VoltageXmlType" maxOccurs="1" minOccurs="0"> </element> <element name="numberofBridges"
		type="int" maxOccurs="1" minOccurs="1"> </element> <element name="rectifierMinFiringAngle" type="pss:AngleXmlType" maxOccurs="1" minOccurs="0"> </element> <element name="rectifierMaxFiringAngle"
		type="pss:AngleXmlType" maxOccurs="1" minOccurs="0"> </element> <element name="inverterMaxFiringAngle" type="pss:AngleXmlType" maxOccurs="1" minOccurs="1"> </element> <element
		name="inverterMinFiringAgnle" type="pss:AngleXmlType" maxOccurs="1" minOccurs="0"> </element> <element name="dcSdieRatedV" type="pss:VoltageXmlType" maxOccurs="1" minOccurs="0"> </element> <element
		name="xformerRXperB" type="pss:ZXmlType" maxOccurs="1" minOccurs="1"> </element> <element name="xformerRatio" type="double" maxOccurs="1" minOccurs="0"> </element> <element name="xformerTapSetting"
		type="double" maxOccurs="1" minOccurs="0"> </element> <element name="xformerMaxTap" type="double" maxOccurs="1" minOccurs="0"> </element> <element name="xformerMinTap" type="double" maxOccurs="1"
		minOccurs="0"> </element> <element name="tapStep" type="double" maxOccurs="1" minOccurs="0"> </element> <element name="firingAngleMeasuringBusId" type="pss:IDRefRecordXmlType" maxOccurs="1"
		minOccurs="0"> </element> <element name="commutatingCapacitorRperB" type="pss:ZXmlType" maxOccurs="1" minOccurs="0"> </element> <element name="xformerFromTurn" type="string" maxOccurs="1"
		minOccurs="0"></element> <element name="xformerToTurn" type="string" maxOccurs="1" minOccurs="0"></element> <element name="xformerCirId" type="string" maxOccurs="1" minOccurs="0"></element>
		</sequence> </complexType>
	-->

	<complexType name="DCLineData2TXmlType">
		<complexContent>
			<extension base="pss:IDRecordXmlType">
				<sequence>
					<element name="controlMode" default="blocked" maxOccurs="1" minOccurs="1" type="pss:DcLineControlModeEnumType">
					</element>
					<element name="lineR" type="pss:RXmlType" maxOccurs="1" minOccurs="1"></element>
					<element name="lineG" type="pss:GXmlType" maxOccurs="1" minOccurs="0"></element>
					<element name="currentDemand" maxOccurs="1" minOccurs="0" type="pss:CurrentXmlType"></element>
					<element name="powerDemand" type="pss:ActivePowerXmlType" maxOccurs="1" minOccurs="0"></element>
					<element name="controlOnRectifierSide" type="boolean" maxOccurs="1" minOccurs="0"></element>
					<element name="scheduledDCVoltage" type="pss:VoltageXmlType" maxOccurs="1" minOccurs="0"></element>
					<element name="meteredEnd" maxOccurs="1" minOccurs="0" type="pss:DcLineMeteredEndEnumType">
					</element>
					<element name="modeSwitchDCVoltage" type="pss:VoltageXmlType" maxOccurs="1" minOccurs="0"></element>
					<element name="compoundingR" type="pss:RXmlType" maxOccurs="1" minOccurs="0"></element>
					<element name="powerOrCurrentMarginPU" maxOccurs="1" minOccurs="0" type="double">
					</element>
					<element name="minDCVoltage" type="pss:VoltageXmlType" maxOccurs="1" minOccurs="0"></element>
					<element name="maxDCCurrent" type="pss:CurrentXmlType" maxOccurs="1" minOccurs="0"></element>
					<element name="length" maxOccurs="1" minOccurs="0" type="pss:LengthXmlType"></element>
					<element name="rectifier" type="pss:ConverterXmlType" minOccurs="1"></element>
					<element name="inverter" type="pss:ConverterXmlType" minOccurs="1"></element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<simpleType name="DcLineControlModeEnumType">
		<restriction base="string">
			<enumeration value="blocked"></enumeration>
			<enumeration value="power"></enumeration>
			<enumeration value="current"></enumeration>
		</restriction>
	</simpleType>

	<simpleType name="DcLineMeteredEndEnumType">
		<restriction base="string">
			<enumeration value="rectifier"></enumeration>
			<enumeration value="inverter"></enumeration>
		</restriction>
	</simpleType>

	<complexType name="DCLineDataMTXmlType">
		<sequence>
		</sequence>
	</complexType>

	<complexType name="BaseBranchDataXmlType">
		<complexContent>
			<extension base="pss:BaseRecordXmlType">
				<sequence>
					<element name="z" type="pss:ZXmlType" minOccurs="0" maxOccurs="1"></element>
					<element name="totalShuntY" type="pss:YXmlType" minOccurs="0" maxOccurs="1"></element>
					<element name="fromShuntY" type="pss:YXmlType" minOccurs="0"></element>
					<element name="toShuntY" type="pss:YXmlType" minOccurs="0"></element>
					<element name="fromTurnRatio" type="pss:TurnRatioXmlType" minOccurs="0" maxOccurs="1"></element>
					<element name="toTurnRatio" type="pss:TurnRatioXmlType" minOccurs="0" maxOccurs="1"></element>
					<element name="fromAngle" type="pss:AngleXmlType" minOccurs="0"></element>
					<element name="toAngle" type="pss:AngleXmlType" minOccurs="0"></element>
					<element name="meterLocation" minOccurs="0" type="pss:BranchMeterLocationEnumType">
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<simpleType name="BranchMeterLocationEnumType">
		<restriction base="string">
			<enumeration value="FromSide"></enumeration>
			<enumeration value="ToSide"></enumeration>
		</restriction>
	</simpleType>

	<complexType name="DynamicBusDataXmlType">
		<sequence>
			<element name="machineList" minOccurs="0" maxOccurs="unbounded">
				<complexType>
					<sequence>
						<element name="machine" type="pss:MachineXmlType" minOccurs="1"></element>
						<element name="exciter" minOccurs="0">
							<complexType>
								<sequence>
									<element name="exciterType" maxOccurs="1" minOccurs="1" type="pss:ExciterEnumType">
									</element>
									<element name="exciterModel" type="pss:ExciterModelSelectionXmlType" maxOccurs="1" minOccurs="1"></element>
								</sequence>
							</complexType>
						</element>
						<element name="governor" minOccurs="0">
							<complexType>
								<sequence>
									<element name="governorType" maxOccurs="1" minOccurs="1" type="pss:TurbineGovernorEnumType">
									</element>
									<element name="governorModel" type="pss:TurbineGovernorModelSelectionXmlType" maxOccurs="1" minOccurs="1"></element>
								</sequence>
							</complexType>
						</element>
						<element name="stabilizer" minOccurs="0">
							<complexType>
								<sequence>
									<element name="stabilizerType" maxOccurs="1" minOccurs="1" type="pss:StabilizerEnumType">
									</element>
									<element name="stabilizerModel" type="pss:StabilizerModelSelectionXmlType" maxOccurs="1" minOccurs="1"></element>
								</sequence>
							</complexType>
						</element>
					</sequence>
				</complexType>
			</element>
			<element name="dynamicLoad" minOccurs="0">
				<complexType>
					<sequence>
						<element name="location" maxOccurs="1" minOccurs="1" type="pss:LoadCharacteristicLocationEnumType">
						</element>
						<element name="LoadXmlType" maxOccurs="1" minOccurs="1" type="pss:LoadCharacteristicTypeEnumType">
						</element>
						<element name="LoadModel" type="pss:DynamicLoadModelSelectionXmlType" maxOccurs="1" minOccurs="1"></element>
					</sequence>
				</complexType>
			</element>
		</sequence>
	</complexType>

	<complexType name="DynamicBranchDataXmlType">
		<sequence>
			<element name="lineRealy" maxOccurs="unbounded" minOccurs="0">
				<complexType></complexType>
			</element>
		</sequence>
	</complexType>

	<complexType name="MachineXmlType">
		<sequence>
			<element name="genId" type="pss:IDRecordXmlType" maxOccurs="1" minOccurs="0"></element>
			<element name="ownerName" type="string" maxOccurs="1" minOccurs="0"></element>
			<element name="ratedVoltage" type="pss:VoltageXmlType" maxOccurs="1" minOccurs="0"></element>
			<element name="generatorType" maxOccurs="1" minOccurs="1" type="pss:GeneratorEnumType">
			</element>
			<element name="generatorModel" type="pss:MachineModelSelectionXmlType" maxOccurs="1" minOccurs="1"></element>
			<element name="pContributionPercent" type="double" maxOccurs="1" minOccurs="0"></element>
			<element name="qContributionPercent" type="double" minOccurs="0"></element>
		</sequence>
	</complexType>

	<complexType name="MachineModelSelectionXmlType">
		<choice>
			<element name="equiGenUnit" maxOccurs="1" minOccurs="0" type="pss:EquiMachineXmlType">
			</element>
			<element name="classicalModel" maxOccurs="1" minOccurs="0" type="pss:ClassicMachineXmlType">
			</element>
			<element name="transModel" maxOccurs="1" minOccurs="0" type="pss:TransientMachineXmlType">
			</element>
			<element name="subTransientModel" maxOccurs="1" minOccurs="0" type="pss:SubTransientMachineXmlType">
			</element>
		</choice>
	</complexType>

	<complexType name="ExciterModelSelectionXmlType">
		<choice>
			<element name="IEEE1992TypeAC1A" maxOccurs="1" minOccurs="0" type="pss:ExcIEEE1992TypeAC1AXmlType">
			</element>
			<element name="IEEE1981TypeAC2" maxOccurs="1" minOccurs="0" type="pss:ExcIEEE1981TypeAC2XmlType">
			</element>
			<element name="IEEE1981ST1" maxOccurs="1" minOccurs="0" type="pss:ExcIEEE1981ST1XmlType">
			</element>
			<element name="BPAFJ" maxOccurs="1" minOccurs="0" type="pss:ExcBPAFJXmlType">
			</element>
			<element name="IEEE1968Type1" maxOccurs="1" minOccurs="0" type="pss:ExcIEEE1968Type1XmlType">
			</element>
			<element name="IEEEModified1968Type1" maxOccurs="1" minOccurs="0" type="pss:ExcrIEEEModified1968Type1XmlType">
			</element>
			<element name="IEEE1981NewExcSystem" maxOccurs="1" minOccurs="0" type="pss:ExcIEEE1981NewExcSystemXmlType">
			</element>
			<element name="IEEETypeDC2" maxOccurs="1" minOccurs="0" type="pss:ExcIEEETypeDC2XmlType">
			</element>
		</choice>
	</complexType>

	<complexType name="StabilizerModelSelectionXmlType">
		<choice>
			<element name="IEEE1981Type" maxOccurs="1" minOccurs="0" type="pss:PssIEEE1981TypeXmlType">
			</element>
			<element name="IEEE1982Type2A" maxOccurs="1" minOccurs="0" type="pss:PssIEEE1982Type2AXmlType">
			</element>
			<element name="IEE2ST" maxOccurs="1" minOccurs="0" type="pss:PssIEE2STXmlType">
			</element>
			<element name="IEEEDualInput" maxOccurs="1" minOccurs="0" type="pss:PssIEEEDualInputXmlType">
			</element>
		</choice>
	</complexType>

	<complexType name="TurbineGovernorModelSelectionXmlType">
		<choice>
			<element name="IEEE1981Type1" maxOccurs="1" minOccurs="0" type="pss:GovIEEE1981Type1XmlTypeXmlType">
			</element>
			<element name="IEEE1981Type2" maxOccurs="1" minOccurs="0" type="pss:GovIEEE1981Type2XmlType">
			</element>
			<element name="IEEE1981Type3" maxOccurs="1" minOccurs="0" type="pss:GovIEEE1981Type3XmlType">
			</element>
			<element name="hydroStreamGeneralModel" maxOccurs="1" minOccurs="0" type="pss:GovHydroSteamGeneralModelXmlType">
			</element>
			<element name="hydroGovernerAndTurbine" maxOccurs="1" minOccurs="0" type="pss:GovHydroTurbineXmlType">
			</element>
			<element name="hydroGoverner" maxOccurs="1" minOccurs="0" type="pss:GovHydroXmlType">
			</element>
		</choice>
	</complexType>

	<complexType name="DynamicLoadModelSelectionXmlType">
		<choice>
			<element name="IEEEStaticLoad" maxOccurs="1" minOccurs="0" type="pss:DLoad_IEEEStaticLoadXmlType">
			</element>
			<element name="ComplexLoad" maxOccurs="1" minOccurs="0" type="pss:DLoad_ComplexLoadXmlType">
			</element>
			<element name="InductionMotor" maxOccurs="1" minOccurs="0" type="pss:DLoad_InductionMotorXmlType">
			</element>
		</choice>
	</complexType>

	<complexType name="SequenceBusDataXmlType">
		<sequence>
			<element name="genData" minOccurs="0">
				<complexType>
					<sequence>
						<element name="potiveZ" type="pss:ZXmlType" minOccurs="1"></element>
						<element name="negativeZ" type="pss:ZXmlType" minOccurs="0"></element>
						<element name="zeroZ" type="pss:ZXmlType" minOccurs="0"></element>
						<element name="grounding" type="pss:GroundConnectionXmlType" minOccurs="0"></element>
					</sequence>
				</complexType>
			</element>
			<element name="shuntLoadData" minOccurs="0">
				<complexType>
					<sequence>
						<element name="negativeZ" type="pss:ZXmlType" minOccurs="0"></element>
						<element name="zeroZ" type="pss:ZXmlType" minOccurs="0"></element>
					</sequence>
				</complexType>
			</element>
			<element name="swithedShuntLoadData" minOccurs="0">
				<complexType>
					<sequence>
						<element name="zeroZ" type="pss:ZXmlType" minOccurs="0"></element>
					</sequence>
				</complexType>
			</element>
		</sequence>
		<attribute name="scCode" type="pss:ShortCircuitBusEnumType" use="required"></attribute>
	</complexType>

	<complexType name="SequenceBranchDataXmlType">
		<sequence>
			<element name="line" type="pss:SequenceLineDataXmlType" minOccurs="0"></element>
			<element name="xformer" type="pss:SequenceXformrtDataXmlType" minOccurs="0"></element>
		</sequence>
	</complexType>

	<complexType name="SequenceLineDataXmlType">
		<sequence>
			<element name="lineZeroSeq" type="pss:LineZeroSeqXmlType" minOccurs="0"></element>
			<element name="lineMutualZeroZ" type="pss:MutualZeroZXmlType" minOccurs="0" maxOccurs="unbounded"></element>
		</sequence>
	</complexType>

	<complexType name="SequenceXformrtDataXmlType">
		<sequence>
			<element name="z0" type="pss:ZXmlType" minOccurs="0"></element>
			<element name="fromSideConnection" type="pss:XformerConnectionXmlType" minOccurs="0"></element>
			<element name="toSideConnection" type="pss:XformerConnectionXmlType" minOccurs="0"></element>
			<element name="xfrZeroSeq" type="pss:TransformerZeroSeqXmlType" minOccurs="0"></element>
		</sequence>
	</complexType>

	<simpleType name="TapAdjustBusLocationEnumType">
		<restriction base="string">
			<enumeration value="TerminalBus"></enumeration>
			<enumeration value="NearFromBus"></enumeration>
			<enumeration value="NearToBus"></enumeration>
			<enumeration value="FromBus"></enumeration>
			<enumeration value="ToBus"></enumeration>
		</restriction>
	</simpleType>

	<complexType name="PowerInterchangeXmlType">
		<sequence>
			<element name="swingBus" type="pss:IDRefRecordXmlType" minOccurs="1"></element>
			<element name="alternateSwingBusName" type="string" minOccurs="0"></element>
			<element name="desiredExPower" type="pss:ActivePowerXmlType" minOccurs="1"></element>
			<element name="exErrTolerance" type="pss:ActivePowerXmlType" minOccurs="1"></element>
		</sequence>
		<attribute name="areaNumber" type="int" use="required"></attribute>
		<attribute name="areaCode" type="string" use="optional"></attribute>
		<attribute name="areaName" type="string" use="optional"></attribute>
	</complexType>

	<complexType name="ShuntCompensatorXmlType">
		<sequence>
			<element name="cimRdfRec" type="pss:CimRdfXmlType" minOccurs="0"></element>
			<element name="cimSwitches" maxOccurs="1" minOccurs="0" type="pss:CimSwitchListXmlType"></element>
			<element name="desiredVoltageRange" type="pss:VoltageLimitXmlType" minOccurs="1"></element>
			<element name="varPercent" type="double" minOccurs="0"></element>
			<element name="bInit" type="double" minOccurs="1"></element>
			<element name="remoteControlledBus" type="pss:IDRefRecordXmlType" minOccurs="0"></element>
			<element name="block" maxOccurs="unbounded" minOccurs="1">
				<complexType>
					<sequence>
						<element name="incrementB" type="pss:ReactivePowerXmlType" minOccurs="1"></element>
					</sequence>
					<attribute name="steps" type="int" use="required"></attribute>
				</complexType>
			</element>
			<element name="vscDcLine" type="string" minOccurs="0"></element>
		</sequence>
		<attribute name="mode" use="required" type="pss:ShuntCompensatorModeEnumType">
		</attribute>
		<attribute name="offLine" type="boolean" use="required"></attribute>
	</complexType>

	<simpleType name="ShuntCompensatorModeEnumType">
		<restriction base="string">
			<enumeration value="Fixed"></enumeration>
			<enumeration value="Discrete"></enumeration>
			<enumeration value="Continuous"></enumeration>
		</restriction>
	</simpleType>

	<complexType name="StaticVarCompensatorXmlType">
		<sequence>
			<element name="cimRdfRec" type="pss:CimRdfXmlType" minOccurs="0"></element>
			<element name="cimSwitches" maxOccurs="1" minOccurs="0" type="pss:CimSwitchListXmlType"></element>
			<element name="offLine" type="boolean" minOccurs="1"></element>
			<element name="ratedVoltage" type="pss:VoltageXmlType" minOccurs="1"></element>
			<element name="voltageSetPoint" type="pss:VoltageXmlType" minOccurs="1"></element>
			<element name="capacitiveRating" type="pss:ReactivePowerXmlType" minOccurs="1"></element>
			<element name="inductiveRating" type="pss:ReactivePowerXmlType" minOccurs="1"></element>
			<element name="controlMode" minOccurs="1" type="pss:SVCControlModeEnumType">
			</element>
			<element name="slope" type="float" minOccurs="1"></element>
		</sequence>
	</complexType>

	<simpleType name="SVCControlModeEnumType">
		<restriction base="string">
			<enumeration value="Voltage"></enumeration>
			<enumeration value="ReactivePower"></enumeration>
			<enumeration value="Off"></enumeration>
		</restriction>
	</simpleType>

	<complexType name="LoadflowLoadDataXmlType">
		<complexContent>
			<extension base="pss:CimConnectionRecordType">
				<sequence>
					<element name="constPLoad" type="pss:PowerXmlType" minOccurs="0"></element>
					<element name="constILoad" type="pss:PowerXmlType" minOccurs="0"></element>
					<element name="constZLoad" type="pss:PowerXmlType" minOccurs="0"></element>
				</sequence>
				<attribute name="code" use="required" type="pss:LFLoadCodeEnumType"></attribute>
			</extension>
		</complexContent>
	</complexType>

	<simpleType name="TapAdjustmentEnumType">
		<restriction base="string">
			<enumeration value="Voltage"></enumeration>
			<enumeration value="MVarFlow"></enumeration>
		</restriction>
	</simpleType>

	<complexType name="TapAdjustmentXmlType">
		<sequence>
			<element name="adjustmentType" minOccurs="1" type="pss:TapAdjustmentEnumType">
			</element>
			<element name="tapLimit" type="pss:TapLimitXmlType" minOccurs="1"></element>
			<element name="tapAdjStepSize" type="double" minOccurs="0"></element>
			<element name="tapAdjStep" type="int" minOccurs="0"></element>
			<element name="tapAdjOnFromSide" type="boolean" minOccurs="1"></element>
			<sequence>
				<choice>
					<element name="voltageAdjData" minOccurs="0">
						<complexType>
							<complexContent>
								<extension base="pss:AdjustmentDataXmlType">
									<sequence>
										<element name="desiredVoltageUnit" minOccurs="1" type="pss:VoltageUnitType"></element>
										<element name="adjVoltageBus" type="pss:IDRefRecordXmlType" minOccurs="1"></element>
										<element name="adjBusLocation" minOccurs="1" type="pss:TapAdjustBusLocationEnumType"></element>
									</sequence>
								</extension>
							</complexContent>
						</complexType>
					</element>
					<element name="mvarFlowAdjData" minOccurs="0">
						<complexType>
							<complexContent>
								<extension base="pss:AdjustmentDataXmlType">
									<sequence>
										<element name="desiredMvarFlowUnit" minOccurs="1" type="pss:ReactivePowerUnitType">
										</element>
										<element name="mvarMeasuredOnFormSide" type="boolean" minOccurs="1"></element>
									</sequence>
								</extension>
							</complexContent>
						</complexType>
					</element>
				</choice>
			</sequence>
		</sequence>
		<attribute name="offLine" type="boolean" use="required"></attribute>
	</complexType>
	<complexType name="AngleAdjustmentXmlType">
		<complexContent>
			<extension base="pss:AdjustmentDataXmlType">
				<sequence>
					<element name="angleLimit" type="pss:AngleLimitXmlType" minOccurs="1"></element>
					<element name="angleAdjOnFromSide" type="boolean" minOccurs="1"></element>
					<element name="desiredPowerUnit" minOccurs="1" type="pss:ActivePowerUnitType">
					</element>
					<element name="desiredMeasuredOnFromSide" type="boolean" minOccurs="1"></element>
				</sequence>
				<attribute name="offLine" type="boolean" use="required"></attribute>
			</extension>
		</complexContent>
	</complexType>
</schema>