trunk/ieee.odm_pss/schema/StudyScenario.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:ns="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.ieee.org/odm/Schema/2008" xmlns:pss="http://www.ieee.org/odm/Schema/2008"
	elementFormDefault="qualified">

	<include schemaLocation="loadflow/LFRecordType.xsd"></include>
	<include schemaLocation="shortcircuit/SCRecordType.xsd"></include>
	<include schemaLocation="dynamic/DstabRecordType.xsd"></include>
	<include schemaLocation="opf/OPFRecordType.xsd"></include>
	<include schemaLocation="Modification.xsd"></include>

	<!-- 
		elements for defining study scenario 
	 -->
	<element name="studyScenario" type="pss:StudyScenarioXmlType" />
	<element name="ipssStudyScenario" type="pss:IpssStudyScenarioXmlType" substitutionGroup="pss:studyScenario"/>


	<complexType name="StudyScenarioXmlType" abstract="true">
		<complexContent>
			<extension base="pss:IDRecordXmlType">
				<sequence>
					<element name="analysisCategory" minOccurs="1" maxOccurs="1" type="pss:AnalysisCategoryEnumType"></element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="IpssStudyScenarioXmlType">
		<complexContent>
			<extension base="pss:StudyScenarioXmlType">
				<sequence>
					<ns:element name="gridRunOption" minOccurs="0" maxOccurs="1" type="pss:GridComputingXmlType"></ns:element>
					<element name="defaultAclfAlgo" type="pss:AclfAlgorithmXmlType" minOccurs="0"></element>
					<element name="scenarioList" maxOccurs="1" minOccurs="1">
						<complexType>
							<sequence>
								<element name="scenario" type="pss:ScenarioXmlType" maxOccurs="unbounded" minOccurs="1"></element>
							</sequence>
						</complexType>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="ScenarioXmlType">
		<annotation>
			<documentation>
				for define a study scenario. In addtion to the
				modification defined at the StudyCase level,
				modification can be also defined at each scenario level</documentation>
		</annotation>
		<complexContent>
			<extension base="pss:IDRecordXmlType">
				<sequence>
					<element name="modifcation" type="pss:ModifyRecordXmlType"
						minOccurs="0" maxOccurs="1"></element>
					<element name="simuAlgo" minOccurs="1" maxOccurs="1"
						type="pss:SimulationAlgorithmXmlType"></element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<ns:complexType name="SimulationAlgorithmXmlType">
		<choice>
			<element name="aclfAnalysis" minOccurs="0" maxOccurs="1" type="pss:AclfAlgorithmXmlType"></element>
			<element name="acscAnalysis" minOccurs="0" maxOccurs="1" type="pss:AcscFaultAnalysisXmlType"></element>
			<element name="dStabAnalysis" minOccurs="0" maxOccurs="1" type="pss:DStabSimulationXmlType"></element>
		</choice>
	</ns:complexType>
	
	<ns:complexType name="GridComputingXmlType">
		<ns:sequence>
			<ns:element name="enableGridRun" type="ns:boolean" minOccurs="1" maxOccurs="1"></ns:element>
			<ns:element name="remoteJobCreation" type="ns:boolean" minOccurs="0"></ns:element>
			<ns:element name="timeout" type="ns:long" minOccurs="0" maxOccurs="1">
				<ns:annotation>
					<ns:documentation>timeout in milliseconds</ns:documentation>
				</ns:annotation></ns:element>
			<ns:element name="remoteNodeDebug" type="ns:boolean" minOccurs="0" maxOccurs="1"></ns:element>
            <ns:element name="remoteNodeName" type="ns:string" minOccurs="0"></ns:element>
            <ns:element name="aclfOption" minOccurs="0">
				<ns:complexType>
					<ns:sequence>
						<ns:element name="returnStudyCase" minOccurs="1">
							<ns:annotation>
								<ns:documentation>
									If true, only return the Aclf network object from the remote grid node to the master node when LF diverger, or there is limit violation.
								</ns:documentation>
							</ns:annotation>
							<ns:simpleType>
								<ns:restriction base="ns:string">
									<ns:enumeration value="AllStudyCase"></ns:enumeration>
									<ns:enumeration value="DivergedCase"></ns:enumeration>
									<ns:enumeration value="NoReturn"></ns:enumeration>
								</ns:restriction>
							</ns:simpleType>
						</ns:element>
						<ns:element name="calculateViolation" type="ns:boolean" minOccurs="0"></ns:element>
						<ns:element name="busVoltagePULimit" type="pss:LimitXmlType" minOccurs="0"></ns:element>
					</ns:sequence>
				</ns:complexType>
			</ns:element>
		</ns:sequence>
	</ns:complexType>
	
	<ns:complexType name="BaseAnalysisTypeXmlType" abstract="true">
		<ns:complexContent>
			<ns:extension base="pss:BaseRecordXmlType"></ns:extension>
		</ns:complexContent>
	</ns:complexType>

	<ns:complexType name="BaseAlgorithmXmlType" abstract="true">
		<ns:complexContent>
			<ns:extension base="pss:BaseRecordXmlType"></ns:extension>
		</ns:complexContent>
	</ns:complexType>

<!-- 
	Aclf Study Scenario
 -->
	<ns:complexType name="AclfAlgorithmXmlType">
		<ns:complexContent>
			<ns:extension base="pss:BaseAnalysisTypeXmlType">
				<ns:sequence>
					<ns:element name="lfMethod" minOccurs="1" maxOccurs="1" type="pss:LfMethodEnumType">					</ns:element>
					<ns:element name="maxIterations" type="ns:int" minOccurs="1" maxOccurs="1"/>
					<ns:element name="tolerance" type="pss:ApparentPowerXmlType" minOccurs="1" maxOccurs="1"/>					<ns:element name="initBusVoltage" type="ns:boolean" minOccurs="0" maxOccurs="1"></ns:element>					<ns:element name="accFactor" type="ns:double" maxOccurs="1" minOccurs="0"></ns:element>
					<ns:element name="nonDivergent" type="ns:boolean" maxOccurs="1" minOccurs="0"></ns:element>
				</ns:sequence>
			</ns:extension>
		</ns:complexContent>
	</ns:complexType>

	<ns:simpleType name="LfMethodEnumType">
		<ns:restriction base="ns:string">
			<ns:enumeration value="NR"></ns:enumeration>
			<ns:enumeration value="PQ"></ns:enumeration>
			<ns:enumeration value="GS"></ns:enumeration>
		</ns:restriction>
	</ns:simpleType>
	
<!-- 
	Acsc Study Scenario
 -->
	<ns:complexType name="AcscFaultAnalysisXmlType">
		<ns:complexContent>
			<ns:extension base="pss:BaseAnalysisTypeXmlType">
				<ns:sequence>
					<ns:element name="fault" minOccurs="1" type="pss:AcscFaultXmlType"></ns:element>
					<ns:element name="preFaultBusVoltage" minOccurs="0"
						maxOccurs="1" type="pss:PreFaultBusVoltageEnumType"></ns:element>
				</ns:sequence>
			</ns:extension>
		</ns:complexContent>
	</ns:complexType>

<!-- 
	DStab Study Scenario
 -->
	<complexType name="DStabSimulationXmlType">
		<ns:complexContent>
			<ns:extension base="pss:BaseAnalysisTypeXmlType">
				<sequence>
					<element name="simulationSetting" maxOccurs="1" minOccurs="1" type="pss:DStabSimuSettingXmlType"/>
					<element name="aclfInitialization" maxOccurs="1" minOccurs="1" type="pss:AclfAlgorithmXmlType"/>
					<element name="dynamicEvents" maxOccurs="1" minOccurs="1">
						<complexType>
							<sequence>
								<element name="disableDynEvents" type="boolean" maxOccurs="1" minOccurs="0"></element>
								<element name="dynamicEvent" type="pss:DynamicEventXmlType" maxOccurs="unbounded" minOccurs="0"></element>
							</sequence>
						</complexType>
					</element>
				</sequence>
			</ns:extension>
		</ns:complexContent>
	</complexType>

	<complexType name="DStabSimuSettingXmlType">
		<sequence>
			<element name="dstabMethod" maxOccurs="1" minOccurs="1" type="pss:DStabMethodEnumType">
			</element>
			<element name="totalTime" maxOccurs="1" minOccurs="1" type="pss:TimePeriodXmlType"/>
			<element name="step" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"/>
			<element name="absMachineAngle" type="boolean" maxOccurs="1" minOccurs="0"/>
			<element name="refMachine" type="pss:IDRefRecordXmlType" maxOccurs="1" minOccurs="0"/>
			<ns:element name="netEqnSolveConfig" minOccurs="0">
				<ns:complexType>
					<ns:sequence>
						<ns:element name="netEqnItrNoEvent" type="ns:int" minOccurs="0" maxOccurs="1"></ns:element>
						<ns:element name="netEqnItrWithEvent" type="ns:int" minOccurs="0" maxOccurs="1"></ns:element>
					</ns:sequence>
				</ns:complexType>
			</ns:element>
			<element name="staticLoadModel" type="pss:StaticLoadModelXmlType" maxOccurs="1" minOccurs="1">
			</element>
		</sequence>
	</complexType>

	<simpleType name="DStabMethodEnumType">
		<restriction base="string">
			<enumeration value="ModifiedEuler"></enumeration>
			<enumeration value="RungerKutta"></enumeration>
		</restriction>
	</simpleType>


	<complexType name="StaticLoadModelXmlType">
		<ns:sequence>
			<ns:element name="staticLoadType" minOccurs="1" maxOccurs="1" type="pss:StaticLoadEnumType">			</ns:element>
			<ns:element name="switchVolt" type="ns:double" minOccurs="0" maxOccurs="1"></ns:element>
			<ns:element name="switchDeadZone" type="ns:double" minOccurs="0" maxOccurs="1"></ns:element>
		</ns:sequence>
	</complexType>

	<ns:simpleType name="StaticLoadEnumType">
		<ns:restriction base="ns:string">
			<ns:enumeration value="CONST_Z"></ns:enumeration>
			<ns:enumeration value="CONST_P"></ns:enumeration>
		</ns:restriction>
	</ns:simpleType>

	<complexType name="DynamicEventXmlType">
		<sequence>
			<ns:element name="startTime" type="pss:TimePeriodXmlType" minOccurs="1"></ns:element>
			<ns:element name="duration" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="0"></ns:element>
			<ns:element name="permanentFault" type="boolean" maxOccurs="1" minOccurs="0"></ns:element>
			<choice>
				<ns:element name="fault" type="pss:AcscFaultXmlType" maxOccurs="1" minOccurs="0"/>
				<ns:element name="loadChangeData" minOccurs="0" maxOccurs="1" type="pss:DStabLoadChangeXmlType"/>
				<ns:element name="setPointChangeData" minOccurs="0" type="pss:DStabSetPointChangeXmlType"/>
			</choice>
		</sequence>
		<attribute name="id" type="string"></attribute>
		<attribute name="name" type="string"></attribute>
		<attribute name="eventType" type="pss:DynamicEventEnumType"/>
	</complexType>

	<ns:complexType name="DStabLoadChangeXmlType">
		<ns:sequence>
			<ns:element name="busId" type="ns:string" minOccurs="1" maxOccurs="1"></ns:element>
			<ns:element name="loadChangeType" minOccurs="1" maxOccurs="1" type="pss:DStabLoadChangeEnumType">			</ns:element>
			<ns:element name="changeFactor" type="pss:ChangeFactorXmlType" minOccurs="1" maxOccurs="1"></ns:element>
			<ns:element name="threshhold" type="ns:double" minOccurs="0" maxOccurs="1"></ns:element>
			<ns:element name="delayTime" type="ns:double" minOccurs="0" maxOccurs="1"></ns:element>
		</ns:sequence>
	</ns:complexType>

	<ns:simpleType name="DStabLoadChangeEnumType">
		<ns:restriction base="ns:string">
			<ns:enumeration value="LowFrequency"></ns:enumeration>
			<ns:enumeration value="LowVoltage"></ns:enumeration>
			<ns:enumeration value="FixedTime"></ns:enumeration>
		</ns:restriction>
	</ns:simpleType>

	<ns:complexType name="DStabSetPointChangeXmlType">
		<ns:sequence>
			<ns:element name="machId" type="ns:string" minOccurs="1" maxOccurs="1"></ns:element>
			<ns:element name="controllerType" minOccurs="1" maxOccurs="1" type="pss:MachineControllerEnumType">
			</ns:element>
			<ns:element name="changeValue" type="ns:double" minOccurs="1" maxOccurs="1"></ns:element>
			<ns:element name="valueChangeType" minOccurs="1" maxOccurs="1" type="pss:SetPointChangeEnumType">			</ns:element>
		</ns:sequence>
	</ns:complexType>

	<ns:simpleType name="SetPointChangeEnumType">
		<ns:restriction base="ns:string">
			<ns:enumeration value="Absolute"></ns:enumeration>
			<ns:enumeration value="Delta"></ns:enumeration>
		</ns:restriction>
	</ns:simpleType>	
</schema>